{% extends '@templates/promo-screens/stacked-screen.twig' %}

{% block preContent %}{% endblock %}

{% block pageContent %}
  {% include "@organisms/promo-screens/screen-overlay.twig" %}
{% endblock %}

{% block postContent %}
  {% include "@organisms/promo-screens/screen-footer.twig" %}
{% endblock %}
