{% extends '@templates/promo-screens/double-screen.twig' %}

{% block leftContent %}
  {% include "@organisms/promo-screens/screen-image.twig" %}
{% endblock %}

{% block rightContent %}
  {% include "@organisms/promo-screens/screen-content.twig" %}
{% endblock %}
