{% extends '@templates/promo-screens/stacked-screen.twig' %}

{% block preContent %}
  {% include "@organisms/promo-screens/screen-header.twig" %}
{% endblock %}

{% block pageContent %}
  {% include "@organisms/promo-screens/screen-events.twig" %}
{% endblock %}

{% block postContent %}
  {% include "@organisms/promo-screens/screen-footer.twig" %}
{% endblock %}
