@mixin hl-button-base {
  border: 2px solid transparent; // keeps both solid and outline styles the same size
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-family: $f-trueno;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.17px;
  line-height: 19px;
  padding: 12px 23px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s ease;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}
