// Parameters
// $type => "solid", "outline"
// $color => rgba() or hex value
// $hover => rgba() or hex value

@mixin hl-button ($type: "solid", $color: "transparent", $hover: "transparent") {

  @if($hover == "transparent") {
    $hover: $color;
  }

  @if($type == "outline") {
    background-color: $c-white;
    border-color: $color;
    color: $color;

    &:focus,
    &:hover {
      background-color: $hover;
      border-color: $hover;
      color: $c-white;
    }
  } @else { //solid
    background-color: $color;
    border-color: transparent;
    color: $c-white;

    &:focus,
    &:hover {
      background-color: $hover;
    }
  }
}
