.hl__circle-callout {

  &__icon-wrapper {
    background: transparent url('../../assets/images/stat-circle.svg') no-repeat center center;
    background-size: contain;
    display: flex;
      align-items: center;
      justify-content: center;
    height: 280px;
    margin: 0 auto 30px;
    width: 280px;
  }

  &_icon {
    height: 100px;
    width: 110px;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  &__description {
    color: $c-font-dark;
    font-family: $f-trueno;
    line-height: 1.53;
    margin: 0 auto;
    max-width: $max-width-inner;
    text-align: center;
  }
}
