<div class="hl__circle-callout">
  <div class="hl__circle-callout__icon-wrapper">
    {% if circleCallout.icon %}
      <div class="hl__circle-callout__icon" role="presentation">
        {% include circleCallout.icon %}
      </div>
    {% endif %}
  </div>
  <div class="hl__circle-callout__description">{{ circleCallout.description|raw }}</div>
</div>
