{% set typeClass = fancyLink.external ? "hl__fancy-link--external" : "" %}
<a class="hl__fancy-link {{ typeClass }}" href="{{ fancyLink.href }}" title="{{ fancyLink.info }}">
  <span class="hl__fancy-link__text">{{ fancyLink.text }}</span>
  {% if fancyLink.external %}
    <span class="hl__fancy-link__icon">
      {% include "@atoms/svg-icons/svg-external-link-subtle.twig" %}
    </span>
  {% endif %}
</a>
