.hl__fancy-link {
  background-image: linear-gradient(-45deg, $c-theme-secondary 0%, $c-theme-secondary-dark 100%);
  display: flex;
    align-items: center;
    justify-content: space-between;
  height: 100px;
  padding: 0 30px;
  position: relative;
  text-decoration: none;

  &:before {
    background-color: $c-bg-subtle;
    content: "";
    height: 100%;
    opacity: 1;
    position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    transition: opacity .5s ease-in;
    width: 100%;
  }

  &:focus:before,
  &:hover:before {
    opacity: 0;
  }

  &__icon {
    height: 40px;
    width: 40px;
    padding: 10px;
    z-index: 2;

    svg {
      height: 100%;
      width: 100%;
      display: block;

      g use {
        fill: $c-font-link; // overriding inline fill.
        transition: fill .5s ease-in;
      }
    }
  }

  &:focus &__icon,
  &:hover &__icon {
    background: none;

    svg g use {
      fill: $c-font-inverse;
    }
  }

  &__text {
    color: $c-font-link;
    font-family: $f-trueno;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.52;
    text-transform: uppercase;
    position: relative;
    transition: color .5s ease-in;
    z-index: 3;
  }

  &:focus &__text,
  &:hover &__text {
    color: $c-font-inverse;
  }
}
