.hl__feedback-button {
  text-align: center;

  &__label {
    color: $c-font-dark;
    display: block;
    font-family: $f-trueno;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1.86px;
    line-height: 1.38;
    margin-bottom: 17px;
    text-transform: uppercase;

    @media ($bp-small-max) {
      display: none;
    }

    @media ($bp-large-min) {
      font-size: 13px;
    }
  }

  &__icon {

    .hl__icon-link {
      background-image: linear-gradient(-46deg, $c-theme-primary 0%, $c-theme-tertiary 100%); 
      border: none;

      @media ($bp-large-max) {
        height: 50px;
        width: 50px;

        &:hover {
          height: 60px;
          width: 60px;
        }
      }

      & > svg {
        fill: $c-white;
      }
    }
  }
}
