.hl__overlay-cta {
  @include hl-container("full");

  &__container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    position: relative;
    z-index: 0;

    @media ($bp-small-min) {
      padding: 40px;
      padding-right: 0;
    }

    &:before {
      background-color: rgba($c-theme-base, 0.63); 
      content: "";   
      position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
      z-index: 1;
    }
  }

  &__text {
    color: $c-font-inverse;
    display: inline-block;
    vertical-align: middle;
    max-width: 620px;
    padding-right: 40px;
    position: relative;
    z-index: 2;
  }

  &--center &__text {
    display: block;
    margin: 0 auto;
    padding: 20px 0 0;
    text-align: center;
  }

  &__title {
    font-family: $f-trueno;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.23;
    margin: 25px 0 20px;
  }

  &__description {
    font-size: 15px;
  }

  &__links {
    margin: 20px 0;
    position: relative;
    z-index: 2;

    @media ($bp-small-min) {
      display: inline-block;
      padding-right: 40px;
      vertical-align: middle;
    }

    .hl__button {
      border: none;
    }
  }

  &--center &__links {
    display: block;
    padding: 0;
    text-align: center;
  }
}
