{% set alignClass = overlayCta.align ? "hl__overlay-cta--" ~ overlayCta.align : "" %}

{% spaceless %}
  <section class="hl__overlay-cta {{ alignClass }}">
    <div 
      class="hl__overlay-cta__container"
      style="background-image: url('{{ overlayCta.background }}')">
      
      <div class="hl__overlay-cta__text">
        <div class="hl__overlay-cta__title">{{ overlayCta.title }}</div>
        {% if overlayCta.description %}
          <div class="hl__overlay-cta__description">{{ overlayCta.description }}</div>
        {% endif %}
      </div>
      <div class="hl__overlay-cta__links">
        {% include "@atoms/buttons/button.twig" with { "button":overlayCta.button } %}
      </div>
    </div>
  </section>
{% endspaceless %}
