.hl__registration-cta {
  display: flex;
    flex-wrap: wrap;

  &__button {
    flex: none;
    margin-right: 20px;

    @media($bp-x-small-max) {
      margin-bottom: 20px;
    }
  }

  &__links {
    flex: auto;
  }

  &__type,
  &__calendar,
  &__sponsor {
    padding-left: 27px;
    position: relative;    
  }

  &__type {
    color: #6c6c6c;
  }

  &__calendar {
    font-size: 0;
    margin-top: 7px;

    .hl__link-tag {
      font-size: 15px;
      font-weight: 500;
      line-height: 1.6;
    }
  }

  &__sponsor {
    font-size: 0;
    margin-top: 7px;
    color: #6c6c6c;
  }

  &__link-icon {
    display: block;
    height: 24px;
    position: absolute;
    left: 0;
    top: 0;
    width: 17px;

    & > svg {
      fill: $c-bg-light;
      height: 100%;
      width: 100%;
    }
  }

  &__link-text {
    display: block;
    font-family: $f-trueno;
    font-size: 15px;
    line-height: 1.6;
  }
}
