{% spaceless %}
<div class="hl__registration-cta">
  {% if registrationCTA.button %}
    <div class="hl__registration-cta__button">
      {% include "@atoms/buttons/button.twig" with { "button": registrationCTA.button } %}
    </div>
  {% endif %}
  <div class="hl__registration-cta__links">
    <div class="hl__registration-cta__type">
      <span class="hl__registration-cta__link-icon">
        {% if registrationCTA.restricted %}
          {% include "@atoms/svg-icons/svg-event-harvard.twig" %}
        {% else %}
          {% include "@atoms/svg-icons/svg-event-public.twig" %}
        {% endif %}
      </span>
      <span class="hl__registration-cta__link-text">{{ registrationCTA.type }}</span>
    </div>
    {% if registrationCTA.calendar %}
      <div class="hl__registration-cta__calendar">
        <span class="hl__registration-cta__link-icon">{% include "@atoms/svg-icons/svg-calendar.twig" %}</span>
        {% include "@atoms/text/link-tag.twig" with { "linkTag": registrationCTA.calendar } %}
      </div>
    {% endif %}
    {% if registrationCTA.sponsoringLibrary %}
      <div class="hl__registration-cta__sponsor">
        <span class="hl__registration-cta__link-icon">{% include "@atoms/svg-icons/svg-book.twig" %}</span>
        <span class="hl__registration-cta__link-text">Sponsored by: {{ registrationCTA.sponsoringLibrary }}</span>
      </div>
    {% endif %}
  </div>
</div>
{% endspaceless %}
