.hl__user-bio {

  &__profile {
    display: flex;
  }

  &__image {
    flex: none;
    height: 75px;
    margin-right: 20px;
    width: 75px;

    @media ($bp-x-small-min) {
      height: 100px;
      width: 100px;
    }
  }

  &__details {
    flex: auto;
    font-family: $f-trueno;
    min-width: 180px;
  }

  &__name {
    color: $c-font-dark;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 0;
  }

  &__title {
    color: $c-font-subtle;
    font-size: 17px;
    font-weight: 300;
  }

  &__contact {
    margin-top: 6px;
  }

  &__tag-container {
    padding-top: 30px;
  }

  &__tags-title {
    font-family: $f-trueno;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2.14px;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  &__tags {
    margin: 0;
    line-height: 1.3;
    list-style: none;
    padding: 0;
  }

  &__tag {
    display: inline;
    font-size: 15px;
    line-height: 1.73;
  }
}
