{% set level = userBio.level ? userBio.level : 2 %}

<section class="hl__user-bio">
  <div class="hl__user-bio__profile">
    <div class="hl__user-bio__image">
      {% include "@atoms/media/image.twig" with { "image": userBio.image } %}
    </div>
    <div class="hl__user-bio__details">
      <h{{ level }} class="hl__user-bio__name">{{ userBio.name }}</h{{ level }}>
      <span class="hl__user-bio__title">{{ userBio.title }}</span>
      <div class="hl__user-bio__contact">
        {% include "@atoms/buttons/button.twig" with { "button": userBio.button } %}
      </div>
    </div>
  </div>
  {% if userBio.tags %}
    <div class="hl__user-bio__tag-container">
      {% set level = level + 1 %}
      <h{{ level }} class="hl__user-bio__tags-title">{{ userBio.tagsTitle }}</h{{ level }}>
      {% spaceless %}
        <ul class="hl__user-bio__tags">
          {% for tag in userBio.tags|slice(first,last - 1) %}
            <li class="hl__user-bio__tag">{{ tag }}, </li>
          {% endfor %}
          <li class="hl__user-bio__tag">{{ userBio.tags|last }}</li>
        </ul>
      {% endspaceless %}
    </div>
  {% endif %}
</section>
