.hl__page-header {
  margin-bottom: 30px;
  margin-top: 40px;
  position: relative;

  @media ($bp-small-min) {
    margin-bottom: 50px;
  }

  &--background {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
    margin-top: 0;
    min-height: 400px;
    padding-bottom: 30px;
    padding-top: 30px;

    @media ($bp-small-min) {
      padding-bottom: 40px;
      padding-top: 60px;
    }

    @media ($bp-medium-min) {
      min-height: 510px;
      padding-bottom: 50px;
      padding-top: 100px;
    }

    &:before {
      background-image: linear-gradient(180deg, rgba(64, 64, 64, 0.4) 0%, rgba(30, 30, 30, 0.8) 100%);
      content: "";
      position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
      z-index: 1;
    }

    .hl__illustrated-title {

      &__icon {
        opacity: 0.3;
      }
    }
  }

  &:not(&--background):not(:first-child) .hl__illustrated-title {
    margin-top: -40px;
  }

  &--background,
  &--light {

    .hl__page-title {
      color: $c-font-inverse;
      margin-bottom: 0;
    }

    .hl__story-meta * {
      color: $c-font-inverse;
    }

    .hl__sub-text {
      color: $c-font-inverse;
    }
  }

  &__container {
    position: relative;
    z-index: 2;

    @media ($bp-small-min) {
      text-align: center;
    }
  }

  &--left &__container {
    text-align: left;
  }

  .hl__full-template__pre-content &__container {
    @include hl-container("full");
  }

  .hl__base-template__pre-content &__container {
    @include hl-container();
  }

  &__eyebrow-icon {
    display: inline-block;
    height: 30px;
    margin-right: 8px;
    width: 30px;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  &__eyebrow {
    color: $c-font-subtle;
    font-family: $f-trueno;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;

    &--icon {
      margin-bottom: 25px;
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }


  .hl__story-meta {
    margin-top: 40px;
  }

  &__page-title {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width-inner;
  }

  &--left &__page-title {
    margin-left: 0;
    margin-right: 0;
  }

  &__sub-text {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width-inner;
  }

  &--left &__sub-text {
    margin-left: 0;
    margin-right: 0;
  }

  &__description {
    color: $c-font-base;
    margin: 20px auto 0;
    max-width: $max-width-inner;
  }

  &--left &__description {
    margin-left: 0;
    margin-right: 0;
  }

  &--light &__description,
  &--background &__description {
    color: $c-font-inverse;
  }

  &__illustrated-title ~ &__sub-text {
    text-align: center;
  }
}
