{% set themeClass = pageHeader.light ? "hl__page-header--light" : "" %}

{% set eyebrowClass = pageHeader.eyebrowIcon ? "hl__page-header__eyebrow--icon" : "" %}

{% set alignClass = pageHeader.align ? "hl__page-header--" ~ pageHeader.align : "" %}

{% if pageHeader.bgNarrow and pageHeader.bgWide %}
  {% set backgroundClass = 'hl__page-header--background' %}
{% endif %}

<section class="hl__page-header {{ alignClass }} {{ backgroundClass }} {{ themeClass }}">
  {% if pageHeader.bgNarrow and pageHeader.bgWide %}
    <style>
      .hl__page-header--background, .hl__page-header--split-image {
        background-image: url('{{ pageHeader.bgNarrow }}');
      }

      @media (min-width: 800px) {
        .hl__page-header--background, .hl__page-header--split-image {
          background-image: url('{{ pageHeader.bgWide }}');
        }
      }

    </style>
  {% endif %}

  <div class="hl__page-header__container">
    {% if pageHeader.eyebrow %}
      <div class="hl__page-header__eyebrow {{ eyebrowClass }}">
        {% if pageHeader.eyebrowIcon %}
          <span class="hl__page-header__eyebrow-icon">{% include pageHeader.eyebrowIcon %}</span>
        {% endif %}<span>{{ pageHeader.eyebrow }}</span></div>
    {% endif %}

    {% if pageHeader.title.icon %}
      <div class="hl__page-header__illustrated-title">
        {% include "@molecules/text/illustrated-title.twig" with { "illustratedTitle": pageHeader.title } %}
      </div>
    {% else %}
      <div class="hl__page-header__page-title">
        {% include "@atoms/text/page-title.twig" with {"pageTitle": pageHeader.title.pageTitle } %}
      </div>
    {% endif %}

    {% if pageHeader.subText %}
      <div class="hl__page-header__sub-text">
        {% include "@atoms/text/sub-text.twig" with {"subText": pageHeader.subText} %}
      </div>
    {% endif %}

    {% if pageHeader.description %}
      <div class="hl__page-header__description">
        {{ pageHeader.description }}
      </div>
    {% endif %}

    {% if pageHeader.storyMeta %}
      {% include "@molecules/text/story-meta.twig" with {"storyMeta": pageHeader.storyMeta } %}
    {% endif %}
  </div>
</section>
