.hl__fancy-numbered-list {
  counter-reset: section;

  &--centered {
    text-align: center;
  }

  &--background {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
  }

  &__container {
    @include hl-container;
  }

  &__items {
    list-style-type: none;
    padding: 50px 0 0;

    @media ($bp-medium-min) {
      padding-top: 80px;
    }
  }

  &__item {
    counter-increment: section;
    font-family: $f-trueno;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    text-align: left;

    @media ($bp-small-min) {
      font-size: 22px;
    }

    &:before {
      content: counter(section);
      font-family: $f-trueno;
      font-size: 100px;
      font-weight: 800;
      line-height: 1;
      opacity: 0.2;

      @media ($bp-medium-max) {
        min-width: 0.75em;
      }

      @media ($bp-medium-min) {
        font-size: 160px;
        line-height: 0.6;
        margin-right: 20px;
      }
    }

    &:nth-child(odd) {

        @media ($bp-medium-min) {
          margin-left: 60px;
        }
    }

    b,
    strong {
      color: $c-theme-crimson;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 1.5px;
      text-transform: uppercase;

      @media ($bp-small-min) {
        font-size: 20px;
      }
    }
  }

  &--centered &__item {
    align-items: center;
    display: flex;
  }
}
