{% set centeredClass = fancyNumberedList.centered ? "hl__fancy-numbered-list--centered" : "" %}

{% set compHeading = fancyNumberedList.centered ? fancyNumberedList.compHeading|merge({"align":"center"}) : fancyNumberedList.compHeading %}

{% if fancyNumberedList.bgNarrow and fancyNumberedList.bgWide %}
  {% set backgroundClass = 'hl__fancy-numbered-list--background' %}
{% endif %}


<div class="hl__fancy-numbered-list {{ backgroundClass }} {{ centeredClass }}" id="{{ fancyNumberedList.id }}">
  {% if fancyNumberedList.bgNarrow and fancyNumberedList.bgWide %}
    <style>
      #{{ fancyNumberedList.id }} {
        background-image: url('{{ fancyNumberedList.bgNarrow }}');
      }

      @media (min-width: 800px) {
        #{{ fancyNumberedList.id }} {
          background-image: url('{{ fancyNumberedList.bgWide }}');
        }
      }

    </style>
  {% endif %}

  <div class="hl__fancy-numbered-list__container">
    {% if fancyNumberedList.compHeading %}
      {% include "@atoms/text/comp-heading.twig" with {"compHeading": compHeading} %}
    {% endif %}

    {% if fancyNumberedList.richText %}
      {% include "@molecules/text/rich-text.twig" with {"richText": fancyNumberedList.richText} %}
    {% endif %}

    <ol class="hl__fancy-numbered-list__items">
      {% for item in fancyNumberedList.items %}
        <li class="hl__fancy-numbered-list__item">
          {{ item.text|raw }}
        </li>
      {% endfor %}
    </ol>
  </div>
</div>
