.hl__grouped-list {
  @include hl-container("full");

  &__container {
    position: relative;
  }

  &__label {
    color: $c-font-dark;
    font-family: $f-trueno;
    font-size: 50px;
    font-weight: 100;
    line-height: 1;
    position: absolute;
      top: 0;
      left: 0;
    text-align: center;
    text-transform: uppercase;
    width: 50px;

    @media($bp-small-min) {
      font-size: 70px;
      width: 60px;
    }

    @media($bp-large-min) {
      font-size: 90px;
      width: 70px;
    }
  }

  &__items {

    &--dl {
      border-bottom: 1px solid $c-bd-divider;
      margin-bottom: 20px;
      min-height: 60px;
      padding-bottom: 40px;
      padding-left: 60px;
      padding-top: 10px;

      @media($bp-small-min) {
        min-height: 80px;
        padding-left: 80px;
        padding-top: 20px;
      }

      @media($bp-large-min) {
        min-height: 100px;
        padding-left: 120px;
        padding-top: 35px;
      }
    }

    &--ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  &__item {
    margin-left: 0;
    margin-bottom: 15px;
    max-width: $max-width-inner;
  }

  &__title {
    display: inline-block;
    font-size: 21px;
    line-height: 32px;

    .hl__link-tag__external-icon {
      bottom: 0;

      svg {
        height: 14px;
        width: 14px;
      }
    }
  }

  &__description {
    font-size: 15px;
    margin-bottom: 0;

    a {
      font-size: 15px;
    }
  }
}
