<section class="hl__icon-list">
  {% if iconList.label %}
    <div class="hl__icon-list__label">{{ iconList.label }}</div>
  {% endif %}
  <ul class="hl__icon-list__items">
    {% for item in iconList.iconLinks %}
      <li class="hl__icon-list__item">
        <a class="hl__icon-list__link" href="{{ item.href }}" title="Follow us on {{ item.info }}">
          <span role="presentation">{% include item.icon %}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
