.hl__illustrated-list {

  // JavaScript control to toggle accordion on or off
  .js-accordion:before {
    content: "true";
    display: none;
  }

  &__accordion {
    display: none;
  }

  &__featured-items,
  &__all-items {
    display: flex;
      flex-wrap: wrap;
    margin-left: -40px;
    max-width: 800px;

    @media($bp-large-min) {
      max-width: 1000px;
    }
  }

  &__list-item {
    display: flex;
      align-items: center;
    flex-basis: 280px;
    flex-grow: 1;
    flex-shrink: 0;
    margin-bottom: 25px;
    margin-left: 40px;

    @media ($bp-large-min) {
      flex-basis: 320px;
    }

    & > span {
      color: $c-font-dark;
      font-family: $f-trueno;
      line-height: 1.6;
    }
  }

  &--small &__list-item {
    flex-basis: 150px;

    & > span {
      align-self: inherit;
      font-size: 14px;
      line-height: 1.5;
    }
  }

  &__image-wrapper {
    align-self: center;
    display: inline-block;
    font-size: 0;
    margin-right: 10px;
    text-align: center;
    width: 54px;

    & > img {
      display: inline-block;
      max-height: 54px;
      max-width: 54px;
      opacity: 0.5;
      vertical-align: middle;
    }

    &:before {
      content: "";
      display: table;
      margin-left: -1px;
      width: 1px;
    }
  }

  &--small &__image-wrapper {
    width: 25px;

    & > img {
      max-height: 25px;
      max-width: 25px;
      margin-top: -3px;
    }
  }


  // This allows us to adjust the number of items shown on mobile if desired
  &--show-2 &__all-items &__list-item:nth-child(-n+2) {
    display: none;
  }

  // This allows us to adjust the number of items shown on mobile if desired
  &--show-4 &__all-items &__list-item:nth-child(-n+4) {
    display: none;
  }

  // This allows us to adjust the number of items shown on mobile if desired
  &--show-6 &__all-items &__list-item:nth-child(-n+6) {
    display: none;
  }

  &__see-more {
    max-width: 1000px;
    text-align: right;
  }
}
