{% set countClass = illustratedList.numFeatured and illustratedList.items|length > numFeatured ? "hl__illustrated-list--show-" ~ illustratedList.numFeatured : "" %}

{% set themeClass = illustratedList.theme ? "hl__illustrated-list--" ~ illustratedList.theme : "" %}

<section class="hl__illustrated-list {{ countClass }} {{ themeClass }}">
  {% if illustratedList.compHeading %}
    {% include "@atoms/text/comp-heading.twig" with { "compHeading": illustratedList.compHeading } %}
  {% endif %}
  {% if illustratedList.numFeatured %}
    <div class="hl__illustrated-list__featured-items">
      {% for item in illustratedList.items|slice(0, illustratedList.numFeatured) %}
        {% spaceless %}
          <div class="hl__illustrated-list__list-item">
            {% if item.icon %}
              <span class="hl__illustrated-list__image-wrapper">
                {% include "@atoms/media/image.twig" with { "image": item.icon } %}
              </span>
            {% endif %}
            <span>{{ item.text|raw }}</span>
          </div>
        {% endspaceless %}
      {% endfor %}
    </div>
  {% endif %}
  {% if illustratedList.numFeatured < illustratedList.items|length %}
    <div class="js-accordion">
      <div class="js-accordion-content hl__illustrated-list__accordion">
        <div class="hl__illustrated-list__all-items">
          {% for item in illustratedList.items %}
            {% spaceless %}
              <div class="hl__illustrated-list__list-item">
                {% if item.icon %}
                  <span class="hl__illustrated-list__image-wrapper">
                    {% include "@atoms/media/image.twig" with { "image": item.icon } %}
                  </span>
                {% endif %}
                <span>{{ item.text|raw }}</span>
              </div>
            {% endspaceless %}
          {% endfor %}
        </div>
      </div>
      {# replace with a see all link #}
      <div class="hl__illustrated-list__see-more">
        {% set linkTag = illustratedList.seeAll|merge({ "cssClass": "js-accordion-link", "withArrow": true }) %}
        {% include "@atoms/text/link-tag.twig" %}
      </div>
    </div>
  {% endif %}
</section>
