<section class="hl__labeled-list">
  <div class="hl__labeled-list__container">
    <div id="{{ labeledList.id }}" class="hl__labeled-list__label">{{ labeledList.label }}</div>
    <ul class="hl__labeled-list__items" aria-labelledby="{{ labeledList.id }}">
      {% for item in labeledList.items %}
        <li class="hl__labeled-list__item">
          {% if item.href %}
            {% include "@atoms/text/link-tag.twig" with {"linkTag": item} %}
          {% else %}
            <span class="hl__labeled-list__text">{{ item.text }}</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
