.hl__labeled-list {

  .hl__full-template__page-content > &,
  .hl__base-template__page-content > & {
    @include hl-container;
  }

  &__container {
    background-image: linear-gradient(to right, $c-bd-subtle 40%, rgba(255, 255, 255, 0) 20%);
    background-position: top;
    background-size: 4px 1px;
    background-repeat: repeat-x;
    padding: 30px 0;

    @media ($bp-small-min) {
      padding: 30px 0;
    }
  }

  &:last-child &__container {
    padding-bottom: 0;
  }

  &__label {
    color: $c-font-dark;
    display: inline-block;
    font-family: $f-trueno;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1.86px;
    margin-right: 10px;
    text-transform: uppercase;
  }

  &__items {
    display: inline;
    padding: 0;
  }

  &__item {
    display: inline-block;
    list-style: none;

    &:not(:last-child):after {
      color: $c-bd-divider;
      content: "|";
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
    }

    .hl__link-tag {
      font-family: $f-trueno;
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 1.86px;
      text-transform: uppercase;
    }
  }

  &__text {
    color: $c-font-subtle;
    font-family: $f-trueno;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1.86px;
    text-transform: uppercase;
  }
}
