@mixin hl-library-hours-table-mark($child:1) {

  thead th:nth-child(#{$child}) {
    border: 3px solid $c-theme-quaternary;
    border-bottom: 0;
  }

  tbody td:nth-child(#{$child}) {
    border-left: 3px solid $c-theme-quaternary;
    border-right: 3px solid $c-theme-quaternary;

    @media($bp-large-max) {
      border: 3px solid $c-theme-quaternary;
    }
  }

  tbody tr.general-hours.detailed-hours--open td:nth-child(#{$child}),
  tbody tr:last-child td:nth-child(#{$child}) {
    border-bottom: 1px dashed $c-bd-divider;

    @media($bp-large-max) {
      border-bottom: 3px solid $c-theme-quaternary;
    }
  }

  tbody tr.general-hours td:nth-child(#{$child}),
  tbody tr:last-child td:nth-child(#{$child}) {
    border-bottom: 3px solid $c-theme-quaternary;
  }

}

.hl__library-hours-table {
  font-family: $f-trueno;

  &--mark-1 { @include hl-library-hours-table-mark(2); }
  &--mark-2 { @include hl-library-hours-table-mark(3); }
  &--mark-3 { @include hl-library-hours-table-mark(4); }
  &--mark-4 { @include hl-library-hours-table-mark(5); }
  &--mark-5 { @include hl-library-hours-table-mark(6); }
  &--mark-6 { @include hl-library-hours-table-mark(7); }
  &--mark-7 { @include hl-library-hours-table-mark(8); }

  &__container {
    display: grid;
    grid-template-columns: 300px 20px;
    grid-template-rows: 100%;
    transition: all 0.7s ease;

    @media($bp-x-large-min) {
      grid-template-columns: 300px 40px calc(100% - 340px);
    }

    @media($bp-x-small-max) {
      display:block;
    }

    @media($bp-small-max) {
      grid-template-columns:50% 20px;
    }

    // removes padding that gets inserted from @include hl-container("full")
    padding-left:0;
    padding-right:0;
  }

  &__header {
    grid-column: 1 / 2;
    grid-row: 1 /2;
  }

  &__table {
    grid-column: 2 / 4;
    grid-row: 1 / 2;

    @media($bp-small-min) {
      grid-column: 3 / 4;
    }
  }

  &__title {
    color: $c-font-dark;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 4px;
    margin-top: 10px;

    @media ($bp-medium-min) {
      margin-top: 0;
    }

    a {
      border-bottom: 2px solid transparent;
      color: currentColor;
      text-decoration: none;
      transition: border 0.5s ease;

      &:hover {
        border-color: rgba($c-font-dark, 0.5);
      }
    }
  }

  &__subtitle {
    color: $c-font-base;
    display: inline-block;
    font-family: $f-lora;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 26px;
    margin-bottom:10px;
  }

  &__address, &__spaces {
    display:inline-block;
  }

  &__address {
    margin-right:20px;
  }

  &__map-icon, &__spaces-icon {
    display: inline-block;
    vertical-align: top;
    margin-right:10px;

    & svg {
      height: 100%;
      width: 100%;
    }
  }

  &__map-icon {
    height:17px;
    width:12px;
  }

  &__spaces-icon {
    height:17px;
    width:13.5px;
  }

  &__day {
    color: $c-font-dark;
    display: block;
    font-size: 15px;
    letter-spacing: 2.14px;
    line-height: 18px;
    text-transform: uppercase;
  }

  &__date {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    white-space: nowrap;
  }

  &__table {
    border-collapse: collapse;
    width: 100%;

    @media($bp-large-max) {
      display: block;
    }

    thead {

      @media($bp-large-max) {
        display: none;
      }

      th {
        padding: 10px;
        text-align: left;

        &:first-child {
          font-size: 0;
        }
      }
    }

    tbody {

      @media($bp-large-max) {
        display: block;
      }

      tr {
        display:none;

        &:first-child {
          @media($bp-large-max) {

            th {
              border-bottom: 1px dashed $c-bd-divider
            }
          }

          @media($bp-large-min) {
            border-top: 1px dashed $c-bd-divider;
          }
        }

        &.general-hours {
          display:table-row;

          @media($bp-large-max) {
            display: block;
          }
        }
      }

      tr + tr {
        border-top: 1px dashed $c-bd-divider;

        @media($bp-large-max) {
          margin-top: 10px;
          padding-top:10px;
        }
      }

      th,
      td {
        line-height: 1.5;
        text-align: left;
        vertical-align: top;

        @media($bp-large-max) {
          display: block;
          padding: 10px;
        }

        @media($bp-large-min) {
          padding: 20px 10px;
        }
      }


      th {
        color: $c-font-dark;
        font-size: 13px;
        letter-spacing: 1.86px;
        text-transform: uppercase;
      }

      td {
        color: $c-font-subtle;
        font-size: 14px;

        @media($bp-large-max) {
          &:empty {
            display: none;
          }

          &::before {
            color: $c-font-dark;
            content: attr(data-label);
            width: 120px;
            display:inline-block;
          }
        }
      }
    }

    &.detailed-hours--open {
      tr {
        display:table-row;
        transition: all 0.7s ease;

        @media($bp-large-max) {
          display:block;
        }
      }
    }
  }

  &__hours-link {
    @include hl-container("full");
    text-align: right;

    a {
      color: $c-font-link;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 24px;
      text-transform: initial;

      &[aria-expanded]:after, span[aria-expanded]:after {
        transition:transform 0.4s ease;
      }
    }
  }
}
