{% set showLabels = true %}

{% for row in tabularList.rows %}
  {% set showLabels = row.label ? showLabels : false %}
{% endfor %}

<div class="hl__tabular-list">
  <div class="hl__tabular-list__container">
    <table>
      {% for row in tabularList.rows %}
        <tr>
          {% if showLabels %}
            <th scope="row">{{ row.label }}</th>
          {% endif %}
          <td class="hl__rich-text">{{ row.text|raw }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
