.hl__tabular-list {
  font-family: $f-trueno;
  text-align: left;

  table {
    border-collapse: collapse;
    table-layout: auto;

    @media ($bp-small-max) {
      display: block;
    }
  }

  th {
    color: $c-font-dark;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 25px;
    padding: 6px 15px 4px 0;
    text-align: left;
    text-transform: uppercase;
    vertical-align: top;

    @media ($bp-small-max) {
      display: block;
      padding: 0;
    }

    @media ($bp-small-min) {
      padding-right: 25px;
    }
  }

  td.hl__rich-text {
    color: $c-font-subtle;
    font-size: 15px;
    line-height: 25px;
    padding: 5px 0;
    vertical-align: top;

    @media ($bp-small-max) {
      display: block;
      padding-bottom: 20px;
      padding-top: 0;
    }
  }
}
