{% set targetClass = compHeader.id ? "hl__comp-header--target" : "" %}

<div 
  {% if compHeader.id %}
    id="{{ compHeader.id }}"
  {% endif %}
  class="hl__comp-header {{ targetClass }}"
  tab-index="-1">
  {% if compHeader.compHeading %}
    {% set compHeading = compHeader.compHeading|merge({"level": level}) %}
    {% include "@atoms/text/comp-heading.twig" with { "compHeading": compHeading } %}
    {% set level = level + 1 %}
  {% endif %}
  {% if compHeader.description %}
    <div class="hl__comp-header__description">
      {% include "@molecules/text/rich-text.twig" with { "richText": compHeader.description } %}
    </div>
  {% endif %}
</div>
