.hl__comp-header {

  .hl__full-template__page-content > & {
    @include hl-container("full");

    &:last-child { // overriding template styles
      margin-bottom: 30px;

      @media ($bp-small-min) {
        margin-bottom: 40px;
      }

      @media ($bp-medium-min) {
        margin-bottom: 50px;
      }
    }

    &__description {
      margin-bottom: 0;
    }
  }

  &__description {
    margin-bottom: 40px;

    @media($bp-large-min) {
      margin-bottom: 60px;
    }
  }
}
