.hl__contact-info-banner {
  .hl__comp-heading {
    @include hl-container("full");

    padding:0 20px;
  }

  .hl__contact-banner {
    position: relative;

    &:before {
      background: $c-white url('../../assets/images/dots.png') top center repeat;
      content: "";
      height: 55px;
      position: absolute;
        top: 50%;
      transform: translateY(-50%);
      width: 100%;
      z-index: 1;

      @media($bp-small-min) {
        height: 90px;
      }
    }

    &__container {
      @include hl-container("full");
      position: relative;
    }

    &__image {
      font-size: 0;
      height: 105px;
      position: relative;
      width: 105px;
      z-index: 2;

      @media($bp-small-min) {
        height: 150px;
        width: 150px;
      }

      img {
        border-radius: 50%;
        height:105px;
        width:105px;

        @media($bp-small-min) {
          height: 150px;
          width: 150px;
        }
      }
    }

    &__name, &__name--without-photo {
      color: $c-font-dark;
      font-family: $f-trueno;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 2.4px;
      line-height: 1.2em;
      padding: 12px 15px;
      text-transform: uppercase;
      position: absolute;
        left: 150px;
        top: 50%;
      transform: translateY(-50%);
      z-index: 1;

      @media($bp-small-min) {
        left: 220px;
        padding: 16px 25px 17px;
        font-size:20px;
      }

      &--without-photo {
        left:10px;

        @media($bp-small-min) {
          left:0px;
          top:50%;
        }
      }
    }
  }

  section.hl__contact-info {
    left:126px;

    @media($bp-small-min) {
      left:206px;
    }
  }

  .hl__contact-info {
    @include hl-container("full");
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1450px;
    position: relative;

    @media($bp-medium-min) {
      display:grid;
      grid-template-columns: 345px 345px;
    }

    &__without-photo section.hl__contact-info {
      left:0px;
      margin-left:-14px;
      padding-top:16px;
    }
  }

}
