<section class="hl__contact-info-banner">
  {% if contactInfoBanner.compHeading %}
    {% include "@atoms/text/comp-heading.twig" with { "compHeading": contactInfoBanner.compHeading } %}
  {% endif %}

  <div class="hl__contact-banner">
    <div class="hl__contact-banner__container">
      <div class="hl__contact-banner__image">
        {% if contactInfoBanner.photo %}
          {% include "@atoms/media/image.twig" with {"image": contactInfoBanner.image} %}
        {% endif %}
      </div>

      {% if contactInfoBanner and contactInfoBanner.photo %}
        <div class="hl__contact-banner__name">
          {{ contactInfoBanner.name }}
        </div>
      {% endif %}

      {% if contactInfoBanner and not contactInfoBanner.photo %}
        <div class="hl__contact-banner__name--without-photo">
          {{ contactInfoBanner.name }}
        </div>
      {% endif %}
    </div>
  </div>

  <div class="hl__contact-info">
    {% if contactInfoBanner.compHeading and contactInfoBanner.office %}
    <div class="hl__contact-info__address">
      {% if contactInfoBanner and not contactInfoBanner.photo %}
        <div class="hl__contact-info__without-photo">
      {% endif %}

      {% include "@molecules/text/contact-info.twig" with { "contactInfo": contactInfoBanner.address } %}

      {% if contactInfoBanner and not contactInfoBanner.photo %}
        </div>
      {% endif %}
    </div>
    {% endif %}
    <div class="hl__contact-info__contact">
      {% if contactInfoBanner and not contactInfoBanner.photo %}
        <div class="hl__contact-info__without-photo">
      {% endif %}

      {% include "@molecules/text/contact-info.twig" with { "contactInfo": contactInfoBanner.contact } %}

      {% if contactInfoBanner and not contactInfoBanner.photo %}
        </div>
      {% endif %}
    </div>
  </div>
</section>
