<div class="hl__diagram-svg js-diagram-jump-links">
  {% if diagramSVG.compHeading %}
    {% include "@atoms/text/comp-heading.twig" with { "compHeading": diagramSVG.compHeading } %}
  {% endif %}
  <svg width="100%" height="auto" viewBox="0 0 4011 1454" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(1620.000000, 782.500000) scale(-1, 1) translate(-1620.000000, -782.500000) translate(155.000000, 145.000000)" stroke="#6B6B6B" stroke-dasharray="4" stroke-linecap="square">
              <path d="M0.09375,1010.10938 C165.09375,1136.31486 1349.5184,1398.08397 1579.10937,1206.875 C2261.20312,638.81067 -2.96875,750.431009 385.359375,396.203125 C650.537106,154.311435 990.569003,196.78125 1473.53125,196.78125 C1698.10937,196.78125 2356.17188,281.015625 2929.17187,639.78125"></path>
              <path d="M0.09375,1000.10937 C165.09375,1126.31486 1332.36995,1383.64349 1553.10937,1180.875 C2106.23437,672.78125 -52.96875,750.431009 335.359375,396.203125 C600.537106,154.311435 990.569003,156.779745 1473.53125,156.779745 C1698.10937,156.779745 2356.17188,243.912757 2929.17187,629.78125"></path>
              <path d="M0.09375,990.109375 C165.09375,1116.31486 1293.68753,1361.93592 1523.10937,1160.875 C2043.60937,704.71875 -92.96875,750.431009 295.359375,396.203125 C560.537106,154.311435 990.569003,116.78125 1473.53125,116.78125 C1698.10937,116.78125 2445.28125,243.912757 2929.17187,619.78125"></path>
              <path d="M0.09375,980.109375 C165.09375,1106.31486 1264.73437,1335.78125 1503.10937,1120.875 C1918.51057,746.371327 -132.96875,750.431009 255.359375,396.203125 C520.537106,154.311435 990.569003,76.78125 1473.53125,76.78125 C1698.10937,76.78125 2461,206.775245 2929.17187,609.78125"></path>
              <path d="M0.09375,970.109375 C165.09375,1096.31486 1205.70217,1295.76307 1463.10937,1100.875 C1858.6875,801.375 -172.96875,750.431009 215.359375,396.203125 C480.537106,154.311435 990.569003,36.78125 1473.53125,36.78125 C1698.10937,36.78125 2356.17187,126.78125 2929.17187,599.78125"></path>
              <path d="M0.09375,960.109375 C165.09375,1086.31486 1162.9484,1250.16818 1443.10937,1060.875 C1740.25,860.109375 -222.96875,750.431009 165.359375,396.203125 C430.537106,154.311435 990.569003,0.78125 1473.53125,0.78125 C1698.10937,0.78125 2327.10937,86.78125 2919.17187,589.78125"></path>
          </g>
          <g transform="translate(38.000000, 524.000000)">
              <a href="#ideate"><g transform="translate(0.000000, 74.000000)" fill-rule="nonzero">
                  <path d="M330,165 C330,256.128159 256.128159,330 165,330 C73.8718413,330 0,256.128159 0,165 C0,73.8718413 73.8718413,0 165,0 C256.128159,0 330,73.8718413 330,165 Z" fill="#5DE0C3"></path>
                  <path d="M290.95896,168.381272 C290.932846,169.808808 290.897598,171.153259 290.85228,171.979065 C287.231827,238.501739 232.142029,291.328125 164.712983,291.328125 C94.7637178,291.328125 38.470459,235.10788 38.3847661,165.156098 C38.3017729,95.3150937 94.89212,38.671875 164.712983,38.671875 C197.69989,38.671875 227.723465,51.328354 250.224151,72.0314023 L254.45137,67.8041841 C255.956955,66.2985991 258.53508,67.1646879 258.827133,69.274521 L261.571426,89.0686796 C261.805572,90.7605742 260.355377,92.2107695 258.663482,91.9766235 L238.869324,89.23233 C236.759491,88.9402774 235.893402,86.3621524 237.398987,84.8565674 L241.945953,80.3096005 C221.58783,61.7289737 194.512481,50.3867338 164.78096,50.3691104 C100.471344,50.3313448 49.0573881,102.58873 50.0971982,166.890793 C51.1067964,229.32724 102.037354,279.63089 164.712982,279.63089 C225.827637,279.63089 275.768738,231.807175 279.16008,171.543503 C279.205398,170.775605 279.238129,169.509201 279.263306,168.162231 C279.321213,164.974823 281.924515,162.421875 285.111923,162.421875 C288.382416,162.421875 291.01593,165.108261 290.95896,168.381272 Z M268.439712,109.205246 C271.554107,109.205246 274.079361,106.679993 274.079361,103.565598 C274.079361,100.45372 271.554107,97.9284668 268.439712,97.9284668 C265.327835,97.9284668 262.802582,100.45372 262.802582,103.565598 C262.802582,106.679993 265.327835,109.205246 268.439712,109.205246 Z M272.324524,119.880295 C272.123108,122.987137 274.479675,125.668487 277.586518,125.867386 C280.693359,126.068802 283.37471,123.712234 283.576126,120.605393 C283.775024,117.49855 281.420975,114.8172 278.314133,114.615784 C275.20729,114.416885 272.523422,116.773453 272.324524,119.880295 Z M277.317124,134.830398 C277.115708,137.937241 279.472275,140.618591 282.579117,140.81749 C285.685959,141.018906 288.36731,138.662338 288.568726,135.555496 C288.770142,132.448654 286.413574,129.767304 283.306733,129.565888 C280.19989,129.366989 277.51854,131.721039 277.317124,134.830398 L277.317124,134.830398 Z M286.340561,145.822678 C283.231201,145.621262 280.549851,147.977829 280.350952,151.084671 C280.149536,154.191513 282.506104,156.872864 285.612945,157.07428 C288.719788,157.275696 291.401138,154.919128 291.602554,151.812286 C291.801453,148.705444 289.447403,146.024094 286.340561,145.822678 Z" fill="#D3F1F5"></path>
                  <path d="M242.988281,130.061875 L242.988281,199.940644 C242.988281,209.729462 235.636597,217.665253 226.570358,217.665253 C224.951477,217.665253 223.390503,217.410965 221.917648,216.940155 C220.140152,216.371155 218.360138,217.811279 218.360138,219.812851 C218.360138,229.601669 211.010971,237.53746 201.942215,237.53746 C199.618378,237.53746 197.407837,237.013779 195.406265,236.072159 C194.08699,235.452805 192.54364,236.057053 191.878967,237.434234 C189.142227,243.104096 183.648606,246.976318 177.314072,246.976318 C172.407074,246.976318 168.008652,244.649963 165,240.969086 C161.991348,244.652481 157.592926,246.976318 152.685928,246.976318 C146.351394,246.976318 140.857773,243.104096 138.121033,237.434234 C137.45636,236.057053 135.91301,235.455322 134.593735,236.072159 C132.592163,237.013779 130.381622,237.53746 128.057785,237.53746 C118.991547,237.53746 111.639862,229.601669 111.639862,219.812851 C111.639862,217.811279 109.859848,216.371155 108.084869,216.940155 C106.609497,217.410965 105.048523,217.665253 103.432159,217.665253 C94.3634033,217.665253 87.0117188,209.729462 87.0117188,199.940644 L87.0117188,130.061875 C87.0117188,120.273056 94.3634033,112.337265 103.432159,112.337265 C105.048523,112.337265 106.609497,112.589035 108.084869,113.062363 C109.859848,113.628845 111.639862,112.188721 111.639862,110.189667 C111.639862,100.398331 118.991547,92.4650577 128.057785,92.4650577 C130.381622,92.4650577 132.592163,92.9862212 134.593735,93.9278413 C135.91301,94.5471953 137.45636,93.9429472 138.121033,92.5682832 C140.857773,86.8959042 146.353912,83.0236816 152.685928,83.0236816 C157.592926,83.0236816 161.993866,85.3500366 165,89.030914 C168.008652,85.3500366 172.409592,83.0236816 177.314072,83.0236816 C183.648606,83.0236816 189.142227,86.8959042 191.881485,92.5682832 C192.546158,93.9429472 194.089508,94.5471953 195.406265,93.9278413 C197.407837,92.9862212 199.618378,92.4650577 201.942215,92.4650577 C211.010971,92.4650577 218.360138,100.398331 218.360138,110.189667 C218.360138,112.188721 220.140152,113.628845 221.917648,113.062363 C223.390503,112.591553 224.953995,112.337265 226.570358,112.337265 C235.636597,112.337265 242.988281,120.273056 242.988281,130.061875 Z" fill="#FD7D43"></path>
                  <path d="M196.959687,139.6241 C196.295014,140.288772 195.600128,140.918198 194.882583,141.512375 L201.619949,148.249741 C202.916565,149.546357 202.916565,151.651153 201.619949,152.947769 C200.323334,154.246902 198.218536,154.246902 196.919403,152.947769 L189.197617,145.225982 C185.322876,147.172165 181.045303,148.249741 176.601562,148.363037 C176.536103,148.368072 176.475678,148.383179 176.410217,148.383179 L169.103852,148.383179 L169.103852,181.616821 L176.410217,181.616821 C176.475678,181.616821 176.536103,181.631928 176.601562,181.636963 C181.045303,181.750259 185.322876,182.830352 189.197617,184.774018 L196.919403,177.052231 C198.218536,175.753098 200.323334,175.753098 201.619949,177.052231 C202.916565,178.351364 202.916565,180.453643 201.619949,181.752777 L194.882583,188.487625 C195.600128,189.08432 196.295014,189.711228 196.959687,190.378418 L209.112625,202.531357 C210.411758,203.827973 210.411758,205.932769 209.112625,207.231903 C207.81601,208.528519 205.711212,208.528519 204.412079,207.231903 L192.25914,195.076446 C187.865753,190.68306 182.024688,188.26355 175.811005,188.26355 L169.103852,188.26355 L169.103852,229.251709 C169.103852,237.502212 174.328079,244.438477 181.400299,246.412354 C180.091095,246.774902 178.726501,246.976318 177.314072,246.976318 C168.245315,246.976318 160.896148,239.040527 160.896148,229.251709 L160.896148,188.26355 L154.188995,188.26355 C147.975312,188.26355 142.131729,190.68306 137.738342,195.076446 L125.585403,207.231903 C124.288788,208.528519 122.18399,208.528519 120.884857,207.231903 C119.588242,205.932769 119.588242,203.827973 120.884857,202.531357 L133.037796,190.378418 C133.704986,189.711228 134.399872,189.08432 135.114898,188.487625 L128.380051,181.752777 C127.080918,180.453643 127.080918,178.351364 128.380051,177.052231 C129.676666,175.753098 131.781464,175.753098 133.078079,177.052231 L140.799866,184.774018 C144.677124,182.830352 148.954697,181.750259 153.398438,181.636963 C153.46138,181.631928 153.524322,181.616821 153.589783,181.616821 L160.893631,181.616821 L160.893631,148.383179 L153.589783,148.383179 C153.524322,148.383179 153.46138,148.368072 153.398438,148.363037 C148.954697,148.249741 144.677124,147.172165 140.799866,145.225982 L133.078079,152.947769 C131.781464,154.246902 129.676666,154.246902 128.380051,152.947769 C127.080918,151.651153 127.080918,149.546357 128.380051,148.249741 L135.114898,141.512375 C134.399872,140.918198 133.704986,140.288772 133.037796,139.6241 L120.884857,127.468643 C119.588242,126.172027 119.588242,124.067231 120.884857,122.770615 C122.18399,121.471481 124.288788,121.471481 125.585403,122.770615 L137.738342,134.923554 C142.134247,139.31694 147.975312,141.73645 154.188995,141.73645 L160.896148,141.73645 L160.896148,100.748291 C160.896148,90.9594727 168.245315,83.0236816 177.314072,83.0236816 C178.726501,83.0236816 180.091095,83.2276152 181.400299,83.5876465 C174.328079,85.5615234 169.103852,92.4977876 169.103852,100.748291 L169.103852,141.73645 L175.811005,141.73645 C182.024688,141.73645 187.865753,139.31694 192.25914,134.923554 L204.412079,122.770615 C205.711212,121.471481 207.81601,121.471481 209.112625,122.770615 C210.411758,124.067231 210.411758,126.172027 209.112625,127.468643 L196.959687,139.6241 Z M229.79805,140.016861 L217.645111,127.863922 C216.345977,126.567307 214.241181,126.567307 212.944565,127.863922 C211.645432,129.163056 211.645432,131.267852 212.944565,132.564468 L225.097504,144.717407 C225.762177,145.384598 226.457061,146.011505 227.174606,146.6082 L220.437241,153.343048 C219.138107,154.642182 219.138107,156.744461 220.437241,158.043594 C221.733857,159.342728 223.838653,159.342728 225.137787,158.043594 L232.859573,150.321808 C236.011734,151.902924 239.430771,152.915039 242.988281,153.300247 L242.988281,146.603165 C238.010788,145.910797 233.413467,143.634796 229.79805,140.016861 Z M225.137787,172.177963 C223.838653,170.87883 221.736374,170.87883 220.437241,172.177963 C219.140625,173.474579 219.140625,175.579376 220.437241,176.875992 L227.174606,183.613357 C226.457061,184.207535 225.764694,184.834442 225.097504,185.501633 L212.944565,197.654571 C211.645432,198.953705 211.645432,201.055984 212.944565,202.355118 C214.241181,203.651733 216.345977,203.651733 217.645111,202.355118 L229.79805,190.202179 C233.413467,186.584244 238.010788,184.310761 242.988281,183.615875 L242.988281,176.918793 C239.430771,177.304001 236.011734,178.316116 232.859573,179.897232 L225.137787,172.177963 Z M177.049713,117.239228 C178.348847,118.535843 180.453643,118.535843 181.750259,117.239228 L184.940186,114.049301 L184.940186,114.311142 L192.558746,121.932221 C193.85788,123.228836 195.960159,123.228836 197.259292,121.932221 C198.558426,120.633087 198.558426,118.52829 197.259292,117.231674 L189.509812,109.479675 L193.903198,105.086289 C197.478333,101.511154 200.03128,97.1907808 201.428604,92.477646 C199.293594,92.5506592 197.259292,93.0567168 195.406265,93.9278413 C194.847336,94.1896822 194.248123,94.2299654 193.694229,94.0889742 C192.573853,96.39267 191.068268,98.5201265 189.202652,100.385742 L177.049713,112.538681 C175.753098,113.835297 175.753098,115.940094 177.049713,117.239228 L177.049713,117.239228 Z M189.509812,220.520325 L197.259292,212.768326 C198.558426,211.47171 198.558426,209.366913 197.259292,208.067779 C195.962677,206.771164 193.85788,206.771164 192.561264,208.067779 L184.940186,215.688858 L184.940186,215.950699 L181.752777,212.760772 C180.453643,211.464157 178.348847,211.464157 177.052231,212.760772 C175.753098,214.059906 175.753098,216.164703 177.052231,217.461319 L189.20517,229.614258 C191.070786,231.479873 192.573853,233.60733 193.694229,235.911026 C194.250641,235.770035 194.847336,235.810318 195.406265,236.072159 C197.261811,236.943283 199.293594,237.451858 201.431122,237.522354 C200.033798,232.809219 197.478333,228.488846 193.905716,224.913711 L189.509812,220.520325 Z M148.249741,212.760772 L145.059814,215.950699 L145.059814,215.688858 L137.441254,208.067779 C136.14212,206.771164 134.039841,206.771164 132.740708,208.067779 C131.441574,209.366913 131.441574,211.47171 132.740708,212.768326 L140.490188,220.520325 L136.096802,224.91623 C135.401917,225.608597 134.75235,226.331177 134.138031,227.078934 C133.168716,227.242584 132.217026,227.524566 131.318207,227.94754 C130.290985,228.428421 129.193268,228.675156 128.057785,228.675156 C123.53096,228.675156 119.850083,224.699707 119.850083,219.812851 C119.850083,216.089172 118.200989,212.539215 115.439072,210.31105 C112.677154,208.085403 109.059219,207.385483 105.753479,208.440399 C105.005722,208.679581 104.222717,208.802948 103.429642,208.802948 C98.9028169,208.802948 95.2219389,204.824981 95.2219389,199.940644 L95.2219389,186.408005 C97.0220947,187.430191 98.6988827,188.699112 100.20195,190.202179 L112.354889,202.357636 C113.654023,203.654251 115.758819,203.654251 117.055435,202.357636 C118.354568,201.058502 118.354568,198.953705 117.055435,197.657089 L104.902496,185.50415 C104.237823,184.83696 103.542939,184.210053 102.825394,183.613357 L109.562759,176.87851 C110.861893,175.579376 110.861893,173.477097 109.562759,172.177963 C108.266143,170.87883 106.161347,170.87883 104.862213,172.177963 L97.1404268,179.89975 C96.5110014,179.585037 95.8689884,179.29802 95.2219389,179.028625 L95.2219389,151.192932 C95.8689884,150.923538 96.5110014,150.639038 97.1404268,150.321808 L104.862213,158.043594 C106.161347,159.342727 108.266143,159.342727 109.562759,158.043594 C110.861893,156.746978 110.861893,154.642182 109.562759,153.343048 L102.825394,146.6082 C103.542939,146.014023 104.237823,145.384598 104.902496,144.719925 L117.055435,132.566986 C118.354568,131.267852 118.354568,129.163056 117.055435,127.86644 C115.758819,126.567307 113.654023,126.567307 112.354889,127.86644 L100.20195,140.019379 C98.6988827,141.522446 97.0220947,142.791367 95.2219389,143.81607 L95.2219389,130.061875 C95.2219389,125.175019 98.9028169,121.19957 103.429642,121.19957 C104.222717,121.19957 105.005722,121.320419 105.753479,121.559601 C109.056702,122.614517 112.677154,121.914597 115.439072,119.68895 C118.200989,117.463303 119.850083,113.910828 119.850083,110.189667 C119.850083,105.302811 123.53096,101.327362 128.057785,101.327362 C129.193268,101.327362 130.290985,101.571579 131.318207,102.054978 C132.196884,102.465362 133.156128,102.759934 134.148101,102.936172 C134.759903,103.676377 135.406952,104.396438 136.096802,105.086289 L140.490188,109.479675 L132.740708,117.231674 C131.441574,118.52829 131.441574,120.633087 132.740708,121.932221 C134.039841,123.228836 136.14212,123.228836 137.441254,121.932221 L145.059814,114.311142 L145.059814,114.049301 L148.249741,117.239228 C149.546357,118.535843 151.651153,118.535843 152.950287,117.239228 C154.246902,115.940094 154.246902,113.835297 152.950287,112.538681 L142.088928,101.677322 C143.863907,100.604782 145.142898,98.940582 145.399704,96.664581 C146.3237,88.4518433 152.685928,83.0236816 152.685928,83.0236816 C146.351394,83.0236816 140.857773,86.8959042 138.121033,92.5682832 C137.45636,93.9429472 135.91301,94.5471953 134.593735,93.9278413 C132.592163,92.9862212 130.381622,92.4625395 128.057785,92.4625395 C118.991547,92.4625395 111.639862,100.398331 111.639862,110.187149 C111.639862,112.188721 109.859848,113.628845 108.084869,113.059845 C106.609497,112.589035 105.048523,112.334747 103.432159,112.334747 C94.3634033,112.334747 87.0117188,120.270538 87.0117188,130.059356 L87.0117188,199.938125 C87.0117188,209.726944 94.3634033,217.662735 103.432159,217.662735 C105.048523,217.662735 106.609497,217.408447 108.084869,216.937637 C109.859848,216.371155 111.639862,217.811279 111.639862,219.810333 C111.639862,229.599151 118.991547,237.534942 128.057785,237.534942 C130.381622,237.534942 132.592163,237.013779 134.593735,236.072159 C135.910492,235.452805 137.45636,236.054535 138.118515,237.431717 C140.857773,243.101578 146.351394,246.973801 152.685928,246.973801 C152.685928,246.973801 148.375625,243.428879 145.399704,233.335419 C144.782867,231.240692 143.481216,229.654541 141.834641,228.574448 L152.947769,217.458801 C154.246902,216.162186 154.246902,214.057388 152.947769,212.758255 C151.651153,211.464157 149.546357,211.464157 148.249741,212.760772 L148.249741,212.760772 Z" fill="#FC5426"></path>
                  <path d="M70.8984375,210.018997 C70.8984375,217.652664 68.637543,225.117646 64.402771,231.469803 L47.798538,256.377411 C46.5220645,258.290863 43.7123105,258.290863 42.435837,256.377411 L25.831604,231.469803 C21.596832,225.117646 19.3359375,217.652664 19.3359375,210.018997 L19.3359375,199.804687 L70.8984375,199.804687 L70.8984375,210.018997 Z" fill="#FBC56D"></path>
                  <path d="M70.8984375,58.0078125 C70.8984375,68.6878964 62.2425839,77.34375 51.5625,77.34375 L38.671875,77.34375 C27.9917911,77.34375 19.3359375,68.6878964 19.3359375,58.0078125 C19.3359375,47.3277286 27.9917911,38.671875 38.671875,38.671875 L51.5625,38.671875 C62.2425839,38.671875 70.8984375,47.3277286 70.8984375,58.0078125 Z" fill="#EC74B6"></path>
                  <path d="M70.8984375,58.0078125 C70.8984375,66.4244844 65.5155948,73.579788 58.0078125,76.2334444 C50.5000302,73.579788 45.1171875,66.4244844 45.1171875,58.0078125 C45.1171875,49.5911406 50.5000302,42.435837 58.0078125,39.7821806 C65.5155948,42.435837 70.8984375,49.5911406 70.8984375,58.0078125 Z" fill="#F18BC3"></path>
                  <path d="M58.0078125,221.728821 C50.8877563,221.728821 45.1171875,215.955734 45.1171875,208.838196 C45.1171875,215.955734 39.3466187,221.728821 32.2265625,221.728821 C25.1065063,221.728821 19.3359375,215.955734 19.3359375,208.838196 L19.3359375,58.0078125 L70.8984375,58.0078125 L70.8984375,208.838196 C70.8984375,215.955734 65.1278687,221.728821 58.0078125,221.728821 Z" fill="#017296"></path>
                  <path d="M45.1171875,208.838196 C45.1171875,215.955734 39.3466187,221.728821 32.2265625,221.728821 C25.1065063,221.728821 19.3359375,215.955734 19.3359375,208.838196 L19.3359375,58.0078125 L45.1171875,58.0078125 L45.1171875,208.838196 Z" fill="#025F80"></path>
                  <path d="M53.7100981,247.510071 L47.798538,256.377411 C46.5220645,258.290863 43.7123105,258.290863 42.435837,256.377411 L36.5217587,247.510071 L53.7100981,247.510071 Z" fill="#024C67"></path>
              </g></a>
              <text font-family="TruenoSBd, Trueno" font-size="48" font-weight="500" line-spacing="64" fill="#1E1E1E">
                  <tspan x="374" y="390">Let's brainstorm.</tspan>
              </text>
              <text font-family="Lora-Regular, Lora" font-size="98" font-weight="400" fill="#1E1E1E">
                  <tspan x="374" y="74">Ideate</tspan>
              </text>
              <text font-family="Lora-Regular, Lora" font-size="48" font-weight="normal" line-spacing="64" fill="#1E1E1E">
                  <tspan x="374" y="188">Inspired by an idea? </tspan>
                  <tspan x="374" y="252">We are your partners </tspan>
                  <tspan x="374" y="316">in curiosity.</tspan>
              </text>
          </g>
          <g transform="translate(1081.000000, 22.000000)">
            <a href="#plan"><g transform="translate(0.000000, 74.000000)" fill-rule="nonzero">
                  <path d="M259.101562,291.031036 L259.101562,292.234497 C259.101562,297.483902 256.364822,302.340546 251.908493,305.117569 C226.65596,320.865784 196.884155,329.989929 165.052872,330.00001 C135.283584,330.010071 107.36229,322.127151 83.2477568,308.342743 C79.5970918,306.258087 77.34375,302.373276 77.34375,298.168716 C77.34375,268.761978 53.503647,244.921875 24.0969087,244.921875 L23.0142973,244.921875 C21.5414429,244.921875 20.1793672,244.123764 19.484482,242.827148 C7.05711381,219.641648 0,193.145371 0,165 C0,73.9096069 73.360748,0.297088945 164.451142,-0.00089825351 C205.33104,-0.133437949 242.75917,14.6076962 271.64978,39.1099552 C275.159454,42.0858765 277.148438,46.4842989 277.148438,51.0866548 L277.148438,53.2141113 C277.148438,70.1003267 290.837173,83.7890625 307.723389,83.7890625 C308.297424,83.7890625 308.828659,84.0987398 309.108124,84.5972441 C322.346191,108.273697 329.926987,135.545425 330.000517,164.582061 C330.073013,193.885574 322.416687,221.464462 308.972168,245.400238 C306.900101,249.086151 302.995147,251.367188 298.765411,251.367188 C276.858902,251.367188 259.101562,269.124527 259.101562,291.031036 Z" fill="#C43286"></path>
                  <path d="M286.01326,277.148438 L70.8984375,277.148438 L70.8984375,38.671875 L271.131134,38.671875 C286.539459,51.6304781 299.540863,67.3535156 309.375,85.0806425 L309.375,244.919357 C302.891922,256.606521 295.031662,267.422561 286.01326,277.148438 Z" fill="#FFDF8E"></path>
                  <path d="M270.703125,256.201172 L193.359375,256.201172 C187.140655,256.201172 182.080078,251.140595 182.080078,244.921875 L182.080078,122.460938 C182.080078,116.242218 187.140655,111.181641 193.359375,111.181641 L270.703125,111.181641 C276.921845,111.181641 281.982422,116.242218 281.982422,122.460938 L281.982422,244.921875 C281.982422,251.140595 276.921845,256.201172 270.703125,256.201172 Z M193.359375,120.849609 C192.470627,120.849609 191.748047,121.572189 191.748047,122.460938 L191.748047,244.921875 C191.748047,245.810623 192.470627,246.533203 193.359375,246.533203 L270.703125,246.533203 C271.591873,246.533203 272.314453,245.810623 272.314453,244.921875 L272.314453,122.460938 C272.314453,121.572189 271.591873,120.849609 270.703125,120.849609 L193.359375,120.849609 Z" fill="#FBC56D"></path>
                  <path d="M219.140625,59.6191406 L135.351562,59.6191406 C129.132843,59.6191406 124.072266,64.6797177 124.072266,70.8984375 L124.072266,154.6875 C124.072266,160.90622 129.132843,165.966797 135.351562,165.966797 L219.140625,165.966797 C225.359345,165.966797 230.419922,160.90622 230.419922,154.6875 L230.419922,70.8984375 C230.419922,64.6797177 225.359345,59.6191406 219.140625,59.6191406 Z M220.751953,154.6875 C220.751953,155.576248 220.029373,156.298828 219.140625,156.298828 L135.351562,156.298828 C134.462814,156.298828 133.740234,155.576248 133.740234,154.6875 L133.740234,70.8984375 C133.740234,70.0096895 134.462814,69.2871094 135.351562,69.2871094 L219.140625,69.2871094 C220.029373,69.2871094 220.751953,70.0096895 220.751953,70.8984375 L220.751953,154.6875 Z" fill="#3691BB"></path>
                  <path d="M251.377258,305.600967 C251.374741,305.570755 251.367188,305.540542 251.367188,305.507812 L251.367188,99.2578125 C251.367188,97.4777983 252.80983,96.0351562 254.589844,96.0351562 L280.693359,96.0351562 C291.995315,96.0351562 301.76651,89.496689 306.439361,79.9974063 C307.44896,81.6716768 308.425827,83.3686064 309.375,85.0806425 L309.375,244.919357 C295.578003,269.794235 275.542144,290.723877 251.377258,305.600967 Z" fill="#FFF2B4"></path>
                  <path d="M83.7890625,38.671875 L83.7890625,308.65242 C56.5299223,293.208847 34.1047665,270.234833 19.3359375,242.552719 L19.3359375,38.671875 C19.3359375,27.9943086 27.9917911,19.3359375 38.671875,19.3359375 L64.453125,19.3359375 C71.0595703,19.3359375 76.8880464,22.6517485 80.375061,27.7047729 L80.3775786,27.7047729 C80.5538179,27.961578 80.722504,28.2209013 80.8861543,28.4852597 C80.8911894,28.4902954 80.893707,28.4953311 80.8962251,28.5003662 C81.0573579,28.757172 81.2109375,29.0190128 81.3569638,29.2833711 C81.3645171,29.298477 81.3720703,29.3110654 81.3796236,29.3236543 C81.5206148,29.5804594 81.6565703,29.8397827 81.7874907,30.1041411 C81.800079,30.1268009 81.8101505,30.14946 81.8227388,30.1721191 C81.946106,30.4264067 82.064438,30.68573 82.1802519,30.9450533 C82.1928409,30.9777832 82.2079468,31.0105131 82.2230527,31.0432431 C82.3313139,31.2924956 82.4320219,31.5467831 82.5302124,31.8035889 C82.5453183,31.8489071 82.5654599,31.8917085 82.5805664,31.9370268 C82.6712036,32.178726 82.7542876,32.4279785 82.8373721,32.6747128 C82.8549956,32.7351376 82.8776554,32.7905273 82.8952788,32.8509521 C82.9708101,33.0901338 83.0387882,33.331833 83.104248,33.5735323 C83.1243896,33.6440279 83.1445312,33.7120059 83.1621553,33.7799834 C83.2250977,34.0116118 83.2754517,34.2482759 83.3283232,34.4824219 C83.3459473,34.5655058 83.3686064,34.6460722 83.3862305,34.7316744 C83.4315488,34.9582671 83.471832,35.1873779 83.5095976,35.4190063 C83.5272217,35.5121611 83.5448457,35.6027983 83.5599516,35.695953 C83.5951997,35.9200288 83.6203764,36.1466215 83.6480713,36.3757324 C83.6606596,36.4764404 83.6757662,36.5746309 83.685837,36.6753389 C83.7084961,36.9044491 83.7236026,37.1360782 83.7387085,37.367706 C83.7462618,37.468414 83.7563326,37.5666045 83.7613676,37.6673125 C83.7789917,37.9996489 83.7890625,38.3345029 83.7890625,38.671875 Z" fill="#FFE899"></path>
                  <path d="M83.7890625,38.671875 L83.7890625,308.65242 C63.5543062,297.189331 45.9807588,281.574555 32.2265625,262.963715 L32.2265625,38.671875 C32.2265625,27.9943086 40.8824161,19.3359375 51.5625,19.3359375 L64.453125,19.3359375 C71.0595703,19.3359375 76.8880464,22.6517485 80.375061,27.7047729 L80.3775786,27.7047729 C80.5538179,27.961578 80.722504,28.2209013 80.8861543,28.4852597 C80.8911894,28.4902954 80.893707,28.4953311 80.8962251,28.5003662 C81.0573579,28.757172 81.2109375,29.0190128 81.3569638,29.2833711 C81.3645171,29.298477 81.3720703,29.3110654 81.3796236,29.3236543 C81.5206148,29.5804594 81.6565703,29.8397827 81.7874907,30.1041411 C81.800079,30.1268009 81.8101505,30.14946 81.8227388,30.1721191 C81.946106,30.4264067 82.064438,30.68573 82.1802519,30.9450533 C82.1928409,30.9777832 82.2079468,31.0105131 82.2230527,31.0432431 C82.3313139,31.2924956 82.4320219,31.5467831 82.5302124,31.8035889 C82.5453183,31.8489071 82.5654599,31.8917085 82.5805664,31.9370268 C82.6712036,32.178726 82.7542876,32.4279785 82.8373721,32.6747128 C82.8549956,32.7351376 82.8776554,32.7905273 82.8952788,32.8509521 C82.9708101,33.0901338 83.0387882,33.331833 83.104248,33.5735323 C83.1243896,33.6440279 83.1445312,33.7120059 83.1621553,33.7799834 C83.2250977,34.0116118 83.2754517,34.2482759 83.3283232,34.4824219 C83.3459473,34.5655058 83.3686064,34.6460722 83.3862305,34.7316744 C83.4315487,34.9582671 83.471832,35.1873779 83.5095976,35.4190063 C83.5272217,35.5121611 83.5448457,35.6027983 83.5599516,35.695953 C83.5951997,35.9200288 83.6203764,36.1466215 83.6480713,36.3757324 C83.6606596,36.4764404 83.6757662,36.5746309 83.685837,36.6753389 C83.7084961,36.9044491 83.7236026,37.1360782 83.7387085,37.367706 C83.7462618,37.468414 83.7563326,37.5666045 83.7613676,37.6673125 C83.7789917,37.9996489 83.7890625,38.3345029 83.7890625,38.671875 Z" fill="#FFF2B4"></path>
                  <path d="M64.453125,58.0078125 L38.671875,58.0078125 C27.9917911,58.0078125 19.3359375,49.3519589 19.3359375,38.671875 C19.3359375,27.9917911 27.9917911,19.3359375 38.671875,19.3359375 L64.453125,19.3359375 C75.1332089,19.3359375 83.7890625,27.9917911 83.7890625,38.671875 C83.7890625,49.3519589 75.1332089,58.0078125 64.453125,58.0078125 Z" fill="#FBC56D"></path>
                  <path d="M64.453125,19.3359375 L51.5625,19.3359375 C40.8824161,19.3359375 32.2265625,27.9943086 32.2265625,38.671875 C32.2265625,49.3519589 40.8824161,58.0078125 51.5625,58.0078125 L64.453125,58.0078125 C75.1332089,58.0078125 83.7890625,49.3519589 83.7890625,38.671875 C83.7890625,27.9943086 75.1332089,19.3359375 64.453125,19.3359375 Z M51.5625,45.1171875 C44.4424438,45.1171875 38.671875,42.2319034 38.671875,38.671875 C38.671875,35.1118466 44.4424438,32.2265625 51.5625,32.2265625 C58.6825562,32.2265625 64.453125,35.1118466 64.453125,38.671875 C64.453125,42.2319034 58.6825562,45.1171875 51.5625,45.1171875 Z" fill="#FFDF8E"></path>
                  <path d="M154.6875,174.023438 L103.125,174.023438 L103.125,157.363815 C103.125,149.730148 105.385894,142.265167 109.620667,135.91301 L126.224899,111.005401 C127.501373,109.091949 130.311127,109.091949 131.587601,111.005401 L148.191833,135.91301 C152.429123,142.265167 154.6875,149.730148 154.6875,157.363815 L154.6875,174.023438 Z" fill="#F8BB5E"></path>
                  <path d="M154.6875,158.547134 L154.6875,329.670181 C136.549988,328.549805 119.208069,324.50386 103.125,317.993088 L103.125,158.547134 C103.125,151.427078 108.895569,145.656509 116.015625,145.656509 C123.135681,145.656509 128.90625,151.427078 128.90625,158.547134 C128.90625,151.427078 134.676819,145.656509 141.796875,145.656509 C148.916931,145.656509 154.6875,151.427078 154.6875,158.547134 Z" fill="#FD7D43"></path>
                  <path d="M128.90625,158.547134 L128.90625,326.029587 C120.021286,324.045639 111.405716,321.346665 103.125,317.993088 L103.125,158.547134 C103.125,151.427078 108.895569,145.656509 116.015625,145.656509 C123.135681,145.656509 128.90625,151.427078 128.90625,158.547134 Z" fill="#FC5426"></path>
                  <path d="M120.313339,119.875259 L126.224899,111.005401 C127.501373,109.091949 130.311127,109.091949 131.587601,111.005401 L137.501679,119.875259 L120.313339,119.875259 Z" fill="#024C67"></path>
              </g></a>
              <text font-family="Lora-Regular, Lora" font-size="48" font-weight="normal" line-spacing="64" fill="#1E1E1E">
                  <tspan x="380" y="188">We can collaborate to plan,</tspan>
                  <tspan x="380" y="252">scope, and organize your</tspan>
                  <tspan x="380" y="316">exploration.</tspan>
              </text>
              <text font-family="TruenoSBd, Trueno" font-size="48" font-weight="500" line-spacing="64" fill="#1E1E1E">
                  <tspan x="380" y="390">It starts with a consultation.</tspan>
              </text>
              <text font-family="Lora-Regular, Lora" font-size="98" font-weight="400" fill="#1E1E1E">
                  <tspan x="380" y="74">Plan</tspan>
              </text>
          </g>
          <g transform="translate(2569.000000, 247.000000)">
              <a href="#execute"><g transform="translate(0.000000, 74.000000)" fill-rule="nonzero">
                  <path d="M330,165 C330,256.128159 256.128159,330 165,330 C73.8718413,330 0,256.128159 0,165 C0,73.8718413 73.8718413,0 165,0 C256.128159,0 330,73.8718413 330,165 Z" fill="#FDBF43"></path>
                  <path d="M14.768829,96.6796875 L19.3359375,96.6796875 L19.3359375,199.804688 L3.69094816,199.804688 C1.2789917,188.583298 0,176.941452 0,165 C0,140.63118 5.28717041,117.49855 14.768829,96.6796875 Z M136.75644,270.703125 L174.023437,270.703125 L174.023437,122.460937 L148.242187,122.460937 L135.472412,269.303284 C135.406952,270.056076 136.001129,270.703125 136.75644,270.703125 Z M161.132812,0.0478363359 C154.584274,0.198898477 148.133926,0.74020418 141.796875,1.63146973 L129.090042,101.672287 C128.991851,102.442703 129.593582,103.125 130.369034,103.125 L161.132812,103.125 L161.132812,0.0478363359 Z M276.803513,43.6669922 L264.549866,107.991714 C264.398804,108.78479 265.008087,109.522476 265.816269,109.522476 L296.484375,109.522476 L296.484375,65.3192139 C290.570297,57.5294491 283.981476,50.2835083 276.803513,43.6669922 Z"  fill="#FDA800"></path>
                  <path d="M230.419922,283.59375 L230.419922,290.039063 C230.419922,299.812774 222.469024,307.763672 212.695312,307.763672 L155.908584,307.763672 L161.329193,313.18428 C163.217468,315.072556 163.217468,318.134079 161.329193,320.019836 C160.385056,320.963974 159.146347,321.437302 157.910156,321.437302 C156.671448,321.437302 155.435257,320.963974 154.491119,320.019836 L140.820007,306.348725 C138.931733,304.460449 138.931733,301.398926 140.820007,299.51065 L154.491119,285.839539 C156.379395,283.951264 159.440918,283.951264 161.329193,285.839539 C163.214951,287.727813 163.214951,290.786819 161.329193,292.675095 L155.908584,298.095703 L212.695312,298.095703 C217.139053,298.095703 220.751953,294.482803 220.751953,290.039063 L220.751953,283.59375 C220.751953,280.924988 222.914658,278.759766 225.585938,278.759766 C228.257217,278.759766 230.419922,280.924988 230.419922,283.59375 Z M113.817673,40.0868222 C112.873535,39.1426851 111.637344,38.671875 110.398636,38.671875 C109.162445,38.671875 107.926254,39.1426851 106.982117,40.0868222 C105.093842,41.9750977 105.093842,45.0366211 106.982117,46.9248966 L112.402725,52.3455049 L69.2871094,52.3455049 C59.5133975,52.3455049 51.5625,60.2964018 51.5625,70.0701143 L51.5625,76.5154268 C51.5625,79.184189 53.7252046,81.3494112 56.3964844,81.3494112 C59.0677641,81.3494112 61.2304688,79.184189 61.2304688,76.5154268 L61.2304688,70.0701143 C61.2304688,65.626373 64.8433687,62.0134737 69.2871094,62.0134737 L112.402725,62.0134737 L106.982117,67.4315645 C105.093842,69.3198393 105.093842,72.3813628 106.982117,74.2696382 C108.870392,76.1553955 111.929397,76.1553955 113.817673,74.2696382 L127.491303,60.5960083 C129.37706,58.7077335 129.37706,55.6487276 127.491303,53.7604521 L113.817673,40.0868222 Z M27.3925781,206.25 C24.7238159,206.25 22.5585938,208.415222 22.5585938,211.083984 C22.5585938,213.752747 24.7238159,215.917969 27.3925781,215.917969 C30.0613403,215.917969 32.2265625,213.752747 32.2265625,211.083984 C32.2265625,208.415222 30.0613403,206.25 27.3925781,206.25 Z M43.5058594,206.25 C40.8370972,206.25 38.671875,208.415222 38.671875,211.083984 C38.671875,213.752747 40.8370972,215.917969 43.5058594,215.917969 C46.1746216,215.917969 48.3398438,213.752747 48.3398438,211.083984 C48.3398438,208.415222 46.1746216,206.25 43.5058594,206.25 Z M59.6191406,206.25 C56.9503784,206.25 54.7851562,208.415222 54.7851562,211.083984 C54.7851562,213.752747 56.9503784,215.917969 59.6191406,215.917969 C62.2879028,215.917969 64.453125,213.752747 64.453125,211.083984 C64.453125,208.415222 62.2879028,206.25 59.6191406,206.25 Z"  fill="#FC9302"></path>
                  <path d="M170.800781,270.703125 L151.464844,270.703125 C149.68483,270.703125 148.242188,269.260483 148.242188,267.480469 L148.242188,123.105469 C148.242188,121.325455 149.68483,119.882812 151.464844,119.882812 L170.800781,119.882812 C172.580795,119.882812 174.023438,121.325455 174.023438,123.105469 L174.023438,267.480469 C174.023438,269.260483 172.580795,270.703125 170.800781,270.703125 Z"  fill="#02C6DC"></path>
                  <path d="M295.839844,270.703125 L170.800781,270.703125 C169.020767,270.703125 167.578125,269.260483 167.578125,267.480469 L167.578125,123.105469 C167.578125,121.325455 169.020767,119.882812 170.800781,119.882812 L295.839844,119.882812 C297.619858,119.882812 299.0625,121.325455 299.0625,123.105469 L299.0625,267.480469 C299.0625,269.260483 297.619858,270.703125 295.839844,270.703125 Z"  fill="#84DEEA"></path>
                  <path d="M254.589844,256.201172 C254.589844,258.869934 252.424622,261.035156 249.755859,261.035156 C247.087097,261.035156 244.921875,258.869934 244.921875,256.201172 C244.921875,253.53241 247.087097,251.367188 249.755859,251.367188 C252.424622,251.367188 254.589844,253.53241 254.589844,256.201172 Z M265.869141,251.367188 C263.200378,251.367188 261.035156,253.53241 261.035156,256.201172 C261.035156,258.869934 263.200378,261.035156 265.869141,261.035156 C268.537903,261.035156 270.703125,258.869934 270.703125,256.201172 C270.703125,253.53241 268.537903,251.367188 265.869141,251.367188 Z M281.982422,251.367188 C279.31366,251.367188 277.148438,253.53241 277.148438,256.201172 C277.148438,258.869934 279.31366,261.035156 281.982422,261.035156 C284.651184,261.035156 286.816406,258.869934 286.816406,256.201172 C286.816406,253.53241 284.651184,251.367188 281.982422,251.367188 Z"  fill="#03BDD6"></path>
                  <path d="M249.451218,203.717193 C242.446976,209.940948 238.554611,218.946762 238.554611,228.317642 L238.554611,228.95462 L208.750076,228.95462 L208.750076,228.201828 C208.750076,218.752899 204.623565,209.837723 197.61177,203.500671 C189.70871,196.357956 184.753876,186.012726 184.801369,174.509353 C184.887314,153.086243 202.23175,135.817337 223.652344,135.817337 C245.110703,135.817337 262.505493,153.212128 262.505493,174.670486 C262.505493,186.224213 257.460022,196.599655 249.451218,203.717193 L249.451218,203.717193 Z"  fill="#D3F1F5"></path>
                  <path d="M243.610153,226.293411 C243.610153,228.677673 242.044144,230.694351 239.886475,231.371612 L239.886475,231.61583 C239.886475,238.964996 233.929596,244.921875 226.580429,244.921875 L220.726776,244.921875 C213.377609,244.921875 207.42073,238.964996 207.42073,231.61583 L207.42073,231.371612 C205.260544,230.694351 203.694534,228.677673 203.694534,226.293411 C203.694534,223.355255 206.076279,220.973509 209.016953,220.973509 L238.287735,220.973509 C241.228409,220.970993 243.610153,223.355255 243.610153,226.293411 L243.610153,226.293411 Z"  fill="#3691BB"></path>
                  <path d="M215.280991,183.600769 C216.615372,185.914536 215.822296,188.870315 213.511047,190.204697 L205.137177,195.038681 C202.825928,196.373062 199.870147,195.582504 198.535767,193.268738 C197.201386,190.957489 197.991943,188.001709 200.303192,186.667328 L208.677063,181.833344 C210.988311,180.496445 213.944092,181.289521 215.280991,183.600769 L215.280991,183.600769 Z M213.511047,167.331391 L205.137177,162.497406 C202.825928,161.163025 199.870147,161.953583 198.533249,164.264832 C197.198868,166.578598 197.991943,169.534378 200.303192,170.868759 L208.677063,175.702744 C210.988311,177.037124 213.944092,176.246567 215.278473,173.9328 C216.615372,171.621552 215.822296,168.665771 213.511047,167.331391 L213.511047,167.331391 Z M238.627625,175.702744 L247.001495,170.868759 C249.312744,169.534378 250.10582,166.578598 248.771438,164.264832 C247.43454,161.953583 244.47876,161.163025 242.167511,162.497406 L233.79364,167.331391 C231.482392,168.665771 230.691833,171.621552 232.026215,173.9328 C233.360596,176.246567 236.316376,177.037124 238.627625,175.702744 L238.627625,175.702744 Z M223.652344,188.434753 C220.983582,188.434753 218.818359,190.599976 218.818359,193.268738 L218.818359,202.936707 C218.818359,205.607986 220.983582,207.770691 223.652344,207.770691 C226.321106,207.770691 228.486328,205.607986 228.486328,202.936707 L228.486328,193.268738 C228.486328,190.599976 226.321106,188.434753 223.652344,188.434753 Z M247.001495,186.667328 L238.627625,181.833344 C236.316376,180.498962 233.360596,181.289521 232.026215,183.600769 C230.691833,185.914536 231.482392,188.870315 233.79364,190.204697 L242.167511,195.038681 C244.47876,196.373062 247.43454,195.582504 248.771438,193.268738 C250.10582,190.957489 249.312744,188.001709 247.001495,186.667328 L247.001495,186.667328 Z M223.652344,149.762878 C220.983582,149.762878 218.818359,151.928101 218.818359,154.596863 L218.818359,164.264832 C218.818359,166.936111 220.983582,169.098816 223.652344,169.098816 C226.321106,169.098816 228.486328,166.936111 228.486328,164.264832 L228.486328,154.596863 C228.486328,151.928101 226.321106,149.762878 223.652344,149.762878 Z"  fill="#84DEEA"></path>
                  <path d="M251.367188,24.3914795 L251.367188,99.9023438 C251.367188,101.682358 249.924545,103.125 248.144531,103.125 L145.019531,103.125 C143.239517,103.125 141.796875,101.682358 141.796875,99.9023438 L141.796875,1.63146973 C149.380188,0.563964844 157.122116,0 165,0 C196.665115,0 226.243057,8.92776457 251.367188,24.3914795 Z"  fill="#0AB59E"></path>
                  <path d="M251.367188,24.3914795 L251.367188,99.9023438 C251.367188,101.682358 249.924545,103.125 248.144531,103.125 L164.355469,103.125 C162.575455,103.125 161.132812,101.682358 161.132812,99.9023438 L161.132812,0.0478363359 C162.419357,0.0201416016 163.705902,9.15933995e-15 165,9.15933995e-15 C196.665115,9.15933995e-15 226.243057,8.92776457 251.367188,24.3914795 Z"  fill="#0ED1B2"></path>
                  <path d="M206.25,88.6230469 C206.25,91.2918091 204.084778,93.4570312 201.416016,93.4570312 C198.747253,93.4570312 196.582031,91.2918091 196.582031,88.6230469 C196.582031,85.9542847 198.747253,83.7890625 201.416016,83.7890625 C204.084778,83.7890625 206.25,85.9542847 206.25,88.6230469 Z M217.529297,83.7890625 C214.860535,83.7890625 212.695312,85.9542847 212.695312,88.6230469 C212.695312,91.2918091 214.860535,93.4570312 217.529297,93.4570312 C220.198059,93.4570312 222.363281,91.2918091 222.363281,88.6230469 C222.363281,85.9542847 220.198059,83.7890625 217.529297,83.7890625 Z M233.642578,83.7890625 C230.973816,83.7890625 228.808594,85.9542847 228.808594,88.6230469 C228.808594,91.2918091 230.973816,93.4570312 233.642578,93.4570312 C236.31134,93.4570312 238.476562,91.2918091 238.476562,88.6230469 C238.476562,85.9542847 236.31134,83.7890625 233.642578,83.7890625 Z"  fill="#0AB59E"></path>
                  <path d="M242.064285,19.250336 L182.948685,78.3659366 C181.941604,79.3730167 180.310135,79.3730167 179.300537,78.3659366 L153.51677,52.5872041 C153.01323,52.0836641 153.01323,51.2679292 153.51677,50.7643892 L160.808029,43.4731294 C161.311569,42.9695894 162.127304,42.9695894 162.630844,43.4731294 L180.209427,61.0517119 C180.712967,61.5552519 181.528702,61.5552519 182.032242,61.0517119 L232.947693,10.1337431 C233.451233,9.63020309 234.266968,9.63020309 234.770508,10.1337431 L242.064285,17.4275204 C242.567825,17.9310605 242.567825,18.746796 242.064285,19.250336 L242.064285,19.250336 Z"  fill="#DDF4BA"></path>
                  <path d="M320.447846,109.570312 L280.371094,109.570312 C278.59108,109.570312 277.148437,108.12767 277.148437,106.347656 L277.148437,43.9867403 C296.431503,61.8674467 311.431961,84.2951201 320.447846,109.570312 Z M125.683594,225.585938 L22.5585937,225.585938 C20.7785796,225.585938 19.3359375,227.02858 19.3359375,228.808594 L19.3359375,242.552719 C41.6402437,284.356613 81.409836,315.430069 128.90625,326.029587 L128.90625,228.808594 C128.90625,227.02858 127.463608,225.585938 125.683594,225.585938 Z"  fill="#DF3D9B"></path>
                  <path d="M109.570312,259.101562 L109.570312,266.191406 C109.570312,266.903916 108.993759,267.480469 108.28125,267.480469 L59.296875,267.480469 C58.5843657,267.480469 58.0078125,266.903916 58.0078125,266.191406 L58.0078125,259.101562 C58.0078125,258.389053 58.5843657,257.8125 59.296875,257.8125 L108.28125,257.8125 C108.993759,257.8125 109.570312,258.389053 109.570312,259.101562 Z M108.28125,277.148438 L43.9867403,277.148438 C47.0960995,280.502014 50.3388974,283.729706 53.7151338,286.816406 L108.28125,286.816406 C108.993759,286.816406 109.570312,286.239853 109.570312,285.527344 L109.570312,278.4375 C109.570312,277.724991 108.993759,277.148438 108.28125,277.148438 Z M108.28125,238.476562 L33.515625,238.476562 C32.8031157,238.476562 32.2265625,239.053116 32.2265625,239.765625 L32.2265625,246.855469 C32.2265625,247.567978 32.8031157,248.144531 33.515625,248.144531 L108.28125,248.144531 C108.993759,248.144531 109.570312,247.567978 109.570312,246.855469 L109.570312,239.765625 C109.570312,239.053116 108.993759,238.476562 108.28125,238.476562 Z M108.28125,296.484375 L65.3192139,296.484375 C69.8712158,299.941177 74.6019746,303.173904 79.5089722,306.152344 L108.28125,306.152344 C108.993759,306.152344 109.570312,305.575791 109.570312,304.863281 L109.570312,297.773438 C109.570312,297.060928 108.993759,296.484375 108.28125,296.484375 Z"  fill="#A72975"></path>
                  <path d="M109.570312,93.4570312 L109.570312,196.582031 C109.570312,198.362045 108.12767,199.804688 106.347656,199.804688 L16.1132812,199.804688 C14.3332671,199.804688 12.890625,198.362045 12.890625,196.582031 L12.890625,100.959778 C14.4264218,97.3166655 16.0906221,93.7390137 17.8756714,90.234375 L106.347656,90.234375 C108.12767,90.234375 109.570312,91.6770171 109.570312,93.4570312 Z"  fill="#FDED32"></path>
                  <path d="M106.347656,199.804688 L29.0039062,199.804688 C27.2238921,199.804688 25.78125,198.362045 25.78125,196.582031 L25.78125,93.4570312 C25.78125,91.6770171 27.2238921,90.234375 29.0039062,90.234375 L106.347656,90.234375 C108.12767,90.234375 109.570312,91.6770171 109.570312,93.4570312 L109.570312,196.582031 C109.570312,198.362045 108.12767,199.804688 106.347656,199.804688 Z"  fill="#FDF061"></path>
                  <path d="M83.7890625,110.859375 L83.7890625,117.949219 C83.7890625,118.661728 83.2125093,119.238281 82.5,119.238281 L39.9609375,119.238281 C39.2484282,119.238281 38.671875,118.661728 38.671875,117.949219 L38.671875,110.859375 C38.671875,110.146866 39.2484282,109.570312 39.9609375,109.570312 L82.5,109.570312 C83.2125093,109.570312 83.7890625,110.146866 83.7890625,110.859375 Z"  fill="#D6BF01"></path>
                  <path d="M99.9023438,155.976562 L99.9023438,163.066406 C99.9023438,163.778916 99.3257906,164.355469 98.6132812,164.355469 L23.8476562,164.355469 C23.1351469,164.355469 22.5585938,163.778916 22.5585938,163.066406 L22.5585938,155.976562 C22.5585938,155.264053 23.1351469,154.6875 23.8476562,154.6875 L98.6132812,154.6875 C99.3257906,154.6875 99.9023438,155.264053 99.9023438,155.976562 Z M82.5,174.023438 L39.9609375,174.023438 C39.2484282,174.023438 38.671875,174.599991 38.671875,175.3125 L38.671875,182.402344 C38.671875,183.114853 39.2484282,183.691406 39.9609375,183.691406 L82.5,183.691406 C83.2125093,183.691406 83.7890625,183.114853 83.7890625,182.402344 L83.7890625,175.3125 C83.7890625,174.599991 83.2125093,174.023438 82.5,174.023438 Z M33.515625,145.019531 L88.9453125,145.019531 C89.6578218,145.019531 90.234375,144.442978 90.234375,143.730469 L90.234375,136.640625 C90.234375,135.928116 89.6578218,135.351562 88.9453125,135.351562 L33.515625,135.351562 C32.8031157,135.351562 32.2265625,135.928116 32.2265625,136.640625 L32.2265625,143.730469 C32.2265625,144.442978 32.8031157,145.019531 33.515625,145.019531 Z"  fill="#E8CE00"></path>
              </g></a>
              <text font-family="Lora-Regular, Lora" font-size="48" font-weight="normal" line-spacing="64" fill="#1E1E1E">
                  <tspan x="380" y="188">Bringing your research</tspan>
                  <tspan x="380" y="252">into focus, in whatever</tspan>
                  <tspan x="380" y="316">form it takes.</tspan>
              </text>
              <text font-family="TruenoSBd, Trueno" font-size="48" font-weight="500" line-spacing="64" fill="#1E1E1E">
                  <tspan x="380" y="390">Engage with your discoveries.</tspan>
              </text>
              <text font-family="Lora-Regular, Lora" font-size="98" font-weight="400" fill="#1E1E1E">
                  <tspan x="382" y="74">Execute</tspan>
              </text>
          </g>
          <g transform="translate(1354.000000, 829.000000)">
              <text font-family="Lora-Regular, Lora" font-size="48" font-weight="normal" line-spacing="64" fill="#1E1E1E">
                  <tspan x="380" y="188">Transform and translate</tspan>
                  <tspan x="380" y="252">your findings to create</tspan>
                  <tspan x="380" y="316">something new.</tspan>
              </text>
              <text font-family="TruenoSBd, Trueno" font-size="48" font-weight="500" line-spacing="64" fill="#1E1E1E">
                  <tspan x="380" y="390">Catalyze research into scholarship.</tspan>
              </text>
              <text font-family="Lora-Regular, Lora" font-size="98" font-weight="400" fill="#1E1E1E">
                  <tspan x="380" y="74">Create</tspan>
              </text>
              <a href="#create"><g transform="translate(0.000000, 74.000000)" fill-rule="nonzero">
                  <path d="M330,165 C330,256.128159 256.128159,330 165,330 C73.8718413,330 0,256.128159 0,165 C0,73.8718413 73.8718413,0 165,0 C256.128159,0 330,73.8718413 330,165 Z"  fill="#025F80"></path>
                  <path d="M130.03418,167.792129 L130.03418,34.555435 C130.03418,30.9954073 132.919464,28.1101225 136.479492,28.1101225 L323.554688,28.1101225 C327.114716,28.1101225 330,30.9954073 330,34.555435 L330,167.792129 C330,171.352158 327.114716,174.237442 323.554688,174.237442 L136.479492,174.237442 C132.919464,174.237442 130.03418,171.352158 130.03418,167.792129 Z"  fill="#E659A9"></path>
                  <path d="M148.806152,174.237442 L148.806152,28.1101225 L323.554688,28.1101225 C327.114716,28.1101225 330,30.9954073 330,34.555435 L330,167.792129 C330,171.352158 327.114716,174.237442 323.554688,174.237442 L148.806152,174.237442 Z"  fill="#EC74B6"></path>
                  <path d="M238.572235,97.5256348 C238.572235,122.259521 218.518753,142.310486 193.784866,142.310486 C169.050979,142.310486 149.000015,122.259521 149.000015,97.5256348 C149.000015,72.7892305 169.050979,52.7382662 193.784866,52.7382662 C218.518753,52.7382662 238.572235,72.791748 238.572235,97.5256348 L238.572235,97.5256348 Z"  fill="#A72975"></path>
                  <path d="M244.969711,97.5256348 C244.969711,125.791855 222.053604,148.707962 193.784866,148.707962 L193.784866,110.320587 C200.852051,110.320587 206.582336,104.592819 206.582336,97.5256348 C206.582336,90.4584502 200.852051,84.7281645 193.784866,84.7281645 L193.784866,46.3407901 C222.053604,46.3407901 244.969711,69.256897 244.969711,97.5256348 Z"  fill="#DF3D9B"></path>
                  <path d="M251.367187,97.5256348 C251.367187,98.1021879 250.89386,98.572998 250.317307,98.572998 L194.837265,98.572998 C194.255676,98.572998 193.784866,98.1047061 193.784866,97.5231172 L193.784866,41.2147519 C193.784866,40.74646 193.986282,40.2832031 194.37149,40.0163272 C194.431915,39.9735258 194.487305,39.945831 194.527588,39.9481906 C225.986252,40.3461455 251.367187,65.9712984 251.367187,97.5256348 Z M314.53125,138.251953 L300.029297,138.251953 L300.029297,123.75 C300.029297,123.037491 299.452744,122.460937 298.740234,122.460937 L291.650391,122.460937 C290.937881,122.460937 290.361328,123.037491 290.361328,123.75 L290.361328,138.251953 L275.859375,138.251953 C275.146866,138.251953 274.570312,138.828506 274.570312,139.541016 L274.570312,146.630859 C274.570312,147.343369 275.146866,147.919922 275.859375,147.919922 L290.361328,147.919922 L290.361328,162.421875 C290.361328,163.134384 290.937881,163.710938 291.650391,163.710938 L298.740234,163.710938 C299.452744,163.710938 300.029297,163.134384 300.029297,162.421875 L300.029297,147.919922 L314.53125,147.919922 C315.243759,147.919922 315.820312,147.343369 315.820312,146.630859 L315.820312,139.541016 C315.820312,138.828506 315.243759,138.251953 314.53125,138.251953 Z"  fill="#F5A6D1"></path>
                  <path d="M269.414062,53.4960938 L269.414062,46.40625 C269.414062,45.6937407 269.990616,45.1171875 270.703125,45.1171875 L309.483261,45.1171875 C310.195771,45.1171875 310.772324,45.6937407 310.772324,46.40625 L310.772324,53.4960938 C310.772324,54.2086031 310.195771,54.7851562 309.483261,54.7851562 L270.703125,54.7851562 C269.990616,54.7851562 269.414062,54.2086031 269.414062,53.4960938 Z M314.53125,64.453125 L270.703125,64.453125 C269.990616,64.453125 269.414062,65.0296782 269.414062,65.7421875 L269.414062,72.8320312 C269.414062,73.5445406 269.990616,74.1210938 270.703125,74.1210938 L314.53125,74.1210938 C315.243759,74.1210938 315.820312,73.5445406 315.820312,72.8320312 L315.820312,65.7421875 C315.820312,65.0296782 315.243759,64.453125 314.53125,64.453125 Z M314.53125,83.7890625 L270.703125,83.7890625 C269.990616,83.7890625 269.414062,84.3656157 269.414062,85.078125 L269.414062,92.1679688 C269.414062,92.8804781 269.990616,93.4570312 270.703125,93.4570312 L314.53125,93.4570312 C315.243759,93.4570312 315.820312,92.8804781 315.820312,92.1679688 L315.820312,85.078125 C315.820312,84.3656157 315.243759,83.7890625 314.53125,83.7890625 Z M290.147324,103.125 L270.703125,103.125 C269.990616,103.125 269.414062,103.701553 269.414062,104.414062 L269.414062,111.503906 C269.414062,112.216416 269.990616,112.792969 270.703125,112.792969 L290.147324,112.792969 C290.859833,112.792969 291.436386,112.216416 291.436386,111.503906 L291.436386,104.414062 C291.436386,103.701553 290.857315,103.125 290.147324,103.125 Z"  fill="#DF3D9B"></path>
                  <path d="M199.96582,80.5664062 L199.96582,213.805618 C199.96582,217.363129 197.080536,220.250931 193.520508,220.250931 L9.48921187,220.250931 C3.35105912,202.974472 -1.83186799e-14,184.381256 -1.83186799e-14,165 C-1.83186799e-14,162.102127 0.0805664062,159.224395 0.226592695,156.36177 C0.0830839453,155.828018 -1.83186799e-14,155.266571 -1.83186799e-14,154.6875 L-1.83186799e-14,80.5664062 C-1.83186799e-14,77.0063779 2.8852841,74.1210938 6.4453125,74.1210938 L193.520508,74.1210938 C195.746155,74.1210938 197.707443,75.2490234 198.865585,76.9635771 C199.328842,77.6483916 199.663696,78.4288789 199.8349,79.2672729 C199.920502,79.687729 199.96582,80.1207735 199.96582,80.5664062 Z"  fill="#2ED0E1"></path>
                  <path d="M18.7719727,220.250931 L18.7719727,74.1210937 L193.520508,74.1210937 C197.080536,74.1210937 199.96582,77.0063779 199.96582,80.5664062 L199.96582,213.805618 C199.96582,217.363129 197.080536,220.250931 193.520508,220.250931 L18.7719727,220.250931 Z"  fill="#84DEEA"></path>
                  <path d="M128.90625,95.6222534 L128.90625,198.747253 C128.90625,202.307281 126.020966,205.192566 122.460938,205.192566 L19.3359375,205.192566 C15.7759091,205.192566 12.890625,202.307281 12.890625,198.747253 L12.890625,95.6222534 C12.890625,92.0647432 15.7759091,89.1769409 19.3359375,89.1769409 L122.460938,89.1769409 C126.020966,89.1769409 128.90625,92.0647432 128.90625,95.6222534 Z"  fill="#D3F1F5"></path>
                  <path d="M111.549225,180.999985 C112.052765,181.503525 112.052765,182.31926 111.549225,182.8228 L106.533966,187.835541 C106.032944,188.339081 105.214691,188.339081 104.713669,187.835541 L70.8984375,154.022827 L37.083206,187.835541 C36.5821835,188.339081 35.7639311,188.339081 35.2629093,187.835541 L30.2476505,182.8228 C29.7441104,182.31926 29.7441104,181.503525 30.2476505,180.999985 L64.0628813,147.184753 L30.2476505,113.37204 C29.7441104,112.8685 29.7441104,112.052765 30.2476505,111.549225 L35.2629093,106.533966 C35.7639311,106.032944 36.5821835,106.032944 37.083206,106.533966 L70.8984375,140.349197 L104.713669,106.533966 C105.214691,106.032944 106.032944,106.032944 106.533966,106.533966 L111.549225,111.549225 C112.052765,112.052765 112.052765,112.8685 111.549225,113.37204 L77.7339937,147.184753 L111.549225,180.999985 Z"  fill="#84DEEA"></path>
                  <path d="M151.464844,95.0683594 C151.464844,97.7371216 149.299622,99.9023438 146.630859,99.9023438 C143.962097,99.9023438 141.796875,97.7371216 141.796875,95.0683594 C141.796875,92.3995972 143.962097,90.234375 146.630859,90.234375 C149.299622,90.234375 151.464844,92.3995972 151.464844,95.0683594 Z M162.744141,90.234375 C160.075378,90.234375 157.910156,92.3995972 157.910156,95.0683594 C157.910156,97.7371216 160.075378,99.9023438 162.744141,99.9023438 C165.412903,99.9023438 167.578125,97.7371216 167.578125,95.0683594 C167.578125,92.3995972 165.412903,90.234375 162.744141,90.234375 Z M178.857422,90.234375 C176.18866,90.234375 174.023438,92.3995972 174.023438,95.0683594 C174.023438,97.7371216 176.18866,99.9023438 178.857422,99.9023438 C181.526184,99.9023438 183.691406,97.7371216 183.691406,95.0683594 C183.691406,92.3995972 181.526184,90.234375 178.857422,90.234375 Z"  fill="#0DB2CC"></path>
                  <path d="M65.0170898,283.59375 L65.0170898,150.354538 C65.0170898,146.797027 67.9023739,143.909226 71.4624023,143.909226 L258.537598,143.909226 C262.097626,143.909226 264.98291,146.797027 264.98291,150.354538 L264.98291,283.59375 C264.98291,287.153778 262.097626,290.039062 258.537598,290.039062 L71.4624023,290.039062 C67.9023739,290.039062 65.0170898,287.153778 65.0170898,283.59375 Z"  fill="#FCB30B"></path>
                  <path d="M83.7890625,290.039062 L83.7890625,143.909226 L258.537598,143.909226 C262.097626,143.909226 264.98291,146.797027 264.98291,150.354538 L264.98291,283.59375 C264.98291,287.153778 262.097626,290.039062 258.537598,290.039062 L83.7890625,290.039062 Z"  fill="#FDBF43"></path>
                  <path d="M206.25,172.734375 L206.25,165.644531 C206.25,164.932022 206.826553,164.355469 207.539062,164.355469 L246.319199,164.355469 C247.031708,164.355469 247.608261,164.932022 247.608261,165.644531 L247.608261,172.734375 C247.608261,173.446884 247.031708,174.023438 246.319199,174.023438 L207.539062,174.023438 C206.826553,174.023438 206.25,173.446884 206.25,172.734375 Z M251.367188,183.691406 L207.539062,183.691406 C206.826553,183.691406 206.25,184.267959 206.25,184.980469 L206.25,192.070312 C206.25,192.782822 206.826553,193.359375 207.539062,193.359375 L251.367188,193.359375 C252.079697,193.359375 252.65625,192.782822 252.65625,192.070312 L252.65625,184.980469 C252.65625,184.267959 252.079697,183.691406 251.367188,183.691406 Z M251.367188,203.027344 L207.539062,203.027344 C206.826553,203.027344 206.25,203.603897 206.25,204.316406 L206.25,211.40625 C206.25,212.118759 206.826553,212.695312 207.539062,212.695312 L251.367188,212.695312 C252.079697,212.695312 252.65625,212.118759 252.65625,211.40625 L252.65625,204.316406 C252.65625,203.603897 252.079697,203.027344 251.367188,203.027344 Z M226.983261,222.363281 L207.539062,222.363281 C206.826553,222.363281 206.25,222.939834 206.25,223.652344 L206.25,230.742188 C206.25,231.454697 206.826553,232.03125 207.539062,232.03125 L226.983261,232.03125 C227.695771,232.03125 228.272324,231.454697 228.272324,230.742188 L228.272324,223.652344 C228.272324,222.939834 227.693252,222.363281 226.983261,222.363281 Z"  fill="#FC9302"></path>
                  <path d="M193.359375,165.412903 L193.359375,268.537903 C193.359375,272.095413 190.474091,274.983215 186.914062,274.983215 L83.7890625,274.983215 C80.2290341,274.983215 77.34375,272.095413 77.34375,268.537903 L77.34375,165.412903 C77.34375,161.852875 80.2290341,158.96759 83.7890625,158.96759 L186.914062,158.96759 C190.474091,158.96759 193.359375,161.852875 193.359375,165.412903 Z"  fill="#FDA800"></path>
                  <path d="M87.0117188,187.971497 C87.0117188,177.291412 95.6675723,168.635559 106.347656,168.635559 C117.02774,168.635559 125.683594,177.291412 125.683594,187.971497 C125.683594,198.649063 117.02774,207.307434 106.347656,207.307434 C95.6675723,207.307434 87.0117188,198.649063 87.0117188,187.971497 Z M182.598725,210.502395 L175.015411,200.580139 C172.973557,197.908859 168.947754,197.908859 166.903381,200.580139 L136.801758,239.967041 C134.757385,242.640839 130.731582,242.640839 128.68721,239.967041 L119.006653,227.300491 C116.964798,224.626694 112.938995,224.626694 110.894623,227.300491 L88.1119536,257.107544 C85.5438994,260.468674 87.94075,265.315247 92.1679688,265.315247 L178.54271,265.315247 C181.362534,265.315247 183.648606,263.029175 183.648606,260.209351 L183.648606,213.604202 C183.648606,212.483826 183.281021,211.393662 182.598725,210.502395 Z"  fill="#FDD78D"></path>
              </g></a>
          </g>
          <g transform="translate(2833.000000, 909.000000)">
              <a href="#share"><g transform="translate(0.000000, 74.000000)" fill-rule="nonzero">
                  <path d="M330.000058,164.859009 C330.075531,256.01738 256.226349,329.947128 165.09819,330.000029 C74.5440674,330.052872 1.2588501,257.855301 0.0151062012,167.311249 C-0.281982422,145.596084 3.62800582,124.832611 10.9620663,105.768585 C11.5738676,104.182434 13.0870059,103.125 14.7864531,103.125 C20.859146,103.125 25.78125,98.202896 25.78125,92.1302031 L25.78125,77.7012638 C25.78125,76.8553165 26.0204317,76.0295108 26.481171,75.319519 C55.6814575,30.3080753 106.224289,0.422973633 163.778916,0.00503540039 C255.614548,-0.662155313 329.921951,73.0183407 330.000058,164.859009 L330.000058,164.859009 Z" fill="#C43286"></path>
                  <path d="M299.707031,233.816299 L299.707031,260.302505 C298.327332,262.248687 296.902314,264.159622 295.442047,266.042862 L172.109985,266.042862 C162.633362,266.042862 153.338013,262.782441 145.938492,256.863327 L118.49556,234.908981 L110.071335,247.827301 C102.306748,259.730987 89.1895293,266.835937 74.9796294,266.835937 L35.1672363,266.835937 C27.3976132,256.943894 20.7433321,246.135406 15.3730771,234.609375 L78.2022856,234.609375 C81.4677432,234.609375 84.5166777,232.960281 86.2992094,230.221023 L95.3302002,216.376191 L63.3831026,190.816498 C61.6685489,189.444351 59.5385742,188.699112 57.3431396,188.699112 L1.70196533,188.699112 C0.586623984,180.959702 0,173.049087 0,165 C0,162.139893 0.0730131445,159.297409 0.216522539,156.472549 L57.3431396,156.472549 C66.8197632,156.472549 76.1151123,159.732971 83.5146333,165.652085 L113.017044,189.255523 L133.211518,158.292847 L86.2362671,120.711136 C84.5217134,119.341507 82.3917387,118.59375 80.1963042,118.59375 L6.62658691,118.59375 C7.93327348,114.12735 9.42375199,109.73648 11.0879517,105.433731 C15.5316923,93.9454648 26.5768433,86.3671875 38.8934326,86.3671875 L76.9736479,86.3671875 C86.452789,86.3671875 95.7456206,89.6276094 103.145142,95.5467227 L149.793091,132.866592 L167.721634,105.375824 C175.483704,93.4721378 188.603439,86.3671875 202.813339,86.3671875 L264.655609,86.3671875 C265.979919,88.8093564 267.243805,91.2892915 268.447266,93.801956 L268.447266,118.59375 L199.590683,118.59375 C196.322708,118.59375 193.276291,120.242844 191.493759,122.979584 L172.95845,151.399384 L185.700531,161.593552 C187.415085,162.963181 189.547577,163.710937 191.740494,163.710937 L283.246308,163.710937 L283.246308,195.9375 L194.96315,195.9375 C185.451279,195.9375 176.22139,192.699737 168.794174,186.757965 L156.376877,176.825638 L136.182403,207.788315 L166.070022,231.698914 C167.777023,233.063507 169.922104,233.816299 172.109985,233.816299 L299.707031,233.816299 Z"  fill="#A72975"></path>
                  <path d="M329.060898,240.896072 L299.233704,265.451202 C297.55188,266.83342 295.019073,265.637512 295.019073,263.459702 L295.019073,255.234375 L176.621704,255.234375 C167.145081,255.234375 157.849731,251.973953 150.45021,246.05484 L67.8948213,180.008011 C66.1878203,178.643418 64.0427397,177.890625 61.8548584,177.890625 L0.498504961,177.890625 C0.168686074,173.635712 0,169.337998 0,165 C0,158.456497 0.39276123,152.008667 1.13296477,145.664062 L61.8548584,145.664062 C71.3314819,145.664062 80.6268311,148.924484 88.0263521,154.843598 L170.581741,220.890427 C172.288742,222.25502 174.433823,223.007812 176.621704,223.007812 L295.019073,223.007812 L295.019073,214.354477 C295.019073,212.174148 297.55188,210.978241 299.233704,212.362976 L329.060898,236.915588 C330.312195,237.947846 330.312195,239.866333 329.060898,240.896072 L329.060898,240.896072 Z" fill="#FC6930"></path>
                  <polygon fill="#FC5426" points="142.363357 198.314209 124.673996 225.434875 101.508637 206.902085 119.195481 179.781418"></polygon>
                  <path d="M299.795151,93.5149385 L269.970474,118.067551 C268.28865,119.452286 265.753326,118.256378 265.753326,116.07605 L265.753326,106.992188 L191.856308,106.992188 C188.575745,106.992188 185.549469,108.63121 183.759384,111.380539 L102.33696,236.225738 C94.5723726,248.129425 81.4551543,255.234375 67.2452544,255.234375 L26.8512724,255.234375 C20.2825928,245.198822 14.7763823,234.402924 10.496292,223.007813 L67.2452544,223.007813 C70.5258179,223.007813 73.5520938,221.36879 75.3421782,218.619461 L156.764602,93.7742618 C164.526672,81.8705753 177.646408,74.765625 191.856308,74.765625 L265.753326,74.765625 L265.753326,66.9708252 C265.753326,64.7904971 268.28865,63.5945894 269.970474,64.9793242 L299.795151,89.5319365 C301.048965,90.5641939 301.048965,92.4826811 299.795151,93.5149385 Z" fill="#0ED1B2"></path>
                  <polygon fill="#0AB59E" points="138.697586 121.476517 163.982849 141.701202 146.293487 168.821869 121.010742 148.594666"></polygon>
                  <path d="M314.88121,170.858689 L285.054016,195.411301 C283.372192,196.796036 280.839386,195.600128 280.839386,193.4198 L280.839386,184.335938 L199.824829,184.335938 C190.348206,184.335938 181.052856,181.075516 173.653335,175.156402 L91.0979463,109.109573 C89.3909453,107.74498 87.2458647,106.992188 85.0579834,106.992188 L10.496292,106.992188 C14.7763823,95.5970761 20.2825928,84.8011777 26.8512724,74.765625 L85.0579834,74.765625 C94.5346069,74.765625 103.829956,78.0260469 111.229477,83.9451602 L193.784866,149.991989 C195.491867,151.356582 197.636948,152.109375 199.824829,152.109375 L280.839386,152.109375 L280.839386,144.314575 C280.839386,142.136765 283.372192,140.940857 285.054016,142.323074 L314.88121,166.875686 C316.132507,167.907944 316.132507,169.826431 314.88121,170.858689 Z" fill="#FDBF43"></path>
              </g></a>
              <text font-family="Lora-Regular, Lora" font-size="48" font-weight="normal" line-spacing="64" fill="#1E1E1E">
                  <tspan x="380" y="188">Extending the reach of your</tspan>
                  <tspan x="380" y="252">data and the products of</tspan>
                  <tspan x="380" y="316">your research.</tspan>
              </text>
              <text font-family="TruenoSBd, Trueno" font-size="48" font-weight="500" line-spacing="64" fill="#1E1E1E">
                  <tspan x="380" y="390">Your knowledge for the world.</tspan>
              </text>
              <text font-family="Lora-Regular, Lora" font-size="98" font-weight="400" fill="#1E1E1E">
                  <tspan x="380" y="74">Share</tspan>
              </text>
          </g>
      </g>
  </svg>
</div>
