
<section class="hl__featured-news">
  {% if featuredNews.compHeading or featuredNews.description %}
  <header class="hl__featured-news__header">
    {% if featuredNews.compHeading %}
      {% include "@atoms/text/comp-heading.twig" with { "compHeading": featuredNews.compHeading } %}
    {% endif %}
    {% if featuredNews.description %}
      {% include "@molecules/text/rich-text.twig" with { "richText": featuredNews.description } %}
    {% endif %}
  </header>
  {% endif %}

  <div class="hl__featured-news__content">
    {% for imagePromo in featuredNews.imagePromos %}
      {% include "@molecules/teasers/image-promo.twig" %}
    {% endfor %}

    {% if featuredNews.imagePromos|length == 2 %}
      <div class="hl__featured-news__callouts">
        {% include "@molecules/forms/single-input-form.twig" with {"singleInputForm": featuredNews.singleInputForm} %}
        {% include "@molecules/text/pattern-cta.twig" with {"patternCta": featuredNews.patternCta} %}
      </div>
    {% endif %}
  </div>

  {% if featuredNews.see_more %}
  <footer class="hl__featured-news__footer">
    {% include "@atoms/buttons/button.twig" with {"button": featuredNews.see_more} %}
  </footer>
  {% endif %}
</section>
