<section class="hl__featured-promo">
  {% if featuredPromo.compHeading %}
    {% include "@atoms/text/comp-heading.twig" with { "compHeading": featuredPromo.compHeading } %}
  {% endif %}
  {% if featuredPromo.description %}
    <div class="hl__featured-promo__description">
      {% include "@molecules/text/rich-text.twig" with { "richText": featuredPromo.description } %}
    </div>
  {% endif %}

  <div class="hl__featured-promo__content">
    {% include "@molecules/teasers/image-promo.twig" with {"imagePromo": featuredPromo.imagePromo } %}
  </div>
</section>
