{% set lengthClass = "hl__featured-events__content--" ~ featuredEvents.eventTeasers|length %}
{% set alignmentClass = featuredEvents.align ? "hl__featured-events__header--" ~ featuredEvents.align : "" %}
{% set level = featuredEvents.level ? : 2 %}

<section class="hl__featured-events">
  {% if featuredEvents.compHeading or featuredEvents.description %}
  <header class="hl__featured-events__header {{ alignmentClass }}">
    {% if featuredEvents.compHeading %}
      {% set compHeading = featuredEvents.compHeading|merge({"level": level}) %}
      {% set level = level + 1 %}
      {% include "@atoms/text/comp-heading.twig" with { "compHeading": compHeading } %}
    {% endif %}
    {% if featuredEvents.description %}
      {% include "@molecules/text/rich-text.twig" with { "richText": featuredEvents.description } %}
    {% endif %}
  </header>
  {% endif %}

  <div class="hl__featured-events__content {{ lengthClass }}">
    {% for eventTeaser in featuredEvents.eventTeasers %}
      {% set eventTeaser = eventTeaser|merge({"level": level}) %}
      {% include "@molecules/teasers/event-teaser.twig" %}
    {% endfor %}
  </div>

  {% if featuredEvents.see_more %}
    <footer class="hl__featured-events__footer">
      {% include "@atoms/buttons/button.twig" with {"button": featuredEvents.see_more} %}
    </footer>
  {% elseif featuredEvents.seeAll %}
    <footer class="hl__featured-events__see-all">
      {% include "@atoms/text/link-tag.twig" with { "linkTag": featuredEvents.seeAll } %}
    </footer>
  {% endif %}

</section>
