.hl__featured-news {

  .hl__base-template__page-content > & {
    @include hl-container("wide");
  }

  .hl__full-template__page-content > & {
    @include hl-container("full");
  }

  &__header {
    margin-bottom: 40px;
    text-align: center;

    .hl__rich-text {
      @include hl-container;
    }
  }

  &__footer {
    margin-top: 40px;
    text-align: center;
  }

  &__content{
    display: grid;
    grid-gap: 20px;

    @media ($bp-large-min) {
      grid-auto-rows: 1fr;
      grid-gap: 30px;
      grid-template-columns: 2fr 3fr;
      grid-template-rows: 1fr 1fr;
    }

    .hl__image-promo {
      

      &__details {

        @media ($bp-large-min) {
          padding-left: 20px;
          padding-right: 20px;
        }

        @media ($bp-x-large-min) {
          padding: 50px;
        }
      }


      &:first-child {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        margin-bottom: 20px;

        @supports(grid-gap: 20px) {
          margin-bottom: 0;
        }

        // double height and use a bottom gradient
        @media($bp-large-min) {
          -ms-grid-column: 1;
          -ms-grid-row: 1;
          -ms-grid-row-span: 2;
          grid-column-end: 2;
          grid-column-start: 1;
          grid-row-end: span 2;
          grid-row-start: 1;
          margin-bottom: 0;
          margin-right: 30px;
          overflow: hidden;

          @supports(grid-gap: 20px) {
            grid-column-end: 2;
            grid-column-start: 1;
            grid-row-end: span 2;
            grid-row-start: 1;
            margin-right: 0;
          }

          &:before {
            background-image: none;
          }

          .hl__image-promo__details {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.3) 100%);
            max-width: 100%;

            &:before {
              background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), transparent);
              content: "";
              height: 100%;
              position: absolute;
                bottom: 100%;
                left: 0;
              width: 100%;
              z-index: 1;
            }
          }
        }
      }

      &:nth-child(2) {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
        margin-bottom: 20px;

        @media($bp-large-min) {
          -ms-grid-column: 2;
          -ms-grid-row: 1;
          margin-bottom: 30px;
        }

        @supports(grid-gap: 20px) {
          margin-bottom: 0;
        }
      }

      &:nth-child(3) {
        -ms-grid-column: 1;
        -ms-grid-row: 3;

        @media($bp-large-min) {
          -ms-grid-column: 2;
          -ms-grid-row: 2;
        }
      }
    }

    .hl__featured-news__callouts {
      -ms-grid-column: 1;
      -ms-grid-row: 3;

      @media($bp-large-min) {
        -ms-grid-column: 2;
        -ms-grid-row: 2;
      }
    }
  }

  &__callouts {

    @media ($bp-medium-min) {
      display: flex;
        justify-content: space-between;
    }

    .hl__single-input-form {
      display: flex;
        align-items: center;
      flex-basis: auto;
      flex-grow: 0;
      flex-shrink: 0;
      margin-bottom: 20px;
      width: 100%;

      @media ($bp-medium-min) {
        margin-bottom: 0;
        width: 50%;
      }
      
      @media ($bp-large-min) {
        width: 62%;
      }

      &__form {
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 1;
        width: 100%;
      }

      &__input-group {
        min-width: 0;
      }
    }

    .hl__single-input-form__form {
      padding-left: 20px;
      padding-right: 20px;

      @media ($bp-x-small-min) {
        padding-left: 30px;
        padding-right: 30px;
      }

      @media ($bp-large-min) {
        padding-left: 40px;
        padding-right: 40px;
      }

      @media ($bp-x-large-min) {
        padding-left: 60px;
        padding-right: 60px;
      }
    }

    .hl__single-input-form__input-group {
      min-width: unset;
    }

    .hl__pattern-cta {
      padding: 0;

      @media ($bp-medium-min) {
        width: calc(50% - 20px);
      }

      @media ($bp-large-min) {
        width: calc(38% - 30px);
      }
    }
  }
}

