.hl__featured-events {
  @include hl-container("full");

  &__header {
    margin-bottom: 40px;

    .hl__rich-text {
      @include hl-container;
    }
  }

  &__header--left {
    text-align: left;
  }

  &__footer {
    margin-top: 40px;
    text-align: center;
  }

  &__see-all {
    margin-top: 20px;
    text-align: right;

    @media ($bp-small-min) {
      margin-top: 30px;
    }
  }

  &__content{
    display: grid;
    grid-gap: 20px;

    @media ($bp-large-min) {
      grid-auto-rows: 1fr;
      grid-gap: 30px;
    }
  }

  &__content--1 {
    display: block;

    .hl__event-teaser {

      &:before {
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 10%, transparent 100%);
      }

      &__title {
        @media($bp-large-min) {
          font-size: 26px;
        }
      }

      &__sub-text {
        @media($bp-large-min) {
          font-size: 18px;
        }
      }
    }
  }

  &__content--2 {
    @media ($bp-large-min) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
    }

    .hl__event-teaser {

      &:first-child {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        margin-bottom: 20px;

        @supports(grid-gap: 20px) {
          margin-bottom: 0;
        }
        // double height and use a bottom gradient
        @media($bp-large-min) {
          margin-bottom: 0;
          margin-right: 30px;

          @supports(grid-gap: 20px) {
            margin-right: 0;
          }
        }
      }

      &:nth-child(2) {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
        margin-bottom: 20px;

        @media($bp-large-min) {
          -ms-grid-column: 2;
          -ms-grid-row: 1;
        }

        @supports(grid-gap: 20px) {
          margin-bottom: 0;
        }
      }
    }
  }

  &__content--3 {
    @media ($bp-large-min) {
      grid-auto-rows: 1fr;
      grid-gap: 30px;
      grid-template-columns: 2fr 3fr;
      grid-template-rows: 1fr 1fr;
    }

    .hl__event-teaser {

      &:first-child {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        margin-bottom: 20px;

        @supports(grid-gap: 20px) {
          margin-bottom: 0;
        }

        // double height and use a bottom gradient
        @media($bp-large-min) {
          -ms-grid-column: 1;
          -ms-grid-row: 1;
          -ms-grid-row-span: 2;
          grid-column-end: 2;
          grid-column-start: 1;
          grid-row-end: span 2;
          grid-row-start: 1;
          margin-bottom: 0;
          margin-right: 30px;
          overflow: hidden;

          @supports(grid-gap: 20px) {
            grid-column-end: 2;
            grid-column-start: 1;
            grid-row-end: span 2;
            grid-row-start: 1;
            margin-right: 0;
          }

          &:before {
            background-image: none;
          }

          .hl__event-teaser__details {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.3) 100%);
            max-width: 100%;

            &:before {
              background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), transparent);
              content: "";
              height: 100%;
              position: absolute;
                bottom: 100%;
                left: 0;
              width: 100%;
              z-index: 1;
            }
          }
        }
      }

      &:nth-child(2) {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
        margin-bottom: 20px;

        @media($bp-large-min) {
          -ms-grid-column: 2;
          -ms-grid-row: 1;
          margin-bottom: 30px;
          min-height: 300px;
        }

        @supports(grid-gap: 20px) {
          margin-bottom: 0;
        }
      }

      &:nth-child(3) {
        -ms-grid-column: 1;
        -ms-grid-row: 3;

        @media($bp-large-min) {
          -ms-grid-column: 2;
          -ms-grid-row: 2;
          min-height: 300px;
        }
      }
    }

  }

}
