.hl__illustrated-content {
  background: $c-white url('../../assets/images/dots.png') top center repeat;
  display: flex;
    align-items: center;
  padding-bottom: 40px;
  padding-top: 40px;
  position: relative;

  // for vertical centering.
  &:after {
    display: block;
    content: "";
    height: 440px;
    margin-left: -1px;
    width: 1px;
  }

  &--light {
    background-color: $c-bg-subtle;
    background-image: none;
  }

  &--dark {
    background-color: $c-bg-dark;
    background-image: none;
  }

  .hl__full-template__page-content > & {
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__bg,
  &__overlay {
    height: 100%;
    position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    width: 100%;
    z-index: 1;
  }

  &__bg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &__bg--narrow {

    @media ($bp-medium-min) {
      display: none;
    }
  }

  &__bg--wide {

    @media ($bp-medium-max) {
      display: none;
    }
  }

  &--light &__bg,
  &--dark &__bg {
    filter: grayscale(100%);
  }

  &__overlay {
    background-color: rgba($c-theme-base, 0.4);
    z-index: 2;
  }

  &--light &__overlay {
    background-color: rgba($c-bg-subtle, 0.9);
  }

  &--dark &__overlay {
    background-color: rgba($c-bg-dark, 0.75);
  }

  &__container {
    position: relative;
    z-index: 3; // 1 = image, 2 = overlay color, 3 = text

    .hl__full-template__page-content & {
      @include hl-container("full");
    }

    .hl__base-template__page-content & {
      @include hl-container("medium");
    }
  }

  &:not(&--light) &__overlay + &__container *,
  &--dark &__container * {
    color: $c-font-inverse; //overriding all elements  
  }

  &__title {

    .hl__comp-heading {
      text-align: left;

      @media($bp-small-min) {
        text-align: center;
      }
    }
  }
  
  &__description {

    .hl__rich-text {
      margin-left: auto;
      margin-right: auto;
      text-align: left;

      @media($bp-small-min) {
        text-align: center;
      }
    }
  }

  &__cta {
    margin-top: 30px;
    text-align: left;

    @media($bp-small-min) {
      text-align: center;
    }
  }
}
