{% set themeClass = illustratedContent.theme ? "hl__illustrated-content--" ~ illustratedContent.theme : "" %}

<section class="hl__illustrated-content {{ themeClass }}">
  {% if illustratedContent.bgNarrow and illustratedContent.bgWide %}
    <div class="hl__illustrated-content__bg hl__illustrated-content__bg--narrow" style="background-image: url('{{ illustratedContent.bgNarrow }}')"></div>
    <div class="hl__illustrated-content__bg hl__illustrated-content__bg--wide" style="background-image: url('{{ illustratedContent.bgWide }}')"></div>
    <div class="hl__illustrated-content__overlay"></div>
  {% endif %}

  <div class="hl__illustrated-content__container">
    {% if illustratedContent.compHeading %}
      <div class="hl__illustrated-content__title">
        {% include "@atoms/text/comp-heading.twig" with { "compHeading": illustratedContent.compHeading } %}
      </div>
    {% endif %}
    <div class="hl__illustrated-content__description">
      {% include "@molecules/text/rich-text.twig" with { "richText": illustratedContent.description} %}
    </div>
    {% if illustratedContent.cta %}
      <div class="hl__illustrated-content__cta">
        {% include "@atoms/buttons/button.twig" with { "button": illustratedContent.cta} %}
      </div>
    {% endif %}
  </div>
</section>
