.hl__image-block {
  background: $c-white url('../../assets/images/dots.png') top center repeat;
  display: flex;
    align-items: center;
  padding-bottom: 40px;
  padding-top: 40px;
  position: relative;

  // for vertical centering.
  &:after {
    display: block;
    content: "";
    height: 440px;
    margin-left: -1px;
    width: 1px;
  }

  .hl__full-template__page-content > & {
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__bg,
  &__overlay
  {
    height: 100%;
    position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    width: 100%;
    z-index: 1;
  }

  &__bg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &__bg--narrow {

    @media ($bp-medium-min) {
      display: none;
    }
  }

  &__bg--wide {

    @media ($bp-medium-max) {
      display: none;
    }
  }
}
