.hl__image-composite {

  .hl__base-template__page-content > & {
    @include hl-container("wide");
  }

  .hl__full-template__page-content > & {
    @include hl-container("full");
  }

  &__description {
    margin-bottom: 40px;

    @media($bp-large-min) {
      margin-bottom: 60px;
    }
  }

  &__content{
    display: grid;
    grid-gap: 20px;

    @media ($bp-large-min) {
      grid-auto-rows: 1fr;
      grid-gap: 30px;
      grid-template-columns: 2fr 3fr;
      grid-template-rows: 285px 285px;
    }

    .hl__overlay-image {
      &:first-child {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        margin-bottom: 20px;

        @supports(grid-gap: 20px) {
          margin-bottom: 0;
        }

        // double height and use a bottom gradient
        @media($bp-large-min) {
          -ms-grid-column: 1;
          -ms-grid-row: 1;
          -ms-grid-row-span: 2;
          grid-column-end: 2;
          grid-column-start: 1;
          grid-row-end: span 2;
          grid-row-start: 1;
          margin-bottom: 0;
          margin-right: 30px;
          overflow: hidden;

          @supports(grid-gap: 20px) {
            grid-column-end: 2;
            grid-column-start: 1;
            grid-row-end: span 2;
            grid-row-start: 1;
            margin-right: 0;
          }

          &:before {
            background-image: none;
          }
        }
      }

      &:nth-child(2) {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
        margin-bottom: 20px;

        @media($bp-large-min) {
          -ms-grid-column: 2;
          -ms-grid-row: 1;
          margin-bottom: 30px;
        }

        @supports(grid-gap: 20px) {
          margin-bottom: 0;
        }
      }

      &:nth-child(3) {
        -ms-grid-column: 1;
        -ms-grid-row: 3;

        @media($bp-large-min) {
          -ms-grid-column: 2;
          -ms-grid-row: 2;
        }
      }
    }
  }

  &__content--2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    @media($bp-large-max){
      grid-template-columns: 1fr;
    }

    .hl__overlay-image {
      &:first-child {
        @media($bp-large-min){
          -ms-grid-row-span: 1;
          grid-column-end: 1;
          grid-row-end: span 1;

          @supports(grid-gap: 20px) {
            grid-column-end: 1;
            grid-row-end: span 1;
          }
        }
      }
    }
  }

  &__content--1 {
    grid-template-columns: 1fr;

    .hl__overlay-image {
      &:last-child {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
        margin-bottom: 20px;

        @media($bp-large-min) {
          -ms-grid-column: 2;
          -ms-grid-row: 1;
          margin-bottom: 30px;
        }

        @supports(grid-gap: 20px) {
          margin-bottom: 0;
        }
      }
    }
  }
}
