{% set level = imageComposite.level ? : 2 %}

{% set numOfImages = imageComposite.overlayImages ? "hl__image-composite__content--" ~ imageComposite.overlayImages|length : "" %}

<section class="hl__image-composite">
  {% if imageComposite.compHeading %}
    {% set compHeading = imageComposite.compHeading|merge({"level": level}) %}
    {% include "@atoms/text/comp-heading.twig" with { "compHeading": compHeading } %}
    {% set level = level + 1 %}
  {% endif %}

  {% if imageComposite.description %}
    <div class="hl__image-composite__description">
      {% include "@molecules/text/rich-text.twig" with { "richText": imageComposite.description } %}
    </div>
  {% endif %}

  <div class="hl__image-composite__content {{ numOfImages }}">
    {% for overlayImage in imageComposite.overlayImages %}
      {% include "@molecules/teasers/overlay-image.twig" %}
    {% endfor %}
  </div>

</section>
