<section class="hl__image-block">
  {% if imageBlock.narrow and imageBlock.wide %}
    <div class="hl__image-block__bg hl__image-block__bg--narrow" style="background-image: url('{{ imageBlock.narrow }}')"></div>
    <div class="hl__image-block__bg hl__image-block__bg--wide" style="background-image: url('{{ imageBlock.wide }}')"></div>
  {% endif %}
</section>
