.hl__library-info {
  background: $c-bg-subtle;

  @media($bp-medium-min) {
    background:$c-bg-subtle url("../../assets/images/hp-background-subtle.svg") center -150px no-repeat;
  }

  &__container {
    @include hl-container("full");
    padding-bottom: 40px;

    @media($bp-medium-min) {
      display: grid;
      grid-gap: 0 65px;
      grid-template-columns: auto auto;
      grid-template-rows: minmax(50px, auto) auto;
      grid-template-areas:
        "hours hours"
        "highlights highlights"
        "cta contact";
    }

    @media($bp-large-min) {
      display: grid;
      grid-gap: 0 65px;
      grid-template-columns: auto 300px;
      grid-template-rows: minmax(50px, auto) auto auto;
      grid-template-areas:
        "hours hours"
        "highlights cta"
        "contact .";
    }

    @media($bp-x-large-min) {
      display: grid;
      grid-template-columns: auto 300px 290px;
      grid-template-rows: minmax(50px, auto) auto;
      grid-template-areas:
        "hours hours hours"
        "highlights cta contact";
    }

    &--no-cta {
      @media($bp-medium-min) {
        grid-template-columns: auto 290px;
        grid-template-areas:
          "hours hours"
          "highlights contact";
      }
    }
  }

  .hl__comp-heading {
    font-size: 16px;
    margin-bottom: 10px;

    @media($bp-medium-min) {
      font-size: 20px;
    }
  }

  &__hours {
    grid-area: hours;
    justify-self: center;
    text-align: center;
  }

  &__sidebar {
    grid-area: contact;

    &:after {
      @media($bp-medium-min) {
        background-color: $c-bd-divider;
        content: "";
        height: calc(100% - 35px);
        position: absolute;
          left: 0;
          top: 35px;
        width: 1px;
      }

      @media($bp-x-large-min) {
        height: calc(100% - 70px);
      }
    }

    .js-accordion-content {
      display:none;
    }
  }

  &__contact {
    padding-bottom: 28px;
    padding-top:40px;
  }

  &__links {
    background-image: linear-gradient(to right, $c-bd-subtle 40%, rgba(255, 255, 255, 0) 20%);
    background-position: top;
    background-size: 4px 1px;
    background-repeat: repeat-x;
    padding-bottom: 28px;
    padding-top: 28px;

    @media($bp-medium-min) {
      padding-bottom: 36px;
      padding-top: 30px;
    }
  }

  &__links-buttons {
    margin-top: 18px;
  }

  &__connect {
    background-image: linear-gradient(to right, $c-bd-subtle 40%, rgba(255, 255, 255, 0) 20%);
    background-position: top;
    background-size: 4px 1px;
    background-repeat: repeat-x;
    padding-bottom: 28px;
    padding-top: 28px;
  }

  &__more-info {
    margin-top: -15px;

    .hl__link-tag--with-arrow > span {
      padding-right: calc(1em - 0.08px);
    }
  }

  &__summary {
    grid-area: highlights;
    padding-top:40px;
  }

  &__highlights {
    .hl__rich-text {
      ul {
        font-style: italic;
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;

        @media($bp-small-max) {
          display: block;
        }
      }

      li {
        flex-basis: 50%;
        line-height: 1.68421em;

        &:nth-child(2n+1) {
          padding-right: 35px;
        }

        @media($bp-small-max) {
          padding-right: 0;
        }
      }

      p {
        font-style: italic;
        color: $c-font-dark;
        margin-bottom: 0;
      }

      & > :last-child {
        margin-bottom:30px;
      }
    }
  }

  &__access {
    padding-top:30px;
    font-family: $f-trueno;
    color: $c-font-subtle;
    border-top: 1px solid $c-bd-divider;

    .hl__rich-text p {
      margin-bottom: 0;
    }

    .hl__rich-text li {
      margin-bottom: .5em;
    }
  }

  &__cta {
    grid-area: cta;
    padding-top:40px;

    @media($bp-large-min) {
      padding-top: 80px;
    }

    svg use {
      fill: $c-theme-ink;
    }

    &--newsletter {
      svg {
        width: 20px;
        height: 16px;
      }
    }

    &--spaces {
      svg {
        width: 22px;
        height: auto;
      }
    }

    .hl__pattern-cta {
      padding: 0;

      &__container {
        background: $c-bg-subtle url("../../assets/images/dots.png") top center repeat;
      }

      &__title {
        padding-left:20px;
        padding-right: 20px;
      }

      &__description {
        padding-left: 55px;
        padding-right: 55px;
      }
    }
  }

}
