{% set ctaCheck = libraryInfo.cta ? "" : "hl__library-info__container--no-cta" %}
{% set ctaType = libraryInfo.cta ? "hl__library-info__cta--" ~ libraryInfo.cta : "" %}

<section class="hl__library-info">
  <div class="hl__library-info__container {{ ctaCheck }}">
    <div class="hl__library-info__hours">
      {% include "@molecules/general/library-hours.twig" with { "libraryHours": libraryInfo.hours } %}
    </div>
    <div class="hl__library-info__summary">
      {% include "@atoms/text/comp-heading.twig" with { "compHeading": libraryInfo.compHeading } %}
      <div class="hl__library-info__highlights">
        {% include "@molecules/text/rich-text.twig" with { "richText": libraryInfo.highlights } %}
      </div>
      <div class="hl__library-info__access">
        {% include "@molecules/text/rich-text.twig" with { "richText": libraryInfo.access } %}
      </div>
    </div>
    {% if libraryInfo.cta %}
      <div class="hl__library-info__cta {{ ctaType }}">
        {% include "@molecules/text/pattern-cta.twig" with { "patternCta": libraryInfo.patternCta } %}
      </div>
    {% endif %}
    <div class="hl__library-info__sidebar js-accordion">
      <div class="hl__library-info__contact">
        {% include "@molecules/text/contact-info.twig" with { "contactInfo": libraryInfo.address } %}
        {% include "@molecules/text/contact-info.twig" with { "contactInfo": libraryInfo.contact } %}
      </div>
      <div class="js-accordion-content">
        <div class="hl__library-info__links">
          {% include "@molecules/text/contact-info.twig" with { "contactInfo": libraryInfo.links } %}

          <div class="hl__library-info__links-buttons">
            {% include "@atoms/buttons/button.twig" with { "button": libraryInfo.staffDirectoryLink } %}
          </div>
        </div>

        {% if libraryInfo.connect %}
          <div class="hl__library-info__connect">
            {% include "@molecules/lists/icon-list.twig" with { "iconList": libraryInfo.connect } %}
          </div>
        {% endif %}
      </div>
      <div class="hl__library-info__more-info">
          {% include "@atoms/text/link-tag.twig" with { "linkTag":libraryInfo.moreInfo } %}
      </div>
    </div>
  </div>
</section>
