.hl__library-snippet {
  border: 1px solid $c-bd-divider;

  &__images {
    display: flex;
      flex-wrap: wrap;
    margin: -1px -1px 30px;
    width: calc(100% + 2px);

    .hl__linked-image {
      flex-basis: 250px;
      flex-grow: 1;
      flex-shrink: 1;
      width: 50%;

      img {
        // width: 100%;
      }
    }
  }

  &__header {
    padding: 0 45px;

    .hl__sub-text {
      font-size: 18px;
      line-height: 26px;
    }
  }

  &__title {
    color: $c-font-dark;
    margin-bottom: 0;

    a {
      color: inherit;
      font-size: 26px;
      line-height: 32px;

      &:hover {
        border-color: rgba($c-font-dark, 0.5);
      }
    }
  }

  &__details {
    display: flex;
      flex-wrap: wrap;
    padding: 30px 20px;

    @media ($bp-small-min) {
      padding: 30px 45px;
    }

    .hl__tabular-list th {
      font-size: 13px;
    }

    .hl__tabular-list td.hl__rich-text {
      font-size: 14px;
      padding-bottom: 10px;
    }
  }

  &__all-hours {
    background-image: linear-gradient(90deg, $c-bd-subtle 40%, rgba(255, 255, 255, 0) 20%), linear-gradient(90deg, $c-bd-subtle 40%, rgba(255, 255, 255, 0) 20%);
    background-position: top;
    background-repeat: repeat-x;
    background-size: 4px 1px;
    margin-top: 12px;
    padding-top: 12px;

    a {
      font-size: 13px;
      letter-spacing: normal;
      line-height: 24px;
      text-transform: unset;
    }
  }

  .hl__illustrated-list .hl__comp-heading,
  &__hours-title {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2.14px;
    margin-bottom: 10px;
  }

  &__column {
    flex: auto;
    width: 100%;

    @media ($bp-small-max) {
      &:last-child {
        padding-top: 30px;
      }
    }

    @media ($bp-small-min) {
      width: 50%;

      &:first-child {
        border-right: 1px solid $c-bd-divider;
        padding-right: 40px;
      }

      &:last-child {
        padding-left: 40px;
      }
    }
  }
}
