<div class="hl__library-snippet">
  <div class="hl__library-snippet__images">
    {% include "@molecules/media/linked-image.twig" with { "linkedImage": librarySnippet.libraryImage } %}
    {% include "@molecules/media/linked-image.twig" with { "linkedImage": librarySnippet.mapImage } %}
  </div>
  <div class="hl__library-snippet__header">
    <h3 class="hl__library-snippet__title">
      {% include "@atoms/text/link-tag.twig" with { "linkTag": librarySnippet.title } %}
    </h3>
    {% if librarySnippet.subtitle %}
      {% include "@atoms/text/sub-text.twig" with { "subText": librarySnippet.subtitle } %}
    {% endif %}
  </div>
  <div class="hl__library-snippet__details">
    <div class="hl__library-snippet__column">
      <h4 class="hl__library-snippet__hours-title hl__comp-heading">{{ librarySnippet.hoursTitle }}</h4>
      {% include "@molecules/lists/tabular-list.twig" with { "tabularList": librarySnippet.hours } %}
      <div class="hl__library-snippet__all-hours">
        {% include "@atoms/text/link-tag.twig" with { "linkTag": librarySnippet.allHours } %}
      </div>
    </div>
    <div class="hl__library-snippet__column">
      {% include "@molecules/lists/illustrated-list.twig" with { "illustratedList": librarySnippet.features } %}
    </div>
  </div>
</div>
