.hl__search-results {

  &__details {
    border-bottom: 2px solid $c-bd-divider;
    color: $c-font-subtle;
    font-family: $f-trueno;
    font-size: 15px;
    line-height: 25px;
    padding: 10px 0;
  }

  &__num-showing,
  &__total-num,
  &__keyword {
    color: $c-font-dark;
    font-weight: 600;
  }

  &__items {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    padding: 20px 0;

    // @media ($bp-small-min) {
    //   padding: 25px 0;
    // }

    @media ($bp-large-min) {
      padding: 25px 0;
    }
  }

  &__item + &__item {
    border-top: 1px solid $c-bd-divider;
  }

  &__pagination {
    border-top: 2px solid $c-bd-divider;
    padding-top: 10px;
  }
}
