<section class="hl__search-results">
  <div class="hl__search-results__details">
    Showing <span class="hl__search-results__num-showing">{{ searchResults.numShowing }}</span> of <span class="hl__search-results__total-num">{{ searchResults.totalNum }}</span> results for <span class="hl__search-results__keyword">"{{ searchResults.keyword }}, {{ searchResults.totalNum }}"</span>
  </div>
  <ul class="hl__search-results__items">
    {% for typePromo in searchResults.items %}
      <li class="hl__search-results__item">
        {% include "@molecules/teasers/type-promo.twig" with { "typePromo": typePromo } %}
      </li>
    {% endfor %}
  </ul>
  <div class="hl__search-results__pagination">
    {% include "@molecules/navigation/pagination.twig" %}
  </div>
</section>
