.hl__show-more-text {
  @include hl-container("full");

  &__content {
    height: 400px;
    overflow: hidden;
    position: relative;
    transition: height 0.75s ease;

    &:after {
      background-image: linear-gradient(180deg, transparent, $c-white 90%);
      content: "";
      height: 0;
      position: absolute;
        bottom: 0;
        left: 0;
      transition: height 0.75s ease;
      width: 100%;
    }

    .hl__image--left,
    .hl__figure--left,
    .hl__quote--left {
      margin-left: 0;
    }
  }

  &.is-active &__content {

    &:after {
      height: 150px;
    }
  }

  &.is-open &__content:after {
    height: 0;
  }

  &__controls {
    display: none;
    text-align: left;
  }

  &.is-active &__controls {
    display: block;
  }

  &--break {
    .hl__show-more-text__content {
      height:auto;
      overflow:visible;
      padding-bottom:20px;
    }
    .hl__show-more-text__controls {
      display:block;
    }
    .hl__rich-text.js-show-more-text-content {
      display:none;
    }
  }
}
