<section class="hl__show-more-text js-show-more-text">
  {% if showMoreText.compHeading %}
    {% include "@atoms/text/comp-heading.twig" with { "compHeading": showMoreText.compHeading } %}
  {% endif %}
  <div class="hl__show-more-text__content js-show-more-text-content">
    {% include "@molecules/text/rich-text.twig" with { "richText": showMoreText.content } %}
  </div>
  <div class="hl__show-more-text__controls" aria-hidden="true">
    {% include "@atoms/text/link-tag.twig" with { "linkTag": showMoreText.controls } %}
  </div>
</section>
