.hl__spaces-results {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

  &__header {
    border-bottom: 1px solid $c-bd-divider;
    display: flex;
    flex: none;
      justify-content: space-between;
      align-items: center;
    height: 60px;
    padding: 0 25px;
    visibility: visible;

    @media($bp-small-min) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &[aria-hidden=true] {
      transition: visibility 0.5s ease;
      visibility: hidden;
    }
  }

  &__count {
    color: $c-font-subtle;
    font-family: $f-trueno;
    font-size: 15px;
    line-height: 25px;

    span {
      color: $c-font-dark;
      font-weight: 700;
    }
  }

  &__load-more {
    font-size: 0; // removing whitespace
  }

  &__items {
    overflow: auto;
    position: relative; // for smooth scrolling
    visibility: visible;

    &[aria-hidden=true] {
      transition: visibility 0.5s ease;
      visibility: hidden;
    }
  }

  &__detail {
    background-color: $c-white;
    height: 100%;
    position: absolute;
      left: 0;
      right: 0;
      top: 100%;
    transition: top 0.7s ease, visibility 0.7s ease;
    visibility: hidden;
    width: 100%;

    &[aria-hidden=false] {
      top: 0;
      visibility: visible;
    }

    & > header {
      height: 45px;
      text-align: right;

      @media($bp-small-min) {
        height: 70px;
      }
    }
  }

  &__close-detail {
    @include hl-button-reset;
    color: $c-font-link;
    font-family: $f-trueno;
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    letter-spacing: 2px;
    line-height: 14px;
    overflow: hidden;
    padding: 0 15px;
    text-transform: uppercase;

    @media($bp-small-min) {
      height: 60px;
    }

    &:after {
      content: "+";
      display: inline-block;
      font-size: 36px;
      line-height: 1;
      margin-left: 2px;
      opacity: 0.6;
      position: relative;
        top: 7px;
      transform: rotate(45deg);
    }
  }

  &__no-results {
    padding: 25px;
  }
}
