{% set imageClass = staffPick.image ? "hl__staff-pick--image" : "" %}

<section class="hl__staff-pick {{ imageClass }}">
  <div class="hl__staff-pick__container">
    <div class="hl__staff-pick__title">
      {% include "@atoms/text/comp-heading.twig" with {"compHeading": staffPick.title } %}
    </div>
    {% if staffPick.image %}
      {% spaceless %}
        <div class="hl__staff-pick__image-wrapper">
          <div class="hl__staff-pick__image-top">
            {% include "@atoms/media/image.twig" with { "image": staffPick.image } %}
            <div class="hl__staff-pick__overlay">
              <a href="{{ staffPick.imageLink.href }}">{{ staffPick.imageLink.text }}</a>
            </div>
          </div>
        </div>
      {% endspaceless %}
    {% endif %}
    <div class="hl__staff-pick__content">
      <div class="hl__staff-pick__quote">
        {% include "@molecules/text/quote.twig" with { "quote": staffPick.quote } %}
      </div>
      <div class="hl__staff-pick__author">
        {% include "@molecules/text/user-link.twig" with { "userLink": staffPick.author } %}
      </div>
    </div>
    {% if staffPick.image %}
      {% spaceless %}
        <div class="hl__staff-pick__image">
          {% include "@atoms/media/image.twig" with { "image": staffPick.image } %}
          <div class="hl__staff-pick__overlay">
            <a href="{{ staffPick.imageLink.href }}">{{ staffPick.imageLink.text }}</a>
          </div>
        </div>
      {% endspaceless %}
    {% endif %}
  </div>
</section>
