.hl__staff-pick {
  background-image: linear-gradient(-46deg, $c-theme-primary 0%, $c-theme-tertiary 100%);

  &__container {
    @include hl-container("full");
    padding-bottom: 45px;
    padding-top: 45px;

    @media($bp-small-min) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &--image &__content {
    flex-basis: auto;

    @media($bp-small-min) {
      width: 70%;
    }

    @media($bp-large-min){
      width: calc(100% - 330px);
    }
  }

  &__title {
    border-bottom: 5px solid $c-theme-tertiary;
    width: 100%;

    .hl__comp-heading {
      color: $c-font-inverse;
    }
  }

  &__image-wrapper {
    text-align: center;
  }

  &__image-top {
    display: inline-block;
    font-size: 0;
    margin-top: 20px;
    position: relative;

    @media($bp-small-min) {
      display: none;
    }
  }

  &__quote {

    @media($bp-small-min) {
      padding-right: 30px;
    }

    @media($bp-medium-min) {
      padding-right: 60px;
    }

    @media($bp-large-min) {
      padding-right: 100px;
    }

    .hl__quote {
      margin-top: 0;

      &__message {
        border: 0;
        padding-left: 0;
      }

      &__text {
        color: $c-font-inverse;        
      }

      &__icon {

        svg {
          fill: $c-theme-tertiary;
        }
      }
    }
  }

  &__author {
    display: flex;
    justify-content: flex-end;

    .hl__user-link {
      color: $c-font-inverse;
      padding-right: 15px;
      position: relative;
      z-index: 1;

      @media($bp-small-min) {
        padding-right: 25px;
      }

      @media($bp-medium-min) {
        padding-right: 50px;
      }

      @media($bp-large-min) {
        padding-right: 75px;
      }

      &:before {
        border-top: 1px solid $c-theme-tertiary;
        content: "";
        display: block;
        position: absolute;
          right: 0;
          top: 24px;
        width: calc(100% - 10px);
        z-index: -1;
      }
    }
  }

  &__image {
    display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    flex: none;
    font-size: 0;
    position: relative;

    @media($bp-small-max) {
      display: none;
    }

    @media($bp-small-min) {
      margin-top: -80px;
      width: 30%;
    }

    @media($bp-large-min) {
      margin-top: -165px;
      width: 330px;
    }
  }

  &__overlay {
    background-color: rgba($c-theme-base, 0.7);
    font-family: $f-trueno;
    max-width: 100%;
    padding: 20px;
    position: absolute;
      bottom: 0;
      right: 0;

    @media($bp-large-min) {
      max-width: 60%;
    }

    a {
      color: $c-font-inverse;
      font-size: 13px;
      line-height: 18px;
      opacity: 0.8;
      text-decoration: underline;
    }
  }
}
