<section class="hl__topic-info">
  <div class="hl__topic-info__item">
    {% include "@atoms/text/comp-heading.twig" with { "compHeading": topicInfo.help.compHeading} %}
    {% include "@molecules/text/rich-text.twig" with { "richText": topicInfo.help.richText} %}
    {% include "@molecules/CTAs/user-bio.twig" with { "userBio": topicInfo.help.userBio} %}
  </div>
  <div class="hl__topic-info__item">
    {% include "@atoms/text/comp-heading.twig" with { "compHeading": topicInfo.library.compHeading} %}
    <div class="hl__topic-info__library">
      <span class="hl__topic-info__library-name">{{ topicInfo.library.libraryInfo.name }}</span>
      <span class="hl__topic-info__library-subtitle">{{ topicInfo.library.libraryInfo.title }}</span>
    </div>
    {% include "@atoms/text/highlighted-text.twig" with { "highlightedText": topicInfo.library.highlightedText} %}
    {% include "@molecules/lists/tabular-list.twig" with { "tabularList": topicInfo.library.tabularList} %}
  </div>
  <div class="hl__topic-info__item">
    {% include "@atoms/text/comp-heading.twig" with { "compHeading": topicInfo.callout.compHeading} %}
    {% include "@molecules/text/rich-text.twig" with { "richText": topicInfo.callout.richText} %}
    {% include "@atoms/buttons/button.twig" with { "button": topicInfo.callout.button} %}
  </div>
</section>
