$molecule-bottom-margin: 24px;

.hl__topic-info {
  @include hl-container("full");
  justify-content: space-between;
  padding-top: 20px;

  @media($bp-small-min) {
    display: flex;
    flex-wrap: wrap;
  }

  @media($bp-large-min) {
    flex-wrap: nowrap;
  }

  .hl__highlighted-text {
    font-size: 14px;
    margin-bottom: $molecule-bottom-margin;
  }

  .hl__user-bio__image img {
    border-radius: 50%;
  }

  .hl__rich-text {
    margin-bottom: $molecule-bottom-margin;
  }

  &__item {
    margin-bottom: 50px;
    padding-bottom: 30px;
    position: relative;
    width: 100%;

    @media($bp-small-min) {
      margin-bottom: 0;
      padding-bottom: 0;
      width: calc((100% - 110px) / 2);
    }

    @media($bp-large-min) {
      width: calc((100% - 220px) / 3);
    }

    &:after {
      background-color: #c0c0c0;
      content: "";
      height: 1px;
      position: absolute;
        right: 0;
        top: 100%;
      width: 100%;

      @media($bp-small-min) {
        height: 100%;
          right: -55px;
          top: 0;
        width: 1px;
      }
    }

    /* Move middle column down and have it take up full space on mobile, move it back for desktop */
    &:nth-child(2) {
      @media($bp-small-min) {
        order: 3;
        margin-top: 30px;
        padding-top: 50px;
        width: 100%;

        &:after {
          height: 1px;
            right: 0;
            top: 0;
          width: 100%;
        }
      }
      @media($bp-large-min) {
        order: 0;
        margin-top: 0;
        padding-top: 0;
        width: calc((100% - 220px) / 3);

        &:after {
            height: 100%;
              right: -55px;
              top: 0;
            width: 1px;
        }
      }
    }

    &:last-child:after {
      display: none;
    }
  }


  &__library {
    background-image: linear-gradient(to right, $c-bd-subtle 40%, rgba(255, 255, 255, 0) 20%);
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 4px 1px;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }


  &__library-name {
    color: $c-font-dark;
    display: block;
    font-family: $f-trueno;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.23;
  }

  &__library-subtitle {
    font-family: $f-lora;
    font-size: 18px;
    font-style: italic;
    line-height: 1.44;
  }
}
