<section class="hl__user-cards">
  {% if userCards.compHeading %}
    {% include "@atoms/text/comp-heading.twig" with { "compHeading": userCards.compHeading } %}
  {% endif %}
  {% if userCards.description %}
    {% include "@molecules/text/rich-text.twig" with { "richText": userCards.description } %}
  {% endif %}
  <div class="hl__user-cards__items">
    {% for userBio in userCards.users %}
      {% include "@molecules/CTAs/user-bio.twig" with { "userBio": userBio } %}
    {% endfor %}
  </div>
  {% if userCards.seeAll %}
    <div class="hl__user-cards__see-all">
      {% include "@atoms/text/link-tag.twig" with { "linkTag": userCards.seeAll } %}
    </div>
  {% endif %}
</section>
