.hl__user-cards {

  & > .hl__comp-heading {
    margin: 0;
  }

  & > .hl__rich-text {
    font-size: 15px;
    margin-top: 20px;
  }

  &__items {
    margin-top: 20px;
  }

  &__see-all {
    margin-top: 20px;
  }
}
