<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11" height="11" viewBox="0 0 11 11"><g><g opacity=".6" transform="translate(-296 -90)"><path fill="#fff" d="M301 95.5l4.86 5.5 1.14-1.3-3.7-4.2 3.7-4.2-1.14-1.3zm-5 0l4.86 5.5 1.14-1.3-3.7-4.2 3.7-4.2-1.14-1.3z"/></g></g></svg>
