<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14" height="14" viewBox="0 0 14 14"><defs><path id="pqyea" d="M1005 1472v-1.22c0-2.44 4.67-3.78 7-3.78s7 1.34 7 3.78v1.22zm10-10.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/></defs><g><g opacity=".6" transform="translate(-1005 -1458)"><use fill="#fff" xlink:href="#pqyea"/></g></g></svg>
