
<svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Search-Results-2.2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Search-2.2---Search-Results,-HOLLIS-CTA,-Staff-Snippet" transform="translate(-175.000000, -389.000000)">
            <g id="library-snippet" transform="translate(145.000000, 314.000000)">
                <g id="service" transform="translate(30.000000, 75.000000)">
                    <circle id="container" fill="#EB001B" cx="15" cy="15" r="15"></circle>
                    <g id="staff-directory---harvard-library" transform="translate(5.000000, 9.000000)" fill="#FFFFFF" fill-rule="nonzero">
                        <path d="M14.8750215,9.74648649 L14.8750215,13 L4.93450232,13 L4.93450232,9.74648649 C4.93450232,8.14362162 7.15145264,6.95675676 9.9047619,6.95675676 C12.6580712,6.95675676 14.8750215,8.14362162 14.8750215,9.74648649 Z M15.3319993,5.34054054 C17.8128382,5.34054054 19.8095238,6.46486486 19.8095238,7.89486486 L19.8095238,10.6810811 L15.5672821,10.6810811 L15.5672821,9.75210811 C15.5672821,8.63691892 14.7963555,7.72059459 13.7629706,7.14718919 C13.1572426,6.81059459 12.4399519,6.57308108 11.6568678,6.42902703 C12.4635517,5.76708108 13.8037339,5.34054054 15.3319993,5.34054054 Z M4.4775245,5.34054054 C6.00578993,5.34054054 7.34597215,5.76708108 8.15265601,6.42902703 C7.36957194,6.57308108 6.65228124,6.81059459 6.04655321,7.14718919 C5.0131683,7.72059459 4.24224171,8.63691892 4.24224171,9.75210811 L4.24224171,10.6810811 L0,10.6810811 L0,7.89486486 C0,6.46486486 1.99668558,5.34054054 4.4775245,5.34054054 Z M12.3004985,2.81081081 C12.3004985,4.09151437 11.2438998,5.12972973 9.94051917,5.12972973 C8.63713855,5.12972973 7.5805398,4.09151437 7.5805398,2.81081081 C7.5805398,1.53010726 8.63713855,0.491891892 9.94051917,0.491891892 C11.2438998,0.491891892 12.3004985,1.53010726 12.3004985,2.81081081 Z M17.4495444,1.86216216 C17.4495444,2.89060593 16.6010636,3.72432432 15.5544095,3.72432432 C14.5077554,3.72432432 13.6592745,2.89060593 13.6592745,1.86216216 C13.6592745,0.833718398 14.5077554,0 15.5544095,0 C16.6010636,0 17.4495444,0.833718398 17.4495444,1.86216216 Z M6.15024927,1.86216216 C6.15024927,2.89060593 5.30176845,3.72432432 4.25511432,3.72432432 C3.20846019,3.72432432 2.35997937,2.89060593 2.35997937,1.86216216 C2.35997937,0.833718398 3.20846019,0 4.25511432,0 C5.30176845,0 6.15024927,0.833718398 6.15024927,1.86216216 Z" id="Shape"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
