<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
  <g fill="none" fill-rule="evenodd">
    <circle cx="15" cy="15" r="15" fill="#0579B8"/>
    <path fill="#FFF" d="M10,22 L10,20 L24,20 L24,22 L10,22 Z M6,22 L6,20 L8,20 L8,22 L6,22 Z M10,18 L10,16 L24,16 L24,18 L10,18 Z M6,18 L6,16 L8,16 L8,18 L6,18 Z M10,14 L10,12 L24,12 L24,14 L10,14 Z M6,14 L6,12 L8,12 L8,14 L6,14 Z M10,8 L24,8 L24,10 L10,10 L10,8 Z M6,8 L8,8 L8,10 L6,10 L6,8 Z"/>
  </g>
</svg>
