<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12" height="12" viewBox="0 0 12 12"><defs><path id="dzlka" d="M175.67 1406H177v4.67c0 .73-.6 1.33-1.33 1.33h-9.34c-.73 0-1.33-.6-1.33-1.33v-9.34c0-.73.6-1.33 1.33-1.33H171v1.33h-4.67v9.34h9.34zm1.33-6v4.76h-1.36v-2.44l-6.68 6.68-.96-.96 6.68-6.68h-2.44V1400z"/></defs><g><g transform="translate(-165 -1400)"><use fill="#0579b8" xlink:href="#dzlka"/></g></g></svg>
