<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18" height="20" viewBox="0 0 18 20"><g><g transform="translate(-98 -3498)"><path d="M114 3500a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-14a2 2 0 0 1-2-2l.01-14a2 2 0 0 1 1.99-2h1v-2h2v2h8v-2h2v2zm0 16v-11h-14v11zm-12-9h5v5h-5z"/></g></g></svg>
