<svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Search-Results-2.2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Search-2.2---Search-Results,-Library-Path-Selected" transform="translate(-175.000000, -409.000000)">
            <g id="library-snippet" transform="translate(145.000000, 334.000000)">
                <g id="collection" transform="translate(30.000000, 75.000000)">
                    <g id="locations---hours---harvard-library">
                        <circle id="container" fill="#EB001B" cx="15" cy="15" r="15"></circle>
                        <path d="M22.6414545,9.00088215 C19.3505455,9.24268805 15.6647273,11.0939708 15.3330909,13.2835022 L15.3330909,21.4671643 C15.3330909,21.6439387 15.183961,21.7872426 15,21.7872426 C14.816039,21.7872426 14.6669091,21.6439387 14.6669091,21.4671643 L14.6669091,13.2835022 C14.3352727,11.0939708 10.6487273,9.24268805 7.35854545,9.00088215 C7.26606329,8.99428099 7.17489145,9.02494594 7.1068804,9.08552775 C7.03886935,9.14610956 7.0001493,9.23114767 7,9.32026162 L7,19.100821 C7.00005507,19.2699577 7.13704365,19.4098603 7.31272727,19.4202005 C10.36,19.6040009 13.4763636,21.0485466 14.7221818,22.8564999 C14.7838582,22.9461044 14.8882009,23 15,23 C15.1117991,23 15.2161418,22.9461044 15.2778182,22.8564999 C16.5236364,21.0492454 19.6392727,19.6040009 22.688,19.4202005 C22.8633967,19.409507 22.9999689,19.2697045 23,19.100821 L23,9.32026162 C22.9996345,9.23121511 22.9608489,9.14630324 22.8928889,9.08576689 C22.8249289,9.02523053 22.7338831,8.99449329 22.6414545,9.00088215" id="sor6a" fill="#FFFFFF" fill-rule="nonzero"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
