<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50" height="50" viewBox="0 0 50 50"><defs><path id="pq6ua" d="M210 354a25 25 0 1 0-50 0 25 25 0 0 0 50 0zm-21.08-14l3.08 3.29L181.98 354 192 364.71l-3.08 3.29-13.13-14z"/></defs><g><g clip-path="url(#clip-90901A59-89AF-4A37-89AE-8D891E70A04F)" transform="translate(-160 -329)"><use fill="#fff" fill-opacity=".7" xlink:href="#pq6ua"/></g></g></svg>
