<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44" height="60" viewBox="0 0 44 60">
  <path transform="translate(-1009 -1278)" d="M1030.5 1315a9.36 9.36 0 0 1-9.5-9.25v-18.5a9.36 9.36 0 0 1 9.5-9.25c5.26 0 9.5 4.13 9.5 9.25l-.03 18.5a9.34 9.34 0 0 1-9.47 9.25zm17.16-9h5.34c0 10.94-8.55 19.97-18.86 21.5v10.5h-6.28v-10.5c-10.31-1.56-18.86-10.59-18.86-21.5h5.34c0 9.6 7.99 16.32 16.66 16.32s16.66-6.72 16.66-16.32z"/>
</svg>
