<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="29" height="29" viewBox="0 0 29 29"><g><g transform="translate(-144 -101)"><use  xlink:href="#qkw2a"/><path fill="#f8c21b" d="M144 115.5a14.5 14.5 0 1 1 29 0 14.5 14.5 0 0 1-29 0zm5.63 4.29c-.84.83-.84 2.2 0 3.03l.55.55c.84.84 2.2.84 3.03 0l6.82-6.81a5.4 5.4 0 0 0 6.52-7.32l-2.5 2.5a.86.86 0 0 1-1.22 0l-1.57-1.57a.86.86 0 0 1 0-1.22l2.5-2.5a5.4 5.4 0 0 0-7.32 6.52l-6.81 6.82z"/></g></g></svg>
