
<svg width="54px" height="49px" viewBox="0 0 54 49" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <linearGradient x1="0%" y1="0%" x2="100%" y2="100%" id="linearGradient-1">
            <stop stop-color="#A51C30" offset="0%"></stop>
            <stop stop-color="#F7003A" offset="100%"></stop>
        </linearGradient>
        <linearGradient x1="0%" y1="11.5752551%" x2="94.9555524%" y2="100%" id="linearGradient-2">
            <stop stop-color="#A51C30" offset="0%"></stop>
            <stop stop-color="#F7003A" offset="100%"></stop>
        </linearGradient>
    </defs>
    <g id="News-Listing" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="icon">
            <path d="M26.6777778,18.5111111 C31.1898611,18.5111111 34.8444444,22.1682465 34.8444444,26.6777778 C34.8444444,31.1898611 31.1898611,34.8444444 26.6777778,34.8444444 C22.1682465,34.8444444 18.5111111,31.1898611 18.5111111,26.6777778 C18.5111111,22.1682465 22.1682465,18.5111111 26.6777778,18.5111111" id="Fill-1" fill="url(#linearGradient-1)"></path>
            <path d="M26.6777778,40.8333333 C19.3147111,40.8333333 13.3388889,34.7355556 13.3388889,27.2222222 C13.3388889,19.7088889 19.3147111,13.6111111 26.6777778,13.6111111 C34.0408444,13.6111111 40.0166667,19.7088889 40.0166667,27.2222222 C40.0166667,34.7355556 34.0408444,40.8333333 26.6777778,40.8333333 Z M18.6744444,0 L13.7924111,5.44444444 L5.33555556,5.44444444 C2.401,5.44444444 0,7.89444444 0,10.8888889 L0,43.5555556 C0,46.55 2.401,49 5.33555556,49 L48.02,49 C50.9545556,49 53.3555556,46.55 53.3555556,43.5555556 L53.3555556,10.8888889 C53.3555556,7.89444444 50.9545556,5.44444444 48.02,5.44444444 L39.5631444,5.44444444 L34.6811111,0 L18.6744444,0 Z" id="Fill-3" fill="url(#linearGradient-2)"></path>
        </g>
    </g>
</svg>
