<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17" height="16" viewBox="0 0 17 16"><g><g transform="translate(-145 -1623)"><path fill="silver" d="M146.67 1625v1h14v-1zm1-2v1h12v-1zm-1.87 4c-.07 0-.13.05-.13.11v11.78c0 .06.06.11.13.11h15.74c.07 0 .13-.05.13-.11v-11.78c0-.06-.06-.11-.13-.11z"/></g></g></svg>
