<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="15" viewBox="0 0 15 11"><defs><path id="bqfba2" d="M1326 1611v-5l5 2.5zm-3.26-7.89c-2.43.17-2.72 1.6-2.74 5.39.02 3.78.3 5.22 2.74 5.39 2.25.15 7.27.15 9.52 0 2.43-.17 2.72-1.6 2.74-5.39-.02-3.78-.3-5.22-2.74-5.39-2.25-.15-7.27-.15-9.52 0z"/></defs><g><g transform="translate(-1320 -1603)"><use fill="#FF0000" xlink:href="#bqfba2"/></g></g></svg>
