<?xml version="1.0" encoding="utf-8"?>
<svg version="1.1" width="36.4" height="40" viewBox="0 0 36.4 40" xmlns="http://www.w3.org/2000/svg">
  <g id="Library-Directory" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="library-directory---final-2" transform="translate(-184.000000, -1042.000000)">
      <g id="results" transform="translate(145.000000, 782.000000)" fill="#000">
        <g id="Featured-Content-Block">
          <g id="icon" transform="translate(39.000000, 260.000000)">
            <path d="M17.5757576,16.969697 C15.9022517,16.969697 14.5454545,18.326569 14.5454545,20.0001672 C14.5454545,21.673431 15.9022517,23.030303 17.5757576,23.030303 C19.2492634,23.030303 20.6060606,21.673431 20.6060606,20.0001672 C20.6060606,18.326569 19.2492634,16.969697 17.5757576,16.969697" id="Fill-1"/>
            <path d="M18.1818182,37.4931484 C15.7205456,37.4931484 12.2672168,30.8399111 12.2672168,20.0001729 C12.2672168,9.16008888 15.7071442,2.50685157 18.1818182,2.50685157 C20.6564922,2.50685157 24.0967722,9.16008888 24.0967722,20.0001729 C24.0967722,30.8399111 20.6564922,37.4931484 18.1818182,37.4931484 M18.1818182,0 C12.6749015,0 9.6969697,10.3068291 9.6969697,20.0001729 C9.6969697,29.6931709 12.6749015,40 18.1818182,40 C23.6887349,40 26.6666667,29.6931709 26.6666667,20.0001729 C26.6666667,10.3068291 23.6887349,0 18.1818182,0" id="Fill-3"/>
            <path d="M6.38582302,29.0344664 C4.49630176,29.0344664 3.21410161,28.614721 2.75519787,27.826975 C1.55420724,25.7530992 5.75154875,19.6370036 15.3066176,14.4128245 C20.6510435,11.4991174 26.1438867,9.75341235 29.9904871,9.75341235 C31.8663568,9.75341235 33.1618585,10.1867748 33.6344138,10.9609038 C34.2686881,12.0635439 33.4317401,14.1241432 31.3938015,16.4867004 C29.0187733,19.229854 25.361195,22.0257737 21.0693425,24.3750543 C15.7249166,27.2887613 10.2320734,29.0344664 6.38582302,29.0344664 M29.9904871,7.27272727 C25.7255877,7.27272727 19.7738408,9.13656023 14.0650223,12.2606507 C5.5086203,16.932999 -2.13032422,24.4016075 0.541888694,29.0344664 C1.18981457,30.1633194 2.72824472,31.5151515 6.38582302,31.5151515 C10.6370708,31.5151515 16.6024694,29.6513186 22.2976363,26.5408452 C26.8457189,24.0472239 30.7595272,21.054538 33.3239275,18.0880648 C36.1582094,14.8066975 37.0487137,11.853501 35.8340714,9.75341235 C35.1861455,8.62455936 33.6344138,7.27272727 29.9904871,7.27272727" id="Fill-5"/>
            <path d="M29.1107566,30.1927285 C25.4062395,30.1927285 19.842967,28.2106925 14.6219708,25.0421625 C10.4958486,22.5348939 6.97563404,19.568484 4.73459606,16.6968398 C2.80984739,14.2294358 2.04494017,12.0858436 2.69119616,10.9668395 C3.1261367,10.2251496 4.29931359,9.80727153 6.00009523,9.80727153 C9.71794783,9.80727153 15.2682268,11.7756697 20.488881,14.9574878 C29.6906773,20.552858 33.6458324,26.9301322 32.4196557,29.0335102 C31.9847151,29.7748504 30.8115383,30.1927285 29.1107566,30.1927285 M6.01343067,7.27272727 C2.66486721,7.27272727 1.20138804,8.58021361 0.568467484,9.67229166 C-0.670702737,11.8025957 0.133526943,14.8630719 2.80984739,18.2879237 C5.23552994,21.3886141 8.99270499,24.5704323 13.3694652,27.2266683 C19.0383954,30.6648083 24.9316345,32.7272727 29.1240921,32.7272727 C32.4593201,32.7272727 33.9227993,31.4197864 34.5687133,30.3277083 C37.2976917,25.6355843 30.0073086,17.77528 21.7673737,12.7733317 C16.0987854,9.33519168 10.2055463,7.27272727 6.01343067,7.27272727" id="Fill-7"/>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
