<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="59" height="59" viewBox="0 0 59 59">
    <path transform="translate(-641 -1278)" d="M697 1287a5 5 0 1 1-10 0 5 5 0 0 1 10 0"/>
    <path transform="translate(-641 -1278)" d="M699.93 1300.01a4.9 4.9 0 0 0-4.91-4.88h-6.36l-9.18-9.13-3.48 3.46 9.18 9.05V1327h4.92v-14.73h2.49V1327h4.92v-14.73H700V1300z"/>
    <path transform="translate(-641 -1278)" d="M655.93 1332c0-2.8-2.25-5-4.98-5h-4.97a4.98 4.98 0 0 0-4.98 5v5h15v-5z"/>
    <path transform="translate(-641 -1278)" d="M653 1319a5 5 0 1 1-10 0 5 5 0 0 1 10 0"/>
    <path transform="translate(-641 -1278)" d="M658 1332v5h15v-5c0-2.8-2.26-5-4.98-5h-4.97a5 5 0 0 0-5.05 5z"/>
    <path transform="translate(-641 -1278)" d="M670 1319a5 5 0 1 1-10 0 5 5 0 0 1 10 0"/>
    <path transform="translate(-641 -1278)" d="M675 1334h25v-5h-25z"/>
    <path transform="translate(-641 -1278)" d="M680.57 1307.16H646v-24.26h37v-4.9h-42v34h39.57z"/>
</svg>
