<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="42" height="42" viewBox="0 0 42 42"><g><g transform="translate(-729 -151)"><path fill="#f8c21b" d="M750 170.05a1.95 1.95 0 0 0-1.38 3.33 1.96 1.96 0 0 0 2.76-2.77 1.95 1.95 0 0 0-1.38-.56zm10.26-8.3l-6.5 14.01-14.02 6.5 6.5-14.02zM750 151a21 21 0 1 0 0 42 21 21 0 0 0 0-42z"/></g></g></svg>
