<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60" height="60" viewBox="0 0 60 60">
  <path transform="translate(-280 -1278)" d="M332.18 1327.81l-11.43-11.09a13.65 13.65 0 0 0 3.22-8.72c0-3.23-1.17-6.24-3.22-8.73l11.43-11.08a29 29 0 0 1 0 39.62zm-30.9-30.56l-11.1-11.4A28.98 28.98 0 0 1 310 1278c7.4 0 14.36 2.8 19.81 7.84l-11.1 11.4a13.67 13.67 0 0 0-17.42 0zm-5.25 10.75c0 3.22 1.17 6.24 3.2 8.72l-11.41 11.1a29.01 29.01 0 0 1 0-39.63l11.43 11.08a13.64 13.64 0 0 0-3.22 8.73zm22.69 10.75l11.1 11.4a28.96 28.96 0 0 1-39.63 0l11.1-11.4a13.69 13.69 0 0 0 17.43 0z"/>
</svg>
