<svg width="15px" height="17px" viewBox="0 0 15 17" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g transform="translate(-307.000000, -677.000000)" fill="#C0C0C0">
    <g transform="translate(0.000000, 518.000000)">
      <g transform="translate(307.000000, 155.000000)">
        <path d="M1.95399252e-13,4 L14.6743255,4 L14.6743255,9.39210301 C14.6743255,11.8616072 13.7279985,17.101356 7.3920065,21 C7.3920065,21 0.525210537,18.2115763 1.95399252e-13,9.39210301 L1.95399252e-13,4 Z M3.77,15 L5.728,15 L5.728,12.008 L8.918,12.008 L8.918,15 L10.876,15 L10.876,7.3 L8.918,7.3 L8.918,10.468 L5.728,10.468 L5.728,7.3 L3.77,7.3 L3.77,15 Z"></path>
      </g>
    </g>
  </g>
</svg>
