<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="29" viewBox="0 0 25 29"><g><g transform="translate(-151 -484)"><path d="M151 493.06h7.4l9.27-9.06v29l-9.26-9.06H151zm25 5.44a8.1 8.1 0 0 1-4.63 7.29v-14.6a8.14 8.14 0 0 1 4.63 7.31z"/></g></g></svg>
