<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16"><g><g transform="translate(-145 -893)"><path fill="silver" d="M145.56 905.25l6.05-6.05a4.8 4.8 0 0 1 6.51-5.8l-2.22 2.22c-.3.3-.3.79 0 1.09l1.4 1.4c.3.3.78.3 1.08 0l2.22-2.23a4.8 4.8 0 0 1-5.8 6.5l-6.05 6.06a1.9 1.9 0 0 1-2.7 0l-.5-.49a1.9 1.9 0 0 1 0-2.7z"/></g></g></svg>
