<?xml version="1.0" encoding="utf-8"?>
<svg width="20px" height="24px" viewBox="0 0 20 24" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <g id="Press-Release" stroke="none" stroke-width="1" fill-rule="evenodd" transform="matrix(1.013903, 0, 0, 1, 0, 0)">
    <g id="press-release---final" transform="translate(-842.000000, -817.000000)">
      <g id="for-the-media" transform="translate(801.000000, 512.000000)">
        <path d="M46.6470588,305 L46.6470588,313.470588 L41,313.470588 L50.8837647,323.354353 L60.7661176,313.470588 L55.1176471,313.470588 L55.1176471,305 L46.6470588,305 Z M41,329 L60.7647059,329 L60.7647059,326.176471 L41,326.176471 L41,329 Z" id="icon"/>
      </g>
    </g>
  </g>
</svg>
