<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="253.42" height="218" viewBox="0 0 253.42 218"><g><g transform="rotate(-20 28.9 2111.68)"><g><path fill="#ebebeb" d="M713.33 228.82a37.8 37.8 0 0 0-37.75 37.76 37.8 37.8 0 0 0 37.75 37.75c5.72 0 11.36.26 16.93.72l21.73 54.3 23.37-9.33-16.4-40.98c60.93 12.33 105.37 45.76 105.37 58.22h25.16V178.48l-25.08-.78c-3.91 12.33-72.17 51.12-151.08 51.12z"/></g><g><path fill="#ebebeb" d="M901.14 303.72h24.36v-49.77h-24.36z"/></g></g></g></svg>
