<svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-239.000000, -476.000000)">
            <g transform="translate(145.000000, 187.000000)">
                <g transform="translate(30.000000, 237.000000)" fill="#1E1E1E">
                    <g transform="translate(71.939340, 60.060660) rotate(-315.000000) translate(-71.939340, -60.060660) translate(63.939340, 51.560660)">
                        <path d="M8,0.414213562 C3.584,0.414213562 -1.42108547e-13,3.99821356 -1.42108547e-13,8.41421356 C-1.42108547e-13,12.8302136 3.584,16.4142136 8,16.4142136 C12.416,16.4142136 16,12.8302136 16,8.41421356 C16,3.99821356 12.416,0.414213562 8,0.414213562 L8,0.414213562 Z M12,9.21421356 L8.8,9.21421356 L8.8,12.4142136 L7.2,12.4142136 L7.2,9.21421356 L4,9.21421356 L4,7.61421356 L7.2,7.61421356 L7.2,4.41421356 L8.8,4.41421356 L8.8,7.61421356 L12,7.61421356 L12,9.21421356 L12,9.21421356 Z"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
