<?xml version="1.0" encoding="UTF-8"?>
<svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g>
    <polygon id="Path" points="8 20 8 11.9972098 12 11.9972098 12 20 17 20 17 10 20 10 10 0 0 10 3 10 3 20"></polygon>
  </g>
</svg>