<svg width="70px" height="66px" viewBox="0 0 70 66" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <linearGradient x1="50%" y1="50%" x2="0%" y2="0%" id="linearGradient-1">
            <stop stop-color="#F8C21C" offset="0%"></stop>
            <stop stop-color="#B89015" offset="100%"></stop>
        </linearGradient>
    </defs>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-27.000000, -740.000000)" fill="url(#linearGradient-1)">
            <g transform="translate(26.000000, 670.000000)">
                <polygon points="36 124 14.8397309 135.124612 18.8809827 111.562306 1.76196541 94.8753882 25.4198655 91.4376941 36 70 46.5801345 91.4376941 70.2380346 94.8753882 53.1190173 111.562306 57.1602691 135.124612"></polygon>
            </g>
        </g>
    </g>
</svg>
