
<svg width="50px" height="41px" viewBox="0 0 50 41" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <linearGradient x1="100%" y1="98.0095358%" x2="1.11022302e-14%" y2="0%" id="linearGradient-1">
            <stop stop-color="#F7003A" offset="0%"></stop>
            <stop stop-color="#A51C30" offset="100%"></stop>
        </linearGradient>
    </defs>
    <g id="Press-Release" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="press-release---final" transform="translate(-96.000000, -562.000000)" fill="url(#linearGradient-1)">
            <g id="summary-points" transform="translate(0.000000, 450.000000)">
                <path d="M100.054054,128.216216 C97.8108108,128.216216 96,130.027027 96,132.27027 C96,134.513514 97.8108108,136.324324 100.054054,136.324324 C102.297297,136.324324 104.108108,134.513514 104.108108,132.27027 C104.108108,130.027027 102.297297,128.216216 100.054054,128.216216 L100.054054,128.216216 Z M100.054054,112 C97.8108108,112 96,113.810811 96,116.054054 C96,118.297297 97.8108108,120.108108 100.054054,120.108108 C102.297297,120.108108 104.108108,118.297297 104.108108,116.054054 C104.108108,113.810811 102.297297,112 100.054054,112 L100.054054,112 Z M100.054054,144.891892 C98.0540541,144.891892 96.4594595,146.513514 96.4594595,148.486486 C96.4594595,150.459459 98.0810811,152.081081 100.054054,152.081081 C102.027027,152.081081 103.648649,150.459459 103.648649,148.486486 C103.648649,146.513514 102.054054,144.891892 100.054054,144.891892 L100.054054,144.891892 Z M108.162162,151.189189 L146,151.189189 L146,145.783784 L108.162162,145.783784 L108.162162,151.189189 L108.162162,151.189189 Z M108.162162,134.972973 L146,134.972973 L146,129.567568 L108.162162,129.567568 L108.162162,134.972973 L108.162162,134.972973 Z M108.162162,113.351351 L108.162162,118.756757 L146,118.756757 L146,113.351351 L108.162162,113.351351 L108.162162,113.351351 Z" id="Icon"></path>
            </g>
        </g>
    </g>
</svg>
