<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="35" height="29" viewBox="0 0 35 29"><g><g transform="translate(-49 -484)"><path d="M49 493.06h7.37l9.2-9.06v29l-9.2-9.06H49zm35 1.33l-4.45 4.84 4.45 4.85-2.31 2.44-4.42-4.8-4.4 4.8-2.33-2.44 4.45-4.85-4.45-4.84 2.33-2.44 4.4 4.8 4.42-4.8z"/></g></g></svg>
