<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17" height="20" viewBox="0 0 17 20"><g><g transform="translate(-1233 -33)"><path d="M1241.5 50.59v-.27c0-.25-.1-.49-.27-.66l-5.23-5.23 6.03-6.03.32.32c-.41 1.58.23 3.61 1.79 5.17l5.65-5.65c-1.56-1.56-3.59-2.2-5.17-1.8l-3.45-3.44-2.27 2.27 1.55 1.55.25.26-6.69 6.69a.94.94 0 0 0 0 1.32l5.5 5.5c-2.27.22-3.98 1.22-3.98 2.41h9.93c0-1.19-1.7-2.18-3.95-2.41"/></g></g></svg>
