<svg width="18px" height="12px" viewBox="0 0 18 12" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g transform="translate(-305.000000, -680.000000)" fill="#C0C0C0">
    <g transform="translate(0.000000, 518.000000)">
      <g transform="translate(305.000000, 155.000000)">
        <g transform="translate(0.000000, 7.000000)">
          <path d="M12.2727273,4.90909091 C13.6309091,4.90909091 14.7190909,3.81272727 14.7190909,2.45454545 C14.7190909,1.09636364 13.6309091,0 12.2727273,0 C10.9145455,0 9.81818182,1.09636364 9.81818182,2.45454545 C9.81818182,3.81272727 10.9145455,4.90909091 12.2727273,4.90909091 L12.2727273,4.90909091 Z M5.72727273,4.90909091 C7.08545455,4.90909091 8.17363636,3.81272727 8.17363636,2.45454545 C8.17363636,1.09636364 7.08545455,0 5.72727273,0 C4.36909091,0 3.27272727,1.09636364 3.27272727,2.45454545 C3.27272727,3.81272727 4.36909091,4.90909091 5.72727273,4.90909091 L5.72727273,4.90909091 Z M5.72727273,6.54545455 C3.82090909,6.54545455 0,7.50272727 0,9.40909091 L0,11.4545455 L11.4545455,11.4545455 L11.4545455,9.40909091 C11.4545455,7.50272727 7.63363636,6.54545455 5.72727273,6.54545455 L5.72727273,6.54545455 Z M12.2727273,6.54545455 C12.0354545,6.54545455 11.7654545,6.56181818 11.4790909,6.58636364 C12.4281818,7.27363636 13.0909091,8.19818182 13.0909091,9.40909091 L13.0909091,11.4545455 L18,11.4545455 L18,9.40909091 C18,7.50272727 14.1790909,6.54545455 12.2727273,6.54545455 L12.2727273,6.54545455 Z" id="Icon"></path>
        </g>
      </g>
    </g>
  </g>
</svg>
