<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="234" height="213" viewBox="0 0 234 213">
  <g>
    <g transform="translate(-733 -142)">
      <path fill="#ebebeb" d="M965.51 185c.82 0 1.49.61 1.49 1.37v167.26c0 .76-.67 1.37-1.49 1.37H734.49c-.82 0-1.49-.61-1.49-1.37V186.37c0-.75.67-1.37 1.49-1.37zM945 142v11H754v-11zm12 22v11H744v-11z"/>
    </g>
  </g>
</svg>
