<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="14" viewBox="0 0 15 14"><g><g transform="translate(-1184 -650)"><path fill="silver" d="M1187.11 651.52c0-.84-.7-1.52-1.55-1.52-.85 0-1.55.68-1.55 1.52s.7 1.52 1.55 1.52c.86 0 1.55-.68 1.55-1.52zM1184 664h3.13v-9.74H1184zm8.11-9.74h-3.1V664h3.1v-5.11c0-2.85 3.77-3.08 3.77 0V664h3.12v-6.17c0-4.8-5.58-4.62-6.89-2.26z"/></g></g></svg>
