<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16"><g><g transform="translate(-146 -767)"><path fill="silver" d="M162 767l-5.07 10.93L146 783l5.07-10.93zm-8 6.4a1.6 1.6 0 0 0-1.13 2.73 1.6 1.6 0 0 0 2.26-2.27 1.6 1.6 0 0 0-1.13-.46z"/></g></g></svg>
