<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="220" height="201" viewBox="0 0 220 201"><defs><path id="sor6a" d="M955.07 160.01c-45.25 3.46-95.93 29.95-100.49 61.28v117.1a4.58 4.58 0 1 1-9.16 0v-117.1c-4.56-31.33-55.25-57.82-100.49-61.28a4.59 4.59 0 0 0-4.93 4.57v139.95a4.58 4.58 0 0 0 4.3 4.57c41.9 2.63 84.75 23.3 101.88 49.17a4.58 4.58 0 0 0 7.64 0c17.13-25.86 59.97-46.54 101.89-49.17a4.58 4.58 0 0 0 4.29-4.57V164.58a4.6 4.6 0 0 0-4.93-4.57"/></defs><g><g transform="translate(-740 -160)"><use fill="#ebebeb" xlink:href="#sor6a"/></g></g></svg>
