<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="244" height="213" viewBox="0 0 244 213"><g><g transform="translate(-728 -153)"><path fill="#ebebeb" d="M943.74 198.23H972V366H756.26v-28.27H728V169.96h51.35V153h16.96v16.96h79.12V153h16.96v16.96h51.35zM943.7 216v122.68H773V350h182V216z"/></g></g></svg>
