<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="29" viewBox="0 0 30 29">
  <defs>
    <path id="1wyia" d="M38 59.3l9.27 5.7-2.46-10.73L53 47.05l-10.79-.93L38 36l-4.22 10.12-10.78.93 8.19 7.22L28.73 65z"/>
    <linearGradient id="1wyib" x1="23.3" x2="52.7" y1="64.71" y2="35.71" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#f7003a"/>
      <stop offset="1" stop-color="#a51c30"/>
    </linearGradient>
  </defs>
  <g>
    <g transform="translate(-23 -36)">
      <use fill="url(#1wyib)" xlink:href="#1wyia"/>
    </g>
  </g>
</svg>
