<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="33" height="32" viewBox="0 0 33 32"><g><g transform="translate(-242 -483)"><path d="M242 493.53h7.33l9.17-9.13v29.2l-9.17-9.13H242zm24.75 5.47c0 3.23-1.87 6-4.58 7.33v-14.68a8.2 8.2 0 0 1 4.58 7.35zm-4.58-16A16.43 16.43 0 0 1 275 499c0 7.8-5.48 14.34-12.83 16v-3.76a12.79 12.79 0 0 0 9.16-12.24c0-5.78-3.86-10.67-9.16-12.24z"/></g></g></svg>
