<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 30 30"><g><g transform="translate(-37 -70)"><path fill="#3e6f7d" d="M37 85a15 15 0 1 1 30 0 15 15 0 0 1-30 0z"/></g><g transform="translate(-37 -70)"><path fill="#fff" d="M45 78v1h14v-1zm1-2v1h12v-1zm-1.87 4c-.07 0-.13.05-.13.11V91.9c0 .06.06.11.13.11h15.74c.07 0 .13-.05.13-.11V80.1c0-.06-.06-.11-.13-.11z"/></g></g></svg>
