<svg width="18px" height="16px" viewBox="-1 -1 20 18" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <g id="Group-3" transform="matrix(1.0125, 0, 0, 1, -0.000002, 0)" stroke="none" fill-rule="evenodd">
    <path d="M8.88888889,6.22222222 C10.3622222,6.22222222 11.5555556,7.41638889 11.5555556,8.88888889 C11.5555556,10.3622222 10.3622222,11.5555556 8.88888889,11.5555556 C7.41638889,11.5555556 6.22222222,10.3622222 6.22222222,8.88888889 C6.22222222,7.41638889 7.41638889,6.22222222 8.88888889,6.22222222"/>
    <path d="M8.88888889,13.3333333 C6.43555556,13.3333333 4.44444444,11.3422222 4.44444444,8.88888889 C4.44444444,6.43555556 6.43555556,4.44444444 8.88888889,4.44444444 C11.3422222,4.44444444 13.3333333,6.43555556 13.3333333,8.88888889 C13.3333333,11.3422222 11.3422222,13.3333333 8.88888889,13.3333333 L8.88888889,13.3333333 Z M6.22222222,0 L4.59555556,1.77777778 L1.77777778,1.77777778 C0.8,1.77777778 0,2.57777778 0,3.55555556 L0,14.2222222 C0,15.2 0.8,16 1.77777778,16 L16,16 C16.9777778,16 17.7777778,15.2 17.7777778,14.2222222 L17.7777778,3.55555556 C17.7777778,2.57777778 16.9777778,1.77777778 16,1.77777778 L13.1822222,1.77777778 L11.5555556,0 L6.22222222,0 Z"/>
  </g>
</svg>
