<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="13" viewBox="0 0 16 13"><g><g transform="translate(-146 -1499)"><path fill="silver" d="M149.56 1509.54H162v2.46h-12.44zm-3.56 0h1.78v2.46H146zm3.56-3.51H162v2.46h-12.44zm-3.56 0h1.78v2.46H146zm3.56-3.52H162v2.46h-12.44zm-3.56 0h1.78v2.46H146zm16-3.51v2.46h-12.44V1499zm-14.22 0v2.46H146V1499z"/></g></g></svg>
