<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="13" height="20" viewBox="0 0 13 20"><defs><path id="qsjra" d="M1300.78 1075l-.03-8.75H1297v-3.75h3.75v-2.5c0-3.37 2.09-5 5.1-5 1.44 0 2.68.1 3.04.16v3.52h-2.09c-1.63 0-1.95.78-1.95 1.92v1.9h4.65l-1.25 3.75h-3.4v8.75h-4.07z"/></defs><g><g transform="translate(-1297 -1055)"><use fill="#3b5998" xlink:href="#qsjra"/></g></g></svg>
