<svg width="17px" height="14px" viewBox="0 0 17 14" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g>
        <g transform="translate(-621.000000, -692.000000)" fill="#0579B8">
            <g transform="translate(145.000000, 674.000000)">
                <path d="M477.677891,25.1428909 C477.677891,21.5723719 480.572372,18.6778907 484.142891,18.6778907 C485.798434,18.6778907 487.309663,19.3009946 488.452891,20.3241025 L488.452891,19.3962241 L489.889558,19.3962241 L489.889558,22.9878908 L486.297891,22.9878908 L486.297891,21.5512241 L487.662006,21.5512241 C486.75432,20.6617551 485.513184,20.1145574 484.142891,20.1145574 C481.365821,20.1145574 479.114557,22.3658213 479.114557,25.1428909 L479.114557,25.8612242 L477.677891,25.8612242 L477.677891,25.1428909 Z M490.607891,24.4245575 L490.607891,25.1428909 C490.607891,28.7134386 487.713439,31.607891 484.142891,31.607891 C482.487341,31.607891 480.976147,30.9848087 479.832891,29.9616865 L479.832891,30.8895577 L478.396224,30.8895577 L478.396224,27.2978909 L481.987891,27.2978909 L481.987891,28.7345576 L480.62379,28.7345576 C481.53144,29.623998 482.772598,30.1712243 484.142891,30.1712243 C486.919968,30.1712243 489.171224,27.9199676 489.171224,25.1428909 L489.171224,24.4245575 L490.607891,24.4245575 Z" id="refresh" transform="translate(484.142891, 25.142891) rotate(45.000000) translate(-484.142891, -25.142891) "></path>
            </g>
        </g>
    </g>
</svg>
