.hl__collection-filters {
  background-image: linear-gradient(45deg, $c-theme-quinary-dark, $c-theme-quinary);
  padding-bottom: 40px;
  padding-top: 40px;

  &--masonry {
    margin-bottom: -40px;
    padding-bottom: 60px;

    @media ($bp-small-min) {
      margin-bottom: -60px;
      padding-bottom: 100px;
    }
  }

  &--list {
    margin-bottom: 10px;
  }

  &__container {

    @media ($bp-x-small-min) {
      display: flex;
        align-items: flex-end;
    }

    @media ($bp-medium-max) {
      flex-wrap: wrap;
    }

    .hl__full-template__page-content & {
      @include hl-container("full");
    }

    .hl__base-template__page-content & {
      @include hl-container();
    }
  }

  &__keyword {
    flex: auto;
    min-width: 280px;

    @media ($bp-medium-max) {
      margin-bottom: 20px;
      width: 100%;
    }

    @media ($bp-medium-min) {
      padding-right: 30px;
    }

    label {
      color: $c-font-inverse;
      display: block;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    input {
      max-width: 640px;
      width: 100%;

      @media ($bp-x-small-min) {
        background-image: url("../../assets/images/svg-icons/magnifying-glass.svg");
        background-position: left 13px center;
        background-repeat: no-repeat;
        background-size: 17px 17px;
        padding-left: 40px;
        transition: background 0.5s ease, padding 0.5s ease;
      }

      &:focus {
        background-position: left -35px center;
        padding-left: 10px;
      }
    }
  }

  &__available {
    flex: none;

    @media ($bp-x-small-min) {
      width: 270px;
    }
  }

  &__toggles {
    border: 1px solid $c-white;
    border-radius: 5px;
    display: inline-block;
    flex: none;

    @media ($bp-x-small-max) {
      display: none;
    }

    @media ($bp-x-small-min) {
      margin-left: 20px;
    }

    @media ($bp-medium-min) {
      margin-left: 30px;
    }

    button {
      @include hl-button-reset;
      height: 100%;
      padding: 10px 13px 6px;

      &:first-child {
        border-radius:3px 0 0 3px;
      }

      &:last-child {
        border-radius:0 3px 3px 0;
      }

      svg {
        fill: $c-white;
      }

      &:disabled,
      &:hover,
      &:focus {
        background-color: $c-white;
        cursor: default;

        & svg {
          fill: $c-theme-quinary;
        }
      }
    }
  }
}
