.hl__filter-group {
  border: none;
  padding: 0;

  legend {
    width: 100%;
  }

  &__label {
    @include hl-button-reset;
    color: $c-font-inverse;
    font-family: $f-trueno;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.71;
    margin-bottom: 10px;
    padding-right: 20px;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    width: 100%;

    &[aria-expanded]::after {
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 7px solid $c-theme-primary;
      content: "";
      display: inline-block;
      height: 0;
      margin-left: 0.75em;
      position: absolute;
        right: 0;
        top: 5px;
      transition: transform 0.5s ease;
      width: 0;
    }

    &[aria-expanded="true"]::after {
      transform: scaleY(-1);
    }
  }

  &__items {
    margin-bottom: 20px;
  }

  &--inline &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;

    .hl__checkbox-filter {
      flex-basis: 82px;
      flex-grow: 0;
      flex-shrink: 1;
    }
  }

  &__items {
    // input
    .hl__input {
      background-image: url("../../assets/images/svg-icons/magnifying-glass.svg");
      background-position: center left 10px;
      background-repeat: no-repeat;
      font-size: 16px;
      line-height: 45px;
      padding-left: 35px;
      transition: all 0.7s ease;
      width: 100%;

      &:focus {
        background-position: -20px;
        padding-left: 10px;
      }

    }
    // end input

    // Select Boxes
    .Select-control {
      border: none;
      height: 45px;
    }

    .Select-arrow-zone {
      display: none;
    }

    .Select-placeholder {
      background-image: url("../../assets/images/svg-icons/magnifying-glass.svg");
      background-position: center left 10px;
      background-repeat: no-repeat;
      color: $c-font-subtle;
      font-family: $f-trueno;
      font-size: 16px;
      line-height: 45px;
      padding-left: 35px;
    }

    .Select-value {
      background-color: transparent;
      border: 2px dotted rgba($c-bd-subtle, 0.5);
      border-radius: 3px;
      color: $c-font-base;
      font-family: $f-trueno;
      font-size: 14px;
      padding: 2px 20px 2px 4px;
      position: relative;
    }

    .Select-value-icon {
      border: none;
      display: block;
      font-family: $f-trueno;
      font-size: 30px;
      font-weight: 200;
      height: 12px;
      line-height: 12px;
      position: absolute;
        right: 0;
        top: 7px;
      text-indent: -12px;
      width: 12px;
    }

    .Select--multi.has-value .Select-input,
    .Select-input {
      display: inline-block;
      margin-left: -5px;

      input {
        color: $c-font-subtle;
        font-family: $f-trueno;
        font-size: 16px;
        line-height: 25px;
        padding-left: 5px;
      }
    }

    .Select-multi-value-wrapper {
      padding-bottom: 5px;
      padding-right: 5px;
    }

    .Select-menu-outer {
      font-family: $f-trueno;
      font-size: 14px;
    }

    .Select-option:hover, .Select-option.is-focused {
      background-color: $c-bg-subtle;
    }

  }

  // filters collapsed on initial load
  &--library, &--features {
     .hl__filter-group__items {
       display:none;
     }
  }
}
