.hl__filter-toggles {
  background-color: $c-bg-subtle;
  border: 1px solid $c-bg-light;
  border-radius:5px;
  display:inline-block;
  white-space: nowrap;

  @media ($bp-x-small-max) {
    display: none;
  }

  &__container {
    @include hl-container("full");
    float: right;
    padding-left:0;
    padding-top: 58px;
  }

  input,
  legend {
    @include hl-visually-hidden;
  }

  .hl__radio-input {
    height: 100%;
    padding: 10px 13px 6px;
    display: inline-block;
    padding-bottom:0px;

    svg {
      fill: $c-bg-light;
    }

    &:first-of-type {
      border-radius: 3px 0 0 3px;
    }

    &:last-of-type {
      border-radius: 0 3px 3px 0;
    }

    &:hover, &:focus, &--1:first-of-type, &--0:last-of-type {
      background-color: $c-bg-light;
      cursor: pointer;

      svg {
        fill: $c-bg-subtle;
      }
    }
  }
}
