<div class="hl__filter-by-type">
  <fieldset>
    <legend>{{ filterByType.label }}</legend>
    <span class="hl__filter-by-type__label" aria-hidden>{{ filterByType.label }}</span>
    {% for item in filterByType.items %}
      {% include "@atoms/forms/radio-input.twig" with { "radioInput": item } %}
    {% endfor %}
  </fieldset>
</div>
