.hl__filter-bar {
  background-image: linear-gradient(to right, $c-theme-tertiary, $c-theme-primary);
  padding:25px 0;
  min-height:150px;
  z-index: $z-sticky-content;

  &--subtle {
    background: $c-bg-subtle;
  }

  &__container {
    @include hl-container("full");
    padding-right:0;

    @media($bp-x-small-max){
      padding-left:10px;
    }
  }

  &__title {
    color: $c-font-inverse;
    font-family: $f-trueno;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.71;
    margin-bottom: 0;
    padding-right: 20px;
    position: relative;
    text-align: left;
    text-transform: uppercase;
  }

  &--subtle &__title {
    color: $c-font-dark;
  }


  &__clear {
    text-align: right;
    padding-right:20px;
  }

  &__clear-button {
    @include hl-button-reset;
    color: $c-font-inverse;
    font-family: $f-trueno;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
  }

  &--subtle &__clear-button {
    color: $c-theme-blue;
  }

  &__filters {
    overflow: visible;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  &__group {
    margin-right:20px;
    z-index:2;
    flex: 0 1 180px;;

    @media($bp-x-small-max){
      margin-right:10px;
      flex: 0 1 145px;
    }

    &:first-of-type {
      flex:2.5 1 auto;
      min-width:290px;
    }

    & > fieldset {
      margin: 0;
      padding: 0;
    }

    &:first-of-type {
      z-index:10;
    }
    &:nth-child(2){
      z-index:9;
    }
    &:nth-child(3){
      z-index:8;
    }
    &:nth-child(4){
      z-index:7;
    }
    &:nth-child(5){
      z-index:6;
    }
  }

  @media(max-width:1129px) {
    min-height:215px;

    &__clear {
      position:fixed;
      bottom:19px;
      right:0;
    }
  }

  @media(max-width:619px){
    min-height:265px;
  }

  @media(max-width:480px){
    min-height:215px;
  }

  @media(max-width:474px){
    min-height:265px;
  }
}

.hl__filter-bar-directory__week-picker .hl__filter-bar {
  background:transparent;
  text-align:center;
  padding:0;
  min-height:auto;

  &__container {
    padding:0;
    max-width:none;
  }

  &__header, legend {
    display:none;
  }

  &__group {
    margin:0;
  }

  .hl__week-picker {
    margin:0 auto;
    padding:5px 10px;
    margin-top:-10px;

    @media(max-width:510px){
      width:100%;
      padding:5px 0;
    }
  }
}
