.hl__filter-bar-group {
  border: none;
  padding: 0;

  &__label {
    @include hl-button-reset;
    color: $c-font-inverse;
    font-family: $f-trueno;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.71;
    margin-bottom: 10px;
    padding-right: 20px;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
    @include hl-visually-hidden;

    &[aria-expanded]::after {
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 7px solid $c-theme-primary;
      content: "";
      display: inline-block;
      height: 0;
      margin-left: 0.75em;
      position: absolute;
        right: 0;
        top: 5px;
      transition: transform 0.5s ease;
      width: 0;
    }

    &[aria-expanded="false"]::after {
      transform: scaleY(-1);
    }
  }

  &--inline &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;

    .hl__checkbox-filter {
      flex-basis: 82px;
      flex-grow: 0;
      flex-shrink: 1;
    }
  }

  &__items {
    margin-top:10px;

    // input
    .hl__input {
      background-image: url("../../assets/images/svg-icons/magnifying-glass.svg");
      background-position: center left 10px;
      background-repeat: no-repeat;
      font-size: 16px;
      line-height: 45px;
      padding-left: 35px;
      transition: all 0.7s ease;
      width: 100%;
      max-width: 640px;

      &:focus {
        background-position: -20px;
        padding-left: 10px;
      }

    }

    // checkbox
    .hl__checkbox-filter {
      &__container {
        background-color:$c-bg-dark;

        &:hover {
          background-color:$c-bg-semi-dark;
        }
      }

      &__label {
        color:$c-white;
      }
    }

    // dropdown checkbox filters
    .picky {

      button {
        border:0;
        padding: 0 7px;
      }

      &__input, &__dropdown {
        width:180px;
        background:$c-white;
        text-align:left;
        border-radius: 4px;
        color:$c-font-subtle;
        font-family:$f-trueno;
        font-size: 16px;
        height: 45px;

        @media($bp-x-small-max){
          width:145px;
        }
      }

      &__dropdown {
        border-radius:0 0 4px 4px;
        font-size:14px;
        height:100%;

        .option {
          padding-left: 15px;
          line-height:1.1em;
          padding:7px 7px 7px 25px;
          cursor:pointer;
          position:relative;

          &:hover {
            background-color: $c-bg-subtle;
          }

          &:before {
            border: 1px solid $c-font-subtle;
            border-radius: 4px;
            background:$c-white;
            content: "";
            display: block;
            height: 14px;
            position: absolute;
              left: 7px;
              top: 7px;
            width: 14px;
          }

          &.selected {
            &:before {
              background-color:$c-theme-secondary;
              border-color:$c-theme-secondary;
            }
            &:after {
              border-bottom: 1px solid $c-white;
              border-left: 1px solid $c-white;
              content: "";
              display: block;
              height: 4px;
              position: absolute;
                left: 10px;
                top: 11px;
              transform: rotate(-45deg);
              width: 8px;
            }
          }
        }

        .option:first-of-type {
          background-image: none;
          padding-top:10px;

          &:before {
            top:10px;
          }

          &.selected {
            &:after {
              top:14px;
            }
          }
        }
      }

      // hide default checkmarks
      input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
      }

      // dropdown arrow
      &__input span:after {
        border: none;
        border-left: 0.425em solid transparent;
        border-top: 0.5em solid #414141;
        border-right: 0.425em solid transparent;
        content: "";
        display: inline-block;
        height: 0;
        line-height: 0;
        opacity: 0.6;
        width: 0;
        float: right;
        margin-top: 6px;
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
        -webkit-transition: -webkit-transform 0.7s ease;
        transition: -webkit-transform 0.7s ease;
        transition: transform 0.7s ease;
        transition: transform 0.7s ease, -webkit-transform 0.7s ease;
      }
    }

    .picky[aria-expanded="true"] {
      border-color: #F3F3F3;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
      border-radius: 4px;
      margin-bottom: 4px;
      position:fixed;

      .picky__input span:after {
        transform: scaleY(-1) translateY(2px);
      }
      button {
        border-radius: 4px 4px 0 0;
        background-image: linear-gradient(90deg, $c-bd-subtle 40%, rgba(255, 255, 255, 0) 20%), linear-gradient(90deg, $c-bd-subtle 40%, rgba(255, 255, 255, 0) 20%);
        background-position: bottom;
        background-repeat: repeat-x;
        background-size: 4px 1px;
      }
    }
  }
}
