// variable used in staff-directory.scss as well
$filter-rail-width: 330px;

.hl__filter-rail {
  background-color: $c-bg-dark;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 0;
  right: 0;
  transition: all 0.7s ease;
  width: $filter-rail-width;
  z-index: $z-sticky-content;

  @media($bp-x-large-min) {
    right: 0;
  }

  &--collapsed {
    background-color: transparent;
    background-image: linear-gradient(270deg, $c-bg-dark, $c-bg-dark 40px, transparent 40px);
    left: -($filter-rail-width);
    padding-right: 40px;
    width: $filter-rail-width + 40px;

    @media($bp-small-min) {
      background-image: linear-gradient(270deg, $c-bg-dark, $c-bg-dark 60px, transparent 60px);
      padding-right: 60px;
      width: $filter-rail-width + 60px;
    }
  }

  &__header {
    border-bottom: 1px solid rgba($c-bd-subtle, .8);
    padding: 20px 27px 0 24px;
  }

  &--collapsed &__header {
    border-bottom: none;
  }

  &--collapsed &__header-controls {
    visibility: hidden;
  }

  &__title {
    color: $c-font-inverse;
    font-family: $f-trueno;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 1.5;
    margin-bottom: 0;
    padding-right: 50px;
    text-transform: uppercase;
    transform-origin: bottom right;
  }

  &--collapsed &__title {
    line-height: 1;
    padding-right: 0;
    position: relative;
      right: -66px;
      top: 10px;
    text-align: right;
    transform: rotate(-90deg);
    white-space: nowrap;
    width: 100%;

    @media($bp-small-max) {
      right: -56px;
    }
  }

  &__clear-button,
  &__hide-filters,
  &__collapse-all {
    @include hl-button-reset;
  }

  &__hide-filters {
    cursor: pointer;
    padding: 15px;
    padding-top: 20px;
    position: absolute;
      right: 10px;
      top: 0;
    transition: all 0.5s ease;
    z-index: 2;
  }

  &--collapsed &__hide-filters {
    height: 100%;
    right: 0;
    transform: scaleX(-1);
    width: 60px;

    @media($bp-small-max) {
      padding: 15px 5px;
      width: 40px;
    }

    img {
      display: inline-block;
      vertical-align: top;
    }

    & > span {
      display: inline-block;
      height: 100%;
      width: 1px;
    }
  }

  &__clear-button {
    color: $c-font-filter-blue;
    font-family: $f-trueno;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
  }

  &__collapse-row {
    text-align: right;
  }

  &__collapse-all {
    background-color: $c-bg-semi-dark;
    color: $c-font-inverse;
    font-family: $f-trueno;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.85;
    padding: 3px 10px;

    &:after {
      border-bottom: 7px solid $c-theme-primary;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      content: "";
      display: inline-block;
      height: 0;
      margin-left: 0.75em;
      transition: transform 0.5s ease;
      width: 0;
    }

    &[aria-expanded="true"] {
      & > span:last-child {
        display: none;
      }
    }

    &[aria-expanded="false"] {
      &:after {
        transform: scaleY(-1);
      }

      & > span:first-child {
        display: none;
      }
    }
  }

  &__filters {
    overflow: auto;
    padding: 25px;
  }

  &--collapsed &__filters {
    visibility: hidden;
  }

  &__group {

    & > fieldset {
      margin: 0;
      padding: 0;
    }

    // prevent select menus from spilling out beyond the filter rail container.
    &:nth-last-child(2) .Select-menu-outer {
      top: 0;
    }

    &:last-child .Select-menu-outer {
      bottom: 0;
      top: auto;
    }
  }

  &__group + &__group {
    border-top: 1px solid rgba($c-bd-subtle, .8);
    margin-top: 13px;
    padding-top: 20px;
  }

  &__message {
    border-top: 1px solid rgba($c-bd-subtle, .8);
    color: $c-font-inverse;
    font-family: $f-trueno;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.5;
    margin-top: 13px;
    padding-top: 20px;
  }
}
