.hl__library-filters {
  background-image: linear-gradient(45deg, $c-theme-tertiary, $c-theme-primary);
  margin-bottom: -40px;
  padding-bottom: 80px;
  padding-top: 40px;

  @media ($bp-small-min) {
    margin-bottom: -60px;
    padding-bottom: 120px;
  }

  &__container {
    display: flex;
    justify-content: space-between;

    .hl__full-template__page-content & {
      @include hl-container("full");
    }

    .hl__base-template__page-content & {
      @include hl-container();
    }
  }

  &__menus {
    width: 100%;

    @media ($bp-small-min) {
      display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @media ($bp-large-min) {
      width: 75%;
    }
  }

  &__menu {
    margin-bottom: 20px;

    @media ($bp-small-min) {
      margin-bottom: 0;
      margin-right: 20px;
      width: calc(33% - 20px);
    }

    @media ($bp-large-min) {
      margin-right: 30px;
    }

    &:last-child {
      margin-bottom: 0;
      margin-right: 0;
    }

    & > label {
      color: $c-white;
      display: block;
      font-family: $f-trueno;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 2px;
      line-height: 1.71;
      margin-bottom: 5px;
      text-transform: uppercase;
    }

    .Select-control {
      border: none;
      height: 45px;
    }

    .Select-arrow-zone {
      display: none;
    }

    .Select-placeholder {
      background-image: url("../../assets/images/svg-icons/magnifying-glass.svg");
      background-position: center left 10px;
      background-repeat: no-repeat;
      color: $c-font-subtle;
      font-family: $f-trueno;
      font-size: 16px;
      line-height: 45px;
      padding-left: 35px;
    }

    .Select-value {
      background-color: transparent;
      border: 2px dotted rgba($c-bd-subtle, 0.5);
      border-radius: 3px;
      color: $c-font-base;
      font-family: $f-trueno;
      font-size: 14px;
      padding: 2px 20px 2px 4px;
      position: relative;
    }

    .Select-value-icon {
      border: none;
      display: block;
      font-family: $f-trueno;
      font-size: 30px;
      font-weight: 200;
      height: 12px;
      line-height: 12px;
      position: absolute;
        right: 0;
        top: 7px;
      text-indent: -12px;
      width: 12px;
    }

    .Select--multi.has-value .Select-input,
    .Select-input {
      display: inline-block;
      margin-left: -5px;

      input {
        color: $c-font-subtle;
        font-family: $f-trueno;
        font-size: 16px;
        line-height: 25px;
        padding-left: 5px;
      }
    }

    .Select-multi-value-wrapper {
      padding-bottom: 5px;
      padding-right: 5px;
    }

    .Select-menu-outer {
      font-family: $f-trueno;
      font-size: 14px;
    }

    .Select-option:hover, .Select-option.is-focused {
      background-color: $c-bg-subtle;
    }
  }
}
