.hl__range-slider {
  padding: 12px 12px 25px;

  .input-range {
    height: 26px;
  }

  .input-range__label--value {
    top: 19px;
  }

  .input-range__label-container {
    background-color: $c-theme-base;
  }

  .input-range__label--min,
  .input-range__label--max {
    bottom: -33px;
    position: absolute;
  }

  // handles
  .input-range__slider {
    background-color: $c-bg-filter-blue;
    border: none;
    height: 18px;
    margin-left: -9px;
    margin-top: -12px; // compensate for the thickness of the line as well
    box-shadow: 0 0 0 5px rgba($c-bg-filter-blue, 0.5);
    width: 18px;

    &:active {
      transform: scale(1.13); 
    }

    &:focus {
      box-shadow: 0 0 0 8px rgba($c-bg-filter-blue, 0.5);
    }
  }

  // current range bar
  .input-range__track {
    background-color: rgba($c-bg-light, 0.35);
    height: 5px;
    margin-top: 0;
    transform: translateY(-50%);
    z-index: 5; 

    &--active {
      background-color: rgba($c-bg-filter-blue, 0.7);
      box-shadow: 0 0 0 2px rgba($c-bg-filter-blue, 0.5);
      height: 5px;
      top: 50%;
    }
  }
}

// https://github.com/davidchin/react-input-range
.input-range__slider {
  appearance: none;
  background: #3f51b5;
  border: 1px solid #3f51b5;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 1rem;
  margin-left: -0.5rem;
  margin-top: -0.65rem;
  outline: none;
  position: absolute;
  top: 50%;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  width: 1rem; 

  &:active {
    transform: scale(1.3); 
  }

  &:focus {
    box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2); 
  }

  .input-range--disabled & {
    background: rgba($c-bg-light, .35);
    border: 1px solid rgba($c-bg-light, .35);
    box-shadow: none;
    transform: none; 
  }
}

.input-range__slider-container {
  transition: left 0.3s ease-out; 
}

.input-range__label {
  color: $c-font-inverse;
  font-family: $f-trueno;
  font-size: 15px;
  transform: translateZ(0);
  white-space: nowrap;
}

.input-range__label--min,
.input-range__label--max {
  bottom: -1.4rem;
  position: absolute; 
}

.input-range__label--min {
  left: 0; 
}

.input-range__label--max {
  right: 0; 
}

.input-range__label--value {
  position: absolute;
  top: -1.8rem; 
}

.input-range__label-container {
  left: -50%;
  position: relative; 

  .input-range__label--max & {
    left: 50%;

    &:after {
      content: "+";
      display: block;
      font-family: san-serif;
      font-size: 1em;
      font-weight: 400;
      line-height: 1;
      padding-left: 2px;
      position: absolute;
        left: 100%;
        top: 0;
    }
  }
}

.input-range__track {
  background: rgba($c-bg-light, 0.35);
  border-radius: 0.3rem;
  cursor: pointer;
  display: block;
  height: 0.3rem;
  position: relative;
  transition: left 0.3s ease-out, width 0.3s ease-out;

  .input-range--disabled & {
    background: rgba($c-bg-light, 0.35);
  }
}

.input-range__track--background {
  margin-top: -0.15rem;
  position: absolute;
    left: 0;
    right: 0;
    top: 50%; 
}

.input-range__track--active {
  background: #3f51b5; 
}

.input-range {
  height: 1rem;
  position: relative;
  width: 100%; 
}
