.hl__search-banner {
  background-position: center bottom;
  background-size: cover;
  overflow: hidden;

    @media($bp-large-min) {
      padding-top: 55px;
    }

  &__container {
    @include hl-container;
    background-image: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0.8) 100%);
    padding-bottom: 50px;
    padding-top: 50px;
    position: relative;
    text-align: center;

    @media ($bp-small-min) {
      min-height: 630px;
      padding-top: 60px;
    }

    @media ($bp-medium-min) {
      min-height: 650px;
      padding-top: 70px;
    }

    @media ($bp-large-min) {
      padding-bottom: 60px;
      padding-top: 100px;
    }

    &:before,
    &:after {
      background-color: $c-white;
      content: "";
      height: 55px;
      position: absolute;
        bottom: 0;
      width: calc((100vw - 100%) / 2);
      z-index: 1;
    }

    &:before {
      right: 100%;
    }

    &:after {
      left: 100%;
    }
  }

  &__title {
    color: $c-font-dark;
    font-size: 32px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.25;

    @media ($bp-small-min) {
      font-size: 42px;
    }

    @media ($bp-medium-min) {
      font-size: 48px;
    }

    @media ($bp-large-min) {
      font-size: 52px;
    }

    b, strong {
      display: block;
      font-family: $f-trueno;
      font-size: 34px;
      font-style: normal;
      font-weight: 700;
      letter-spacing: 3.05px;
      text-transform: uppercase;

      @media ($bp-x-small-min) {
        font-size: 44px;
      }

      @media ($bp-medium-min) {
        font-size: 54px;
      }

      @media ($bp-large-min) {
        font-size: 82px;
      }
    }    
  }

  &__content {
    margin: 0 auto;
    max-width: 690px;

  }

  &__description {

    @media ($bp-medium-min) {
      font-size: 21px;
      line-height: 34px;
    }
  }

  &__search-input {
    margin: 35px 0;

    .hl__single-input-form {
      padding: 0;
    }

    .hl__single-input-form__form {
      max-width: 100%;
      padding: 0;
    }

    .hl__single-input-form__input-group {
      background-color: $c-white;
      height: 60px;
      margin: 0;
      max-width: 100%;
    }

    .hl__input {
      @media ($bp-x-small-min) {
        background-image: url("../../assets/images/svg-icons/magnifying-glass.svg");
        background-position: left 18px center;
        background-repeat: no-repeat;
        background-size: 30px 30px;
        padding-left: 65px;
        transition: background 0.5s ease, padding 0.5s ease;
      }

      @media ($bp-small-min) {
        font-size: 18px;
      }

      &:focus {
        background-position: left -35px center;
        padding-left: 10px;
      }
    }

    .hl__button {
      padding: 0 20px;
    }

  }

  &__helper-text {
    font-family: $f-trueno;
    font-size: 15px;

    @media ($bp-small-min) {
      font-size: 17px;
    }
  }
}
