.hl__search-input-row {
  background-color: $c-bg-subtle;

  &--red {
    background-image: linear-gradient(-45deg, $c-theme-primary, $c-theme-tertiary);
  }

  &--blue {
    background-image: linear-gradient(-45deg, $c-theme-secondary, $c-theme-secondary-dark);
  }

  &--yellow {
    background-image: linear-gradient(-45deg, $c-theme-quaternary-light, $c-theme-quaternary);
  }

  &__container {
    @include hl-container("full");
    padding-bottom: 40px;
    padding-top: 35px;
  }

  &__label {

  }

  &__text {
    color: $c-font-inverse;
    display: block;
    font-family: $f-trueno;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 30px;
    margin-bottom: 8px;
    text-transform: uppercase;
  }

  &--yellow &__text {
    color: $c-font-dark;
  }

  &__input {
    background-image: url("../../assets/images/svg-icons/magnifying-glass.svg");
    background-position: center left 10px;
    background-repeat: no-repeat;
    font-size: 16px;
    line-height: 45px;
    padding-left: 35px;
    max-width: 640px;
    transition: all 0.7s ease;
    width: 100%;

    &:focus {
      background-position: -20px;
      padding-left: 10px;
    }
  }
}
