<section class="hl__search-banner js-search-banner">
  {% if searchBanner.bgNarrow and searchBanner.bgWide %}
    <style>
      .hl__search-banner {
        background-image: url('{{ searchBanner.bgNarrow }}');
      }

      @media (min-width: 800px) {
        .hl__search-banner {
          background-image: url('{{ searchBanner.bgWide }}');
        }
      }

    </style>
  {% endif %}
  <div class="hl__search-banner__container">
    <h1 class="hl__search-banner__title">{{ searchBanner.title|raw }}</h1>
    <div class="hl__search-banner__content">
      {% if searchBanner.description %}
        <div class="hl__search-banner__description">
          {% include "@molecules/text/rich-text.twig" with { "richText": searchBanner.description } %}
        </div>
      {% endif %}
      <div class="hl__search-banner__search-input js-search-banner-form">
        {% include "@molecules/forms/single-input-form.twig" with { "singleInputForm": searchBanner.singleInputForm } %}
      </div>
      {% if searchBanner.helperText %}
        <div class="hl__search-banner__helper-text">
          {% include "@molecules/text/rich-text.twig" with { "richText": searchBanner.helperText } %}
        </div>
      {% endif %}
    </div>
  </div>
</section>
