.hl__single-input-form {
  background-image: linear-gradient(to right, $c-theme-blue-dark, $c-theme-blue);
  padding-bottom: 25px;
  padding-top: 25px;
  width: 100%;
  text-align: center;

  &--red {
    background-image: linear-gradient(to right, $c-theme-tertiary, $c-theme-primary);

    .hl__single-input-form__input-group {

      .hl__button:after {
        border-left-color: $c-theme-red;
      }
    }
  }

  &--yellow {
    background-image: linear-gradient(to right, darken($c-theme-yellow, 15%), $c-theme-yellow);

    .hl__single-input-form__form {
      .hl__label--inline {
        color: $c-font-dark;
      }

    }

    .hl__single-input-form__input-group {

      .hl__button:after {
        border-left-color: $c-theme-yellow;
      }
    }
  }

  &--clear {
    background-image: none;

    .hl__single-input-form__form {
      .hl__label--inline {
        color: $c-font-dark;
      }

    }

    .hl__single-input-form__input-group {

      .hl__button:after {
        border-left-color: $c-theme-blue;
      }
    }
  }

  &__form {
    @include hl-container;
    display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
    position: relative;
    width: 100%;

    & > * {
      flex: auto;
    }
  }

  &__helper-text {
    color: $c-font-inverse;
    font-family: $f-trueno;
    font-size: 15px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 100%;
  }

  &--yellow &__helper-text {
    color: $c-font-dark;
  }

  &--clear &__helper-text {
    color: $c-font-subtle;
  }

  .hl__label--inline {
    color: $c-font-inverse;
    flex: none;
    font-family: $f-trueno;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    text-transform: uppercase;

    @media ($bp-small-min) {
      margin-left: unset;
      margin-right: 20px;
    }
  }

  &__input-group, &__dropdown {
    background-color: $c-white;
    border: 1px solid transparent;
    border-radius: 3px;
    display: flex;
    flex: auto;
    height: 45px;
    margin-bottom: 10px;
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;

    @media ($bp-small-min) {
      min-width: 400px;
      max-width: 550px;
    }

    .hl__input--inline {
      background-color: transparent;
      flex: auto;
      height: 100%;
      min-width: 0;
      position: relative;
      z-index: 1;
    }

    .hl__button--inline {
      border-left: 1px solid $c-theme-base;
      border-radius: 0; //override
      flex: none;
      margin: 10px 0;
      padding-bottom: 0;
      padding-top: 0;
      vertical-align: middle;

      &:after {
        border-bottom: 5px solid transparent;
        border-left: 7px solid $c-theme-blue;
        border-top: 5px solid transparent;
        content: "";
        display: inline-block;
        margin-left: 7px;

        @media ($bp-small-max) {
          display: none;
        }
      }
    }
  }

  &--clear &__input-group {
    border-color: $c-theme-base;
  }

  &__dropdown {
      display:none;
      margin-top:-13px;
      border-radius: 0 0 3px 3px;
      padding: 20px 10px 5px 10px;
      text-align: left;
      height: 100%;
      margin-bottom:0;
  }

  &__dropdown.is-visible {
    display:block;
  }

  &__dropdown-item {
    max-width: 440px;

    a {
      color: $c-font-subtle;
      font-family: $f-trueno;
      font-weight: 200;
      font-size: 16px;
      text-decoration:none;
      padding:10px 5px;
      display:block;

      span {
        font-weight:600;
      }

      &:hover, &:focus {
        background-color:#f3f3f3;
      }
    }
  }

  &__search-term {
    display:inline;
  }
}

.js-search-dropdown .hl__single-input-form__input-group {
  margin-bottom:0px;
}
