
{% set singleInputFormTheme = singleInputForm.theme ? "hl__single-input-form--" ~ singleInputForm.theme : "" %}

{% set formMethod = singleInputForm.method ? singleInputForm.method : "POST" %}

{% set searchDropdown = singleInputForm.dropdown ? "js-search-dropdown" : "" %}

<section class="hl__single-input-form {{ singleInputFormTheme }} {{ searchDropdown }}">
  <form
    class="hl__single-input-form__form"
    action="{{ singleInputForm.action }}"
    method="{{ formMethod }}">
    {% include "@atoms/forms/label.twig" with {"label": singleInputForm.label} %}
    {% if singleInputForm.helperText %}
      <div class="hl__single-input-form__helper-text">{{ singleInputForm.helperText }}</div>
    {% endif %}
    <div class="hl__single-input-form__input-group">
      {% include "@atoms/forms/input.twig" with {"input": singleInputForm.input} %}
      {% include "@atoms/buttons/button.twig" with {"button": singleInputForm.button} %}
    </div>
    {% if singleInputForm.dropdown %}
      <div class="hl__single-input-form__dropdown">
        <div class="hl__single-input-form__dropdown-item">
          <a href="#" alt="search in website" id="search-website-link" tabIndex="0">
            <div class="hl__single-input-form__search-term"></div>
            in <span>website (library.harvard)</span>
          </a>
        </div>
        <div class="hl__single-input-form__dropdown-item">
          <a href="#" alt="search in library catalog" id="search-hollis-link" tabIndex="0">
            <div class="hl__single-input-form__search-term"></div>
          in <span>library catalog & articles (HOLLIS)</span>
          </a>
        </div>
      </div>
    {% endif %}
  </form>
</section>
