$sort-by-type-margin-sm: 30px;
$sort-by-type-margin-lg: 50px;

// BACKWARD COMPATIBLE for older code - 5/1/2018 0.23.4
fieldset.hl__sort-by-type {
  @include hl-container("full");
}

.hl__sort-by-type {
  // background-color: $c-bg-subtle;
  border: none;
  overflow: hidden;

  input,
  legend {
    @include hl-visually-hidden;
  }

  fieldset {
    @include hl-container("full");
    border: none;
    overflow: hidden;
    padding: 22px 0;
  }

  &__label {
    color: $c-font-dark;
    display: inline-block;
    font-family: $f-trueno;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 1.5;
    margin-right: $sort-by-type-margin-sm;
    text-transform: uppercase;

    @media ($bp-medium-min) {
      margin-right: $sort-by-type-margin-lg;
    }

    @media ($bp-small-max) {
      margin-bottom: 10px;
      width: 100%;
    }
  }

  .hl__radio-input {
    display: inline-block;
    margin-right: $sort-by-type-margin-sm;

    @media ($bp-medium-min) {
      margin-right: $sort-by-type-margin-lg;
    }

    @media ($bp-small-max) {
      display: block;
      margin-bottom: 5px;
      margin-right: 0;
    }

    .hl__icon {
      padding-right:10px;
    }

    &__label {
      color: $c-font-link;
      font-family: $f-trueno;
      font-size: 17px;
      font-weight: 600;
      line-height: 1.47;
      padding-bottom: 3px;
      transition: border 0.28s cubic-bezier(0.28, 1.08, 1, 0.96);

      @media ($bp-small-max) {
        padding-bottom: 0;
      }

      &:hover {
        border-bottom: 3px solid rgba($c-font-link, 0.3);
      }
    }

    input:checked + .hl__radio-input__label {
      border-bottom: 3px solid $c-theme-quaternary;
      color: $c-font-dark;

    }
  }
}
