<div class="hl__sort-by-type">
  <fieldset>
    <legend>{{ sortByType.label }}</legend>
    <span class="hl__sort-by-type__label" aria-hidden>{{ sortByType.label }}</span>
    {% for item in sortByType.items %}
      {% include "@atoms/forms/radio-input.twig" with { "radioInput": item } %}
    {% endfor %}
  </fieldset>
</div>
