form.contact-message-personal-form {
  @include hl-container("full");
  max-width: 690px;

  a {
    border-bottom: 3px solid transparent;
    color: $c-font-link;
    font-family: $f-trueno;
    font-size: inherit;
    font-weight: 600;
    text-decoration: none;
    transition: border 0.28s cubic-bezier(0.28, 1.08, 1, 0.96);

    &:focus,
    &:hover {
      border-bottom-color: rgba($c-font-link, 0.3);
    }
  }

  .form-item {
    margin-bottom: 30px;

    @media ($bp-small-min) {
      margin-bottom: 50px;
    }

    label {
      font-family: $f-trueno;
      font-weight: 600;
    }

    textarea,
    input {
      border: 1px solid $c-bd-divider-dark;
      border-radius: 3px;
      margin-top: 0.75em;
      min-height: 45px;
      padding: 0 20px;
      width: 100%;
    }

    textarea {
      padding: 20px;
    }
  }

  .form-required {

  }

  .form-actions {
    text-align: right;

    input {
      @include hl-button-base;
      @include hl-button("solid", $c-theme-secondary, $c-theme-secondary-dark);
    }
  }
}
