<div id="block-harvard-content" data-block-plugin-id="system_main_block">


  <form class="contact-message-personal-form contact-message-form contact-form" data-user-info-from-browser="" data-drupal-selector="contact-message-personal-form" action="/user/41/contact" method="post" id="contact-message-personal-form" accept-charset="UTF-8" data-drupal-form-fields="edit-name,edit-mail,edit-subject-0-value,edit-message-0-value,edit-submit">
    <div class="js-form-item form-item js-form-type-textfield form-item-name js-form-item-name">
      <label for="edit-name" class="js-form-required form-required">Your name</label>
      <input data-drupal-selector="edit-name" type="text" id="edit-name" name="name" value="" size="60" maxlength="255" class="form-text required" required="required" aria-required="true">
    </div>
    <input autocomplete="off" data-drupal-selector="form-29xsiezxid8ka4u9c8gudxyzdqpw8cagq61sexyab2m" type="hidden" name="form_build_id" value="form-29xSIEzXiD8ka4u9C8guDXYZDqPw8CaGq61seXyAB2M">
    <input data-drupal-selector="edit-contact-message-personal-form" type="hidden" name="form_id" value="contact_message_personal_form">
    <div class="js-form-item form-item js-form-type-email form-item-mail js-form-item-mail">
      <label for="edit-mail" class="js-form-required form-required">Your email address</label>
      <input data-drupal-selector="edit-mail" type="email" id="edit-mail" name="mail" value="" size="60" maxlength="254" class="form-email required" required="required" aria-required="true">
    </div>
    <div id="edit-recipient" class="js-form-item form-item js-form-type-item form-item-recipient js-form-item-recipient">
      <label for="edit-recipient">To</label>
      <a data-drupal-selector="edit-name" title="View user profile." href="/user/41" lang="" about="/user/41" typeof="schema:Person" property="schema:name" datatype="" content="abby_conway@harvard.edu">Abby Elizabeth…</a>
    </div>
    <div class="field--type-string field--name-subject field--widget-string-textfield js-form-wrapper form-wrapper" data-drupal-selector="edit-subject-wrapper" id="edit-subject-wrapper">      
      <div class="js-form-item form-item js-form-type-textfield form-item-subject-0-value js-form-item-subject-0-value">
        <label for="edit-subject-0-value" class="js-form-required form-required">Subject</label>
        <input class="js-text-full text-full form-text required" data-drupal-selector="edit-subject-0-value" type="text" id="edit-subject-0-value" name="subject[0][value]" value="" size="60" maxlength="100" placeholder="" required="required" aria-required="true">

      </div>

    </div>
    <div class="field--type-string-long field--name-message field--widget-string-textarea js-form-wrapper form-wrapper" data-drupal-selector="edit-message-wrapper" id="edit-message-wrapper">      
      <div class="js-form-item form-item js-form-type-textarea form-item-message-0-value js-form-item-message-0-value">
        <label for="edit-message-0-value" class="js-form-required form-required">Message</label>
        <div>
          <textarea class="js-text-full text-full form-textarea required" data-drupal-selector="edit-message-0-value" id="edit-message-0-value" name="message[0][value]" rows="12" cols="60" placeholder="" required="required" aria-required="true"></textarea>
        </div>

      </div>

    </div>
    <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Send message" class="button button--primary js-form-submit form-submit">
    </div>

  </form>

</div>
