.hl__week-picker {
  text-transform: uppercase;
  font-family:$f-trueno;
  background: $c-theme-quaternary;
  padding:10px 25px;
  width:510px;

  &__icon {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-right: .5em;
    vertical-align: middle;
    width: 16px;

    svg {
      fill: $c-font-filter-blue;
      height: 100%;
      line-height: 20px;
      width: 100%;
    }
  }

  &__to-divider,
  &__end-date {
    color:$c-font-dark;
    display: inline-block;
    font-family: $f-trueno;
    font-size: 20px;
    letter-spacing:1.5px;
    font-weight:600;
    vertical-align: middle;
  }

  &__to-divider {
    margin: 0 30px 0 20px;

    @media(max-width:510px){
      margin:0 20px;
    }
  }

  &__end-date {
    font-weight: 600;
    text-align: right;

    &__group {
      display:inline-block;
    }
  }

  &__control {
    display: inline-block;
      justify-content: space-between;

    button {
      @include hl-button-reset;
      line-height: 24px;
      width:20px;

      &.hl__week-picker__control--previous {
        margin-right:20px;

        @media(max-width:510px){
          margin-right:10px;
        }
      }

      &.hl__week-picker__control--next {
        margin-left:20px;

        @media(max-width:510px){
          margin-left:10px;
        }
      }

      &:disabled {
        cursor: default;

        svg g g{
          fill: rgba(30,30,30,0.3);
        }
      }
    }
  }

  // ***************************
  // Start Date Picker overrides
  // ***************************

  .SingleDatePicker {
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
  }

  .SingleDatePickerInput {
    background-color: transparent;
    border: 0;

    &_calendarIcon {
      margin: 0;
      padding:10px 5px;
    }
  }

  .DateInput {
    background: transparent;
    width: 152px;
  }

  .DateInput_input {
    background: transparent;
    text-transform:uppercase;
    color: $c-font-dark;
    font-family: $f-trueno;
    font-size: 20px;
    // line-height:30px;
    letter-spacing:1.5px;
    font-weight: 600;
    padding: 0;
    transition: border 0.5s ease;
  }

  .DateInput_input,
  .DateInput_input:hover,
  .DateInput_input__focused {
    background: transparent;
    border-color: rgba(30,30,30,0.6);
    cursor:pointer;
  }

  .DateInput_fang {
    transform: translate(20px, -29px);
    left:calc(50% - 125px);
    margin-top:20px;
    position:fixed;

    &Shape {
      fill: $c-gray-dfdfdf;
    }

    &Stroke {
      stroke: $c-gray-dfdfdf;
    }
  }

  .SingleDatePicker_picker {
    transform: translate(-45px, -30px);
    background: $c-bg-subtle;
    z-index:90;

    &__directionLeft {
      position:fixed;
      margin-left:calc(50% - 110px);
      margin-top:19px;
    }
  }

  .DayPickerKeyboardShortcuts {
    &_show__bottomRight {
      border-right-color: $c-bg-light;
    }
    &_showSpan {
      color: $c-white;
    }
  }

  .DayPicker_weekHeader {
    text-transform:none;
  }

  .CalendarDay {
    &__default {
      color: $c-font-subtle;
      border-color: $c-gray-dfdfdf;

      &:hover {
        background: $c-theme-quaternary;
        color: $c-font-dark;
      }
    }

    &__selected, &__selected:active, &__selected:hover {
      background: $c-theme-quaternary;
      color: $c-font-dark;
    }

    &__blocked_out_of_range, &__blocked_out_of_range:active, &__blocked_out_of_range:hover {
      color: $c-font-light;
      background: $c-white;
    }
  }

  .CalendarMonth {
    background:$c-gray-dfdfdf;

    &_caption {
      color:$c-font-dark;
      letter-spacing:2.14px;
      font-size:15px;
    }
  }

  .DayPicker_transitionContainer, .CalendarMonthGrid {
    background: $c-gray-dfdfdf;
    border-radius:0;
  }

  .DayPicker__withBorder {
    border-radius:0;
    box-shadow:none;
  }

  .DayPickerNavigation {
    &_button {
      background:$c-gray-dfdfdf;
      border:none;
    }

    &_svg__horizontal {
      fill:$c-font-dark;
    }
  }

  .DayPickerKeyboardShortcuts_panel {
    text-transform:none;
  }

  .KeyboardShortcutRow {
    padding: 10px 0;
  }

  // *************************
  // End date picker overrides
  // *************************
}
