.hl__rich-text table,
.hl__table {
  border-collapse: collapse;
  width: 100%;

  thead {
    background-color: $c-bg-subtle;

    th {
      border-bottom: 3px solid $c-theme-base;
      color: $c-font-heading;
      font-family: $f-trueno;
      font-size: 1.625rem;
      line-height: 1.3;
    }
  }

  tbody {
    border-top: 2px solid $c-bd-divider;

    th {
      color: $c-font-heading;
      font-family: $f-trueno;
    }
  }

  tr + tr {
    border-top: 1px solid $c-bd-divider;
  }

  th, td {
    color: $c-font-subtle;
    font-size: 1.25rem;
    padding: 10px 20px 10px 0;
    text-align: left;
    vertical-align: top;

    &:first-child {
      padding-left: 15px;
    }
  }

  .is-offset th:first-child,
  .is-offset td:first-child {
    padding-left: 0;
  }
}

.hl__table {
  
  @media ($bp-small-max) {
    display: block;

    thead {
      display: none;
    }

    tbody {
      display: block;
    }

    thead + tbody,
    tbody:first-child {
      border-top: 0;
    }

    tr {
      display: block;
    }

    td,
    th {
      display: block;
      font-size: 1.375rem;
      padding-bottom: 0;
      padding-left: 40% !important;
      position: relative;

      &:before {
        color: $c-font-heading;
        content: attr(data-label);
        font-family: $f-trueno;
        height: 100%;
        position: absolute;
          top: 10px;
          left: 0;
        width: 35%;
      }
    }

    td {
      
      &:before {
        color: $c-font-heading;
        font-weight: 500;
      }
    }

    th {
      background-color: $c-bg-subtle;
      color: $c-font-heading;
      font-size: 1.375rem;
    }
  }
}

.hl__table--wide {
  
  @media ($bp-medium-max) {
    display: block;

    thead {
      display: none;
    }

    tbody {
      display: block;
    }

    thead + tbody,
    tbody:first-child {
      border-top: 0;
    }

    tr {
      display: block;
    }

    td,
    th {
      display: block;
      padding-left: 40% !important;
      position: relative;

      &:before {
        content: attr(data-label);
        height: 100%;
        position: absolute;
          top: 10px;
          left: 0;
        text-align: right;
        width: 35%;
      }
    }

    td {
      
      &:before {
        color: $c-font-heading;
        font-weight: 500;
      }
    }

    th {
      background-color: $c-bg-subtle;
      color: $c-font-heading;
      font-size: 1.375rem;
    }
  }
}
