{% set buttonSize = button.size ? "hl__button--" ~ button.size : "" %}

{% set buttonStyle = button.outline ? "hl__button--minor" : "" %}

{% set buttonTheme = button.theme ? "hl__button--" ~ button.theme : "" %}

{% set rightIconClass = button.iconRight ? "hl__button--with-right-icon" : "" %}

{% spaceless %}
  {% if button.href %}
    <a
      href="{{ button.href }}"
      class="hl__button {{ buttonSize }} {{buttonTheme}} {{buttonStyle}}  {{ button.cssClass }} {{ rightIconClass }}"
      title="{{ button.info }}">
        {% if button.icon %}
          <span class="hl__button__icon">{% include button.icon %}</span>
        {% endif %}
        <span class="hl__button__text">{{ button.text }}</span>
        {% if button.iconRight %}
          <span class="hl__button__icon hl__button__icon--right">{% include button.iconRight %}</span>
        {% endif %}
      </a>
  {% else %}
    <button type="{{ button.type }}" class="hl__button {{ buttonSize }} {{buttonTheme}} {{buttonStyle}} {{ button.cssClass }} {{ rightIconClass }}" aria-label="{{ button.info }}">
      {% if button.icon %}
        <span class="hl__button__icon">{% include button.icon %}</span>
      {% endif %}
      <span class="hl__button__text">{{ button.text }}</span>
      {% if button.iconRight %}
        <span class="hl__button__icon hl__button__icon--right">{% include button.iconRight %}</span>
      {% endif %}
    </button>
  {% endif %}
{% endspaceless %}
