.hl__button {
  @include hl-button-base;
}

.hl__button {
  @include hl-button("solid", $c-theme-base, $c-gray-6c6c6c);

  &--inline {
    @include hl-button("solid", transparent, transparent);
    color: $c-theme-base;
    position: relative;
    vertical-align: middle;

    &:focus,
    &:hover {
      color: $c-font-subtle;
    }
  }

  &__icon {
    line-height: 1em;
    margin-right: 0.25em;
    position: relative;
    top: 0.15em;

    & > svg {
      height: 1em;
      width: 1em;
    }

    &--right {
      display: inline-block;
      height: 14px;
      margin-right: -24px;
      padding-left: 10px;
      width: 24px;

      & > svg {
        fill: $c-theme-base;
        height: 100%;
        width: 100%;
      }
    }
  }

  &--with-right-icon {
    padding-right: 38px;
  }

  &--small {
    border-width: 1px;
    font-size: 12px;
    line-height: 16px;
    padding: 5px 9px;
  }

  &--small &--with-right-icon {
    padding-right: 27px;
  }
}

.hl__button--minor {
  @include hl-button("outline", $c-theme-base, $c-gray-6c6c6c);
}

.hl__button--secondary {
  @include hl-button("solid", $c-theme-secondary, $c-theme-secondary-dark);
}

.hl__button--minor.ma__button--secondary {
  @include hl-button("outline", $c-theme-secondary, $c-theme-secondary-dark);
}
