// "Library.Harvard Chat Widget" embedded from ask.library.harvard.edu
#hl__chat-button .hl__chat-button {
  p {
    display: none;
  }

  button {
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-family: "Trueno", sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.17px;
    line-height: 19px;
    padding: 12px 0px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.4s ease;
    color: $c-black;
    background: transparent;

    &::before {
      content: '';
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 100%;
      margin-right: 15px;
      vertical-align: sub;
      background-color: $c-theme-tertiary;
    }
  }

  button.libchat_online {
    border: 1px solid $c-black;
    background: $c-white;
    padding-left: 18px;
    padding-right: 48px;
    position: relative;

    &::before {
      background-color: #50A440;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 3px;
      width: 15px;
      top: 3px;
      right: 19px;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg%3E%3Cg transform='translate(-906 -1005)'%3E%3Cpath d='M923.78 1022.78V1015H926v7.78c0 1.22-1 2.22-2.22 2.22h-15.56c-1.23 0-2.22-1-2.22-2.22v-15.56c0-1.22.99-2.22 2.22-2.22H916v2.22h-7.78v15.56zm-5.71-17.78H926v7.93h-2.27v-4.07L912.6 1020l-1.6-1.6 11.14-11.13h-4.07z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") center / contain no-repeat;
    }

    &:hover, &:focus {
      background-color: $c-font-subtle;
      border-color: $c-font-subtle;
      color: $c-white;
    }
  }
}

// Show a placeholder button in rich-text editor
.cke_contents_ltr #hl__chat-button .hl__chat-button {
  p {
    display: block;
    border: 1px solid $c-black;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-family: "Trueno", sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.17px;
    line-height: 19px;
    padding: 12px 48px 12px 18px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.4s ease;
    color: $c-black;
    background: $c-white;
    position: relative;

    &::before {
      content: '';
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 100%;
      margin-right: 15px;
      vertical-align: sub;
      background-color: #50A440;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 3px;
      width: 15px;
      top: 3px;
      right: 19px;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg%3E%3Cg transform='translate(-906 -1005)'%3E%3Cpath d='M923.78 1022.78V1015H926v7.78c0 1.22-1 2.22-2.22 2.22h-15.56c-1.23 0-2.22-1-2.22-2.22v-15.56c0-1.22.99-2.22 2.22-2.22H916v2.22h-7.78v15.56zm-5.71-17.78H926v7.93h-2.27v-4.07L912.6 1020l-1.6-1.6 11.14-11.13h-4.07z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") center / contain no-repeat;
    }
  }
}
