.hl__hamburger-button {
  @include hl-button-reset;
  border: none;
  color: $c-font-dark;
  cursor: pointer;
  font-family: $f-trueno;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  text-transform: uppercase;
  transition: transform 0.5s ease;
  z-index: $z-dropdown;

  & > span {
    display: inline-block;
    line-height: 30px;
    margin-top: -3px;
    vertical-align: middle;
  }

  &__icon {
    background-color: $c-font-dark;
    cursor: pointer;
    display: block;
    height: 3px;
    margin-top: 0;
    position: relative;
    transition: all 500ms ease-in-out;
    width: 24px;

    &::before,
    &::after {
      background-color: $c-font-dark;
      content: "";
      cursor: pointer;
      display: block;
      height: 3px;
      position: absolute;
        right: 0;
      transition: all 500ms ease-in-out;
      width: 24px;
    }

    &::before {
      top: -6px;
    }

    &::after {
      bottom: -6px;
    }
  }

  &.is-open &__icon {
    background-color: transparent;

    &::before {
      background-color: $c-font-dark;
      top: 0;
      transform: rotate(-45deg);
    }

    &::after {
      background-color: $c-font-dark;
      bottom: 0;
      transform: rotate(45deg);
    }
  }
}
