<button class="hl__hamburger-button js-hamburger-button" type="button" aria-label="open or close the Main Navigation">
  {% if hamburgerButton.text %}<span>{{ hamburgerButton.text }}</span>{% endif %}<span class="hl__hamburger-button__icon"></span>
</button>
