  <!--DO NOT REMOVE-->
  <!--Must be at the top of the code-->
  {{ patternLabFoot|raw }}


  <!-- Begin Harvard Patterns -->
  <script src="../../assets/js/libraries-generated.js"></script>
  <script src="../../assets/js/polyfill-generated.js"></script>
  <script src="../../assets/js/index-generated.js"></script>

  <!-- Chat button: utility nav -->
  <script type="text/javascript" src="https://v2.libanswers.com/load_chat.php?hash=90b85bdd1489a074045c2519ad2fc1a5"></script>
  <!-- Chat button: rich-text editor -->
  <script src="https://v2.libanswers.com/load_chat.php?hash=055503cc8dd52ad22b42fb2afdf10da9"></script>

  <script>
    if(document.querySelector(".js-library-directory-app")){
      var script    = document.createElement("script");
      script.type   = "text/javascript";
      script.src    = "../../assets/js/library-directory-generated.js";
      script.async  = true;
      (document.getElementsByTagName('head')[0]).appendChild(script);
    }

    if(document.querySelector(".js-alpha-directory-app")){
      var script    = document.createElement("script");
      script.type   = "text/javascript";
      script.src    = "../../assets/js/alpha-directory-generated.js";
      script.async  = true;
      (document.getElementsByTagName('head')[0]).appendChild(script);
    }

    if(document.querySelector(".js-search-listing-app") || document.querySelector(".js-search-directory-app") ){
      var script    = document.createElement("script");
      script.type   = "text/javascript";
      script.src    = "../../assets/js/search-directory-generated.js";
      script.async  = true;
      (document.getElementsByTagName('head')[0]).appendChild(script);
    }

    if(document.querySelector(".js-space-finder")){
      var script    = document.createElement("script");
      script.type   = "text/javascript";
      script.src    = "../../assets/js/space-finder-generated.js";
      script.async  = true;
      (document.getElementsByTagName('head')[0]).appendChild(script);
    }

    if(document.querySelector(".js-event-directory-app")){
      var script    = document.createElement("script");
      script.type   = "text/javascript";
      script.src    = "../../assets/js/event-directory-generated.js";
      script.async  = true;
      (document.getElementsByTagName('head')[0]).appendChild(script);
    }

    if(document.querySelector(".js-collection-directory-app")){
      var script    = document.createElement("script");
      script.type   = "text/javascript";
      script.src    = "../../assets/js/collection-directory-generated.js";
      script.async  = true;
      (document.getElementsByTagName('head')[0]).appendChild(script);
    }

    if(document.querySelector(".js-staff-directory-app")){
      var script    = document.createElement("script");
      script.type   = "text/javascript";
      script.src    = "../../assets/js/staff-directory-generated.js";
      script.async  = true;
      (document.getElementsByTagName('head')[0]).appendChild(script);
    }

    if(document.querySelector(".js-news-listing-app")){
      var script    = document.createElement("script");
      script.type   = "text/javascript";
      script.src    = "../../assets/js/news-listing-generated.js";
      script.async  = true;
      (document.getElementsByTagName('head')[0]).appendChild(script);
    }
  </script>

  <!-- End Harvard Patterns -->

  <!-- Stylguide only JS -->

  <script src="../../assets/js/react-patterns-generated.js"></script>

  <script>
    try {
      if( !document.querySelector('.hl__base-template__page-content') ){
        var json = JSON.parse(document.querySelector("#sg-pattern-data-footer").innerHTML);
        var data = json.patternBreadcrumb.patternType;

        if(data !== 'templates' && data !== 'pages') {
          document.querySelector('html').classList.add('hl__base-template');
          document.querySelector('body').classList.add('hl__base-template__page-content');
          document.querySelector('body').classList.add('hl__base-template__page-content--full');
          document.querySelector('body').classList.add('hl__styleguide-pattern');
        }
      }
    } catch(e) {}
  </script>
  <style>
    .hl__styleguide-pattern {
      margin-top: 40px;
    }
  </style>

  </body>
</html>
