{% set listType = list.ordered ? "ol" : "ul" %}

<{{ listType }}>
  {% for item in list.items %}
    <li>{{ item.text|raw }}
      {% if item.subitems %}
        <{{ listType }}>
          {% for subitem in item.subitems %}
            <li>{{ subitem.text|raw }}</li>
          {% endfor %}
        </{{ listType }}>
      {% endif %}
    </li>
  {% endfor %}
</{{ listType }}>
