.hl__circled-number-list {
  max-width: $l-max-content-width;
  padding-left: 60px;

  &__item {
    counter-increment: section;
    display: list-item;
    font-family: $f-trueno;
    font-size: 19px;
    margin-bottom: 20px;
    list-style: none;
    padding-top: 8px;
    position: relative;

    &:before {
      border: 2px solid $c-gray-dfdfdf;
      border-radius: 100%;
      color: $c-theme-tertiary;
      content: counter(section);
      display: inline-block;
      font-family: $f-trueno;
      font-size: 30px;
      font-weight: 600;
      height: 41px;
      line-height: 42px;
      position: absolute;
      left: -60px;
      top: 3px;
      text-align: center;
      width: 41px;
    }

    &:nth-child(n+10) {
      &:before {
        font-size: 24px;
      }
    }

  }
}
