{% set alignClass = compHeading.align ? "hl__comp-heading--" ~ compHeading.align : "" %}

{% set themeClass = compHeading.theme ? "hl__comp-heading--" ~ compHeading.theme : "" %}

{% set level = compHeading.level ? compHeading.level : 2 %}

{% if compHeading.text %}
  <h{{ level }} class="hl__comp-heading {{ alignClass }} {{ themeClass }}">{{ compHeading.text }}</h{{level }}>
{% endif %}
