.hl__comp-heading {
  color: $c-font-dark;
  font-family: $f-trueno;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.075em;
  line-height: 1.3;
  margin-bottom: 1em;
  text-transform: uppercase;

  @media ($bp-small-min) {
    font-size: 28px;
  }

  @media ($bp-large-min) {
    font-size: 32px;
  }

  &--center {

    @media ($bp-x-small-min) {
      text-align: center;
    }
  }

  &--small {
    font-size: 20px;
  }
}
