.hl__eyebrow {

  &__icon {
    display: inline-block;
    height: 30px;
    margin-right: 8px;
    width: 30px;
    vertical-align: middle;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  &__text {
    color: $c-font-subtle;
    display: inline-block;
    font-family: $f-trueno;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    vertical-align: middle;
  }
}
