{% set eyebrowClass = eyebrow.icon ? "hl__eyebrow--icon" : "" %}

{% spaceless %}
<div class="hl__eyebrow {{ eyebrowClass }}">
  {% if eyebrow.icon %}
    <span class="hl__eyebrow__icon">{% include eyebrow.icon %}</span>
  {% endif %}
  <span class="hl__eyebrow__text">{{ eyebrow.text }}</span>
</div>
{% endspaceless %}
