{% set colorInvertedClass = highlightedText.colorInverted ? "hl__highlighted-text--color-inverted" : "" %}

{% set outlineClass = highlightedText.outline ? "hl__highlighted-text--outline" : "" %}

<span class="hl__highlighted-text {{ outlineClass }} {{ colorInvertedClass }}">{{ highlightedText.text }}</span>
