.hl__highlighted-text {
  background-color: $c-theme-quaternary;
  color: $c-font-dark;
  display: inline-block;
  font-family: $f-trueno;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 1.5;
  padding: 3px 10px 1px;
  text-transform: uppercase;

  @media ($bp-x-small-min) {
    font-size: 20px;
  }

  &--outline {
    background-color: transparent;
    border: 1px solid $c-theme-quaternary;
  }

  &--color-inverted {
    background-color: $c-theme-base;
    color: $c-theme-quaternary;
  }
}
