.hl__icon-link {
  background-color: $c-white;
  border: 1px solid $c-bd-divider;
  border-radius: 50%;
  display: inline-block;
  height: 60px;
  position: relative;
  text-align: center;
  transition: all 0.5s ease;
  width: 60px;

  &:hover {
    height: 70px; 
    margin: -5px;
    width: 70px; 
  }

  & > svg {

    max-height: 100%;
    max-width: 100%;
    position: absolute;
      top: 50%;
      left: 50%;
    transform: translate(-50%, -50%);
  }

}
