{% set arrowClass = linkTag.withArrow ? "hl__link-tag--with-arrow" : "" %}
{% set iconColor = linkTag.externalIconColor ? "hl__link-tag__external-icon--" ~ linkTag.externalIconColor : "" %}

<a class="hl__link-tag {{ arrowClass }} {{ linkTag.cssClass }}" href="{{ linkTag.href }}" title="{{ linkTag.info }}">
  {% if linkTag.toggleText %}<span class="hl__link-tag__toggle-text">{{ linkTag.toggleText }}</span>{% endif %}
  {% if linkTag.label %}<span class="hl__visually-hidden">{{ linkTag.label }}</span>{% endif %}
  <span>{{ linkTag.text|nl2br }}</span>
  {% if linkTag.externalIcon %}
    <span class="hl__link-tag__external-icon {{ iconColor }}">{% include "@atoms/svg-icons/svg-external-link.twig" %}</span>
  {% endif %}
</a>
