.hl__pattern-heading {
  background: $c-white url('../../assets/images/dots.png') top center repeat;
  // border-top: 3px solid $c-theme-base;
  color: $c-font-dark;
  font-family: $f-trueno;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 1.5;
  padding: 12px 15px;
  text-transform: uppercase;

  @media ($bp-small-min) {
    padding: 16px 35px 17px;
  }
}
