.hl__statistic {
  position: relative;
  font-family: "trueno";

  &--center {
    text-align: center;
  }

  &__value {
    font-size: 90px;
    font-weight: 700;
    line-height: 1.5;
  }

  &__description {
    font-size: 19px;
  }
}
