{% set alignClass = statistic.align ? "hl__statistic--" ~ statistic.align : "" %}

<div class="hl__statistic {{ alignClass }}">
  <div class="hl__statistic__value">
    {{ statistic.value }}
  </div>
  <div class="hl__statistic__description">
    {{ statistic.description }}
  </div>
</div>
