.hl__sub-text {
  color: $c-font-heading;
  font-size: 22px;
  font-style: italic;
  line-height: 1.54;

  @media ($bp-small-min) {
    font-size: 24px;
  }

  @media ($bp-medium-min) {
    font-size: 26px;
  }
}
