.hl__bubble-figure {
  display: block;
  margin: 0;
  text-align: center;

  .hl__image {
    border-radius: 50%;
    display: block;
    margin: 0 auto 25px;
  }

  &__text-caption {
    color: $c-font-dark;
    font-family: $f-trueno;
    font-size: 19px;
    font-weight: 600;
  }

  &__text-description {
    color: $c-font-subtle;
    font-family: $f-trueno;
    font-size: 17px;
    font-weight: 300;
  }
}
