{% spaceless %}
<figure class="hl__bubble-figure">
  {% include "@atoms/media/image.twig" with {"image": bubbleFigure.image} %}
  {% if bubbleFigure.description or bubbleFigure.caption %}
    <figcaption class="hl__bubble-figure__figcaption">
      {% if bubbleFigure.caption %}
        <div class="hl__bubble-figure__text-caption">{{ bubbleFigure.caption }}</div>
      {% endif %}
      {% if bubbleFigure.description %}
        <div class="hl__bubble-figure__text-description">{{ bubbleFigure.description }}</div>
      {% endif %}
    </figcaption>
  {% endif %}
</figure>
{% endspaceless %}
