{% set figureAlign = figure.align ? "hl__figure--" ~ figure.align : "" %}

<figure class="hl__figure {{ figureAlign }}">
  {% include "@atoms/media/image.twig" with {"image": figure.image} %}
  {% if figure.credit or figure.caption %}
    <figcaption class="hl__figure__figcaption">
      {% if figure.caption %}
        <div class="hl__figure__text-caption">{{ figure.caption }}</div>
      {% endif %}
      {% if figure.credit %}
        <div class="hl__figure__text-credit"><span class="hl__figure__icon" aria-hidden="true">{% include "@atoms/svg-icons/svg-camera.twig" %}</span>{{ figure.credit }}</div>
      {% endif %}
    </figcaption>
  {% endif %}
</figure>
