.hl__figure {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media ($bp-medium-min) {
    &--left, &--right {
      display: inline-block;
    }

    &--left {
      float: left;
      margin-bottom: 1em;
      padding-right: 35px;
      padding-top: 10px;
      width: 50%;
    }

    &--right {
      float: right;
      margin-bottom: 1em;
      padding-left: 35px;
      padding-top: 10px;
      width: 50%;
    }

    &--right &__figcaption {
      text-align: right;
    }
  }


  &__text-caption {
    clear: both;
    color: $c-font-subtle;
    font-family: $f-trueno;
    font-size: 14px;
    font-weight: 200;
    text-transform: uppercase;

		a {
			font-size: 1em;
		}
  }

  &__icon {
    margin-right: 5px;
    position: relative;
    top: 3px;

    & > svg {
      fill: $c-theme-ink;
    }
  }

  &__text-credit {
    color: $c-font-subtle;
    font-family: $f-trueno;
    font-size: 14px;
    font-weight: 200;
  }
}
