{% set imageAlign = image.align ? "hl__image--" ~ image.align : "" %}

<img 
    class="hl__image {{ imageAlign }}"
    alt="{{ image.alt }}"
    {% if image.src %}
      height="{{ image.height }}" 
      width="{{ image.width }}"
      src="{{ image.src }}"
    {% else %}
      sizes="{{ image.sizes|join(", ") }}" 
      srcset="{{ image.srcset|join(", ")}}"
    {% endif %} />
