.hl__image {
  height: auto;
  max-width: 100%;

  @media ($bp-medium-min) {
    &--right {
      float: right;
      margin-bottom: 1em;
      padding-left: 35px;
      width: 50%;
    }

    &--left {
      float: left;
      margin-bottom: 1em;
      padding-right: 35px;
      width: 50%;
    }
  }
}
