<div class="hl__youtube-video">
  <iframe 
    class="hl__youtube-video__player" 
    width="{{ youtubeVideo.width }}" 
    height="{{ youtubeVideo.height }}" 
    src="{{ youtubeVideo.src }}" 
    frameborder="0"
    allow="autoplay; encrypted-media" 
    allowfullscreen 
    aria-label="{{ youtubeVideo.label }}"></iframe>
</div>
