.hl__youtube-video {
  height: 0;
  padding-top: 56.25%;
  position: relative;

  &__player {
    height: 100%;
    position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    width: 100%;
  }
}
