{% set gapClass = columns.showGap ? "hl__columns--show-gap" : "" %}

{% if columns and columns.columnContents|length > 1 %}
  <section class="hl__columns {{ gapClass }}">
{% endif %}
  {% for item in columns.columnContents %}
    {% include item.path with item.data %}
  {% endfor %}
{% if columns and columns.columnContents|length > 1 %}
  </section>
{% endif %}
