.hl__columns {
  display: grid;
  grid-template-columns: 1fr;

  @media ($bp-medium-min) {
    grid-template-columns: 1fr 1fr;
  }

  &--show-gap {
    @supports(grid-gap: 20px) {
      grid-gap: 20px;

      @media ($bp-medium-min) {
        grid-gap: 40px;
      }
    }
  }

  & > *:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-row: 2;

    @media ($bp-medium-min) {
      -ms-grid-column: 2;
      -ms-grid-row: 1;
    }
  }

  & > & {
    grid-template-columns: 1fr;

    @media ($bp-large-min) {
      grid-template-columns: 1fr 1fr;
    }

    & > *:nth-child(2) {
      -ms-grid-column: 1;
      -ms-grid-row: 2;

      @media ($bp-large-min) {
        -ms-grid-column: 2;
        -ms-grid-row: 1;
      }
    }

  }
}
