<section class="hl__footer">
  {% if footer.stickyRail %}
    {% include "@organisms/global/sticky-rail.twig" with {"stickyRail": footer.stickyRail } %}
  {% endif %}
  <div class="hl__footer__container">
    <div class="hl__footer__logo">
      {% include "@molecules/media/linked-image.twig" with { "linkedImage": footer.logo } %}
    </div>
    <div class="hl__footer__links">
      <div class="hl__footer__column">
        {% include "@molecules/navigation/footer-nav.twig" with { "footerNav": footer.footerNavLeft } %}
      </div>
      <div class="hl__footer__column">
        {% include "@molecules/navigation/footer-nav.twig" with { "footerNav": footer.footerNavRight } %}
      </div>
    </div>
    <div class="hl__footer__content">
      <div class="hl__footer__top-links">
        <div class="hl__footer__social">
          {% include "@molecules/lists/icon-list.twig" with { "iconList": footer.social } %}
        </div>
        <div class="hl__footer__quick-links">
          {% include "@organisms/lists/linked-list.twig" with { "linkedList": footer.quickLinks } %}
        </div>
      </div>
      <div class="hl__footer__license">
        <div class="hl__footer__cc-icon">{% include "@atoms/media/image.twig" with { "image": footer.ccImage } %}</div>
        <div class="hl__footer__cc-text">{{ footer.ccText }}</div>
      </div>
      <div class="hl__footer__message">
        {% include "@molecules/text/rich-text.twig" with { "richText": footer.message } %}
      </div>
    </div>
  </div>
</section>
