{% set headerChildTheme = headerChild.theme ? "hl__header-child__title--" ~ headerChild.theme : "" %}

<section class="hl__header-child">
  <div class="hl__header-child__title {{ headerChildTheme }}">
    {% if headerChild.href %}
      <a href="{{ href }}" title="{{ headerChild.title|striptags }}">{{ headerChild.title|raw }}</a>
    {% else %}
      {{ headerChild.title|raw }}
    {% endif %}
  </div>
  <div class="hl__header-child__logo">
    {% include "@molecules/media/linked-image.twig" with {"linkedImage": headerChild.logo } %}
  </div>
</section>
