<section class="hl__header js-header">
  <nav class="hl__header__container" aria-label="main">
    <div class="hl__header__logo">
      {% include "@molecules/media/linked-image.twig" with {"linkedImage": header.logo} %}
    </div>
    <div class="hl__header__menu">
      {% include "@molecules/navigation/main-nav.twig" with {"mainNav": header.mainNav} %}
    </div>
  </nav>
</section>
{# this exists to compenstate for the height change #}
<div class="hl__header__sticky-gap"></div>
