.hl__header-spaces {

  @media($bp-small-min) {
    display: flex;
  }

  &__title {
    background-image: linear-gradient(-46deg, $c-theme-secondary 0%, $c-theme-secondary-dark 100%);
    color: $c-font-inverse;
    flex: auto;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    padding: 10px 25px;

    @media($bp-small-min) {
      font-size: 24px;
      line-height: 1.3;
    }

    span {
      font-family: $f-trueno;
      font-size: 26px;
      font-style: normal;
      font-weight: 700;
      letter-spacing: 1.52px;
      line-height: 1;
      text-transform: uppercase;

      @media($bp-small-min) {
        font-size: 32px;
        line-height: 1.25;
      }
    }
  }

  &__logo {
    background-color: $c-theme-base;
    display: flex;
      align-items: center;
    flex: none;
    min-height: 44px;

    a {
      padding: 10px 30px;
    }
  }
}
