$header-hamburger-width: 120px;

.hl__header {
  background-color: $c-white;
  box-shadow: 0 5px 5px rgba($c-black, 0.1);
  position: relative;
  position: sticky;
  top: 0;
  z-index: $z-dropdown;

  &__sticky-gap {
    height: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }

  &.is-sticky + &__sticky-gap {
    @media ($bp-header-toggle-min) {
      height: 37px;
    }
  }

  &__container {
    @include hl-container("full");
    display: flex;

    @media ($bp-header-toggle-max) {
      height: 53px;
      justify-content: space-between;
    }

    @media (max-width: $max-width-full + 40px) {
      padding-right: 0;
    }

    .is-sticky & {
      height: 53px;
    }
  }

  &__logo {
    align-self: flex-end;
    flex: none;
    margin-bottom: -30px;
    margin-right: 8px;
    z-index: 99;

    @media ($bp-header-toggle-max) {
      height: 54px;
      margin-bottom: -12px;
      width: 73px;
    }

    @media($bp-page-width-min) {
      margin-right: 30px;
    }

    .is-sticky & {
      height: 54px;
      margin-bottom: -12px;
      margin-right: 20px;
      width: 73px;
    }
  }

  &__menu {

    @media ($bp-header-toggle-max) {
      flex: none;
      width: 50px;
    }

    @media ($bp-header-toggle-min) {
      flex: auto;
      width: 100%;
    }
  }
}
