<section class="hl__header-spaces">
  <h1 class="hl__header-spaces__title">{{ headerSpaces.title|raw }}</h1>
  <div class="hl__header-spaces__logo">
    {% include "@molecules/media/linked-image.twig" with {"linkedImage": headerSpaces.logo } %}
  </div>
</section>
