{% set alignClass = notificationBar.align ? "hl__notification-bar--" ~ notificationBar.align : "" %}
{% set theme = notificationBar.theme ? "hl__notification-bar--" ~ notificationBar.theme : "" %}

<div class="hl__notification-bar {{ alignClass }} {{ theme }}">
  <div class="hl__notification-bar__container">
    {% spaceless %}
    {% if notificationBar.button %}
      <div class="hl__notification-bar__button">
        {% include "@atoms/buttons/button.twig" with {"button": notificationBar.button } %}
      </div>
    {% endif %}
      <div class="hl__notification-bar__message">
        {{ notificationBar.message|raw }}
      </div>
    {% endspaceless %}
  </div>
</div>
