.hl__notification-bar {
  background-color: $c-theme-tertiary;

  &__container {
    @include hl-container("full");
    display: flex;
      align-items: center;
      flex-wrap: wrap;
    padding-top: 22px;
  }

  &__button {
    flex: none;
    margin-right: 40px;
    padding-bottom: 18px;

    .hl__button {
      padding-left: 25px;
      position: relative;

      &:before {
        border-bottom: 6px solid transparent;
        border-right: 7px solid rgba($c-font-inverse, .6);
        border-top: 6px solid transparent;
        content: "";
        display: block;
        font-size: 0;
        height: 0;
        position: absolute;
          left: 9px;
          top: 50%;
        transform: translateY(-50%);
        width: 0;
      }
    }
  }

  &__message {
    color: $c-font-inverse;
    flex-basis: 280px;
    flex-grow: 1;
    flex-shrink: 0;
    font-family: $f-trueno;
    font-weight: 200;
    letter-spacing: .4px;
    line-height: 1.4;
    padding-bottom: 18px;

    a {
      border-bottom: 1px solid currentColor;
      color: $c-font-inverse;
      font-weight: 700;
      text-decoration: none;
      transition: border 0.28s cubic-bezier(0.08, 0.81, 1, 0.26);

      &:hover {
        border-bottom: 3px solid rgba($c-font-inverse, 0.3);
      }
    }
  }

  &--gray {
    background-color:$c-bg-subtle;

    .hl__notification-bar__message {
      color:$c-font-base;

      a {
        border-bottom: 3px solid transparent;
        color: $c-font-link;
        font-family: $f-trueno;
        font-size: 17px;
        font-weight: 600;
        text-decoration: none;
        transition: border 0.28s cubic-bezier(0.28, 1.08, 1, 0.96);

        &:focus,
        &:hover {
          border-bottom-color: rgba($c-font-link, 0.3);
        }
      }
    }
  }

  &--center {
    text-align:center;
  }
}
