<section id="hl__site-alert-banner" class="hl__site-alert-banner js-site-alert-banner js-site-alert-1587478949">
  <div class="hl__site-alert-banner__container">
    <div class="hl__site-alert-banner__icon">
      {% include siteAlertBanner.icon %}
    </div>
    <div class="hl__site-alert-banner__label">{{ siteAlertBanner.label }}</div>
    <div class="hl__site-alert-banner__message">
      {% include "@molecules/text/rich-text.twig" with {"richText": siteAlertBanner.message } %}
    </div>
  </div>
  <div class="hl__site-alert-banner__dismiss">  
    <div class="hl__site-alert-banner__dismiss--button">
      <button type="button" class="hl__button hl__button--small" aria-label="dismiss alert">
        <div class="hl__site-alert-banner__dismiss--text">Dismiss</div>
        <span class="hl__button__icon">{% include "@atoms/svg-icons/svg-dismiss.twig" %}</span>
      </button>
    </div>
  </div>
</section>
