.hl__site-alert-banner {
  background-color: $c-theme-quaternary;
  padding: 24px;
  display: grid;
  grid-template-columns: auto 135px;

  @media($bp-small-max) {
    padding: 24px 20px;
  }

  @media($bp-x-small-max) {
    grid-template-columns: auto 20px;
  }

  &__container {
    @include hl-container("full");
    display: flex;
    align-items: center;
    position: relative;
    margin: 0;

    @media($bp-small-max) {
      flex-wrap: wrap;
      padding-left: 0;
    }
  }

  &__icon {
    height: 21px;
    margin-right: 15px;
    width: 18px;

    path {
      fill: $c-font-dark;
    }
  }

  &__label, &__dismiss--text {
    color: $c-font-dark;
    font-family: $f-trueno;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2.14px;
    line-height: 1.5em;
    margin-right: 20px;
    text-transform: uppercase;
  }

  &__message {
    color: $c-font-dark;
    font-family: $f-trueno;
    font-size: 17px;
    line-height: 1.5em;
    margin-right: 20px;

    @media($bp-small-max) {
      margin-top: 12px;
      width: 100%;
    }

    .hl__rich-text a:not(.hl__button):not(.hl__link-tag) {
      border: 0;
      color: $c-font-dark;
      text-decoration: underline;
    }
  }

  &__dismiss {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;

    @media($bp-small-max) {
      padding-right: 0;
    }

    &--text {
      display: inline;
      margin-right: 10px;

      @media($bp-x-small-max) {
        display: none;
      }
    }

    &--button {
      .hl__button {
        background-color: transparent;

        &--small {
          padding: 0;
          border: 0;
        }

        &__icon {
          margin-right: 0;
          top: 0;

          svg {
            height: 20px;
            width: 20px;
            position: relative;
            top: 3px;
          }
        }

        &:hover {
          svg g g g g {
            fill: $c-bd-subtle;
          }
        }
      }
    }
  }
}
