.hl__split-row {

  .hl__full-template__page-content & {
    @include hl-container("full");
  }

  .hl__base-template__page-content & {
    @include hl-container("medium");
  }

  &__description {
    margin-bottom: 40px;
  }

  &__columns {

    @media($bp-medium-min) {
      display: flex;
    }
  }

  &__left {

    @media($bp-medium-min) {
      flex: none;
      padding-right: 35px;
      width: 50%;
    }
  }

  &__right {

    @media($bp-medium-max) {
      margin-top: 30px;
    }
    
    @media($bp-medium-min) {
      flex: none;
      padding-left: 35px;
      width: 50%;
    }
  }
}
