<section class="hl__split-row">
  {% if splitRow.compHeading %}
    {% include "@atoms/text/comp-heading.twig" with {"compHeading": splitRow.compHeading } %}
  {% endif %}
  {% if splitRow.description %}
    <div class="hl__split-row__description">
      {% include "@molecules/text/rich-text.twig" with {"richText": splitRow.description } %}
    </div>
  {% endif %}
  <div class="hl__split-row__columns">
    <div class="hl__split-row__left">
      {% for item in splitRow.leftColumn %}
        {% include item.path with item.data %}
      {% endfor %}
    </div>
    <div class="hl__split-row__right">
      {% for item in splitRow.rightColumn %}
        {% include item.path with item.data %}
      {% endfor %}
    </div>
  </div>
</section>
