<section class="hl__sticky-rail">
  <div class="hl__sticky-rail__item">
    {% include "@molecules/CTAs/feedback-button.twig" with { "feedbackButton": stickyRail.feedbackButton } %}
  </div>
</section>
