.hl__sticky-rail {
  padding: 10px 5px 5px;
  position: fixed;
    right: 0;
    bottom: 10px;
  transition: opacity 0.5s ease;
  width: 90px;
  z-index: $z-sticky-content;

  @media ($bp-small-min) {
    background: rgba($c-white, .6);
    bottom: 35%;
    right: 0;
  }

  @media ($bp-large-min) {
    width: 110px;
  }

  &:hover {
    opacity: 1;
  }
}
