.hl__section-divider {
  border: none;

  &:before {
    border-top: 5px solid #1d1d1d;
    content: "";
    display: block;
    height: 1px;
    width: 100%;
  }

  .hl__full-template & {
    @include hl-container("full");   
  }

  .hl__base-template & {
    @include hl-container;   
  }

  &--thin:before {
    background-image: linear-gradient(90deg, $c-bd-subtle 40%, rgba(255, 255, 255, 0) 20%), linear-gradient(90deg, $c-bd-subtle 40%, rgba(255, 255, 255, 0) 20%);
    background-position: top;
    background-repeat: repeat-x;
    background-size: 4px 1px;
    border: none;
  }
}
