.hl__accordion-item {
  margin-bottom:20px;
  max-width:930px;

  &__details {
    color: $c-font-base;
    width: 100%;

    a {
      text-decoration: none;
    }

    a[aria-expanded="true"] {
      .hl__accordion-item__title {
        &:after {
          transform: scaleY(-1) translateY(2px);
        }

        &:focus,
        &:hover {
          &:after {
            transform: scaleY(-1) translateY(2px);
          }
        }
      }
    }
  }

  &__title {
    @include hl-h3;
    font-size: 19px;
    letter-spacing: 2.16;
    line-height:21px;
    margin-bottom: 20px;
    background: $c-gray-dfdfdf;
    padding:15px 20px;

    @media ($bp-small-min) {
      font-size: 19px;
    }

    &:after {
      border:none;
      border-left: 0.425em solid transparent;
      border-top: 0.5em solid $c-font-base;
      border-right: 0.425em solid transparent;
      content: "";
      display: inline-block;
      height: 0;
      line-height: 0;
      opacity: 0.6;
      width: 0;
      float: right;
      margin-top: 6px;
      transform: translateY(-2px);
      transition: transform 0.7s ease;
    }

    &:focus,
    &:hover {
      color:$c-font-inverse;
      background-image: linear-gradient(-45deg, $c-theme-secondary 0%, $c-theme-secondary-dark 100%);

      &:after {
        border:none;
        border-left: 0.425em solid transparent;
        border-top: 0.5em solid $c-font-inverse;
        border-right: 0.425em solid transparent;
      }
    }

  }

  &__description {
    display:none;
    padding:0 20px;

    &:last-child {
      padding-bottom: 20px;
    }

    h3, h4 {
      text-transform:uppercase;
    }

    h4 {
      font-size:15px;
      letter-spacing:1.8px;
    }

    &.is-open {
      display:block;
    }
  }

}
