{% set level = accordionItem.level ? accordionItem.level : 2 %}

<section class="hl__accordion-item js-accordion">
  <div class="hl__accordion-item__details">
    <a href="" class="js-accordion-link"><h{{ level }} class="hl__accordion-item__title">
      {{ accordionItem.title }}
    </h{{ level }}>
    </a>

    <div class="hl__accordion-item__description js-accordion-content">
      {% include "@molecules/text/rich-text.twig" with {"richText": accordionItem.description} %}
    </div>
  </div>
</section>
