.hl__category-teaser {
  background-color: lighten($c-theme-quaternary, 38%);
  background-image: linear-gradient(90deg, $c-theme-quaternary 0, $c-theme-quaternary 38px, transparent 39px);
  display: block;
  overflow: hidden;
  padding-left: 35px;
  position: relative;
  text-decoration: none;
  transition: all 0.5s ease;

  @media ($bp-x-small-min) {
    background-image: linear-gradient(90deg, $c-theme-quaternary 0, $c-theme-quaternary 70px, transparent 71px);
    padding-left: 70px;
  }

  &:focus,
  &:hover {
    background-color: $c-theme-quaternary;
    transform: translateY(-10px);

    @media ($bp-small-min) {
      transform: translateY(-20px);
    }
  }

  &__icon {
    position: absolute;
      right: calc(100% - 35px);
      top: 10px;
    height: 40px;
    width: 40px;

    @media ($bp-x-small-min) {
      right: calc(100% - 65px);
      height: 75px;
      width: 75px;
    }

    svg {
      fill: rgba($c-white, 0.3);
      height: 100%;
      width: 100%;
    }
  }

  &__content {
    padding: 15px 15px 15px 20px;

    @media ($bp-x-small-min) {
      padding: 25px;
    }
  }


  &__eyebrow {
    color: $c-font-subtle;
    font-family: $f-trueno;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  &__title {
    color: $c-font-dark;
    font-family: $f-trueno;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.23;
    margin-bottom: 12px;
  }

  &__description {
    color: $c-font-base;
    font-size: 15px;
  }

  &__hollis-results {
    background-image: linear-gradient(90deg, rgb(248, 194, 28) 0px, rgb(248, 194, 28) 30px, transparent 31px);
    padding-left: 30px;

    text-transform:uppercase;

    .hl__category-teaser__title, svg {
      display:inline-block;
    }

    .hl__category-teaser__title {
      margin-bottom:0;
    }

    .hl__category-teaser__title h2 {
      font-size:18px;
      line-height:32px;
      margin-bottom:0;
      letter-spacing:1.62px;

      span {
        @media ($bp-small-max) {
          display:block;
        }
      }
    }

    svg {
      float: right;
      margin:6px 0;
      margin-left:6px;
    }
  }
}
