{% set level = categoryTeaser.level ? categoryTeaser.level : 2 %}
{% set hollisResults = categoryTeaser.hollisResults ? "hl__category-teaser__hollis-results" : "" %}

<a class="hl__category-teaser {{ hollisResults }}" href="{{ categoryTeaser.href }}" title="{{ categoryTeaser.info }}">
  {% if categoryTeaser.icon %}
    <div class="hl__category-teaser__icon">
      {% include categoryTeaser.icon %}
    </div>
  {% endif %}
  <div class="hl__category-teaser__content">
    {% if categoryTeaser.eyebrow %}
      <div class="hl__category-teaser__eyebrow">{{ categoryTeaser.eyebrow }}</div>
      <h{{ level }} class="hl__category-teaser__title">
        {{ categoryTeaser.title }}
        {% if categoryTeaser.external %}
          <span class="hl__link-tag__external-icon">{% include "@atoms/svg-icons/svg-external-link.twig" %}</span>
        {% endif %}
      </h{{ level }}>
      <div class="hl__category-teaser__description">
        {% include "@molecules/text/rich-text.twig" with { "richText": categoryTeaser.description } %}
      </div>
    {% endif %}

    {% if categoryTeaser.hollisResults %}
      <div class="hl__category-teaser__title js-search-directory-app" data-request-url={{searchDirectory.requestUrl}}></div>
      {% include "@atoms/svg-icons/svg-external-link.twig" %}
    {% endif %}
  </div>
</a>
