.hl__circle-promo {
  border-radius: 50%;
  display: flex;
    flex-direction: column;
  height: 335px;
  padding-top: 50px;
  position: relative;
  text-align: center;
  width: 335px;

  @media ($bp-medium-max) {
    justify-content: center;
    padding-top: 0;
  }

  // just a bit too big to fit on 320px screens
  @media (max-width: (335px + 40px)) {
    height: 280px;
    width: 280px;
  }

  &:before {
    background: transparent url("../../assets/images/stat-circle.svg") no-repeat center center;
    background-size: contain;
    content: "";
    position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    transition: all 0.5s ease;
    z-index: 1;
  }

  &:hover:before {
    bottom: -10px;
    left: -10px;
    right: -10px;
    top: -10px;
  }

  &--alert {
    justify-content: center;
    padding-top: 0;

    &:before {
      background-image: url("../../assets/images/alert-circle.svg");
    }
  }

  &--link {
    color: $c-font-base;
    text-decoration: none;
  }

  &__icon {
    height: 40px;
    margin: 0 auto 15px;
    position: relative;
    width: 40px;
    z-index: 2;

    @media($bp-x-small-min) {
      height: 60px;
      width: 60px;
    }

    & > svg {
      fill: $c-theme-secondary;
      height: 100%;
      width: 100%;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__title {
    color: $c-font-dark;
    font-family: $f-trueno;
    font-size: 24px;
    line-height: 1.23;
    margin: 0 auto 0.25em;
    max-width: 79%;

    @media($bp-x-small-min) {
      font-size: 26px;
    }
  }

  &--alert &__title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.5;
    margin-top: 20px;
    max-width: 70%;
    text-transform: uppercase;

    @media($bp-x-small-min) {
      max-width: 79%;
    }
  }

  &__description {
    font-size: 15px;
    line-height: 1.73;
    margin: 0 auto;
    max-width: 69%;
  }

  &--alert &__description {
    font-family: $f-trueno;
  }

  &__read-more {
    margin-top: 20px;
    position: relative;
    z-index: 2;
  }
}
