{% set level = circlePromo.level ? circlePromo.level : 2 %}

{% set themeClass = circlePromo.theme ? "hl__circle-promo--" ~ circlePromo.theme : "" %}

{% if circlePromo.isLink and circlePromo.button %}
  <a class="hl__circle-promo hl__circle-promo--link {{ themeClass }}" href="{{ circlePromo.button.href }}" title="{{ circlePromo.button.info }}">
{% else %}
  <section class="hl__circle-promo {{ themeClass }}">
{% endif %}

  {% if circlePromo.icon %}
    <div class="hl__circle-promo__icon">
      {% include circlePromo.icon %}
    </div>
  {% endif %}
  <div class="hl__circle-promo__content">
    <h{{ level }} class="hl__circle-promo__title">{{ circlePromo.title }}</h{{ level }}>
    <p class="hl__circle-promo__description">{{ circlePromo.description }}</p>
  </div>
  {% if circlePromo.button and not circlePromo.isLink %}
    <div class="hl__circle-promo__read-more">
      {% include "@atoms/buttons/button.twig" with { "button": circlePromo.button } %}
    </div>
  {% endif %}
{% if circlePromo.isLink and circlePromo.button %}
  </a>
{% else %}
  </section>
{% endif %}
