{% set overlayPatternClass = eventTeaser.overlayPattern ? "hl__event-teaser--overlay" : "" %}

{% set bgImage = eventTeaser.overlayPattern ? "background-image: url('" ~ eventTeaser.image.src ~ "')" : '' %}

{% set level = eventTeaser.level ? eventTeaser.level : 2 %}

<a class="hl__event-teaser hl__event-teaser--link {{ overlayPatternClass }}" href="{{ eventTeaser.link.href }}" title="{{ eventTeaser.link.info }}" style="{{ bgImage }}">

  {% if eventTeaser.image and not eventTeaser.overlayPattern %}
    <div class="hl__event-teaser__image">
      {% include "@atoms/media/image.twig" with {"image": eventTeaser.image } %}
    </div>
  {% endif %}

  <div class="hl__event-teaser__details">
    <h{{ level }} class="hl__event-teaser__title">{{ eventTeaser.title }}</h{{ level }}>
    {% if eventTeaser.type %}
      <div class="hl__event-teaser__type">{{ eventTeaser.type }}</div>
    {% endif %}
    {% if eventTeaser.subText %}
      <div class="hl__event-teaser__sub-text">{{ eventTeaser.subText }}</div>
    {% endif %}

    <div class="hl__event-teaser__date">
      {% include "@atoms/text/highlighted-text.twig" with { "highlightedText": eventTeaser.date } %}
    </div>

    {% if eventTeaser.time %}
      <div class="hl__event-teaser__time">{{ eventTeaser.time }}</div>
    {% endif %}
    {% if eventTeaser.location %}
      <div class="hl__event-teaser__location">{{ eventTeaser.location }}</div>
    {% endif %}
  </div>
</a>
