.hl__event-teaser {
  display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  font-family: $f-trueno;
  margin-bottom: -35px;
  position: relative;

  &--link {
    color: inherit;
    text-decoration: none;
  }

  &--overlay {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: none;
    color: $c-font-inverse;
    display: flex;
      align-items: flex-end;
    margin: 0;
    padding: 0;
    position: relative;
    transition: background 0.5s ease, margin 0.5s ease, padding 0.5s ease, width 0.5s ease;

    &:before {
      background-color: transparent;
      background-image: linear-gradient(0deg, rgba($c-black, 0.7) 50%, rgba(0, 0, 0, 0.3) 100%);
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      transition: background-color 0.5s ease;

      @media ($bp-small-min) {
        background-image: linear-gradient(90deg, rgba($c-black, 0.7) 35%, transparent 100%);
      }
    }

    // min-height
    &:after {
      content: "";
      display: block;
      flex: none;
      height: 285px;
    }

    &:hover {
      box-shadow: none;
      padding: 0;
      margin: 0;

      &:before {
        background-color: rgba($c-theme-secondary, 0.9);
      }
    }
  }

  &__image {
    flex-basis: 265px;
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 0;
    margin-bottom: 35px;

    a {
      display: block;
      font-size: 0;
    }

    img {
      width: 100%;
    }
  }

  &__details {
    margin-bottom: 35px;
    width: 100%;
  }

  &__image + &__details {
    flex-basis: auto;
    flex-grow: 2;
    flex-shrink: 0;

    @media ($bp-small-min) {
      padding-left: 40px;
      padding-right: 40px;
      width: 60%;
    }

    @media ($bp-medium-min) {
      flex-basis: 450px;
      width: auto;
    }

    @media($bp-x-large-min) {
      flex-basis: 265px;
      width: auto;
    }
  }

  &--overlay &__details {
    color: $c-font-inverse;
    margin-bottom: 0;
    max-width: 80%;
    padding: 60px 20px 20px;
    position: relative;

    @media ($bp-x-small-min) {
      padding: 60px 30px 30px;
    }

    @media ($bp-medium-min) {
      padding: 60px 35px 50px;
    }

    @media ($bp-large-min) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @media ($bp-x-large-min) {
      padding: 40px 35px;
    }
  }

  &__title {
    @include hl-h2;
    display: block;
    font-size: 24px;
    letter-spacing: 0;

    @media($bp-x-small-min) {
      font-size: 26px;
    }
  }

  &--overlay &__title {
    color: $c-font-inverse;
  }

  &__type {
    color: $c-font-subtle;
    font-family: $f-trueno;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-top: -5px;
    text-transform: uppercase;
  }

  &__sub-text {
    color: $c-font-dark;
    font-family: $f-lora;
    font-style: italic;
    margin-bottom: 10px;
    margin-top: -7px;
  }

  &--overlay &__sub-text {
    color: $c-font-inverse;
  }

  &__date {
    display: block;
    margin-bottom: 8px;

    .hl__highlighted-text {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }

  &--overlay &__date {
    .hl__highlighted-text {
      border-color: rgba($c-theme-quaternary , 0.5);
    }
  }

  &__time,
  &__location {
    color: $c-font-subtle;
    font-family: Trueno;
    font-size: 15px;
    line-height: 1.6;
  }

  &--overlay &__time,
  &--overlay &__location {
    color: $c-font-inverse;
  }

  &__link {
    margin-top: 20px;
    padding-left: 30px;
    position: relative;

    & > svg {
      position: absolute;
        left: 0;
        top: 5px;
    }
  }

  &__see-more {
    margin-top: 27px;
  }
}
