.hl__icon-promo {
  background-color: $c-bg-section;
  overflow: hidden;
  position: relative;

  &--small .hl__comp-heading {
    font-size: 20px;
  }

  .hl__columns & {
    display: flex;
      justify-content: flex-end;

    @media ($bp-medium-min) {

      &:nth-child(2) {
        justify-content: flex-start;
      }
    }
  }

  &__container {
    @include hl-container("wide");
    position: relative;

    @media($bp-medium-min) {
      padding-left: 40px;
    }

    .hl__full-template & {
      @include hl-container("full");

      @media($bp-medium-min) {
        padding-left: 40px;
      }
    }

    .hl__columns & {
      display: flex;
      justify-content: flex-end;
      width: 100%;

      @media($bp-medium-min) {
        margin: 0;
        max-width: $max-width / 2;

        .hl__full-template & {
          max-width: ($max-width-full + 40) / 2;
        }

      }
    }

    &:before {
      background: $c-bg-section url("../../assets/images/dots.png") repeat top left;
      content: "";
      display: block;
      position: absolute;
        bottom: 0;
        right: calc(100% - 20px);
        top: 0;
      width: 50vw; // 20px equals the hl-container padding
      z-index: 1;

      @media($bp-medium-min) {
        right: calc(100% - 40px);
      }
    }
  }

  .hl__columns > &:nth-child(2n) &__container {

    @media($bp-medium-min) {
      padding-right: 40px;
      padding-left: 20px;
    }

    &:before {

      @media($bp-medium-min) {
        left: calc(100% - 40px);
        right: auto;
      }
    }
  }

  &__content {
    // background-color: $c-bg-section;
    padding: 30px;
    position: relative;
    z-index: 2;
    width: 100%;

    @media ($bp-small-min) {
      padding: 40px;
      padding-top: 50px;
    }

    @media ($bp-x-large-min) {
      padding: 50px;
      padding-left: 60px;
    }

    .hl__comp-heading {
      margin-bottom: 0.25em;

      .hl__columns & {
        margin-bottom: 0.75em;
      }
    }
  }

  &--small &__content {
    padding: 30px;
    padding-left: 30px;
  }

  .hl__columns > &:nth-child(2n) &__content {

    @media ($bp-x-large-min) {
      padding: 50px;
      padding-right: 60px;
    }
  }

  &__icon {
    height: 30px;
    position: absolute;
      left: -10px;
      top: 32px;
    width: 30px;

    @media ($bp-small-min) {
      top: 55px;
    }

    @media ($bp-large-min) {
      height: 50px;
      left: -25px;
      top: 48px;
      width: 50px;
    }

    // react version adds a span tag
    & > span {
      display: block;
    }

    & > span > svg,
    & > svg {
      height: 100%;
      width: 100%;
    }
  }

  &--small &__icon {
    height: 30px;
    top: 32px;
    width: 30px;
  }

  .hl__columns > &:nth-child(2n) &__icon {

    @media ($bp-medium-min) {
      left: auto;
      right: -25px;
    }
  }

  &__text-action {
    margin-left: -40px;
  }

  &__description {
    display: inline-block;
    font-family: $f-trueno;
    line-height: 1.53;
    margin-left: 40px;

    .hl__columns & {
      display: block;
    }
  }

  &--small &__description {
    font-size: 15px;
  }

  &__rich-text {
    margin-bottom: 30px;
    margin-left: 40px;
    padding-top: 15px;
  }

  &__action-container {
    display: inline-block;
    margin-left: 40px;
  }
}
