{% set themeClass = iconPromo.theme ? "hl__icon-promo--" ~ iconPromo.theme : "" %}

<section class="hl__icon-promo {{ themeClass }}">
  <div class="hl__icon-promo__container">
    <div class="hl__icon-promo__content">
      <div class="hl__icon-promo__icon" aria-hidden="true">
        {% include iconPromo.icon %}
      </div>
      {% include "@atoms/text/comp-heading.twig" with {'compHeading': iconPromo.compHeading } %}
      <div class="hl__icon-promo__text-action">
        {% if iconPromo.description %}
          <p class="hl__icon-promo__description">{{ iconPromo.description }}</p>
        {% elseif iconPromo.content %}
          <div class="hl__icon-promo__rich-text">
            {% include "@molecules/text/rich-text.twig" with {"richText": iconPromo.content } %}
          </div>
        {% endif %}
        <div class="hl__icon-promo__action-container">
          {% include "@atoms/buttons/button.twig" with { "button": iconPromo.button } %}
        </div>
      </div>
    </div>
  </div>
</section>
