{% set overlayPatternClass = imagePromo.overlayPattern ? "hl__image-promo--overlay" : "" %}

{% set bgImage = imagePromo.overlayPattern ? "background-image: url('" ~ imagePromo.image.src ~ "')" : "" %}

{% set level = imagePromo.level ? imagePromo.level : 2 %}

{% spaceless %}
  {% if imagePromo.link and imagePromo.isLink %}
    <a class="hl__image-promo hl__image-promo--link {{ overlayPatternClass }}" href="{{ imagePromo.link.href }}" title="{{ imagePromo.link.info }}" style="{{ bgImage }}">
  {% else %}
    <section class="hl__image-promo {{ stackedClass }} {{ overlayPatternClass }}" style="{{ bgImage }}">
  {% endif %}

    {% if imagePromo.image and not imagePromo.overlayPattern %}
      <div class="hl__image-promo__image">
        {% if imagePromo.image.href and not imagePromo.isLink %}
          <a href="{{ imagePromo.image.href }}">
        {% endif %}
          {% include "@atoms/media/image.twig" with {"image": imagePromo.image} %}
        {% if imagePromo.image.href and not imagePromo.isLink %}
          </a>
        {% endif %}
      </div>
    {% endif %}

    <div class="hl__image-promo__details">
      {% if imagePromo.subject and not imagePromo.newsSource %}
        <div class="hl__image-promo__subject {{ imagePromo.date ? 'hl__image-promo__subject--with-date' : '' }}">{{ imagePromo.subject.text }}</div>
      {% endif %}
      {% if imagePromo.date and not imagePromo.newsSource %}
        <div class="hl__image-promo__date">{{ imagePromo.date }}</div>
      {% endif %}
      {% if imagePromo.date and imagePromo.newsSource %}
        <div class="hl__image-promo__date--with-source">{{ imagePromo.date }}</div>
      {% endif %}
      {% if imagePromo.source and imagePromo.newsSource %}
        <div class="hl__image-promo__source {{ imagePromo.date ? 'hl__image-promo__source--with-date' : '' }}">{{ imagePromo.source.text }}</div>
      {% endif %}
      <h{{ level }} class="hl__image-promo__title">{{ imagePromo.title.text }}</h{{ level }}>
      {% if imagePromo.subText %}
        <div class="hl__image-promo__sub-text">{{ imagePromo.subText }}</div>
      {% endif %}
      {% if imagePromo.description %}
        <div class="hl__image-promo__description">
          {% include "@molecules/text/rich-text.twig" with {"richText": imagePromo.description} %}
        </div>
      {% endif %}
      {% if imagePromo.link and not imagePromo.isLink %}
        <div class="hl__image-promo__link">
          {% include "@atoms/buttons/button.twig" with {"button": imagePromo.link } %}
        </div>
      {% endif %}
    </div>

{% if imagePromo.link and imagePromo.isLink %}
  </a>
{% else %}
  </section>
{% endif %}
{% endspaceless %}
