.hl__image-promo {
  display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  position: relative;
  text-decoration: none;

  &--overlay {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $c-font-inverse;
    display: flex;
      align-items: flex-end;
    position: relative;

    &:before {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.3) 100%);
      content: "";
      position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;

      @media ($bp-small-min) {
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 35%, transparent 100%);
      }
    }
  }

  &__image {
    flex-basis: 220px;
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 0;
    margin-bottom: 35px;

    a {
      display: block;
      font-size: 0;
    }

    img {
      width: 100%;
    }
  }

  &__details {
    color: $c-font-base;
    width: 100%;
  }

  &__image + &__details {
    flex-basis: auto;
    flex-grow: 2;
    flex-shrink: 0;

    @media ($bp-small-min) {
      padding-left: 40px;
      padding-right: 40px;
      width: 60%;
    }

    @media ($bp-medium-min) {
      flex-basis: 450px;
      width: auto;
    }
  }

  &--overlay &__details {
    color: $c-font-inverse;
    padding: 60px 20px 20px;
    position: relative;

    @media ($bp-x-small-min) {
      padding: 60px 30px 30px;
    }

    @media ($bp-small-min) {
      max-width: 75%;
    }

    @media ($bp-medium-min) {
      max-width: 50%;
      padding: 60px 50px 50px;
    }
  }

  &__subject {
    color: $c-font-subtle;
    font-family: $f-trueno;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.2;
    margin-bottom: 15px;
    text-transform: uppercase;

    &--with-date {
      margin-bottom: 5px;
    }
  }

  &--overlay &__subject {
    color: $c-font-inverse;

    &--with-date {
      border-right-color: $c-font-inverse;
    }
  }

  &__source {
    color: $c-font-subtle;
    font-family: $f-trueno;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.2;
    margin-bottom: 15px;
    text-transform: uppercase;

    &--with-date {
      margin-bottom: 15px;
    }
  }

  &--overlay &__source {
    color: $c-font-inverse;

    &--with-date {
      border-right-color: $c-font-inverse;
    }
  }

  &__date {
    font-family: $f-trueno;
    font-size: 15px;
    font-weight: 200;
    line-height: 1.47;
    margin-bottom: 15px;
  }

  &__date--with-source {
    font-family: $f-trueno;
    font-size: 15px;
    font-weight: 200;
    line-height: 1.47;
    margin-bottom: 5px;
    // margin-top: 5px;
  }

  &__title {
    @include hl-h2;
    font-size: 22px;
    letter-spacing: 0;

    @media ($bp-small-min) {
      font-size: 26px;
    }
  }

  &--overlay &__title {
    color: $c-font-inverse;
  }

  &__description {
    font-size: 15px;
    line-height: 26px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__sub-text {
    font-family: $f-lora;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 10px;
    margin-top: -7px;
  }

  &__link {
    margin-top: 27px;
  }

  .hl__rich-text {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.hl__image-promo--link {
  transition: background 0.5s ease, margin 0.5s ease, padding 0.5s ease, width 0.5s ease;
}

.hl__image-promo--overlay {
  transition: background 0.5s ease, margin 0.5s ease, padding 0.5s ease, width 0.5s ease;

  &:before {
    background-color: transparent;
    content: "";
    position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    transition: background-color 0.5s ease;
  }

  &:hover {
    box-shadow: none;
    padding: 0;
    margin: 0;

    &:before {
      background-color: rgba($c-theme-blue, 0.9);
    }
  }
}
