
.hl__library-card {
  background-color: $c-white;
  border: 1px solid $c-bd-divider;
  color: $c-font-base;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
  font-family: $f-trueno;
  font-size: 14px;
  position: relative;
  text-decoration: none;
  transition: box-shadow 0.5s cubic-bezier(0.33, -0.47, 0, 1.24);

  &:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.32);
    z-index: 2;
  }

  &__container-top {
    position: relative;
  }

  &__container-bottom {
    padding: 0 20px 25px;
  }

  &__today,
  &__status {
    background-color: $c-theme-quaternary;
    color: $c-theme-base;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 4px 10px 3px;
    text-transform: uppercase;
    z-index: 1;
  }

  &__status {
    position: absolute;
      left: 20px;
      top: -1px;
  }

  &__image {
    display: block;
    position: relative;
      margin: -1px;
    width: calc(100% + 2px);

    img {
      height: auto;
      width: 100%;
    }

    &::before {
      background-image: linear-gradient(0deg, transparent, $c-theme-base);
      content: "";
      display: block;
      position: absolute;
        bottom: 85%;
        left: 0;
        right: 0;
        top: 0;
    }
  }

  &__content {
    padding: 0 20px 20px;
  }

  &__header {
    padding: 10px 20px 0;
    position: relative;
    width: 100%;

    @media ($bp-medium-min) {
      padding-top: 15px;
    }
  }

  &__title {
    color: $c-font-dark;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 4px;
    margin-top: 10px;

    @media ($bp-medium-min) {
      margin-top: 0;
    }

    a {
      border-bottom: 2px solid transparent;
      color: currentColor;
      text-decoration: none;
      transition: border 0.5s ease;

      &:hover {
        border-color: rgba($c-font-dark, 0.5);
      }
    }
  }

  &__sub-title {
    font-family: $f-lora;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 0;
  }

  &__address-container {
    display: flex;
    padding: 25px 20px 0;
    position: relative;
  }

  &__map-icon {
    display: inline-block;
    height: 17px;
    margin-right: 13px;
    vertical-align: top;
    width: 12px;

    & svg {
      height: 100%;
      width: 100%;
    }
  }

  &__address-text {
    font-size: 15px;
    line-height: 24px;
  }

  &__hours-container {
    background-image: linear-gradient(to right, $c-bd-subtle 40%, rgba(255, 255, 255, 0) 20%), linear-gradient(to right, $c-bd-subtle 40%, rgba(255, 255, 255, 0) 20%);
    background-position: top, bottom;
    background-repeat: repeat-x;
    background-size: 4px 1px;
    display: flex;
    margin-top: 25px;
    padding-bottom: 12px;
    padding-top: 17px;
    position: relative;
  }

  &__clock-icon {
    display: block;
    flex: none;
    height: 20px;
    margin-right: 10px;
    width: 20px;

    & svg {
      height: 100%;
      width: 100%;
    }
  }

  &__hours-text {
    color: $c-font-dark;
    display: inline;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__more-hours {
    margin-top: 20px;
  }

  &__hours-link {
    text-align: right;

    a {
      color: $c-font-link;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 24px;
      text-transform: initial;
    }
  }

  &__hours-content {
    background-image: linear-gradient(to right, $c-bd-subtle 40%, rgba(255, 255, 255, 0) 20%), linear-gradient(to right, $c-bd-subtle 40%, rgba(255, 255, 255, 0) 20%);
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 4px 1px;
    display: none;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  &__hours-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li + li {
      margin-top: 1.5em;
    }
  }

  &__hours-label {
    color: $c-font-dark;
    display: block;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1.86px;
    line-height: 1.5;
    text-transform: uppercase;
  }

  &__hours-value {
    color: $c-font-subtle;
    display: block;
    font-size: 14px;
    line-height: 1.5;
  }

  &__amenities {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
  }

  &__amenities-title {
    color: $c-font-dark;
    font-family: $f-trueno;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__items {
    display: flex;
      flex-wrap: wrap;
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    flex-basis: 160px;
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 20px;
    padding: 0px 10px 0px 42px;
    position: relative;
    vertical-align: top;
  }

  &__amenity-icon {
    height: 30px;
    position: absolute;
      left: 0;
      top: -3px;
    width: 30px;

    & > img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}
