{% set bgImage = overlayPromo.image and overlayPromo.image.src ? "background-image: url('" ~ overlayPromo.image.src ~ "')" :  "" %}

{% set level = overlayPromo.level ? overlayPromo.level : 2 %}

{% set itemHighlight = overlayPromo.library ? "hl__overlay-promo--item-highlight" : "" %}

{% spaceless %}
  {% if bgImage %}
    <a class="hl__overlay-promo {{ itemHighlight }}" href="{{ overlayPromo.link.href }}" title="{{ overlayPromo.link.info }}" style="{{ bgImage }}">
  {%  else %}
    <a class="hl__overlay-promo hl__overlay-promo--no-image" href="{{ overlayPromo.link.href }}" title="{{ overlayPromo.link.info }}">
  {% endif %}

    <div class="hl__overlay-promo__details-spacer" aria-hidden="true">
      {% if overlayPromo.eyebrow %}
        <div class="hl__overlay-promo__eyebrow">{{ overlayPromo.eyebrow }}</div>
      {% endif %}

      <h{{ level }} class="hl__overlay-promo__title">{{ overlayPromo.title }}</h{{ level }}>

      {% if overlayPromo.subTitle and not overlayPromo.eyebrow %}
        <div class="hl__overlay-promo__subtitle">{{ overlayPromo.subTitle }}</div>
      {% endif %}

      {% if overlayPromo.library %}
        <div class="hl__overlay-promo__library">{{ overlayPromo.library }}</div>
      {% endif %}
    </div>

    <div class="hl__overlay-promo__details">

      {% if overlayPromo.eyebrow %}
        <div class="hl__overlay-promo__eyebrow">{{ overlayPromo.eyebrow }}</div>
      {% endif %}

      <h{{ level }} class="hl__overlay-promo__title">
        {% if overlayPromo.eyebrow == "website" or overlayPromo.external == true %}
          <span>{{ overlayPromo.title }}</span>
          <span class="hl__link-tag__external-icon hl__link-tag__external-icon--white">{% include "@atoms/svg-icons/svg-external-link.twig" %}</span>
        {% else %}
          {{ overlayPromo.title }}
        {% endif %}
      </h{{ level }}>

      {% if overlayPromo.subTitle and not overlayPromo.eyebrow %}
        <div class="hl__overlay-promo__subtitle">{{ overlayPromo.subTitle }}</div>
      {% endif %}

      {% if overlayPromo.library %}
        <div class="hl__overlay-promo__library">{{ overlayPromo.library }}</div>
      {% endif %}
    </div>
  </a>
{% endspaceless %}
