.hl__overlay-promo {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  font-size: 0; // removes whitespace
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: background 0.5s ease;
  width: 100%;

  &:before {
    content: "";
    display: inline-block;
    height: 1px;
    margin-left: -1px;
    padding-top: 63%; // 450 x 284
    vertical-align: bottom;
    width: 1px;
  }

  &:after {
    content: "";
    position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    transition: background 0.7s ease;
  }

  &:hover,
  &:focus {
    box-shadow: none;
    padding: 0;
    margin: 0;
    z-index: $z-dropdown;

    &:after {
      background-color: rgba($c-theme-quinary, 0.7);
    }
  }

  &--no-image {
    background-image: linear-gradient(-45deg, $c-theme-quinary 0%, $c-theme-quinary-dark 100%);

    &:before {
      display: none;
    }

    &:hover,
    &:focus {
      &:after {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 35%, transparent 100%);
      }
    }
  }

  &--item-highlight {
    @media (hover:hover) {
      &:hover,&:focus {
        &:after {
          background-color: rgba($c-white, 0.7);
        }

        .hl__overlay-promo__title,
        .hl__overlay-promo__subtitle,
        .hl__overlay-promo__library {
          font-size: 26px;
          letter-spacing: 0;
        }
      }
    }
  }

  &__details,
  &__details-spacer {
    padding: 37px 20px 10px;
    width: calc(100% - 1px);

    @media ($bp-medium-min) {
      padding: 47px 30px 20px;
    }
  }

  &__details-spacer {
    display: inline-block;
    vertical-align: top;
    visibility: hidden;
  }

  &__details {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.3) 100%);
    color: $c-font-inverse;
    position: absolute;
      bottom: 0;
    transition: padding 0.5s ease;
    z-index: 1;

    &:before {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), transparent);
      content: "";
      height: 100%;
      position: absolute;
        bottom: 100%;
        left: 0;
      width: 100%;
      z-index: 1;
    }
  }

  &--no-image &__details {
    background-image: none;
  }

  &--item-highlight &__details {
    @media(hover:hover) {
      padding:10px;
      background-image:none;

      &::before {
        background-image:none;
      }
    }
  }

  &__eyebrow {
    font-family:$f-trueno;
    font-size:14px;
    font-weight:600;
    letter-spacing:2px;
    text-transform:uppercase;
    color:$c-font-inverse;
  }


  &__title {
    @include hl-h2;
    color: $c-font-inverse;
    font-size: 24px;
    letter-spacing: 0;
    position:relative;

    @media(hover:hover) {
      font-size: 26px;
    }
  }

  &__subtitle, &__library {
    font-family: $f-lora;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 10px;
    margin-top: -7px;
  }

  // Backward Compatible with version 0.33.0
  // need to hide the existing html code
  &__description {
    display: none;
  }

  &--item-highlight &__title,
  &--item-highlight &__subtitle,
  &--item-highlight &__library {
    font-family: $f-trueno;
    font-style:normal;
    line-height:1.2em;
    overflow: hidden;

    @media(hover:hover) {
      margin:0;
      font-weight:200;
      line-height:16px;
      font-size: 0;
      color:$c-font-base;
      // letter-spacing: 8.5px;
    }
  }

  &--item-highlight &__title {
    @media(hover:hover) {
      font-weight:400;
      color:$c-black;
    }
  }
}
