{% set bgImage = overlayImage.image and overlayImage.image.src ? "background-image: url('" ~ overlayImage.image.src ~ "')" :  "" %}

{% set bgImageTest = overlayTest.image and overlayTest.image.src ? "background-image: url('" ~ overlayTest.image.src ~ "')" :  "" %}

<section class="hl__overlay-image">
<div class="hl__overlay-image__image" style="{{ bgImage }}">
</div>
<div class="hl__overlay-image__overlay">
  {% if overlayImage.caption %}
    <div class="hl__overlay-image__details">
      <div class="hl__overlay-image__caption">{{ overlayImage.caption }}</div>
    </div>
  {% endif %}
</div>
</section>
