.hl__overlay-image {
  position: relative;

  &__image, &__overlay {
    height: 100%;
    position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    width: 100%;
    z-index: 1;
  }

  &__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    font-size: 0; // removes whitespace
    overflow: hidden;
    position: relative;
    text-decoration: none;
    width: 100%;

    &:before {
      content: "";
      display: inline-block;
      height: 1px;
      margin-left: -1px;
      padding-top: 63%; // 450 x 284
      vertical-align: bottom;
      width: 1px;
    }

    &:after {
      content: "";
      position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
    }
  }

  &__overlay {
    background-image: linear-gradient(180deg,transparent 65%, $c-bg-semi-dark 100%);
    z-index: 2;
  }

  &__details,
  &__details-spacer {
    width: calc(100% - 1px);
  }

  &__details-spacer {
    display: inline-block;
    vertical-align: top;
    visibility: hidden;
  }

  &__details {
    background: transparent url('../../assets/images/dots.png') top center repeat;
    content: "";
    color: $c-font-inverse;
    position: absolute;
      bottom: 0;
    // transition: padding 0.5s ease;
    z-index: 1;
  }

  &__caption {
    font-family: $f-lora;
    font-size: 28px;
    line-height:1.3em;
    font-style: italic;
    text-align:right;
    padding:25px;
    padding-left:20%;

    @media ($bp-small-max){
      padding:20px;
      padding-left:20%;
      font-size:22px;
    }

    @media ($bp-x-small-max){
      padding:15px;
      padding-left:10%;
      font-size:19px;
    }
  }

  // Backward Compatible with version 0.33.0
  // need to hide the existing html code
  &__description {
    display: none;
  }
}
