.hl__space-teaser {
  color: currentColor;
  display: block;
  padding: 20px;
  position: relative;
  text-decoration: none;

  @media($bp-small-min) {
    padding: 40px;
  }

  &:hover {
    background-color: $c-bg-section;
  }

  & + &:before {
    border-top: 1px solid $c-bd-divider;
    content: "";
    display: block;
    margin-top: -20px;
    padding-bottom: 20px;

    @media($bp-small-min) {
      margin-top: -40px;
      padding-bottom: 40px;
    }
  }

  &__title {
    color: $c-font-dark;
    font-family: $f-trueno;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.23;
    margin-bottom: 8px;
  }

  &__type {
    color: $c-font-subtle;
    font-family: $f-trueno;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  &__building {
    color: $c-font-subtle;
    font-family: $f-trueno;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 15px;

    & > span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__location-icon {
    display: inline-block;
    height: 17px;
    margin-bottom: 3px;
    margin-right: 10px;
    vertical-align: middle;
    width: 12px;


    & > svg {
      height: 100%;
      width: 100%;
    }
  }

  &__image {
    margin-bottom: 30px;
  }

  &__feature-title {
    color: $c-font-dark;
    font-family: $f-trueno;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2.14px;
    line-height: 1.2;
    text-transform: uppercase;
  }
}
