.hl__stacked-promo {
  max-width: $l-max-content-width;

  &__image {
    font-size: 0;
    margin-bottom: 27px;

    img {
      height: auto;
      width: 100%;
    }
  }

  &__details {
    color: $c-font-base;
    padding-right: 20px;
    width: 100%;

    @media($bp-large-min) {
      padding-right: 50px;
    }
  }

  &__title {
    @include hl-h2;
    font-size: 19px;
    letter-spacing: 0;
    margin-bottom: 10px;

    @media ($bp-small-min) {
      font-size: 19px;
    }

    a {
      color: $c-theme-ink;
      text-decoration: none;
    }
  }

  &__description {
    font-size: 15px;
    line-height: 26px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    margin-top: 18px;
  }

  .hl__rich-text {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
