{% set level = stackedPromo.level ? stackedPromo.level : 2 %}

{% spaceless %}
  <section class="hl__stacked-promo">
    {% if stackedPromo.image and stackedPromo.image.src %}
      <div class="hl__stacked-promo__image">
        {% include "@atoms/media/image.twig" with {"image": stackedPromo.image} %}
      </div>
    {% endif %}

    <div class="hl__stacked-promo__details">
        <h{{ level }} class="hl__stacked-promo__title">
          {% if stackedPromo.link %}
            <a href="{{ stackedPromo.link.href }}" title="{{ stackedPromo.link.info }}">
          {%  endif %}
          {{ stackedPromo.title }}
          {% if stackedPromo.link %}
            </a>
          {% endif %}
        </h{{ level }}>

      {% if stackedPromo.description %}
        <div class="hl__stacked-promo__description">
          {% include "@molecules/text/rich-text.twig" with {"richText": stackedPromo.description} %}
        </div>
      {% endif %}

      {% if stackedPromo.link %}
        <div class="hl__stacked-promo__link">
          {% include "@atoms/buttons/button.twig" with {"button": stackedPromo.link } %}
        </div>
      {% endif %}

    </div>
  </section>
{% endspaceless %}
