{% set level = teaserLink.level ? teaserLink.level : 2 %}

{% spaceless %}
  <a class="hl__teaser-link" href="{{ teaserLink.link.href }}" title="{{ teaserLink.link.info }}">
    <div class="hl__teaser-link__container">
      {% if teaserLink.image %}
        <div class="hl__teaser-link__image">
          {% include "@atoms/media/image.twig" with {"image": teaserLink.image} %}
        </div>
      {% endif %}

      <div class="hl__teaser-link__details">
        {% if teaserLink.subject and teaserLink.subject.text %}
          <div class="hl__teaser-link__subject {{ teaserLink.date ? 'hl__teaser-link__subject--with-date' : '' }}">{{ teaserLink.subject.text }}</div>
        {% endif %}
        {% if teaserLink.date %}
          <div class="hl__teaser-link__date">{{ teaserLink.date }}</div>
        {% endif %}
        <h{{ level }} class="hl__teaser-link__title">{{ teaserLink.title.text }}</h{{ level }}>
        {% if teaserLink.subText %}
          <div class="hl__teaser-link__sub-text">{{ teaserLink.subText }}</div>
        {% endif %}
        {% if teaserLink.description %}
          <div class="hl__teaser-link__description">
            {% include "@molecules/text/rich-text.twig" with {"richText": teaserLink.description} %}
          </div>
        {% endif %}
      </div>
    </div>
  </a>
{% endspaceless %}
