.hl__teaser-link {
  display: flex;
  padding: 40px 0;
  text-decoration: none;
  width: 100%;

  // overriding Pattern Lab styles
  .hl__base-template__page-content > & {
    margin-top: 0;
  }

  @media($bp-medium-min) {
    padding-left: 40px;
    padding-right: 40px;
  }

  &__container {
    display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
    margin: -15px;
    position: relative;
    width: calc(100% + 30px);
  }

  &:hover &__container {
    background-color: $c-white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.32);
    margin: -40px -20px;
    padding: 25px 5px;
    transition: all 0.5s ease;
    width: calc(100% + 40px);
    z-index: 1;

    @media ($bp-medium-min) {
      margin: -40px;
      padding: 25px;
      width: calc(100% + 80px);
    }
  }

  &__image {
    flex-basis: 120px;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 0;
    margin: 15px;

    img {
      width: 100%;
    }
  }

  &__details {
    color: $c-font-base;
    margin: 15px;

    .hl__rich-text {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__image + &__details {
    flex-shrink: 1;

      flex-basis: 200px;
      flex-grow: 4;
  }

  &__subject {
    color: $c-font-subtle;
    font-family: $f-trueno;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.2;
    margin-bottom: 15px;
    text-transform: uppercase;

    &--with-date {
      margin-bottom: 5px;
    }
  }

  &__date {
    font-family: $f-trueno;
    font-size: 15px;
    font-weight: 200;
    line-height: 1.47;
    margin-bottom: 15px;
  }

  &__eyebrow {
    font-family:$f-trueno;
    font-size:14px;
    font-weight:600;
    letter-spacing:2px;
    text-transform:uppercase;
    color: $c-font-subtle; // is this correct?
  }

  &__title {
    @include hl-h2;
    font-size: 24px;
    letter-spacing: 0;
    position:relative;

    @media ($bp-small-min) {
      font-size: 26px;
    }
  }

  &__sub-text {
    font-family: $f-lora;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 10px;
    margin-top: -7px;
  }

  // &__description {
  //   font-size: 15px;
  //   line-height: 26px;
  //
  //   &:last-child {
  //     margin-bottom: 0;
  //   }
  // }


}
