.hl__type-promo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
  font-size: 0px; // removes whitespace
  margin: 0;
  overflow: hidden;
  padding: 30px 40px;
  position: relative;
  text-decoration: none;

  &--clear {
    display: block;
    padding: 0;
    transition: all 0.5s ease;

    &:focus,
    &:hover {
      background-color: $c-white;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.32);
      margin: -20px;
      padding: 20px;
    }
  }

  &::before {
    content: "";
    background-color: $c-theme-secondary-dark;
    opacity: 0.8;
    position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    transition: opacity 0.5s ease;
  }

  &--light::before {
    background-color: $c-theme-secondary;
  }

  &--clear::before {
    display: none;
  }

  &:hover,
  &:focus {

    &:before {
      opacity: 0.6;
    }
  }

  &--grayscale {
    filter: grayscale(100%);

    &::before {
      background-color: transparent;
    }

    &:hover,
    &:focus {
      filter: none;
    }
  }

  &--grayscale &__title {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  }

  &__header {
    position: relative;
    z-index: 1;
  }

  &__icon {
    display: inline-block;
    height: 30px;
    margin-right: 20px;
    vertical-align: middle;
    width: 30px;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  &--clear &__icon {
    height: 16px;
    margin-right: 10px;
    width: 16px;

    svg, path {
      fill: $c-bg-light;
      transition: fill 0.5s ease;
    }
  }

  &--clear:hover &__icon,
  &--clear:focus &__icon {

    svg, path {
      fill: $c-theme-yellow;
    }

    &--library, &--staff, &--page, &--home {
      svg, path {
        fill: $c-theme-red;
      }
    }

    &--collection, &--physical-collection, &--digital-collection, &--website {
      svg, path {
        fill: $c-theme-teal;
      }
    }

    &--how {
      svg, path {
        fill: $c-theme-blue;
      }
    }

    &--press, &--story, &--news {
      svg, path {
        fill: $c-theme-crimson;
      }
    }
  }

  &__subject {
    color: $c-font-inverse;
    display: inline-block;
    font-family: $f-trueno;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    vertical-align: middle;
    padding-right:10px;
  }

  &--clear &__subject {
    color: $c-font-subtle;
    font-size: 13px;
  }

  &__details {
    color: $c-font-inverse;
    margin-top: 40px;
    max-width: $l-max-content-width;
    position: relative;
    z-index: 1;

    @media($bp-large-min) {
      margin-top: 60px;
    }
  }

  &--clear &__details {
    color: $c-font-base;
    margin-top: 5px;
  }

  &__title {
    font-family: $f-trueno;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.23;
    margin-bottom: 0.62em;
    display:inline-block;
    vertical-align:middle;
    position:relative;
  }

  &--clear &__title {
    color: $c-font-dark;
    font-size: 21px;
    margin-bottom: 0;
  }

  &--clear .hl__link-tag__external-icon {
    bottom: 0;

    svg {
      width: 14px;
      height: 14px;
    }
  }

  &__description {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.73;
  }
}
