{% set bgImage = typePromo.image and typePromo.image.src ? "background-image: url('" ~ typePromo.image.src ~ "')" :  "" %}

{% set themeClass = typePromo.theme ? "hl__type-promo--" ~ typePromo.theme :  "" %}

{% set level = typePromo.level ? typePromo.level : 2 %}

{% set iconPath = typePromo.icon ? : "@atoms/svg-icons/svg-compass.twig" %}

{% set iconColor = typePromo.subject ? "hl__type-promo__icon--" ~ typePromo.subject : "" %}

{% if typePromo.subject == "website" %}
  {% set iconColor = "hl__type-promo__icon--website" %}
{% elseif typePromo.subject == "physical collection" %}
  {% set iconColor = "hl__type-promo__icon--physical-collection" %}
{% elseif typePromo.subject == "digital collection" %}
  {% set iconColor = "hl__type-promo__icon--digital-collection" %}
{% endif %}

{% spaceless %}
  <a class="hl__type-promo {{ themeClass }}" href="{{ typePromo.link.href }}" title="{{ typePromo.link.info }}" style="{{ bgImage }}">
    {% if typePromo.subject %}
      <div class="hl__type-promo__header">
        {% if not typePromo.condensed %}
          <div class="hl__type-promo__icon">
          {% include iconPath %}
          </div>
        {% endif %}
        {% if typePromo.condensed %}
          <div class="hl__type-promo__icon {{ iconColor }}">
          {% include iconPath %}
          </div>
        {% endif %}

        <div class="hl__type-promo__subject">{{ typePromo.subject }}</div>
        {% if typePromo.condensed %}
          <h{{ level }} class="hl__type-promo__title">
            {% if typePromo.subject == "website" or typePromo.external == "true" %}
              <span>{{ typePromo.title }}</span>
              <span class="hl__link-tag__external-icon">{% include "@atoms/svg-icons/svg-external-link.twig" %}</span>
            {% else %}
              {{ typePromo.title }}
            {% endif %}
          </h{{ level }}>
        {% endif %}
      </div>
    {% endif %}

    <div class="hl__type-promo__details">
      {% if not typePromo.condensed %}
        <h{{ level }} class="hl__type-promo__title">
        {% if typePromo.external == "true" %}
          <span>{{ typePromo.title }}</span>
          <span class="hl__link-tag__external-icon hl__link-tag__external-icon--white">{% include "@atoms/svg-icons/svg-external-link.twig" %}</span>
        {% else %}
          {{ typePromo.title }}
        {% endif %}
        </h{{ level }}>
      {% endif %}

      {% if typePromo.description %}
        <div class="hl__type-promo__description">{{ typePromo.description|raw }}</div>
      {% endif %}
    </div>
  </a>
{% endspaceless %}
