.hl__type-snippet {
  @include hl-container("full");
  background-color: $c-bg-subtle;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;

  &__body {
    padding:30px;
  }

  &__image {
    line-height:0;
    background: $c-bg-subtle url("../../assets/images/dots.png") top center repeat;
    position: relative;

    section {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      text-align:center;
    }

    img {
      padding:20px;
    }
  }

  &__header {
    position: relative;
    z-index: 1;
  }

  &__icon {
    display: inline-block;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
    width: 30px;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  &__subject {
    color: $c-font-subtle;
    display: inline-block;
    font-family: $f-trueno;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    vertical-align: middle;
  }

  &__details {
    max-width: $l-max-content-width;
    padding-top: 15px;
  }

  &__title {
    color: $c-font-dark;
    font-family: $f-trueno;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.23;
    margin-bottom: 5px;
  }

  &__title-link {
    border-bottom: 3px solid transparent;
    color: inherit;
    text-decoration: none;
    transition: border 0.28s cubic-bezier(0.28, 1.08, 1, 0.96);
    position:relative;
    line-height:normal;

    &:hover {
      border-bottom-color: rgba($c-font-dark, 0.5);
    }
  }

  &__description {
    color: $c-font-base;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.73;
  }

  &__hours {
    position: relative;
    font-family: $f-trueno;
  }

  &__status {
    color: $c-font-dark;
    display: block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.4;
    text-transform: uppercase;
  }

  &__time {
    color: $c-font-subtle;
    display: block;
    font-size: 15px;
    line-height: 1.6;
  }

  &__links {
    padding-top: 10px;
  }

  &__external-link,
  &__internal-link {
    display: inline-block;
    font-size: 0;

    a {
      font-size: 15px;
      line-height: 1.25;
    }
  }

  &__external-link {
    margin-bottom: 5px;
    width: 100%;

    @media ($bp-medium-min) {
      border-right: 1px solid $c-bd-divider;
      display: inline-block;
      margin-bottom: 0;
      margin-right: 20px;
      padding-right: 20px;
      width: auto;
    }

    .hl__link-tag__external-icon {
      svg {
        height: 12px;
        width: 12px;
      }
    }
  }

  &__spaces-link {
    margin-top: 5px;
    width: 100%;

    @media (min-width:838px) {
      border-left: 1px solid #c0c0c0;
      margin-left: 20px;
      padding-left: 20px;
      width:auto;
    }
}




  &--collection, &--library,
  &--physical-collection, &--digital-collection, &--website {
    display:grid;
    grid-template-columns: 1fr 365px;

    @media ($bp-small-max) {
      display:block;

      .hl__type-snippet__image {
        display:none;
      }
    }
  }

  &--library {
    .hl__type-snippet__internal-link:first-of-type {
      margin-bottom: 5px;
      width: 100%;

      @media (min-width:680px) {
        border-right: 1px solid $c-bd-divider;
        display: inline-block;
        margin-bottom: 0;
        margin-right: 20px;
        padding-right: 20px;
        width: auto;
      }
    }
  }

  &--staff {
    display:grid;
    grid-template-columns: 1fr 210px;

    .hl__type-snippet__description {
      font-style:italic;
    }

    img {
      border-radius:50%;
    }

    @media ($bp-x-small-max) {
      display:block;

      .hl__type-snippet__image {
        display:none;
      }
    }
  }


}
