{% set level = typeSnippet.level ? typeSnippet.level : 2 %}

{% if typeSnippet.subject == "physical collection" %}
  {% set subjectClass = "hl__type-snippet--physical-collection" %}
{% elseif typeSnippet.subject == "digital collection" %}
  {% set subjectClass = "hl__type-snippet--digital-collection" %}
{% elseif typeSnippet.subject == "website" %}
    {% set subjectClass = "hl__type-snippet--website" %}
{% elseif typeSnippet.snippetImage %}
  {% set subjectClass = typeSnippet.subject ? "hl__type-snippet--" ~ typeSnippet.subject : "" %}
{% endif %}

{% spaceless %}
  <div class="hl__type-snippet {{ subjectClass }}" href="{{ typeSnippet.link.href }}" title="{{ typeSnippet.link.info }}">
    <div class="hl__type-snippet__body">
    <div class="hl__type-snippet__header">
      <div class="hl__type-snippet__icon">
        {% include typeSnippet.icon %}
      </div>
      <div class="hl__type-snippet__subject">{{ typeSnippet.subject }}</div>
    </div>

    <div class="hl__type-snippet__details">
      <h{{ level }} class="hl__type-snippet__title">
        <a class="hl__type-snippet__title-link" href="{{ typeSnippet.link.href }}" title="{{ typeSnippet.link.info }}">
          {% if typeSnippet.subject == "website" or typeSnippet.external == "true" %}
            <span>{{ typeSnippet.title }}</span>
            <span class="hl__link-tag__external-icon">{% include "@atoms/svg-icons/svg-external-link.twig" %}</span>
          {% else %}
            {{ typeSnippet.title }}
          {% endif %}
        </a>
      </h{{ level }}>

      {% if typeSnippet.description %}
        <div class="hl__type-snippet__description">{{ typeSnippet.description|raw }}</div>
      {% endif %}

      {% if typeSnippet.hours %}
        <div class="hl__type-snippet__hours">
          <span class="hl__type-snippet__status">
            {{ typeSnippet.hours.status }}
          </span>
          <span class="hl__type-snippet__time">
            {{ typeSnippet.hours.time }}
          </span>
        </div>
      {% endif %}

      <div class="hl__type-snippet__links">

        {% if typeSnippet.externalLink %}
          <div class="hl__type-snippet__external-link">
            {% include "@atoms/text/link-tag.twig" with { "linkTag" : typeSnippet.externalLink } %}
          </div>
        {% endif %}

        {% if typeSnippet.link %}
          <div class="hl__type-snippet__internal-link">
            {% if typeSnippet.subject == "tool" or typeSnippet.subject == "service" %}
              {% if typeSnippet.external == "true" %}
                {% set linkTag = typeSnippet.link ? typeSnippet.link|merge({"text": "About " ~ typeSnippet.link.text }) : typeSnippet.link %}
                {% include "@atoms/text/link-tag.twig" with { "linkTag" : linkTag } %}
              {% endif %}
            {% elseif not (typeSnippet.subject == "website" or typeSnippet.subject == "physical collection" or typeSnippet.subject == "digital collection") %}
              {% include "@atoms/text/link-tag.twig" with { "linkTag" : typeSnippet.link } %}
            {% endif %}
          </div>

          {% if typeSnippet.subject == "library" %}
            <div class="hl__type-snippet__internal-link">
              {% include "@atoms/text/link-tag.twig" with { "linkTag" : typeSnippet.hoursLink } %}
            </div>
            <div class="hl__type-snippet__internal-link hl__type-snippet__spaces-link">
              {% include "@atoms/text/link-tag.twig" with { "linkTag" : typeSnippet.spacesLink } %}
            </div>
          {% endif %}

        {% endif %}

      </div>
    </div>
    </div>
    {% if typeSnippet.snippetImage %}
      <div class="hl__type-snippet__image">
        {% include "@molecules/media/linked-image.twig" with { "linkedImage": typeSnippet.snippetImage } %}
      </div>
    {% endif %}
  </div>
{% endspaceless %}
