// PatternLab display styles
.sg-header a {
	font-size: 100% !important;
}

.sg {
  &-main {
    padding: 0 20px;
  }

  // pattern folder names
  &-pattern-title a, &-subtype a {
  	display: inline-block;
  	padding: 1em 0 .3rem;
  	color: $c-font-dark;
  	text-decoration: none;
  	cursor: pointer;
  	font-weight: 700;
  	font-family: $f-trueno;
    padding-bottom: 10px;

    &:hover, &:focus {
      // color: $c-font-base !important;
    }
  }

  &-subtype a {
    text-transform: uppercase;
    letter-spacing: 0.075em;
    line-height: 1.3;
  }

  // pattern info
  &-pattern-extra {
    a {
     border-bottom: 3px solid transparent;
     color: $c-font-link;
     font-family: $f-trueno;
     font-style: normal;
     font-weight: 600;
     text-decoration: none;
     transition: border 0.28s cubic-bezier(0.28, 1.08, 1, 0.96);

     &:focus,
     &:hover {
       color: $c-font-link;
       border-bottom-color: rgba($c-font-link, 0.3);
     }
    }

    &-info {
      strong {
      	font-family: $f-trueno;
      	font-style: normal;
      }

      .sg-pattern-lineage strong {
        // text-transform: uppercase;
      }

      h3 {
        font-family: $f-trueno;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
        // text-transform: uppercase;
        // letter-spacing: 1.5px;
        // color: $c-font-dark;
      }
    }
  }
}
