// Change the Neat grid settings
$column: 85px;
$gutter: 20px;
$column-with-gutter: $column + $gutter;
$max-width: 1170px;
$max-width-inner: 930px;
$max-width-outer: 1600px;
$max-width-full: 1410px;

$header-mobile-controls-height: 40px;

$layout-sidebar-width: ($column * 3) + ($gutter * 2);
$layout-sidebar-width-reversed: 370px;

$l-max-content-width: 820px;
