<section class="hl__global">
  <h2>Primary colors</h2>
  <!-- {% if primaryColors.summary %}
    <div class="hl__primary-colors__summary">
      {% include "@molecules/text/rich-text.twig" with { "richText": primaryColors.summary } %}
    </div>
  {% endif %} -->
  <div class="hl__global__grid">
    {% for color in primaryColors.colors %}
      {% include "@atoms/01-global/_color-swatch.twig" with {"colorSwatch": color} %}
    {% endfor %}
  </div>
</section>
