<section class="hl__global">
  <h2>Supporting colors</h2>
  <div class="hl__global__grid">
    {% for color in supportingColors.colors %}
      {% include "@atoms/01-global/_color-swatch.twig" with {"colorSwatch": color} %}
    {% endfor %}
  </div>
</section>
