<section class="hl__global">
  <h2>Gradients</h2>
  <div class="hl__global__grid">
    {% for gradient in supportingGradients.gradients %}
      {% include "@atoms/01-global/_color-swatch.twig" with {"colorSwatch": gradient} %}
    {% endfor %}
  </div>
</section>
