<section class="hl__global">
  <h2>Patterns</h2>
  <!-- {% if supportingPatterns.summary %}
    <div class="hl__global__summary">
      {% include "@molecules/text/rich-text.twig" with {"richText": supportingPatterns.summary} %}
    </div>
  {% endif %} -->
  <div class="hl__global__grid">
    {% for pattern in supportingPatterns.patterns %}
      {% include "@atoms/01-global/_color-swatch.twig" with {"colorSwatch": pattern} %}
    {% endfor %}
  </div>
</section>
