.hl__typography {
  &__columns {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;

    > div {
      flex: 1 1 calc(50% - 10px);
    }
  }

  .hl__rich-text {
    margin-bottom: 1.84em;

    h4 {
      color: $c-font-light;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 15px;
    }
  }

  .hl__trueno {
    &__bold, &__semibold, &__light, &__ultralight {
      font-family: $f-trueno;
    }
    &__bold {
      font-weight: 700;
    }
    &__semibold {
      font-weight: 500;
    }
    &__light {
      font-weight: 300;
    }
    &__ultralight {
      font-weight: 100;
    }
  }

  .hl__lora {
    &__italic, &__bold-italic {
      font-style: italic;
    }
    &__bold, &__bold-italic {
      font-weight: 600;
    }
  }
}
