<section class="hl__global hl__typography">
  <h2>Typography</h2>

  <div class="hl__typography__columns">
    <div class="hl__trueno">
      {% include "@molecules/text/rich-text.twig" with { "richText": typography.trueno } %}

      {% include "@molecules/text/rich-text.twig" with { "richText": typography.truenoBold } %}
      {% include "@molecules/text/rich-text.twig" with { "richText": typography.truenoSemibold } %}
      {% include "@molecules/text/rich-text.twig" with { "richText": typography.truenoRegular } %}
      {% include "@molecules/text/rich-text.twig" with { "richText": typography.truenoLight } %}
      {% include "@molecules/text/rich-text.twig" with { "richText": typography.truenoUltralight } %}
    </div>

    <div class="hl__lora">
      {% include "@molecules/text/rich-text.twig" with { "richText": typography.lora } %}

      {% include "@molecules/text/rich-text.twig" with { "richText": typography.loraRegular } %}
      {% include "@molecules/text/rich-text.twig" with { "richText": typography.loraItalic } %}
      {% include "@molecules/text/rich-text.twig" with { "richText": typography.loraBold } %}
      {% include "@molecules/text/rich-text.twig" with { "richText": typography.loraBoldItalic } %}
    </div>
  </div>
</section>
