.hl__font-styles {
  h3 {
    font-family: $f-trueno;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: $c-theme-ink;

    margin-bottom: 0.4em;
  }

  h4 {
    color: $c-font-light;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    font-family: $f-trueno;

    border-bottom: 1px solid $c-bg-light;
    margin-bottom: 10px;
  }

  &__examples {
    margin-bottom: 1.84em;

    h1 {
      font-family: $f-trueno;
      font-weight: 700;
      font-size: 60px;
      line-height: 74px;
      margin-bottom: 20px;
      color: $c-theme-ink;

      @media($bp-x-small-max){
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 20px;
      }
    }
    h2 {
      font-family: $f-trueno;
      font-weight: 700;
      font-size: 32px;
      line-height: 42px;
      margin-bottom: 20px;
      text-transform: uppercase;
      letter-spacing: 2.4px;
      color: $c-theme-ink;

      @media($bp-x-small-max){
        font-size: 24px;
        line-height: 31px;
        margin-bottom: 20px;
      }
    }
    h3 {
      font-family: $f-trueno;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 20px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      color: $c-theme-ink;
    }
    h4 {
      font-family: $f-trueno;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 20px;
      text-transform: uppercase;
      letter-spacing: 2.14px;
      color: $c-theme-ink;

      border-bottom: none;
    }
    h5 {
      font-family: $f-trueno;
      font-weight: 500;
      font-size: 19px;
      line-height: 29px;
      margin-bottom: 20px;
      color: $c-theme-ink;
    }
    h6 {
      font-family: $f-trueno;
      font-weight: 500;
      font-size: 16px;
      line-height: 28px;
      margin-bottom: 20px;
      color: $c-theme-ink;
    }
  }

  &__subtitle {
    font-style: italic;
    font-size: 26px;
    line-height: 40px;
    margin-bottom: 20px;
    color: $c-theme-ink;

    @media($bp-x-small-max){
      font-size: 22px;
      line-height: 34px;
      margin-bottom: 20px;
    }
  }

  &__large {
    font-family: $f-trueno;
    font-weight: 300;
    font-size: 25px;
    line-height: 42px;
    margin-bottom: 20px;
    color: $c-theme-ink;

    @media($bp-x-small-max){
      font-size: 22px;
      line-height: 38px;
      margin-bottom: 20px;
    }
  }

  &__small {
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 20px;
  }

  &__eyebrow {
    color: $c-font-subtle;
    font-family: $f-trueno;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}
