<section class="hl__global hl__font-styles">
  <h2>Font Styles</h2>

  <h3>Body</h3>

  <!-- <h4>Supporting large text</h4>
  <div class="hl__font-styles__examples">
    <p class="hl__font-styles__large">Every second he kept glancing at the clock.</p>
  </div> -->

  <h4>Text</h4>
  <div class="hl__font-styles__examples">
    <!-- <p class="hl__font-styles__large">Every second he kept glancing at the clock.</p>
    <p>Every second he kept glancing at the clock.</p>
    <p class="hl__font-styles__small">Every second he kept glancing at the clock.</p> -->
    <p class="hl__font-styles__large">This is an example of a sentence with supporting large text.</p>
    <p>This is an example of a sentence with regular text.</p>
    <p class="hl__font-styles__small">This is an example of a sentence with small  text.</p>
  </div>

  <h3>Headings</h3>

  <h4>Title</h4>
  <div class="hl__font-styles__examples">
    <!-- <h1>Every second he kept glancing at the clock.</h1>
    <h2>Every second he kept glancing at the clock.</h2>
    <h3>Every second he kept glancing at the clock.</h3>
    <h4>Every second he kept glancing at the clock.</h4>
    <h5>Every second he kept glancing at the clock.</h5>
    <h6>Every second he kept glancing at the clock.</h6> -->
    <h1>H1 Header Text</h1>
    <h2>H2 Header Text</h2>
    <h3>H3 Header Text</h3>
    <h4>H4 Header Text</h4>
    <h5>H5 Header Text</h5>
    <h6>H6 Header Text</h6>
  </div>

  <h4>Subtitle</h4>
  <div class="hl__font-styles__examples">
    <!-- <p class="hl__font-styles__subtitle">Every second he kept glancing at the clock.</p> -->
    <p class="hl__font-styles__subtitle">Subtitle text that goes below a title or heading</p>
  </div>

  <h4>Eyebrow</h4>
  <div class="hl__font-styles__examples">
    <!-- <p class="hl__font-styles__eyebrow">Every second he kept glancing at the clock.</p> -->
    <p class="hl__font-styles__eyebrow">Eyebrow label</p>
  </div>
</section>
