<section class="hl__global hl__animations">
  <h2>Animations</h2>

  <div class="hl__animations__examples">
    <h3>Link Tag</h3>
    {% include "@atoms/text/link-tag.twig" with { "linkTag": animations.linkTag } %}
  </div>

  <div class="hl__animations__examples">
    <h3>Button</h3>
    {% include "@atoms/buttons/button.twig" with { "button": animations.button } %}
  </div>
  
</section>
