.hl__animations {
  h3 {
    color: $c-font-light;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    font-family: $f-trueno;
    border-bottom: 1px solid $c-bg-light;
    margin-bottom: 10px;
  }

  &__examples {
    margin-bottom: 1.84em;
  }
}
