{% set size = colorSwatch.type == "color" ? "" : "hl__color-swatch--long" %}

{% set background = colorSwatch.type ? "background: " ~ colorSwatch.hexCode : "" %}
{% if colorSwatch.type == "gradient" %}
  {% set background = "background-image: linear-gradient(-46deg," ~ colorSwatch.colorEnd ~ " 0%," ~ colorSwatch.colorStart ~ " 100%)" %}
{% elseif colorSwatch.type == "pattern" %}
  {% set background = "background: " ~ colorSwatch.hexCode ~ " url('../../assets/images/dots.png') top center repeat" %}
{% endif %}


<div class="hl__color-swatch {{ size }}">
  <div class="hl__color-swatch__swatch" style="{{ background }}"></div>
  <div class="hl__color-swatch__details">
    <p class="hl__color-swatch__name">{{ colorSwatch.colorName }}</p>
    <p class="hl__color-swatch__hex">{{ colorSwatch.hexCode }}</p>
    <!-- <p class="hl__color-swatch__description">{{ colorSwatch.description }}</p> -->
  </div>
</div>
