.hl__global {
  // padding: 20px;

  &__grid {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
  }

  h2 {
    font-family: $f-trueno;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    color: $c-theme-ink;

    @media($bp-x-small-max){
      font-size: 24px;
      line-height: 31px;
      margin-bottom: 20px;
    }
  }
}

.hl__color-swatch {
  width: 100%;
  max-width: 300px;
  margin-bottom: 0;
  border: 1px solid $c-bg-light;

  &__swatch {
    height: 150px;
  }

  &__details {
    padding: 20px;
  }

  &__name {
    font-family: $f-trueno;
    font-size: 19px;
    font-weight: 600;
  }

  &--long {
    width: calc(50% - 10px);
    max-width: 620px;
  }

  &--long &__swatch {
    height: 100px;
  }
}
