.hl__featured-media {
  background: $c-white url('../../assets/images/dots.png') top center repeat;
  padding-top: 40px;

  .hl__full-template__page-content > & {
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media($bp-small-min) {
    padding-top: 60px;
  }

  @media($bp-large-min) {
    padding-top: 90px;
  }

  &__header {
    @include hl-container();
    margin-bottom: 40px;
    text-align: left;

    @media($bp-small-min) {
      text-align: center;
    }

    @media($bp-large-min) {
      margin-bottom: 60px;
    }

    .hl__rich-text {
      margin-left: auto;
      margin-right: auto;
    }
  } 

  &__container {
    @include hl-container("full");
    position: relative;

    &:before {
      background-image: linear-gradient(-45deg, #0579b8 0%, #2a5280 100%);
      content: "";
      height: calc(100% - 55px);
      position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 55px;

      @media($bp-page-width-min) {
        left: 20px;
        right: 20px;
        width: calc(100% - 40px);
      }
    }
  } 

  &__content {
    margin: 0 auto;
    max-width: $max-width-inner;
    position: relative;
    z-index: 2;
  }

  &__related-content {
    margin-top: 20px;
    padding-bottom: 40px;

    @media ($bp-small-min) {
      display: flex;
        justify-content: space-between;    
      padding-bottom: 60px;
    }

    @media ($bp-large-min) {
      padding-bottom: 80px;
    }
  }

  &__caption {
    align-self: center;
    color: $c-font-inverse;
    flex: auto;
    font-family: $f-trueno;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 0.6px;
    line-height: 1.64;
    text-transform: uppercase;
  }

  &__transcript {
    flex: none;
    margin-bottom: 10px;

    a {
      border-bottom: 1px solid currentColor;
      color: $c-font-inverse;
      font-family: $f-trueno;
      font-size: 15px;
      line-height: 1.6;
      text-decoration: none;
      transition: border 0.28s cubic-bezier(0.08, 0.81, 1, 0.26);

      &:focus,
      &:hover {
        border-bottom: 3px solid rgba($c-font-inverse, 0.3);
      }
    }
  }
}
