<section class="hl__featured-media">
  {% if featuredMedia.compHeading or featuredMedia.description %}
  <header class="hl__featured-media__header">
    {% if featuredMedia.compHeading %}
      {% include "@atoms/text/comp-heading.twig" with { "compHeading": featuredMedia.compHeading } %}
    {% endif %}
    {% if featuredMedia.description %}
      {% include "@molecules/text/rich-text.twig" with { "richText": featuredMedia.description } %}
    {% endif %}
  </header>
  {% endif %}
  <div class="hl__featured-media__container">
    <div class="hl__featured-media__content">
      {% if featuredMedia.video %}
        {% include "@atoms/media/youtube-video.twig" with { "youtubeVideo": featuredMedia.video } %}
      {% elseif featuredMedia.image %}
        {% include "@atoms/media/image.twig" with { "image": featuredMedia.image } %}
      {% endif %}
      {% if featuredMedia.caption or featuredMedia.transcript %}
        <div class="hl__featured-media__related-content">
          {% if featuredMedia.caption %}
            <div class="hl__featured-media__caption">{{ featuredMedia.caption }}</div>
          {% endif %}
          {% if featuredMedia.transcript %}
            <div class="hl__featured-media__transcript">
              {% include "@atoms/text/link-tag.twig" with { "linkTag": featuredMedia.transcript } %}</div>
          {% endif %}
        </div>  
      {% endif %}
    </div>
  </div>
</section>
