.hl__image-credit {
  color: $c-font-base;
  font-family: $f-trueno;
  max-width: 100%;
  min-height: 20px;
  padding-left: 38px;
  padding-right: 5px;
  position: relative;

  &--light {
    background-color: rgba($c-theme-base, 0.7);
    border: 10px transparent solid;
    color: $c-font-inverse;
    opacity: 0.8;
  }

  &__source-icon {
    color: inherit;
    height: 20px;
    padding-right: 5px;
    position: absolute;
      left: 5px;
      top: 45%;
    transform: translateY(-50%);
    width: 22px;

    svg {
      height: 100%;
      width: 100%;

      path {
        fill: currentColor;
      }
    }
  }

  &__source {
    color: inherit;
    display: block;
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  &__library {
    color: inherit;
    display: block;
    font-size: 11px;
    line-height: 18px;
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}
