<div class="hl__image-gallery js-image-gallery">
  <div id="{{ random() }}" class="hl__image-gallery__main-slider js-image-gallery__main-slider">
    {% for item in imageGallery.items %}
      {% include "@atoms/media/figure.twig" with {"figure": item.figure}%}
    {% endfor %}
  </div>
  <div id="{{ random() }}" class="hl__image-gallery__nav-slider js-image-gallery__nav-slider">
    {% for item in imageGallery.items %}
      {% include "@atoms/media/figure.twig" with {"figure": item.figure}%}
    {% endfor %}
  </div>
</div>
