.hl__image-gallery {

  @media ($bp-large-min) {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
  }

  &__main-slider,
  &__nav-slider {

    .slick-arrow {
      background: transparent url("../../assets/images/svg-icons/scroll-arrow.svg") no-repeat center center;
      background-size: 30px 30px;
      height: 100%;
      transition: opacity 0.7s ease;
      width: 60px;
      z-index: 1;

      &:before,
      &:after {
        display: none;
      }
    }

    .slick-prev {
      left: 0;
    }

    .slick-next {
      right: 0;
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &__main-slider .slick-arrow {

    @media($bp-x-small-min) {
      background-size: 50px 50px;
      width: 80px;
    }
  }

  &__nav-slider {
    overflow: hidden;

    @media ($bp-medium-max) {
      display: none;
    }

    .slick-track {
      min-width: 100%;
    }

    .slick-list {
      margin-left: -8px;
      margin-right: -8px;
    }

    .slick-slide {
      margin-left: 8px;
      margin-right: 8px;
    }

    .hl__figure {
      height: 0;
      margin-bottom: 0;
      overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;

      img {
        bottom: -18%;
        position: absolute;
      }

      &__figcaption {
        display: none;
      }
    }

    .slick-current {
      display: none;
    }
  }

  .hl__figure {
    position: relative;

    &__figcaption {
      bottom: 0;
      left: 0;
      padding: 16px;
      position: absolute;
      width: 100%;

      &:before {
        background-image: linear-gradient(180deg, transparent 0%, rgba($c-theme-ink, 0.7) 100%);
        bottom: 0;
        content: "";
        height: 100%;
        left: 0;
        min-height: 145px;
        position: absolute;
        width: 100%;
      }
    }

    &__text-caption {
      color: $c-white;
      position: relative;
      text-transform: none;
    }

    &__icon {

      & > svg {
        fill: $c-white;
        position: relative;
      }
    }

    &__text-credit {
      color: $c-white;
      position: relative;
    }
  }
}
