{% set creditClass = imageCredit.theme ? "hl__image-credit--" ~ imageCredit.theme : "" %}

<div class="hl__image-credit {{ creditClass }}">
  <div class="hl__image-credit__source-icon">
    {% include imageCredit.icon %}
  </div>
  <a class="hl__image-credit__source" href="{{ imageCredit.href }}">{{ imageCredit.text|nl2br }}</a>
  {% if imageCredit.library %}
    <a class="hl__image-credit__library" href="{{ imageCredit.library.href }}">{{ imageCredit.library.text|nl2br }}</a>
  {% endif %}
</div>
