.hl__image-carousel {

  &__slider {

    .slick-arrow {
      background: transparent url("../../assets/images/svg-icons/scroll-arrow.svg") center center no-repeat;
      background-size: 30px 30px;
      height: 100%;
      width: 45px;
      z-index: 1;

      @media($bp-small-min) {
        background-size: 40px 40px;
        width: 55px;
      }

      &:before,
      &:after {
        display: none;
      }

      &:focus {
        border: 2px solid highlight;
      }
    }

    .slick-prev {
      left: 0;
    }

    .slick-next {
      right: 0;
      transform: translate(0, -50%) rotate(180deg);
    }
  }

  &__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
  }
}
