<section class="hl__linked-image">
  {% if linkedImage.href %}
    <a href="{{ linkedImage.href }}" title="{{ linkedImage.info }}">
  {% endif %}
    {% include "@atoms/media/image.twig" with {"image": linkedImage.image}%}
  {% if linkedImage.href %}
    </a>
  {% endif %}
</section>
