<section class="hl__contact-info">
  {% if contactInfo.compHeading %}
    {% include "@atoms/text/comp-heading.twig" with { "compHeading": contactInfo.compHeading } %}
  {% endif %}

  {% if contactInfo.department %}
    <div class="hl__contact-info__department">{{ contactInfo.department }}</div>
  {% endif %}

  {% if contactInfo.helpButton %}
    <div class="hl__contact-info__help-button">
      {% include "@atoms/buttons/button.twig" with { "button": contactInfo.helpButton } %}
    </div>
  {% endif %}

  <div class="hl__contact-info__list">
    <div class="hl__contact-info__section">

      {% if contactInfo.emails %}
        <ul class="hl__contact-info__items hl__contact-info__items--email">
          {% for email in contactInfo.emails %}
              <li class="hl__contact-info__item">
                <span class="hl__contact-info__icon" aria-hidden="true">{% include "@atoms/svg-icons/svg-email.twig" %}</span>
                {% if email.label %}
                  <span class="hl__contact-info__label" aria-hidden="true">{{ email.label }}</span>
                {% endif %}
                <span class="hl__contact-info__email">
                  {% include "@atoms/text/link-tag.twig" with {"linkTag": email.link } %}
                </span>
              </li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if contactInfo.phones %}
        <ul class="hl__contact-info__items hl__contact-info__items--phone">
          {% for phone in contactInfo.phones %}
            <li class="hl__contact-info__item">
              <span class="hl__contact-info__icon" aria-hidden="true">{% include "@atoms/svg-icons/svg-phone.twig" %}</span>
              {% if phone.label %}
                <span class="hl__contact-info__label" aria-hidden="true">{{ phone.label }}</span>
              {% endif %}
              <a class="hl__contact-info__phone" href="{{ phone.href }}">
                  <span class="hl__contact-info__label hl__visually-hidden">
                    {% if phone.label %}{{ phone.label }}{% else %}Phone number{% endif %}
                  </span>
                {{ phone.text }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if contactInfo.address %}
        <div class="hl__contact-info__address">{{ contactInfo.address|nl2br|raw }}</div>
        {% if contactInfo.directions %}
          <div class="hl__contact-info__directions">
            <span class="hl__contact-info__icon" aria-hidden="true">{% include "@atoms/svg-icons/svg-map-marker.twig" %}</span>
            {% include "@atoms/text/link-tag.twig" with { "linkTag": contactInfo.directions } %}
          </div>
        {% endif %}
      {% endif %}

      {% if contactInfo.website %}
        {% for site in contactInfo.website %}
          <div class="hl__contact-info__website">
            {% if site.internal %}
              <span class="hl__contact-info__icon" aria-hidden="true">{% include "@atoms/svg-icons/svg-web-link.twig" %}</span>
            {% else %}
              <span class="hl__contact-info__icon" aria-hidden="true">{% include "@atoms/svg-icons/svg-external-link-subtle.twig" %}</span>
            {% endif %}
            {% include "@atoms/text/link-tag.twig" with { "linkTag": site } %}
          </div>
        {% endfor %}
      {% endif %}

    </div>

    {% if contactInfo.socialLinks %}
      <div class="hl__contact-info__section">
        <ul class="hl__contact-info__items hl__contact-info__items--social">
          {% for social in contactInfo.socialLinks %}
            <li class="hl__contact-info__item">
              <span class="hl__contact-info__icon" aria-hidden="true">{% include social.icon %}</span>
              {% include "@atoms/text/link-tag.twig" with {"linkTag": social.link } %}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</section>
