.hl__contact-info {

  & > .hl__comp-heading {
    margin-bottom: 10px;
  }

  &__department {
    color: $c-font-dark;
    font-family: $f-trueno;
    font-size: 19px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
  }

  &__help-button {
    margin-bottom: 25px;
  }

  & > .hl__comp-heading ~ &__help-button {
    margin-top: 20px;
  }

  &__list {
    display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    margin: 0 -20px -51px;
    overflow: hidden;
    width: calc(100% + 40px);
  }

  &__section {
    flex-basis: 260px;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0 20px;
    padding-bottom: 51px;

    &:nth-child(2) {
      background-image: linear-gradient(90deg, $c-bd-subtle 40%, rgba(255, 255, 255, 0) 20%), linear-gradient(90deg, $c-bd-subtle 40%, rgba(255, 255, 255, 0) 20%);
      background-position: top;
      background-repeat: repeat-x;
      background-size: 4px 1px;
      margin-top: -26px;
      padding-top: 25px;
    }

    .hl__link-tag {
      font-family: $f-trueno;
      font-size: 15px;
      font-weight: 500;
      hyphens: auto;
      overflow-wrap: break-word;
      -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word;
      word-wrap: break-word;
    }
  }

  &__items {
    margin: 0;
    padding: 0;
  }

  &__item {
    list-style: none;
    padding-left: 28px;
    position: relative;

  }

  &__icon {
    height: 15px;
    position: absolute;
      left: 0;
      top: 2px;
    width: 15px;

    svg {
      fill: $c-bd-divider;
      height: 100%;
      width: 100%;
    }
  }

  &__label {
    color: $c-font-dark;
    font-family: $f-trueno;
    font-size: 11px;
    font-weight: 700;
    line-height: 1.64;
    text-transform: uppercase;
  }

  &__phone {
    color: $c-font-subtle;
    font-family: $f-trueno;
    font-size: 15px;
    text-decoration: none;
  }

  &__address {
    color: $c-font-subtle;
    font-family: $f-trueno;
    font-size: 15px;
    line-height: 1.6;
  }

  &__address:not(:first-child) {
    background-image: linear-gradient(90deg, $c-bd-subtle 40%, rgba(255, 255, 255, 0) 20%), linear-gradient(90deg, $c-bd-subtle 40%, rgba(255, 255, 255, 0) 20%);
    background-position: top;
    background-repeat: repeat-x;
    background-size: 4px 1px;
    margin-top: 25px;
    padding-top: 25px;
  }

  &__directions {
    margin-top: 15px;
    padding-left: 28px;
    position: relative;
  }

  &__directions &__icon {
    height: 17px;
  }

  &__website {
    padding-left: 28px;
    position: relative;
  }
}
