<div class="hl__cool-stats">
  <div class="hl__cool-stats__container">
    {% if coolStats.compHeading %}
      {% include "@atoms/text/comp-heading.twig" with {"compHeading": coolStats.compHeading} %}
    {% endif %}

    {% if coolStats.richText %}
      {% include "@molecules/text/rich-text.twig" with {"richText": coolStats.richText} %}
    {% endif %}

    <div class="hl__cool-stats__list">
      {% for statistic in coolStats.items %}
        <div class="hl__cool-stats__statistic">
          {% include "@atoms/text/statistic.twig" with {"statistic": statistic } %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
