$cool-stats-bp-statistic-wrap: 1400px;
$cool-stats-bp-background-wrap: 1101px;

.hl__cool-stats {

  &__container {
    @include hl-container("wide");
    text-align: center;
  }

  &__list {
    background: transparent url("../../assets/images/circles-bg.svg") center top repeat-y;
    background-size: contain;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 1px; // used to contain the margin-bottom below.
    padding-top: 70px;
  }

  &__statistic {
    background: transparent url("../../assets/images/stat-circle.svg") center center no-repeat;
    background-size: contain;
    display: flex;
    flex-basis: 454px;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    height: 454px;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;

    @media (max-width: $cool-stats-bp-statistic-wrap) {
      flex-basis: 30vw;
      height: 30vw;
      padding: 20px;
    }

    @media ($bp-x-large-max) {
      flex-basis: 354px;
      height: 354px;
    }

    @media ($bp-medium-max) {
      flex-basis: 300px;
      height: 300px;
    }


    &:before,
    &:after {
      background: transparent url("../../assets/images/stat-circle.svg") center center no-repeat;
      background-size: contain;
      content: "";
      display: none;
      height: 100%;
      opacity: 0.4;
      position: absolute;
      top: -10%;
      width: 100%;
      z-index: -1;
    }

    &:before {
      left: -17vw;
    }

    &:after {
      right: -17vw;
    }

    &:nth-child(1) {
      color: $c-theme-primary;
    }

    &:nth-child(2) {
      color: darken($c-theme-primary, 7%);

      &:before,
      &:after {
        display: block;

        @media (max-width: $cool-stats-bp-background-wrap) {
          display: none;
        }
      }

      &:before {
        left: -60%;
      }

      &:after {
        right: -60%;
      }
    }

    &:nth-child(3) {
      color: darken($c-theme-primary, 14%);

      &:after {

        @media (max-width: $cool-stats-bp-background-wrap) {
          display: block;
          right: 0;
          top: -75%;
        }

        @media ($bp-small-max) {
          display: none;
        }
      }
    }
  }

  .hl__statistic {

    &__value {
      color: inherit;

      @media (max-width: $cool-stats-bp-statistic-wrap) {
        font-size: 72px;
      }

      @media ($bp-medium-max) {
        font-size: 62px;
      }
    }

    &__description {
      color: $c-theme-base;

      @media ($bp-medium-max) {
        font-size: 14px;
      }
    }
  }

  .hl__rich-text {
    @include hl-container;
  }
}
