{% spaceless %}
  <div class="hl__file-download">
    <div class="hl__file-download__icon" aria-hidden="true">{% include "@atoms/svg-icons/svg-download.twig" %}</div>
    <span class="hl__file-download__link">{% include "@atoms/text/link-tag.twig" with {"linkTag": fileDownload.linkTag} %}</span>
    <span class="hl__file-download__meta">{{ fileDownload.meta }}</span>
    <p class="hl__file-download__description">{{ fileDownload.description }}</p>
  </div>
{% endspaceless %}
