.hl__file-download {
  padding-left: 40px;
  position: relative;

  &__icon {
    position: absolute;
      left: 0;
      top: 7px;
  }

  &__link, &__meta {
    display: inline-block;
    width: auto;
  }

  &__link {
    font-size: 14px;
  }

  &__meta {
    color: $c-font-base;
    font-family: $f-trueno;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 1.64;
    margin-left: 10px;
    text-transform: uppercase;
  }

  &__description {
    color: $c-font-subtle;
    font-family: $f-trueno;
    font-size: 14px;
    font-weight: 200;
    line-height: 22px;
  }
}
