.hl__icon-callout {
  background-image: url("../../assets/images/dots.png");
  background-position: top center;
  background-repeat: repeat;
  display: flex;
  padding: 30px;

  @media ($bp-x-small-max) {
    margin: 0 -20px;
    padding: 20px;
  }

  @media ($bp-x-large-min) {
    padding: 30px 40px;
  }

  &--light {
    background-image: url("../../assets/images/white_dots.png");
  }

  &__icon {
    flex: none;
    height: 30px;
    margin-right: 10px;
    width: 30px;

    & > svg {
      height: 100%;
      width: 100%;
    }
  }

  &__message {
    color: $c-font-dark;
    flex: auto;
    font-family: $f-trueno;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;

    @media ($bp-x-small-min) {
      font-size: 20px;
    }
  }

  &--light &__message {
    color: $c-font-inverse;
  }
}
