{% set cssClass = iconCallout.light ? "hl__icon-callout--light" : "" %}

{% spaceless %}
  <div class="hl__icon-callout {{ cssClass }}">
    {% if iconCallout.icon %}
      <div class="hl__icon-callout__icon" aria-hidden>
        {% include iconCallout.icon %}
      </div>
    {% endif %}  
    <div class="hl__icon-callout__message">{{ iconCallout.message }}</div>
  </div>
{% endspaceless %}
