<div class="hl__illustrated-title">
  {% if illustratedTitle.icon %}
    <span class="hl__illustrated-title__icon" aria-hidden="true">
      {% include illustratedTitle.icon %}
    </span>
  {% endif %}
  {% include "@atoms/text/page-title.twig" with {"pageTitle": illustratedTitle.pageTitle } %}
</div>
