.hl__illustrated-title {
  display: flex;
    align-items: center;
    justify-content: center;
  margin-bottom: 15px;
  min-height: 150px; 
  position: relative; 
  text-align: center;

  @media ($bp-small-min) {
    min-height: 175px;  
  }

  @media ($bp-large-min) {
    min-height: 218px;  
  }

  &__icon {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    position: absolute;
      left: 50%;
      top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    @media ($bp-small-min) {
      height: 175px;  
    }

    @media ($bp-large-min) {
      height: 218px;
    }

    svg {
      height: 100%;
      width: 100%;
    }
  }

  .hl__page-title {
    letter-spacing: 3.05px;
    position: relative;
    text-transform: uppercase;

    &:after {
      background-color: $c-theme-primary;
      content: "";
      display: block;
      height: 10px;
      position: absolute;
        left: 50%;
        bottom: -20px;
      transform: translateX(-50%);
      width: 60px;
    }
  }
}
