.hl__library-address {

  &__title {
    color: $c-font-dark;
    font-family: $f-trueno;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 1.5;
    text-transform: uppercase;
  }

  &__hours {
    color: $c-font-subtle;
    font-family: $f-trueno;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
  }

  &__current-date {
    background-color: $c-theme-quaternary;
    color: $c-font-dark;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-right: 1em;
    padding: 3px 10px;
    text-transform: uppercase;
  }

  &__address {
    color: $c-font-subtle;
    font-family: $f-trueno;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    margin-top: 20px;
  }

  &__links {
    margin-top: 10px;
  }

  &__link {
    display: flex;

    a {
      border-bottom: 2px solid transparent;
      color: $c-font-link;
      font-family: $f-trueno;
      font-size: 15px;
      font-weight: 400;
      line-height: 1.6;
      text-decoration: none;
      transition: border 0.5s ease;

      &:hover {
        border-color: rgba($c-font-link, 0.5);
      }
    }
  }

  &__icon {
    height: 17px;
    margin-right: 8px;
    width: 17px;

    & > svg {
      height: 100%;
      width: 100%;
    }
  }
}
