{% set patternCtaSize = patternCta.size ? "hl__pattern-cta--" ~ patternCta.size : "" %}

{% spaceless %}
  <section class="hl__pattern-cta {{ patternCtaSize }}">
    <div class="hl__pattern-cta__container">
        
      <div class="hl__pattern-cta__text">
        <div class="hl__pattern-cta__title">{{ patternCta.title }}</div>
        {% if patternCta.description %}
          <div class="hl__pattern-cta__description">{{ patternCta.description }}</div>
        {% endif %}
        {% if patternCta.description_line2 %}
          <div class="hl__pattern-cta__description-line2">{{ patternCta.description_line2 }}</div>
        {% endif %}
      </div>
      <div class="hl__pattern-cta__links">
        {% for item in patternCta.links %}
          {% if item.icon %}
            <div class="hl__pattern-cta-icon">
              {% include "@atoms/text/icon-link.twig" with { "iconLink": item } %}
            </div>
          {% else %}
            {% include "@atoms/buttons/button.twig" with { "button": {
            "href": item.href,
            "info": item.info,
            "text": item.text,
            "type": "button",
            "size": "small" } } %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endspaceless %}
