.hl__pattern-cta {
  display: flex;
    justify-content: center;
    align-items: center;
  padding-left: 20px;
  padding-right: 20px;

  .hl__base-template__page-content > & {
    @include hl-container("wide");
  }

  .hl__full-template__page-content > & {
    @include hl-container("full");
  }

  &__container {
    background: $c-white url('../../assets/images/dots.png') top center repeat;
    padding: 20px;
    text-align: center;
    width: 100%;
  }

  &--small &__container {
    padding: 20px 0;
  }

  .hl__full-template__page-content > & &__container,
  .hl__base-template__page-content > & &__container {

    @media ($bp-small-min) {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__text {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    text-align: left;
  }

  &__title {
    color: $c-font-dark;
    display: block;
    font-family: $f-trueno;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.8px;
    line-height: 1.4;
    margin: 25px 10px 20px;
    text-align: center;
    text-transform: uppercase;

    @media ($bp-small-min) {
      font-size: 28px;
    }

    @media ($bp-large-min) {
      font-size: 32px;
    }
  }

  &--small &__title {
    font-family: $f-trueno;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.5;
    margin: 15px 10px 10px;
  }

  .hl__full-template__page-content > & &__title,
  .hl__base-template__page-content > & &__title {

    @media ($bp-small-min) {
      display: inline-block;
    }
  }

  &__description, &__description-line2 {
    color: $c-font-base;
    display: block;
    font-family: $f-trueno;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
  }

  &--small &__description, &--small &__description-line2 {
    font-size: 15px;
  }

  .hl__full-template__page-content > & &__description,
  .hl__base-template__page-content > & &__description,
  .hl__full-template__page-content > & &__description-line2,
  .hl__base-template__page-content > & &__description-line2  {

    @media ($bp-small-min) {
      display: inline-block;
    }
  }

  &__links {
    align-self: center;
    flex: none;
    margin: 20px 0;

    & > * {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      vertical-align: middle;
    }

    .hl__icon-link {
      border-color: transparent;
      transition: all 0.4s ease;

      &:hover {
        border-color: $c-bd-divider;
      }
    }
  }
}
