.hl__quote {
  margin-top: 45px;

  &__message {
    border-bottom: 1px solid $c-black;
    border-top: 5px solid $c-black;
    padding: 45px;
    padding-left: 25px;
    position: relative;
    z-index: 1;

    @media ($bp-small-max) {
      padding: 25px;
      padding-right: 35px;
    }
  }

  &__icon {
    height: 79px;
    position:absolute;
      bottom: 30px;
      right: 35px;
    width: 116px;
    z-index: -1;

    @media ($bp-small-max) {
      height: 40px;
      width: 58px;
    }

    svg {
      fill: $c-theme-quaternary;
      height: 100%;
      width: 100%;
    }
  }

  &__text {
    color: $c-font-dark;
    font-size: 39px;
    font-style: italic;
    font-weight: 700;
    line-height: 52px;

    @media ($bp-medium-max) {
      font-size: 32px;
      line-height: 46px;
    }

    @media ($bp-small-max) {
      font-size: 25px;
      line-height: 38px;
    }
  }

  &__citation {
    color: $c-font-subtle;
    font-family: $f-trueno;
    font-size: 17px;
    line-height: 22px;
    padding-top: 25px;
    text-align: right;

    @media ($bp-x-small-max) {
      font-size: 15px;
      padding-top: 15px;
    }
  }
}
