{% set quoteAlign = quote.align ? "hl__quote--" ~ quote.align : "" %}

{% spaceless %}
  <section class="hl__quote {{ quoteAlign }}">
    <div class="hl__quote__message">
      <div class="hl__quote__icon">
        {% include "@atoms/svg-icons/svg-quote.twig" %}
      </div>
      <span class="hl__quote__text">{{ quote.text }}</span>
    </div>
    {% if quote.author %}
      <div class="hl__quote__citation">
        <span class="hl__quote__author">{{ quote.author }}</span>
        {% if quote.title %}
          <span class="hl__quote__auth-title">, {{ quote.title }}</span>
        {% endif %}
      </div>
    {% endif %}
  </section>
{% endspaceless %}

