{% set small = richText.theme ? "hl__rich-text--" ~ richText.theme : "" %}
{% set alignClass = richText.align ? "hl__rich-text--" ~ richText.align : "" %}

{% set compHeading = richText.compHeading %}

{% if richText.align and richText.compHeading %}
  {% set compHeading = compHeading|merge({"align": richText.align }) %}
{% endif %}

<section class="hl__rich-text {{ small }} {{ alignClass }}">
  {% if richText.compHeading %}
    {% include "@atoms/text/comp-heading.twig" with { "compHeading": compHeading } %}
  {% endif %}
  {% for element in richText.elements %}
    {% include element.path with element.data %}
  {% endfor %}
  {% if richText.seeAllLink %}
    <div class="hl__rich-text__see-all-link">
      {% include "@atoms/text/link-tag.twig" with { "linkTag": richText.seeAllLink } %}
    </div>
  {% endif %}
</section>
