.hl__search-result-item {
  border-bottom: 1px solid $c-bd-divider;
  display: flex;
  font-family: $f-trueno;
  margin-bottom: 15px;
  padding-bottom: 15px;

  &:last-child {
    border: 0;
  }

  &__image {
    margin-right: 30px;
  }

  &__type {
    color: $c-font-subtle;
    font-family: $f-trueno;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 8px;
    text-transform: uppercase;
  }

  &__title {
    color: $c-font-dark;
    font-family: $f-trueno;
    font-size: 19px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 5px;

    @media ($bp-x-small-max) {
      font-size: 22px;
    }

    a {
      border-bottom: 3px solid transparent;
      color: currentColor;
      text-decoration: none;
      transition: border 0.5s ease;

      &:hover {
        border-color: rgba($c-font-dark, 0.5);
      }
    }
  }

  &__author,
  &__publisher,
  &__is-part-of {
    color: $c-font-subtle;
    font-family: $f-trueno;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
  }

  &__link {
    margin-top: 10px;

    & + & {
      margin-top: 0;
    }

    .hl__link-tag {
      display: inline;
      font-size: 15px;
      padding-right: 1.2em;

      &::after {
        background: transparent url("../../assets/images/svg-icons/search-external.svg") center left no-repeat;
        content: "\00a0";
        margin-left: 0.4em;
        margin-right: -1.2em;
        padding: 0 0.5em;
      }
    }
  }
}
