.hl__story-meta {
  color: $c-font-subtle;
  font-family: $f-trueno;
  font-size: 18px;
  line-height: 1.3;

  &__author,
  &__subject,
  &__date {
    display: inline-block;
  }

  &__subject,
  &__author {
    border-right: 1px solid $c-bd-divider;
    margin-right: 1em;
    padding-right: 1em;

    @media ($bp-x-small-max) {
      border: 0;
      width: 100%;
    }
  }

  &__author-name {
    color: $c-font-dark;
    font-family: $f-trueno;
    font-weight: 600;
  }

  &__subject {
    font-family: $f-trueno;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1.86px;
    text-transform: uppercase;
  }
}
