{% spaceless %}
  <div class="hl__story-meta">
    {% if storyMeta.authorName %}
      <span class="hl__story-meta__author">By <span class="hl__story-meta__author-name">{{ storyMeta.authorName }}</span></span>
    {% endif %}
    {% if storyMeta.subject %}
      <span class="hl__story-meta__subject">{{ storyMeta.subject }}</span>
    {% endif %}
    <span class="hl__story-meta__date">{{ storyMeta.date }}</span>
  </div>
{% endspaceless %}
