<div class="hl__user-link">
  <div class="hl__user-link__image">
    {% if userLink.imageLink %}
      {% include "@molecules/media/linked-image.twig" with { "linkedImage": userLink.imageLink } %}
    {% else %}
      {% include "@atoms/media/image.twig" with { "image": userLink.image } %} 
    {% endif %}
  </div>
  <div class="hl__user-link__link">
    {% if userLink.link %}
      {% include "@atoms/text/link-tag.twig" with { "linkTag": userLink.link } %} 
    {% else %}
      {{ userLink.text }}
    {% endif %}
  </div>
</div>
