.hl__user-link {
  display: flex;
    align-items: center;

  &__image {
    align-self: flex-start;
    flex: none;
    font-size: 0;
    margin-right: 15px;

    img {
      border-radius: 50%;
    }
  }

  &__link {
    font-family: $f-trueno;
    font-size: 17px;
  }
}
