#hl__main-id {
  border: none;
  outline: none;
  position: relative;
}

.hl__base-template {


  &__pre-content,
  &__main-content {
    margin-bottom: 40px;

    @media ($bp-small-min) {
      margin-bottom: 60px;
    }
  }

  &__background-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;

    @media ($bp-medium-min) {
      height: 300px;
    }
  }

  &__background-header ~ &__pre-content {

    @media ($bp-medium-min) {
      background-color: $c-white;
      margin: -60px auto 60px;
      max-width: $max-width;
    }
  }

  &__pre-content {

    & > * + * {
      margin-top: 30px;

      @media ($bp-medium-min) {
        margin-top: 50px;
      }

      @media ($bp-large-min) {
        margin-top: 60px;
      }
    }
  }

  &__page-content {

    & > * + * {
      margin-top: 40px;

      @media ($bp-medium-min) {
        margin-top: 55px;
      }

      @media ($bp-large-min) {
        margin-top: 70px;
      }
    }
  }

  &__post-content {

    & > * + * {
      margin-top: 30px;

      @media ($bp-medium-min) {
        margin-top: 40px;
      }

      @media ($bp-large-min) {
        margin-top: 50px;
      }
    }
  }
}
