.js-collection-directory-app {
  .hl__filter-bar-directory {
    &__views {
      background-image: linear-gradient(45deg, $c-theme-quinary-dark, $c-theme-quinary);
      padding:15px 0;

      &--masonry {
        margin-bottom: -40px;
        padding-bottom: 50px;


        @media ($bp-small-min) {
          margin-bottom: -60px;
          padding-bottom: 53px;
        }
      }
    }
    &__views-container {
      display:flex;
      justify-content:space-between;

      @media ($bp-medium-max){
        display:block;
        position:relative;
      }

      .hl__filter-bar {
        flex:auto;
        min-width:280px;
        max-width:640px;

        @media ($bp-medium-max){
          min-height:100px;
          min-width:calc(100% - 120px);
        }

        @media (max-width:420px){
          min-width:100%;
        }
      }
    }
    &__container {
      padding-left:0;
      padding-right:0;
    }
    &__results {
      margin-top:0;
    }
  }

  .hl__filter-bar__title, .hl__sort-by-type .hl__radio-input__label {
    color:$c-font-inverse;
  }

  .hl__sort-by-type {
    padding-top:12px;
    padding-right:20px;
    flex:auto;

    @media ($bp-medium-max){
      padding-top:0;
      padding-right:0;
      margin-top:-30px;
    }

    input:checked + .hl__radio-input__label, .hl__radio-input__label:hover, .hl__radio-input__label:focus {
      border-bottom: 3px solid $c-bd-divider;
      color: $c-font-inverse;
    }

    fieldset {
      @media ($bp-medium-max){
        padding:0 20px 20px 20px;
      }

      @media ($bp-x-small-max){
        padding-left:10px;
        padding-right:10px;
      }

      div {
        display:grid;
        grid-template-columns: auto 100px 50px;
        grid-template-areas: "surprise newest title";

        @media (max-width:420px){
          grid-template-columns: 100px auto;
          grid-template-rows:40px;
          grid-template-areas:
            "surprise surprise"
            "newest title";
        }
    }
    }

    .hl__radio-input {
      margin-right:0;
      text-align:center;
      grid-area: newest;
      @media (max-width:420px){
        text-align:left;
      }

      &:first-of-type {
        margin-right:20px;
        text-align:left;
        grid-area: surprise;
      }
      &:last-of-type {
        text-align:right;
        grid-area: title;
        @media (max-width:420px){
          text-align:left;
        }
      }

      .hl__icon {
        padding-left:20px;
        position:relative;

        svg {
          position:absolute;
          bottom:4px;
          left:0;
        }
      }
    }
  }

  .hl__filter-toggles {
    background-color:transparent;
    border-color:$c-bg-subtle;

    @media ($bp-x-small-max){
      display:block;
    }

    &__container {
      margin:0;
      max-width:122px;

      @media ($bp-medium-max){
        padding-top:0;
        position:absolute;
        top:59px;
        right:0;

        @media (max-width:420px){
          top:120px;
        }
      }

      @media ($bp-x-small-max){
        padding-right:10px;
      }

      @media (max-width:420px){

      }
    }

    svg {
      fill:$c-bg-subtle;
    }

    .hl__radio-input {
      // nonactive toggle view
      &--1:first-of-type, &--0:last-of-type {
        background-color:transparent;
      }

      // active toggle view and hover
      &:hover, &:focus,
      &--0:first-of-type, &--1:last-of-type {
        background-color:$c-bg-subtle;
        svg {
          fill:$c-theme-teal;
        }
      }
    }
  }

  .hl__sort-by-type__label, .hl__filter-toggles__label {
    @include hl-visually-hidden;
  }

  .hl__sort-by-type__label {
    position:relative;
  }

  .hl__teaser-grid .hl__teaser-link {
    border-top:none;
  }

  @media ($bp-medium-max){

  }
}
