.hl__filter-bar-directory {
  &__filters, &__week-picker {
    z-index:10;
  }

  &__filters[data-sticky='sticky']{
    .hl__filter-bar{
      padding:15px 0 10px 0;
      min-height:110px;

      header {
        display:none;
      }

      @media(max-width:1129px){
        min-height:166px;

        &__clear {
          position:fixed;
          bottom:10px;
          right:0;
        }
      }

      @media(max-width:619px){
        min-height:221px;
      }

      @media(max-width:480px){
        min-height:166px;
      }

      @media(max-width:474px){
        min-height:221px;
      }
    }
  }

  &__week-picker[data-sticky='sticky']{
    .hl__week-picker {
      width:100%;
      padding:10px;

      .SingleDatePicker_picker__directionLeft {
        margin-top:29px;
      }

      .DateInput_fang {
        margin-top:30px;
      }
    }
  }

  &__container {
    @include hl-container("full");
    transition: all 0.7s ease;

    @media($bp-x-small-max){
      padding:0 10px;
    }
  }

  &__views {
    background-color: $c-bg-subtle;
  }

  &__views-container {
    @include hl-container("full");
    padding:0;

    .hl__filter-bar {
      background-image:none;
      display:inline-block;
      min-height:150px;
      min-width: calc(100% - 125px);

      @media ($bp-x-small-max) {
        min-width:95%;
      }

      &__title {
        color:$c-font-dark;
      }

      input {
        max-width:640px;
      }
    }
  }

  &__result-details {
    color: $c-font-subtle;
    font-family: $f-trueno;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.67;
    margin-bottom: 20px;
    margin-top: 10px;

    @media($bp-small-min) {
      margin-bottom: 50px;
      margin-top: 30px;
    }

    b {
      color: $c-font-dark;
    }
  }

  &__results {
    margin-top:60px;
  }

  &__no-results {
    display: block;
    margin-top: 55px;
  }

  &__load-more {
    padding-top: 40px;
    text-align: center;
  }
}
