// declared in the filter-rail.scss file
$filter-rail-width: 330px !default;

.hl__filter-directory {

  &__container {
    @include hl-container("full");
    display: grid;
    grid-template-columns: 40px 20px calc(100% - 60px);
    grid-template-rows: 100%;
    transition: all 0.7s ease;

    @media($bp-small-min) {
      grid-template-columns: 60px 20px calc(100% - 80px);
    }

    @media($bp-x-large-min) {
      grid-template-columns: 330px 40px calc(100% - 370px);
    }

    &--no-filters {

      @media($bp-x-large-min) {
        grid-template-columns: 60px 40px calc(100% - 100px);
      }
    }
  }

  &__views {
    background-color: $c-bg-subtle;
  }

  &__views-container {
    @include hl-container("full");
    padding-left: 20px + 20px + 20px;
    transition: padding 0.7s ease;

    @media($bp-small-min) {
      // container padding + rail width + grid gap
      padding-left: 20px + 60px + 20px;
    }

    @media($bp-x-large-min) {
      padding-left: 20px + $filter-rail-width + 40px;
    }

    &--no-filters {
      @media($bp-x-large-min) {
        padding-left: 20px + 60px + 40px;
      }
    }
  }

  &--library &__views-container {
    display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      justify-content: space-between;

    .hl__checkbox-filter {
      margin-bottom: 14px;
    }
  }

  &__filters {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    .hl__filter-rail {
      margin-left: -20px;
      margin-top: -150px;

      @media($bp-small-min) {
        margin-top: -90px;
      }
    }
  }

  &__result-details {
    color: $c-font-subtle;
    font-family: $f-trueno;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.67;
    margin-bottom: 20px;
    margin-top: 10px;

    @media($bp-small-min) {
      margin-bottom: 50px;
      margin-top: 30px;
    }

    b {
      color: $c-font-dark;
    }
  }

  &__results {
    grid-column: 2 / 4;
    grid-row: 1 / 2;

    @media($bp-small-min) {
      grid-column: 3 / 4;
    }

    .hl__news-grid {
      padding-top:40px;
    }
  }

  &__no-results {
    display: block;
    margin-top: 55px;
  }

  &__load-more {
    padding-top: 40px;
    text-align: center;
  }
}
