.hl__full-template {

  &__pre-content > * + * {
    margin-top: 40px;

    @media ($bp-medium-min) {
      margin-top: 60px;
    }
  }

  &__page-content {

    &--stacked {

    }

    & > * {
      margin-top: 40px;

      @media ($bp-medium-min) {
        margin-top: 55px;
      }

      @media ($bp-large-min) {
        margin-top: 70px;
      }
    }

    & > *:last-child {
      margin-bottom: 40px;

      @media ($bp-small-min) {
        margin-bottom: 65px;
      }

      @media ($bp-medium-min) {
        margin-bottom: 85px;
      }
    }

    &--sub-row {
      
      h3.hl__comp-heading {
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: 1.5px;
        margin-bottom: 1.5em;
      }

      & > * {
        margin-top: 30px;

        @media ($bp-medium-min) {
          margin-top: 40px;
        }

        @media ($bp-large-min) {
          margin-top: 50px;
        }
      }

      & > *:last-child {
        margin-bottom: 30px;

        @media ($bp-small-min) {
          margin-bottom: 45px;
        }

        @media ($bp-medium-min) {
          margin-bottom: 60px;
        }
      }
    }
  }
}
