{% block header %}{% endblock %}

<main id="hl__main-id" class="hl__full-template" tabindex="-1">
  <div class="hl__full-template__pre-content">
    {% block preContent %}
      {% include "@atoms/text/placeholder.twig" with {'placeholder':{'text':'Pre Content'}} %}
    {% endblock %}
  </div>
  <div class="hl__full-template__main-content">
    <div class="hl__full-template__page-content hl__full-template__page-content--full">
      {% block pageContent %}
        {% include "@atoms/text/placeholder.twig" with {'placeholder':{'text':'Page content'}} %}
      {% endblock %}
    </div>
  </div>
  <div class="hl__full-template__post-content">
    {% block postContent %}
      {% include "@atoms/text/placeholder.twig" with {'placeholder':{'text':'Post Content'}} %}
    {% endblock %}
  </div>
</main>

{% block footer %}{% endblock %}
