.hl__checkbox-filter {
  cursor: pointer;
  display: block;

  &:not(&--inline) + & {
    margin-top: 10px;
  }

  & > input {
    @include hl-visually-hidden;
  }

  &__container {
    border-radius: 4px;
    font-size: 0;
    padding: 11px;
    padding-left: 45px;
    position: relative;

    &:before {
      border: 2px solid $c-bd-subtle;
      border-radius: 4px;
      content: "";
      display: block;
      height: 20px;
      position: absolute;
        left: 15px;
        top: 12px;
      width: 20px;
    }
  }

  &--dark &__container {
    background-color: $c-gray-dfdfdf;
    transition: background 0.4s ease;

    &:before {
      background-color: $c-white;
      border: none;
    }

    &:hover {
      background-color: $c-bg-light;
    }
  }

  &--base &__container {
    background-color: $c-theme-base;
    transition: all 0.4s ease;

    &:before {
      background-color: $c-white;
      border: none;
    }

    &:hover {
      background-color: $c-bg-semi-dark;
    }
  }

  &--inline &__container {
    background-color: transparent;
    padding-left: 0;
    text-align: center;

    &:before,
    &:after {
      display: none;
    }
  }

  &:not(&--inline) &__icon {
    display: block;
    height: 28px;
    position: absolute;
      right: 12px;
      top: 10px;
    width: 28px;
  }

  &--inline &__icon {
    display: block;
    height: 32px;
    margin: 0 auto;
    margin-bottom: 12px;
    width: 32px;

    & > svg {
      fill: $c-bg-filter-blue;
    }
  }

  &__label {
    display: inline-block;
    font-family: $f-trueno;
    font-size: 15px;
    line-height: 1.6;
    vertical-align: top;

    small {
      font-size: 14px;
    }
  }

  &--base &__label {
    color: $c-font-inverse;
  }

  &--inline &__label {
    color: $c-font-filter-blue;
  }

  &:not(&--inline) &__icon + &__label {
    padding-right: 45px;
  }


  &:not(&--inline) > input:checked + &__container {
    &:before {
      background-color: $c-theme-secondary;
    }

    &:after {
      border-bottom: 2px solid $c-white;
      border-left: 2px solid $c-white;
      content: "";
      display: block;
      height: 7px;
      position: absolute;
        left: 19px;
        top: 17px;
      transform: rotate(-45deg);
      width: 12px;
    }
  }

  &--inline > input:hover + &__container,
  &--inline > input:checked + &__container {
    background-color: $c-theme-secondary;
    transition: all 0.4s ease;
  }

  & > input:focus + &__container {
    border-color: highlight;
    outline: -webkit-focus-ring-color auto 5px;
  }

  & > input:-moz-focusring + &__container {
    outline: 1px dotted black;
  }

  &--inline > input:hover + &__container &__label,
  &--inline > input:checked + &__container &__label {
    color: $c-font-inverse;
    transition: all 0.4s ease;
  }

  &--inline > input:hover + &__container &__icon,
  &--inline > input:checked + &__container &__icon {

    & > svg {
      fill: $c-font-inverse;
      transition: all 0.4s ease;
    }
  }
}
