.hl__input {
  border: 1px solid transparent;
  border-radius: 4px;
  color: $c-font-base;
  display: block;
  font-family: $f-trueno;
  font-size: 16px;
  font-weight: 200;
  height: 45px;
  padding: 5px 10px;

  &:focus {
    border-color: highlight;

    @include hl-input-placeholder {
      opacity: 0;
    }
  }

  &--inline {
    display: inline-block;
    position: relative;
    vertical-align: middle;
  }

  @include hl-input-placeholder {
    color: $c-font-subtle;
    font-family: $f-trueno;
    font-weight: 400;
    opacity: 1;
    transition: opacity 0.5s ease;
  }
}
