{% set inputTheme = input.theme ? "hl__input--" ~ input.theme : "" %}

{% if input.labelText %}
  <label 
  for="{{ input.id }}"
  class="hl__label {{ input.required ? 'hl__label--required' : 'hl__label--optional' }} {{ input.hiddenLabel ? 'hl__label--hidden' : '' }}">{{ input.labelText }}</label>
{% endif %}
{% if input.errorMsg %}
  <div class="hl__error-msg">{{ input.errorMsg }}</div>
{% endif %}
<input 
  class="hl__input {{ inputTheme }} {{ input.required ? 'js-is-required' : ''}}" 
  name="{{ input.name }}" 
  id="{{ input.id }}" 
  type="{{ input.type }}" 
  placeholder="{{ input.placeholder }}" 
  data-type="{{ input.type }}"
  {% if input.maxlength %}
    maxlength="{{ input.maxlength }}"
  {% endif %}
  {% if input.pattern %}
    pattern="{{ input.pattern }}*"
  {% endif %}
  {% if input.width %}
    style="width: {{ input.width }}px" 
  {% endif %}
  {{ input.required ? 'required' : '' }} />
