.hl__label {
  color: $c-font-base;
  display: block;
  font-family: $f-trueno;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;

  &--inline {
    display: inline-block;
    font-family: $f-trueno;
    font-weight: 600;
    vertical-align: middle;
  }

  &--hidden {
    @include hl-visually-hidden;
  }   
 }
