<label class="hl__radio-input">
  <input name="{{ radioInput.name }}" type="radio" value="{{ radioInput.value }}" {{ radioInput.checked ? 'checked' : '' }}>
  <span class="hl__radio-input__label">
    {% if radioInput.icon %}
      {% if radioInput.icon == "gift" %}
        {% include "@atoms/svg-icons/svg-gift.twig" %}
      {% elseif radioInput.icon == "camera" %}
        {% include "@atoms/svg-icons/svg-camera.twig" %}
      {% endif %}
    {% endif %}
    {{ radioInput.label }}
  </span>
</label>
