.hl__radio-input {
  cursor: pointer;

  input + span {
    border: 1px solid transparent; 
  }

  input:focus + span {
    border-color: highlight;
    margin-left: -5px;
    margin-right: -5px;
    outline: -webkit-focus-ring-color auto 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
