{% set hasImagesClass = galleryHeader.imageGallery ? "hl__gallery-header--with-images" : "" %}

<section class="hl__gallery-header {{ hasImagesClass }}">
  <div class="hl__gallery-header__header-top">
    <div class="hl__gallery-header__container">
      <div class="hl__gallery-header__top-content">
        <div class="hl__gallery-header__page-header">
          {% include "@organisms/page-header/page-header.twig" with { "pageHeader": galleryHeader.pageHeader } %}
        </div>
        {% if galleryHeader.hoursToday %}
          <div class="hl__gallery-header__hours-today">
            {% include "@molecules/text/icon-callout.twig" with { "iconCallout": galleryHeader.hoursToday } %}
          </div>
        {% endif %}
      </div>
      {% if galleryHeader.imageGallery %}
        <div class="hl__gallery-header__image-gallery">
          {% include "@molecules/media/image-gallery.twig" with { "imageGallery": galleryHeader.imageGallery } %}
        </div>
      {% endif %}
      {% if galleryHeader.megaIcon %}
        <div class="hl__gallery-header__mega-icon">
          {% include galleryHeader.megaIcon %}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="hl__gallery-header__header-bottom">
    <div class="hl__gallery-header__container">
      <div class="hl__gallery-header__bottom-content">
        <div class="hl__gallery-header__schedule">
          {% include "@organisms/lists/hours-list.twig" with { "hoursList": galleryHeader.hours } %}
        </div>
        {% if galleryHeader.registration %}
          <div class="hl__gallery-header__registration">
            {% include "@molecules/CTAs/registration-cta.twig" with { "registrationCTA" : galleryHeader.registration } %}
          </div>
        {% endif %}
      </div>
      {% if galleryHeader.location %}
        <div class="hl__gallery-header__location">
          {% include "@organisms/lists/contact-list.twig" with { "contactList" : galleryHeader.location } %}
        </div>
      {% endif %}
    </div>
  </div>
</section>
