$gallery-header-gallery-width-wide: 620px;
$gallery-header-gallery-width-medium: 420px;

$gallery-header-toggle-header-wide: 1279px;
$gallery-header-toggle-header-medium: 1100px;

.hl__gallery-header {
  margin-top: -40px;

  @media ($bp-medium-min) {
    margin-top: -10px;
  }

  .hl__full-template__pre-content > & {
    margin-top: 20px;

    @media ($bp-medium-min) {
      margin-top: 50px;
    }
  }

  &--with-images {

    @media(min-width: $gallery-header-toggle-header-wide) {
      display: flex;
        flex-direction: column;
      min-height: 650px;
    }
  }

  &__header-top {
    flex: none;

    .hl__page-header {
      margin-top: 0;

      .hl__page-header__container { // repeated page-header for increased specificity
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        text-align: left;
      }

      &__page-title,
      &__sub-text,
      &__description {
        margin-left: 0;
      }
    }
  }

  &__container {
    @include hl-container("full");
    position: relative;
  }

  &__header-top > &__container {

    @media(min-width: $gallery-header-toggle-header-wide) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__header-bottom {
    background-color: $c-bg-section;
    flex: auto;
    margin-top: 0;
    padding: 40px 0;
    position: relative;
    z-index: 2;
  }

  &--with-images &__header-bottom {
    @media(min-width: $gallery-header-toggle-header-wide) {
      min-height: 200px;
    }
  }

  &:not(&--with-images) &__header-bottom > &__container {
    @media($bp-large-min) {
      display: flex;
    }
  }

  @media($bp-large-min) {
    &:not(&--with-images) &__bottom-content {
      padding-right: 80px;
      width: 50%;
    }
  }

  &--with-images &__top-content,
  &--with-images &__bottom-content,
  &--with-images &__location {

    @media(min-width: $gallery-header-toggle-header-wide) {
      padding-right: 50px;
      width: calc(100% - #{$gallery-header-gallery-width-wide});
    }
  }

  &__mega-icon {
    height: 450px;
    position: absolute;
      bottom: 0;
      right: 80px;
    transform: translate(80px, 80px);
    width: 450px;
    z-index: 1;

    @media(min-width: $gallery-header-toggle-header-wide) {
      right: $gallery-header-gallery-width-wide;
    }

    & > svg {
      height: 100%;
      opacity: 0.1;
      width: 100%;

      path {
        fill: $c-white;       
      }
    }
  }

  &__image-gallery {

    @media(min-width: $gallery-header-toggle-header-wide) {
      @include hl-container("full");
      margin-bottom: 0;
      position: absolute;
        right: 0;
        top: 0;
      width: $gallery-header-gallery-width-wide + 40px;
      z-index: 10;
    }

    .hl__image-gallery {
      max-width: 100%;

      @media($bp-large-min) and (max-width: $gallery-header-toggle-header-wide - 1) {
        &__main-slider {
          display: none;
        }

        &__nav-slider {

          .slick-current {
            display: block;
          }

          .hl__figure__figcaption {
            display: block;
          }
        }
      }
    }
  }

  &__image-gallery + &__schedule {
    
    @media (max-width: $gallery-header-toggle-header-wide - 1) {
      margin-top: 40px;
    }
  }

  &__registration {
    margin-top: 10px;

    @media($bp-small-min) {
      margin-top: 30px;
    }
  }

  &__location {

    &:before {
      border-top: 1px solid $c-bd-divider;
      content: "";
      display: block;
      margin-top: 30px;
      padding-top: 30px;
    }
  }

  &:not(&--with-images) &__location {

    @media($bp-large-min) {
      border-left: 1px solid $c-bd-divider;
      padding-left: 80px;
      width: 50%;

      &:before {
        display: none;
      }
    }
  }
}
