.hl__media-contact {
  background-color: lighten($c-bg-section, 2.5%);

  &__container {
    display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    padding: 30px;

      @media ($bp-medium-min) {
        padding: 50px;
      }

    .hl__base-template__page-content--full & {
      @include hl-container;
    }

    .hl__columns & {

      @media ($bp-medium-min) {
        max-width: 645px; // 545px max plus 100 padding
      }

      .hl__contact-list__container {
        padding: 0;
      }
    }

    & > .hl__comp-heading {
      font-size: 20px;
      letter-spacing: 1.5px;
      line-height: 1.5;
      width: 100%;
    }
  }

  &__contacts {
    flex: auto;
    width: 50%;

    & > h3 {
      @include hl-h3;
      font-size: 15px;
      line-height: 1.2;
    }
  }

  &__downloads {
    border-top: 1px solid $c-bd-divider;
    flex: none;
    margin-top: 30px;
    padding-top: 30px;
    width: 100%;

    &--single {

      @media ($bp-medium-min) {
        border-left: 1px solid $c-bd-divider;
        border-top: none;
        margin-left: 30px;
        margin-top: 0;
        padding-left: 30px;
        padding-top: 0;
        width: calc(50% - 30px);
      }

      .hl__columns & {
        @media ($bp-medium-min) and ($bp-x-large-max) {
          border-left: none;
          border-top: 1px solid $c-bd-divider;
          margin-left: 0;
          margin-top: 30px;
          padding-left: 0;
          padding-top: 30px;
          width: 100%;
        }
      }
    }

    & > h3 {
      @include hl-h3;
      font-size: 15px;
      line-height: 1.2;
      margin-bottom: 0.6em;
    }
  }
}
