{% set downloadClass = mediaContact.downloads.downloadList.items|length == 1 ? "hl__media-contact__downloads--single" : "" %}

<section class="hl__media-contact">
  <div class="hl__media-contact__container">
    {% include "@atoms/text/comp-heading.twig" with {"compHeading": mediaContact.compHeading } %}
    <div class="hl__media-contact__contacts">
      <h3>{{ mediaContact.contacts.title }}</h3>
      {% include '@organisms/lists/contact-list.twig' with {"contactList": mediaContact.contacts.contactList} %}
    </div>
    {% if mediaContact.downloads %}
      <div class="hl__media-contact__downloads {{ downloadClass }}">
        <h3>{{ mediaContact.downloads.title }}</h3>
        {% include '@organisms/lists/download-list.twig' with {"downloadList": mediaContact.downloads.downloadList} %}
      </div>
    {% endif %}
  </div>
<section>
