.hl__spaces-map {
  height: 100%;
  position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  width: 100%;

  *:focus {
    outline: 2px solid highlight;
  }
}

.hl__spaces-info-window {
  font-family: $f-trueno;

  &__title {
    font-size: 22px;
  }

  &__link {
    border-bottom: 2px solid transparent;
    color: currentColor;
    text-decoration: none;
    transition: border 0.5s ease;

    &:hover {
      border-color: currentColor;
    }
  }

  &__items {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    font-size: 17px;
    font-weight: 400;
  }

  &__item + &__item {
    border-top: 1px solid $c-bd-divider;
    margin-top: 10px;
    padding-top: 10px;
  }

  &__features {
    list-style: none;
    margin: 0;
    margin-left: -5px;
    padding: 0;
    width: calc(100% + 5px);
  }

  &__feature {
    display: inline-block;
    margin-left: 5px;
  }
}
