.hl__screen-image {
  background-color: $c-black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 175px;
  padding-bottom: 70px;
  padding-top: 70px;
  position: relative;

  &__tag {
    color: $c-font-inverse;
    font-family: $f-trueno;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    position: absolute;
      bottom: 13px;
      left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }

  &__credit {
    max-width: 100%;
    position: absolute;
      bottom: 0;
      right: 0;
    z-index: 1;
  }

  &__bottom-gradient {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    height: 300px;
    max-height: 50%;
    position: absolute;
      bottom: 0;
      left: 0;
    width: 100%;
  }
}
