.hl__screen-events {
  background-color: $c-theme-secondary;
  background-image: linear-gradient(100deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);

  display: flex;

  @media($bp-large-max) {
    flex-direction: column;
    justify-content: space-between;
  }

  &__general {
    flex: auto;
    padding: 50px 30px 15px;
    position: relative;

    @media($bp-large-max) {
      .hl__event-grid__events {
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
          bottom: 30px;
          left: 30px;
          right: 50px;
          top: 50px;
      }
    }

    @media($bp-large-min) {
      padding: 25px 30px 0px;

      .hl__highlighted-text {
        font-size: 11px;
      }

      .hl__event-teaser__title {
        margin-bottom: 0;
      }
    }

    .hl__event-teaser {
      padding-top: 0;

      &::before {
        display: none;
      }

      &:hover {
        margin-top: -40px;
        padding-top: 40px;
      }
    }
  }

  &__tours {
    background: transparent url('../../assets/images/white_dots.png') top center repeat;
    flex: none;
    padding: 20px 50px;

    @media($bp-large-min) {
      padding: 50px 50px 0;
      width: 400px;
    }

    .hl__comp-heading {
      font-size: 36px;
      letter-spacing: 3.05px;
    }

    .hl__highlighted-text {
      font-size: 11px;
    }

    .hl__event-grid {

      &__events {

        @media($bp-large-min) {
          margin-left: -40px;
          margin-right: -40px;
        }
      }

      @media($bp-large-max) {
        &__container {
          display: flex;
          width: 100%;
        }

        .hl__comp-heading {
          align-self: center;
          flex-basis: auto;
          flex-grow: 1;
          flex-shrink: 1;
          margin-bottom: 0;
          width: 25%;
        }

        &__events {
          flex-basis: auto;
          flex-grow: 2;
          flex-shrink: 2;
        }

        .hl__event-teaser {
          flex: auto;
          margin-left: 20px;
          padding: 0;
          padding-left: 20px;
          width: 30%;

          &:hover {
            margin: -20px 0;
            padding: 20px;
          }

          &::before {
            border-left: 1px solid $c-bd-divider;
            border-top: 0;
            height: 100%;
            left: 0;
            width: 0;
          }

          &:last-child::before {
            display: block;
          }

          &__title {
            font-size: 19px;
          }

          &__details {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .hl__event-teaser__title,
  .hl__comp-heading {
    color: $c-font-inverse;
  }

  .hl__event-teaser:hover {
    background-color: rgba($c-white, .1);
    color: $c-font-inverse;
  }

  .hl__event-teaser__time,
  .hl__event-teaser__location {
    color: $c-bg-subtle;
  }
}
