<div class="hl__screen-banner">
  {% if screenBanner.title %}
    <h1 class="hl__screen-banner__title">
      {% if screenBanner.title.small %}
        <span class="hl__screen-banner__title-small">{{ screenBanner.title.small }}</span>
      {% endif %}
      {% if screenBanner.title.large %}
        <span class="hl__screen-banner__title-large">{{ screenBanner.title.large }}</span>
      {% endif %}
    </h1>
  {% endif %}
  {% if screenBanner.library %}
    <div class="hl__screen-banner__library">
      <div class="hl__screen-banner__lib-date">
        {% include "@atoms/text/highlighted-text.twig" with { "highlightedText": screenBanner.library.date } %}
      </div>
      {# reusing css class from atoms/text/highlighted-text #}
      <div class="hl__screen-banner__info hl__highlighted-text">
        <span class="hl__screen-banner__lib-name">{{ screenBanner.library.name }}</span>
        <span class="hl__screen-banner__lib-time">{{ screenBanner.library.time }}</span>
      </div>
    </div>
  {% endif %}
</div>
