<div class="hl__screen-image" aria-label="{{ screenImage.alt }}" style="background-image:url({{ screenImage.src }}">
  {% if screenImage.banner %}
    {% include "@organisms/promo-screens/screen-banner.twig" with {
    "screenBanner": screenImage.banner } %}
  {% endif %}
  {% if screenImage.credit %}
    <div class="hl__screen-image__credit">
      {% include "@molecules/media/image-credit.twig" with { "imageCredit": screenImage.credit } %}  
    </div>
  {% endif %}
  {% if screenImage.tag %}
    <div class="hl__screen-image__bottom-gradient"></div>
    <div class="hl__screen-image__tag">{{ screenImage.tag|nl2br }}</div>
  {% endif %}
</div>
