.hl__screen-header {
  background-color: $c-bg-dark;

  .hl__page-title {
    color: $c-font-inverse;
    font-size: 36px;
  }

  .hl__illustrated-title {
    margin-bottom: 0;
    min-height: 230px;

    @media($bp-large-min) {
      min-height: 158px;
    }

    &__icon {
      height: 135px;
      opacity: 0.15;

      @media($bp-large-min) {
        height: 118px;
      }
    }
  }
}
