{% set themeClass = screenOverlay.theme ? "hl__screen-overlay--" ~ screenOverlay.theme : "" %}

{% set blurClass = screenOverlay.blur ? "hl__screen-overlay--blur" : "" %}

<div class="hl__screen-overlay {{ themeClass }} {{ blurClass }}">
  <div 
    class="hl__screen-overlay__image"
    style="background-image: url({{ screenOverlay.image.src}})"
    aria-label="{{ screenOverlay.image.alt }}">
  </div>
  <div class="hl__screen-overlay__container">
    <h1 class="hl__screen-overlay__title">{{ screenOverlay.title }}</h1>
    <div class="hl__screen-overlay__summary">
      {% include "@molecules/text/rich-text.twig" with { "richText":  screenOverlay.summary } %} 
    </div>
  </div>
</div>
