.hl__screen-content {
  background-color: $c-theme-base;
  color: $c-font-inverse;
  display: grid;
    align-items: center;
  padding: 50px 40px 70px;

  @media ($bp-large-min) {
    padding: 38px 43px;
  }

  &--horz-center {
    padding-left: 30px;
    padding-right: 30px;
  }

  &--event {
    position: relative;

    @media ($bp-large-min) {
      padding-left: 80px;
      padding-right: 80px;
    }

    &:before {
      background-image: url(../../assets/images/svg-icons/header-cards.svg);
      background-position: bottom -45px right -60px;
      background-repeat: no-repeat;
      background-size: 420px;
      content: "";
      height: 100%;
      opacity: 0.15;
      position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
      width: 100%;
    }
  }

  &--vert-bottom {
    align-items: end;
  }

  &__container {
    position: relative;
    z-index: 1;

    @media ($bp-large-max) {
      max-width: 460px;
    }
  }

  &--horz-center &__container {
    max-width: 100%;
  }

  &--event &__container {
    max-width: 400px;
  }

  &__title {
    font-family: $f-trueno;
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 0;
  }

  &--horz-center &__title {
    text-align: center;
  }

  &__type {
    font-family: $f-trueno;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 17px;
    margin-top: 15px;
    text-transform: uppercase;
  }

  &__summary {
    font-size: 33px;
    font-style: italic;
    font-weight: 400;
    line-height: 46px;
    margin-top: 10px;
  }

  &--horz-center &__summary {
    text-align: center;

    @media($bp-large-max) {
      font-size: 41px;
    }
  }

  &--event &__summary {
    font-size: 30px;
  }

  &__type + &__summary {
    
    @media ($bp-large-min) {
      margin-top: 56px;
    }      
  }

  &__event {
    font-size: 15px;
    margin-top: 15px;

    @media ($bp-large-min) {
      margin-top: 86px;
    }

    .hl__highlighted-text {
      color: $c-font-inverse;
      font-size: 14px;
    }
  }

  &__location {
    font-family: $f-trueno;
    margin-top: 8px;
  }

  &__link {
    margin-top: 35px;

    @media ($bp-large-min) {
      margin-top: 86px;
    }

    a {
      color: $c-font-inverse;
      font-size: 30px;

      &:focus,
      &:hover {
        border-bottom-color: rgba($c-font-inverse, 0.3);
      }
    }

    &--uppercase {
      letter-spacing: 2.37px;
      text-transform: uppercase;
    }
  }

  &--vert-bottom &__link {
    margin-top: 35px;
  }

  &--horz-center &__link {
    text-align: center;
  }
}
