.hl__screen-footer {
  background-color: $c-theme-base;
  color: $c-font-inverse;
  display: grid;
    align-items: center;
  min-height: 190px;
  padding: 50px 40px 70px;

  @media ($bp-large-min) {
    min-height: 0;
    padding: 20px 40px;
  }

  &__summary {
    font-size: 33px;
    font-style: italic;
    font-weight: 400;
    line-height: 46px;
    margin-top: 10px;
    text-align: center;
  }

  &__link {
    text-align: center;

    a {
      color: $c-font-inverse;
      font-size: 30px;
      letter-spacing: 2.37px;
      text-transform: uppercase;

      &:focus,
      &:hover {
        border-bottom-color: rgba($c-font-inverse, 0.3);
      }
    }

    &--large {

      a {
        font-size: 36px;
      }
    }
  }
}
