{% set linkClass = screenContent.linkStyle ? "hl__screen-content__link--" ~ screenContent.linkStyle : "" %}

<section class="hl__screen-footer">
  <div class="hl__screen-footer__container">
    <div class="hl__screen-footer__summary">{{ screenFooter.summary }}</div>
    <div class="hl__screen-footer__link {{ linkClass }}">
      {% include "@atoms/text/link-tag.twig" with { "linkTag": screenFooter.link } %}
    </div>
  </div>
</section>
