<section class="hl__screen-events">
  <div class="hl__screen-events__general">
    {% include "@organisms/lists/event-grid.twig" with { "eventGrid": screenEvents.general } %}
  </div>
  <div class="hl__screen-events__tours">
    {% include "@organisms/lists/event-grid.twig" with { "eventGrid": screenEvents.tours } %}
  </div>
</section>
