.hl__screen-overlay {
  background-color: $c-white;
  position: relative;

  &--dark {
    background-color: $c-bg-dark;
  }

  &__image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.4;
    position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    z-index: 1;
  }

  &--blur &__image {
    filter: blur(10px);
  }

  &__container {
    padding: 100px;
    position: relative;
    z-index: 2;

    @media($bp-large-min) {
      padding: 85px;
    }
  }

  &__title {
    color: $c-font-dark;
    font-family: $f-trueno;
    font-size: 52px;
    font-weight: 700;
    letter-spacing: 4.4px;
    line-height: 1.5;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
  }

  &--dark &__title {
    color: $c-font-inverse;
  }

  &__summary {
    padding-top: 175px;

    @media($bp-large-min) {
      padding-top: 65px;
    }

    .hl__rich-text {
      color: $c-font-dark;
      font-size: 40px;
      font-weight: 400;
      line-height: 58px;
      margin: 0 auto;
      text-align: center;

      a:not(.hl__button):not(.hl__link-tag) {
        color: currentColor;

        &:focus,
        &:hover {
          border-color: rgba($c-font-dark, .7);
        }
      }
    }
  }

  &--dark &__summary {
    .hl__rich-text {
      color: $c-font-inverse;

      a:not(.hl__button):not(.hl__link-tag) {
        color: currentColor;

        &:focus,
        &:hover {
          border-color: rgba($c-font-inverse, .7);
        }
      }
    }
  }
}
