{% set eventClass = screenContent.event ? "hl__screen-content--event" : "" %}
{% set valignClass = screenContent.valign ? "hl__screen-content--vert-" ~ screenContent.valign : "" %}
{% set halignClass = screenContent.halign ? "hl__screen-content--horz-" ~ screenContent.halign : "" %}
{% set linkClass = screenContent.linkStyle ? "hl__screen-content__link--" ~ screenContent.linkStyle : "" %}

<section class="hl__screen-content {{ eventClass }} {{ valignClass }} {{ halignClass }}">
  <div class="hl__screen-content__container">
    {% if screenContent.title %}
      <h2 class="hl__screen-content__title">{{ screenContent.title }}</h2>
    {% endif %}
    {% if screenContent.type %}
      <div class="hl__screen-content__type">{{ screenContent.type }}</div>
    {% endif %}
    <div class="hl__screen-content__summary">{{ screenContent.summary }}</div>
    {% if screenContent.event %}
      <div class="hl__screen-content__event">
        {% include "@atoms/text/highlighted-text.twig" with { "highlightedText": screenContent.event.date } %}
        <div class="hl__screen-content__location">{{ screenContent.event.location|nl2br }}</div>
      </div>
    {% endif %}
    <div class="hl__screen-content__link {{ linkClass }}">
      {% include "@atoms/text/link-tag.twig" with { "linkTag": screenContent.link } %}
    </div>
  </div>
</section>
