.hl__screen-banner {
  background-image: linear-gradient(315deg, rgba($c-theme-primary, 0.8) 0%, rgba($c-theme-tertiary, 0.8) 100%);
  margin-bottom: 30px;
  padding: 25px;
  text-align: center;

  &__title {
    color: $c-font-inverse;
    line-height: 1.5;
    margin-bottom: 0;
    text-align: center;
  }

  &__title-small {
    display: block;
    font-size: 32px;
    font-style: italic;
    font-weight: 200;
  }

  &__title-large {
    display: block;
    font-family: $f-trueno;
    font-size: 38px;
    letter-spacing: 3.05px;
    text-transform: uppercase;
  }

  &__library {
    background-color: $c-theme-quaternary;
    display: inline-block;
    margin-top: -55px;
    text-align: center;
    transform: translateY(55px);

    @media ($bp-small-min) {
      min-width: 500px;
    }
  }

  &__lib-date {

    .hl__highlighted-text {
      font-size: 13px;
    }
  }

  &__lib-name {
    margin-right: 1em;
    text-transform: none;
  }
}

