{% block header %}{% endblock %}

<main id="hl__main-id" class="hl__full-template hl__about-page" tabindex="-1">
<div class="hl__full-template__pre-content hl__about-page__pre-content">
  {% block preContent %}
    {% include "@organisms/navigation/breadcrumb.twig" with {'breadcrumb': about.breadcrumb } %}
    {% include "@organisms/page-header/page-header.twig" with { "pageHeader": about.pageHeader } %}
    {% if about.jumpLinks %}
      <div class="hl__about-page__jump-links">
        {% include "@molecules/navigation/jump-links.twig" with {"jumpLinks": about.jumpLinks} %}
      </div>
    {% endif %}
  {% endblock %}
</div>

<div class="hl__full-template__main-content">
  {% for row in about.stackedRow.rows %}
    {% set subRowClass = row.subRow ? "hl__full-template__page-content--sub-row" : "" %}
    <div
      class="hl__full-template__page-content hl__full-template__page-content--stacked {{ subRowClass }}"
      id="{{ row.id }}"
      tabindex="-1">
      {% for item in row.items %}
        {% include item.path with item.data %}
      {% endfor %}
    </div>
  {% endfor %}
</div>

{% block postContent %}
  {% include "@molecules/forms/single-input-form.twig" with {'singleInputForm': about.emailSignUp } %}
{% endblock %}
</main>


{% block footer %}
  {% include "@organisms/global/footer.twig" %}
{% endblock %}
