.hl__about-page {

  &__jump-links {
    margin-top:0;
  }

  .hl__divider {
    margin-bottom:40px;
  }

  .hl__fancy-numbered-list {
    padding:0;

    // indent fancy numbered list
    &__items {
      @media ($bp-large-min){
        margin-left: calc((100vw - #{$max-width-inner}) / 2 - 25px);
        margin-right: calc((100vw - #{$max-width-inner}) / 2 - 25px)
      }

      @media ($bp-x-large-min){
        margin:0 120px;
      }
    }
  }

  .hl__comp-heading {
    text-align:center
  }

  .hl__rich-text {
    max-width:930px;
    margin-left:auto;
    margin-right:auto;

    h2, h3 {
      text-align:center;
    }

    .hl__rte-large {
      text-align:center;

      @media ($bp-large-min){
        margin-left: calc((100vw - #{$max-width-inner}) / 2 - 25px);
        margin-right: calc((100vw - #{$max-width-inner}) / 2 - 25px)
      }

      @media ($bp-x-large-min){
        margin-left:120px;
        margin-right:120px;
      }
    }

    // indent images
    @media ($bp-large-min) {
      .hl__image--left,
      .hl__figure--left,
      .hl__quote--left {
        margin-left: calc((100vw - #{$max-width-inner}) / -2 + 20px);
      }

      .hl__image--right,
      .hl__figure--right,
      .hl__quote--right {
        margin-right: calc((100vw - #{$max-width-inner}) / -2 + 20px);
      }

      .hl__figure:not(.hl__figure--right):not(.hl__figure--left) {
        margin-left: calc((100vw - #{$max-width-inner}) / -2 + 20px);
        margin-right: calc((100vw - #{$max-width-inner}) / -2 + 20px);
      }
    }

    @media ($bp-x-large-min) {
      .hl__quote--left,
      .hl__image--left,
      .hl__figure--left {
        margin-left: -120px;
      }

      .hl__quote--right,
      .hl__image--right,
      .hl__figure--right {
        margin-right: -120px;
      }

      .hl__figure:not(.hl__figure--right):not(.hl__figure--left) {
        margin-left: -120px;
        margin-right: -120px;
      }
    }
  }

  // extra styling for rich-text { align:left-center } *custom because didn't want to possibly affect other page styling that use centered text
  .hl__full-template__page-content--stacked {
    &#principles, &#leadership, &#past {
      background:transparent url(../../assets/images/background-swirl.svg) center top no-repeat;
      background-size:100%;
    }

    &#leadership {
      background-image:url(../../assets/images/background-swirl~rotated.svg);
    }
  }

}
