{% block header %}{% endblock %}

<main id="hl__main-id" class="hl__full-template hl__all-components" tabindex="-1">
  <div class="hl__full-template__pre-content">
    {% if preContent.breadcrumb %}
      {% include "@organisms/navigation/breadcrumb.twig" with {"breadcrumb": preContent.breadcrumb } %}
    {% endif %}
    {% include "@organisms/page-header/page-header.twig" with { "pageHeader": preContent.pageHeader} %}
    {% if preContent.diagramSVG %}
      {% include "@organisms/general/diagram-svg.twig" %}
    {% endif %}
    {% if preContent.jumpLinks %}
      <div class="hl__all-components-links">
        {% include "@molecules/navigation/jump-links.twig" with {"jumpLinks": preContent.jumpLinks} %}
      </div>
    {% endif %}
  </div>

  <div class="hl__full-template__main-content">
    <div class="hl__library-details__info">
      <a name="library-info" id="library-info"></a>
      {% include "@organisms/general/library-info.twig" with {"libraryInfo": libraryInfo } %}
    </div>

    {% include "@organisms/media/gallery-header.twig" with { "galleryHeader": galleryHeader } %}

    {% for row in stackedRow.rows %}
      {% set subRowClass = row.subRow ? "hl__full-template__page-content--sub-row" : "" %}
      <div class="hl__full-template__page-content hl__full-template__page-content--stacked {{ subRowClass }}" id="{{ row.id }}" tabindex="-1">
        {% for item in row.items %}
          {% include item.path with item.data %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>

  <div class="hl__staff-details">
    {% if staffDetails.userBanner and staffDetails.userBanner.image %}
      <div class="hl__staff-details__user-banner">
        {% include "@molecules/general/user-banner.twig" with {"userBanner": staffDetails.userBanner} %}
      </div>
    {% endif %}
    <div class="hl__staff-details__page-content">
      <div class="hl__staff-details__left-column">
        <div class="hl__staff-details__page-header">
          {% include "@atoms/text/page-title.twig" with {"pageTitle": staffDetails.pageTitle} %}
          {% include "@atoms/text/sub-text.twig" with {"subText": staffDetails.position} %}
          {% if staffDetails.department %}
            {% include "@atoms/text/sub-text.twig" with {"subText": staffDetails.department} %}
          {% endif %}
          {% if staffDetails.library %}
            {% include "@atoms/text/sub-text.twig" with {"subText": staffDetails.library} %}
          {% endif %}
        </div>
        <hr class="hl__section-divider hl__section-divider--thin" />
        {% if staffDetails.bio %}
          {% include "@molecules/text/rich-text.twig" with {"richText": staffDetails.bio } %}
        {% endif %}
        {% if staffDetails.roles or staffDetails.languages %}
          <div class="hl__staff-details__grid">
            {% if staffDetails.roles %}
              <div class="hl__staff-details__grid-item hl__staff-details__grid-item--span-rows">
                {% include "@organisms/lists/linked-list.twig" with {"linkedList": staffDetails.roles} %}
              </div>
            {% endif %}
            {% if staffDetails.languages %}
              <div class="hl__staff-details__grid-item">
                {% include "@organisms/lists/linked-list.twig" with {"linkedList": staffDetails.languages} %}
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
      <aside class="hl__staff-details__right-column">
        <div class="hl__staff-details__contact" tabindex="-1" id="contacts">
          {% include "@molecules/text/contact-info.twig" with {"contactInfo": staffDetails.contactInfo } %}
        </div>
        {% if staffDetails.guides %}
          <div class="hl__staff-details__guides">
            {% include "@organisms/lists/linked-list.twig" with {"linkedList": staffDetails.guides } %}
          </div>
        {% endif %}
      </aside>
    </div>
  </div>

  {% include "@molecules/general/search-heading.twig" with { "searchHeading": searchHeading } %}

  <div class="hl__search-directory">
    <!-- <div class="hl__search-directory__results-title">
      {% include "@atoms/text/comp-heading.twig" with { compHeading: resultsTitle } %}
    </div> -->
    {% if leftSnippet %}
      <div class="hl__search-directory__left-snippet">
        <h2 class="hl__search-directory__snippet-title">We Suggest</h2>
        {% include "@molecules/teasers/type-snippet.twig" with { "typeSnippet": leftSnippet } %}
      </div>
    {% endif %}

    {% if noSiteResults %}
    <div class="hl__search-directory__no-results">
      {% include "@molecules/text/rich-text.twig" with {"richText": noSiteResults} %}
    </div>
    {% endif %}

    {% if not noSiteResults %}
    <div class="hl__search-directory__hollis">
      {% include "@molecules/teasers/category-teaser.twig" with {"categoryTeaser": hollisResults } %}
    </div>
    <div class="hl__search-directory__results">
      {% include "@organisms/general/search-results.twig" with { "searchResults": searchResults } %}
    </div>
    {% endif %}
  </div>

  <div class="hl__full-template__page-content hl__full-template__page-content--full hl__collection-details">
    {% if pageContent.mainImage %}
      <div class="hl__collection-details__main-image">
        {% include "@atoms/media/figure.twig" with {'figure': pageContent.mainImage } %}
      </div>
    {% endif %}
    {% include "@molecules/text/rich-text.twig" with {'richText': pageContent.bodyContent } %}
    <div class="hl__collection-details__columns">
      <div class="hl__collection-details__divider"></div>
      <div class="hl__collection-details__how-to">
        {% include "@molecules/text/rich-text.twig" with {'richText': pageContent.howToContent } %}
        {% if pageContent.howToButton %}
          <div class="hl__collection-details__how-to-button">
            {% include "@atoms/buttons/button.twig" with {"button": pageContent.howToButton } %}
          </div>
        {% endif %}
      </div>
      <div class="hl__collection-details__ctas">
        {% include "@organisms/lists/contact-list.twig" with { "contactList": pageContent.contactList } %}
        {% if pageContent.callout %}
          {% include "@molecules/text/pattern-cta.twig" with { "patternCta": pageContent.callout } %}
        {% endif %}
      </div>
    </div>
    {% if pageContent.relatedCollections or pageContent.relatedHowTos %}
      {% include "@atoms/general/section-divider.twig" %}
    {% endif %}
    {% if pageContent.relatedCollections %}
      {% include "@organisms/lists/overlay-promo-grid.twig" with {"overlayPromoGrid": pageContent.relatedCollections } %}
    {% endif %}
    {% if pageContent.relatedHowTos %}
      {% include "@organisms/lists/staggered-type-list.twig" with {"staggeredTypeList": pageContent.relatedHowTos } %}
    {% endif %}
  </div>

  <div class="hl__full-template__post-content">
    {% block postContent %}
      {% include "@organisms/general/contact-info-banner.twig" with {"contactInfoBanner": postContent.contactInfoBanner} %}
      {% include "@molecules/forms/single-input-form.twig" with {'singleInputForm': postContent.emailSignUp } %}
    {% endblock %}
  </div>
</main>

{% block footer %}{% endblock %}
