{% block header %}{% endblock %}

<main id="hl__main-id" class="hl__full-template" tabindex="-1">
  <div class="hl__full-template__pre-content">
    {% block preContent %}
      {% if preContent.breadcrumb %}
        {% include "@organisms/navigation/breadcrumb.twig" with {'breadcrumb': preContent.breadcrumb } %}
      {% endif %}
      {% include "@organisms/page-header/page-header.twig" with { "pageHeader": preContent.pageHeader} %}
    {% endblock %}
  </div>
  <div class="hl__full-template__main-content">
    <div class="hl__full-template__page-content hl__full-template__page-content--full">
      {% block pageContent %}
        {% include "@atoms/text/placeholder.twig" with {'placeholder':{'text':'Page Content'}} %}
      {% endblock %}
      <div
        class="hl__alpha-directory js-alpha-directory-app"
        data-request-url={{ alphaDirectory.requestUrl }}
        data-assets-url={{ alphaDirectory.assetsUrl }}
        data-page-type={{ alphaDirectory.pageType }}>
        Loading...
      </div>
    </div>
  </div>
  <div class="hl__full-template__post-content">
    {% block postContent %}
      {% include "@atoms/text/placeholder.twig" with {'placeholder':{'text':'Post Content'}} %}
    {% endblock %}
  </div>
</main>

{% block footer %}{% endblock %}
