.hl__alpha-directory {

  &__results {
    padding-top: 30px;

    @media($bp-small-min) {
      padding-top: 45px;
    }

    @media($bp-large-min) {
      padding-top: 65px;
    }
  }

  &__no-results {
    @include hl-container("full");
  }
}
