.hl__collection-directory {

  &__no-results {
    @include hl-container("full");
    background-color: white;
    display: block;
    font-family: $f-trueno;
    padding: 30px;
  }

  &__load-more {
    padding-top: 40px;
    text-align: center;
  }

  &__cta {
    @include hl-container("full");
    padding-top:85px;
  }

  // REMOVE BOTTOM BORDER FROM LIST VIEW WHEN STARTS WORKING AGAIN...
  .hl__teaser-grid .hl__teaser-link {
    border-top:none;
  }
}
