{% block header %}{% endblock %}

<main id="hl__main-id" class="hl__full-template" tabindex="-1">
  <div class="hl__full-template__pre-content">
    {% if preContent.breadcrumb %}
      {% include "@organisms/navigation/breadcrumb.twig" with {'breadcrumb': preContent.breadcrumb } %}
    {% endif %}
    {% include "@organisms/page-header/page-header.twig" with { "pageHeader": preContent.pageHeader} %}
    {% if preContent.onlineButton %}
      <div class="hl__collection-details__online-collection">
        {% include "@atoms/buttons/button.twig" with {"button": preContent.onlineButton } %}
      </div>
    {% endif %}
  </div>
  <div class="hl__full-template__main-content">
    <div class="hl__full-template__page-content hl__full-template__page-content--full hl__collection-details">
      {% if pageContent.mainImage %}
        <div class="hl__collection-details__main-image">
          {% include "@atoms/media/figure.twig" with {'figure': pageContent.mainImage } %}
        </div>
      {% endif %}
      {% include "@molecules/text/rich-text.twig" with {'richText': pageContent.bodyContent } %}
      <div class="hl__collection-details__columns">
        <div class="hl__collection-details__divider"></div>
        <div class="hl__collection-details__how-to">
          {% include "@molecules/text/rich-text.twig" with {'richText': pageContent.howToContent } %}
          {% if pageContent.howToButton %}
            <div class="hl__collection-details__how-to-button">
              {% include "@atoms/buttons/button.twig" with {"button": pageContent.howToButton } %}
            </div>
          {% endif %}
        </div>
        <div class="hl__collection-details__ctas">
          {% include "@organisms/lists/contact-list.twig" with { "contactList": pageContent.contactList } %}
          {% if pageContent.callout %}
            {% include "@molecules/text/pattern-cta.twig" with { "patternCta": pageContent.callout } %}
          {% endif %}
        </div>
      </div>
      {% if pageContent.relatedCollections or pageContent.relatedHowTos %}
        {% include "@atoms/general/section-divider.twig" %}
      {% endif %}
      {% if pageContent.relatedCollections %}
        {% include "@organisms/lists/overlay-promo-grid.twig" with {"overlayPromoGrid": pageContent.relatedCollections } %}
      {% endif %}
      {% if pageContent.relatedHowTos %}
        {% include "@organisms/lists/staggered-type-list.twig" with {"staggeredTypeList": pageContent.relatedHowTos } %}
      {% endif %}
    </div>
  </div>
  <div class="hl__full-template__post-content">
    {% block postContent %}
      {% if postContent.teaserGrid %}
        {% include "@organisms/lists/teaser-grid.twig" with {'teaserGrid': postContent.teaserGrid } %}
      {% endif %}
    {% endblock %}
  </div>
</main>

{% block footer %}{% endblock %}
