.hl__collection-details {

  &__online-collection {
    @include hl-container("full");
    
    @media($bp-small-min) {
      text-align: center;
    }
  }

  &__main-image {
    @include hl-container("medium");
  }

  &__columns {
    @include hl-container;
    
    @media ($bp-medium-min) {
      display: flex;
        flex-wrap: wrap;
    }
  }

  &__divider {
    background-image: linear-gradient(90deg, $c-bd-subtle 40%, rgba(255, 255, 255, 0) 20%), linear-gradient(90deg, $c-bd-subtle 40%, rgba(255, 255, 255, 0) 20%);
    background-position: top;
    background-repeat: repeat-x;
    background-size: 4px 1px;
    height: 40px;
    width: 100%;

    @media ($bp-medium-min) {
      height: 60px;
    }
  }

  &__how-to {

    @media ($bp-medium-min) {
      border-right: 1px solid #c0c0c0;
      flex: auto;
      padding-right: 60px;
      width: calc(100% - 340px);
    }
  }

  &__how-to-button {
    margin-top: 40px;
  }

  &__ctas {

    @media ($bp-medium-max) {
      background-image: linear-gradient(90deg, $c-bd-subtle 40%, rgba(255, 255, 255, 0) 20%), linear-gradient(90deg, $c-bd-subtle 40%, rgba(255, 255, 255, 0) 20%);
      background-position: top;
      background-repeat: repeat-x;
      background-size: 4px 1px;
      margin-top: 40px;
      padding-top: 40px;
    }

    @media ($bp-medium-min) { 
      flex: none;
      padding-left: 60px;
      width: 340px;
    }

    .hl__pattern-cta {
      margin-top: 40px;

      @media ($bp-medium-min) {
        margin-top: 60px;
      }
    }
  }
}
