{% block header %}{% endblock %}

<main id="hl__main-id" class="hl__full-template" tabindex="-1">
  <div class="hl__full-template__pre-content">
    {% block preContent %}
      {% if preContent.breadcrumb %}
        {% include "@organisms/navigation/breadcrumb.twig" with {'breadcrumb': preContent.breadcrumb } %}
      {% endif %}
      {% include "@organisms/page-header/page-header.twig" with { "pageHeader": preContent.pageHeader} %}
    {% endblock %}
  </div>
  <div class="hl__full-template__main-content">
    <div class="hl__full-template__page-content hl__full-template__page-content--full">
      <div
        class="hl__collection-directory js-collection-directory-app"
        style="margin-top: 0"
        data-request-url={{ collectionDirectory.requestUrl }}
        data-assets-url={{ collectionDirectory.assetsUrl }}>
        Loading...
      </div>
      <div className="hl__collection-directory__cta">
      {% include "@molecules/text/pattern-cta.twig" with { "patternCta": patternCta } %}
      </div>
    </div>
  </div>
  <div class="hl__full-template__post-content">
    {% block postContent %}
    {% endblock %}
  </div>
</main>

{% block footer %}{% endblock %}
