{% block header %}{% endblock %}

<main id="hl__main-id" class="hl__full-template hl__digital-collections" tabindex="-1">
  <!-- PRE CONTENT -->
  <div class="hl__full-template__pre-content">
    {% include "@molecules/general/home-heading-child.twig" with { "homeHeadingChild": preContent.homeHeadingChild} %}
  </div>

  <!-- MAIN CONTENT -->
  <div class="hl__full-template__main-content">
    <div class="hl__full-template__page-content hl__full-template__page-content--full hl__digital-collections">
      {% if pageContent.iconPromo %}
        {% include "@molecules/teasers/icon-promo.twig" with {"iconPromo" : pageContent.iconPromo } %}
      {% endif %}

      {% if pageContent.itemHighlights %}
        {% include "@organisms/lists/overlay-promo-grid.twig" with {"overlayPromoGrid": pageContent.itemHighlights } %}
      {% endif %}

      {% include "@atoms/general/section-divider-thin.twig" %}

      {% if pageContent.relatedServices %}
        {% include "@organisms/lists/category-teaser-grid.twig" with {"categoryTeaserGrid": pageContent.relatedServices } %}
      {% endif %}

      {% include "@atoms/general/section-divider-thin.twig" %}

      {% if pageContent.collectionHighlights %}
        {% include "@organisms/lists/overlay-promo-grid.twig" with {"overlayPromoGrid": pageContent.collectionHighlights } %}
      {% endif %}
    </div>
  </div>

  <!-- POST CONTENT -->
  <!-- <div class="hl__full-template__post-content">
    {% block postContent %}
      {% if postContent.teaserGrid %}
        {% include "@organisms/lists/teaser-grid.twig" with {'teaserGrid': postContent.teaserGrid } %}
      {% endif %}
    {% endblock %}
  </div> -->
</main>

{% block footer %}{% endblock %}
