.hl__digital-collections {
  .hl__full-template__main-content {
    background:none;
  }

  .hl__overlay-promo {

    &__details, &__details::before {
      // background-image:none;
    }

    &:hover::after, &:focus::after {
      // background-color: rgba($c-white, 0.7);
    }

    &__title, &__subtitle {
      // color:$c-black;
    }
  }

  .hl__icon-promo {
    @include hl-container("full");
    max-width: 1410px;

    @media(max-width: 1450px) {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
