{% block header %}{% endblock %}

<main id="hl__main-id" class="hl__full-template hl__event-details" tabindex="-1">
  <div class="hl__full-template__pre-content">
    {% include "@organisms/navigation/breadcrumb.twig" with {'breadcrumb': breadcrumbs } %}
    {% include "@organisms/media/gallery-header.twig" with { "galleryHeader": galleryHeader } %}
  </div>
  <div class="hl__full-template__main-content">
    <div class="hl__full-template__page-content hl__full-template__page-content--full hl__event-details__page-content">
      {% block pageContent %}
        <div class="hl__event-details__body-content">
          {% include "@molecules/text/rich-text.twig" with { "richText": eventText } %}
        </div>
        <div class="hl__event-details__sponsors">
          {% include "@organisms/global/columns.twig" with { "columns": presenterSponsors } %}
        </div>
      {% endblock %}
    </div>
  </div>
  <div class="hl__full-template__post-content">
    {% block postContent %}


    {% endblock %}
  </div>
</main>

{% block footer %}{% endblock %}
