.js-event-directory-app {
  .hl__filter-bar {
    @media(max-width:1129px){
      min-height:162px;

      &__clear {
        position:fixed;
        bottom:25px;
        right:0;
      }
    }

    @media($bp-large-max){
      min-height:218px;
    }

    @media($bp-medium-max){
      min-height:218px;
    }

    @media(max-width:660px){
      min-height:218px;
    }

    @media(max-width:619px){
      min-height:218px;
    }

    @media(max-width:474px){
      min-height:218px;
    }

    @media(max-width:450px){
      min-height:328px;
    }

    &__filters {
      display:grid;
      grid-template-columns:minmax(300px, 600px) auto 220px 220px 220px;
      grid-template-areas:"input . library event admittance";

      @media($bp-large-max){
        grid-template-columns:minmax(300px, 600px) 220px 220px;
        grid-template-areas:
        "input library event"
        "admittance . .";
      }

      @media($bp-medium-max){
        grid-template-columns:220px 200px auto 220px;
        grid-template-areas:
        "input input input library"
        "event admittance . .";
      }

      @media(max-width:660px){
        grid-template-columns:220px minmax(0px, auto) 110px 110px;
        grid-template-areas:
        "input input library library"
        "event admittance admittance .";
      }

      @media(max-width:450px){
        grid-template-columns:auto;
        grid-template-areas:
        "input" "library" "event" "admittance";
      }

    }

    &__group {
      margin-right:20px;

      &:nth-child(1) {
        grid-area:input;
        min-width:auto;
      }

      &:nth-child(2) {
        grid-area:library;
      }

      &:nth-child(3) {
        grid-area:event;
      }

      &:nth-child(4) {
        grid-area:admittance;
        width:200px;
      }
    }

    &-group__items .picky__input,
    &-group__items .picky__dropdown {
      width:200px;
    }
  }

  .hl__filter-bar-directory__filters[data-sticky='sticky'] {
    .hl__filter-bar {
      @media(max-width:1129px){
        min-height:110px;
      }

      @media($bp-large-max){
        min-height:165px;
      }

      @media(max-width:619px){
        min-height:165px;
      }

      @media(max-width:450px){
        min-height:275px;
      }
    }
  }

  .hl__filter-bar-directory__result-details {
    padding-left:30px;

    @media($bp-medium-max){
      padding-left:0;
    }
  }

  .hl__event-teaser {
    padding-left:36px;
    padding-right:36px;
    margin-left:20px;
    margin-right:20px;

    @media($bp-medium-max){
      padding-left:0;
      padding-right:0;
      margin-left:0;
      margin-right:0;
    }

    &::before {
      left:36px;
      width:calc(100% - 72px);

      @media($bp-medium-max){
        left:0;
        width:100%;
      }
    }
  }
}


.hl__event-directory {
  @include hl-container("full");
}
