{% block header %}{% endblock %}

<main id="hl__main-id" class="hl__full-template" tabindex="-1">
  <div class="hl__full-template__pre-content">
    {% block preContent %}
      {% include "@organisms/navigation/breadcrumb.twig" with {'breadcrumb': preContent.breadcrumb } %}
      {% include "@organisms/page-header/page-header.twig" with { "pageHeader": preContent.pageHeader} %}
    {% endblock %}
  </div>
  <div class="hl__full-template__main-content">
    <div class="hl__full-template__page-content hl__full-template__page-content--full">
      {% if eventDirectory.featuredEvents %}
        {% include "@organisms/general/featured-events.twig" with { "featuredEvents": eventDirectory.featuredEvents } %}
      {% endif %}
      <div
        class="hl__event-directory js-event-directory-app"
        data-request-url={{ eventDirectory.requestUrl }}
        data-assets-url={{ eventDirectory.assetsUrl }}>
        Loading...
      </div>
    </div>
  </div>
  <div class="hl__full-template__post-content">
    {% block postContent %}
      {% include "@atoms/text/placeholder.twig" with {'placeholder':{'text':'Post Content'}} %}
    {% endblock %}
  </div>
</main>

{% block footer %}{% endblock %}
