{% block header %}{% endblock %}

<main id="hl__main-id" class="hl__full-template hl__general" tabindex="-1">
  <div class="hl__full-template__pre-content">
    {% if preContent.breadcrumb %}
      {% include "@organisms/navigation/breadcrumb.twig" with {"breadcrumb": preContent.breadcrumb } %}
    {% endif %}
    {% include "@organisms/page-header/page-header.twig" with { "pageHeader": preContent.pageHeader} %}
    {% if preContent.diagramSVG %}
      {% include "@organisms/general/diagram-svg.twig" %}
    {% endif %}
    {% if preContent.jumpLinks %}
      <div class="hl__general__jump-links">
        {% include "@molecules/navigation/jump-links.twig" with {"jumpLinks": preContent.jumpLinks} %}
      </div>
    {% endif %}
  </div>

  <div class="hl__full-template__main-content">
    {% for row in stackedRow.rows %}
      {% set subRowClass = row.subRow ? "hl__full-template__page-content--sub-row" : "" %}
      <div class="hl__full-template__page-content hl__full-template__page-content--stacked {{ subRowClass }}" id="{{ row.id }}" tabindex="-1">
        {% for item in row.items %}
          {% include item.path with item.data %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>

  <div class="hl__full-template__post-content">
    {% block postContent %}
      {% include "@organisms/general/contact-info-banner.twig" with {"contactInfoBanner": postContent.contactInfoBanner} %}
    {% endblock %}
  </div>
</main>

{% block footer %}{% endblock %}
