.hl__home-page {
  .hl__full-template__main-content {
    .hl__full-template__page-content {
      &:first-of-type > * {
      	margin-top: -90px;
        margin-bottom: 0;
      	position: relative;
      	z-index: 1;

        > * {
        	background: linear-gradient(180deg,#fff 0,#fff 92px,transparent 92px);
        	font-family: "Trueno",sans-serif;
        	overflow: hidden;
        	padding-top: 50px;
          min-height: 90px;
        }

        > .hl__featured-libraries__container {
          padding-top: 0;
          margin-bottom: -70px;
        }
      }

      &:nth-of-type(2) > * {
        position: relative;
        z-index: 2;

        .hl__comp-heading {
          text-align: center;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }
}
