{% block header %}{% endblock %}

<main id="hl__main-id" class="hl__full-template hl__home-page" tabindex="-1">

  <div class="hl__full-template__pre-content hl__home-page__pre-content">
    {% block preContent %}
      {% include "@molecules/general/home-heading.twig" with {"homeHeading": home.homeHeading} %}
    {% endblock %}
  </div>

  <div class="hl__full-template__main-content">
    {% for row in home.stackedRow.rows %}
      {% set subRowClass = row.subRow ? "hl__full-template__page-content--sub-row" : "" %}
      <div
        class="hl__full-template__page-content hl__full-template__page-content--stacked {{ subRowClass }}"
        id="{{ row.id }}"
        tabindex="-1">
        {% for item in row.items %}
          {% include item.path with item.data %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>

  <div class="hl__full-template__post-content">
    {% block postContent %}{% endblock %}
  </div>

</main>

{% block footer %}{% endblock %}
