.hl__how-to {

  &__pre-content {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;

    .hl__breadcrumb,
    .hl__page-header {
      position: relative;
      z-index: 1;
    }
  }

  .hl__page-header {
    display: flex;
    align-items: center;

    &:before {
      content: "";
      display: block;
      height: 350px;
      margin-left: -1px;
      width: 1px;
    }

    &__description {
      max-width: 690px;
    }

    &__eyebrow {
      color: $c-font-inverse;

      @media($bp-medium-min) {
        font-size: 32px;
        margin-bottom: 40px;
      }
    }

    &__eyebrow-icon {
      @media($bp-medium-min) {
        height: 42px;
        width: 42px;
      }
    }
  }

  &__bg-overlay {
    background-image: linear-gradient(-20deg, $c-theme-secondary, $c-theme-secondary-dark);
    margin-top: 0;
    opacity: 0.8;
    position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    z-index: 0;
  }

  &__jump-links {
    @include hl-container("full");

    .hl__jump-links:not([data-sticky='sticky']) {
      background-color: rgba($c-white, .8);
      background-image: none;
    }
  }
}
