{% block header %}{% endblock %}

<main id="hl__main-id" class="hl__full-template hl__how-to" tabindex="-1">
  <div class="hl__full-template__pre-content hl__how-to__pre-content">
    {% block preContent %}
      {% include "@organisms/page-header/page-header.twig" with { "pageHeader": howTo.pageHeader } %}
      {% if howTo.jumpLinks %}
        <div class="hl__how-to__jump-links">
          {% include "@molecules/navigation/jump-links.twig" with {"jumpLinks": howTo.jumpLinks } %}
        </div>
      {% endif %}
    {% endblock %}
    {% if howTo.bgNarrow and howTo.bgWide %}
      <div class="hl__how-to__bg-overlay"></div>
      <style>
        .hl__how-to__pre-content {
          background-image: url('{{ howTo.bgNarrow }}');
        }

        @media (min-width: 800px) {
          .hl__how-to__pre-content {
            background-image: url('{{ howTo.bgWide }}');
          }
        }
      </style>
    {% endif %}
  </div>
  <div class="hl__full-template__main-content">
    {% for row in stackedRow.rows %}
      {% set subRowClass = row.subRow ? "hl__full-template__page-content--sub-row" : "" %}
      <div 
        class="hl__full-template__page-content hl__full-template__page-content--stacked {{ subRowClass }}"
        id="{{ row.id }}"
        tabindex="-1">
        {% for item in row.items %}
          {% include item.path with item.data %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  <div class="hl__full-template__post-content">
    {% block postContent %}
      {% include "@atoms/text/placeholder.twig" with {'placeholder':{'text':'Post Content'}} %}
    {% endblock %}
  </div>
</main>

{% block footer %}{% endblock %}
