{% block header %}{% endblock %}

<main id="hl__main-id" class="hl__full-template hl__library-details" tabindex="-1">
  <div class="hl__full-template__pre-content hl__library-details__pre-content">
    {% block preContent %}
      {% if libraryDetails.breadcrumb %}
        {% include "@organisms/navigation/breadcrumb.twig" with { "breadcrumb": libraryDetails.breadcrumb } %}
      {% endif %}
      {% include "@organisms/page-header/page-header.twig" with { "pageHeader": libraryDetails.pageHeader } %}
      {% if libraryDetails.jumpLinks %}
        <div class="hl__library-details__jump-links">
          {% include "@molecules/navigation/jump-links.twig" with {"jumpLinks": libraryDetails.jumpLinks } %}
        </div>
      {% endif %}
    {% endblock %}
    {% if libraryDetails.bgNarrow and libraryDetails.bgWide %}
      {% if libraryDetails.theme == "light" %}
        <div class="hl__library-details__bg-overlay hl__library-details__bg-overlay--light"></div>
      {% else %}
        <div class="hl__library-details__bg-overlay hl__library-details__bg-overlay--dark"></div>
      {% endif %}
      <style>
        .hl__library-details__pre-content {
          background-image: url('{{ libraryDetails.bgNarrow }}');
        }

        @media (min-width: 800px) {
          .hl__library-details__pre-content {
            background-image: url('{{ libraryDetails.bgWide }}');
          }
        }
      </style>
    {% endif %}
  </div>
  <div class="hl__full-template__main-content">
    <div class="hl__library-details__info">
      <a name="library-info" id="library-info"></a>
      {% include "@organisms/general/library-info.twig" with {"libraryInfo": libraryDetails.libraryInfo } %}
    </div>
    {% for row in stackedRow.rows %}
      {% set subRowClass = row.subRow ? "hl__full-template__page-content--sub-row" : "" %}
      <div
        class="hl__full-template__page-content hl__full-template__page-content--stacked {{ subRowClass }}"
        id="{{ row.id }}"
        tabindex="-1">
        {% for item in row.items %}
          {% include item.path with item.data %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  <div class="hl__full-template__post-content">
    {% block postContent %}
      {% if libraryDetails.emailSignUp %}
        {% include "@molecules/forms/single-input-form.twig" with {'singleInputForm': libraryDetails.emailSignUp } %}
      {% endif %}
    {% endblock %}
  </div>
</main>

{% block footer %}{% endblock %}
