.hl__library-details {

  &__pre-content {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;

    .hl__breadcrumb,
    .hl__page-header {
      position: relative;
      z-index: 1;
    }
  }

  .hl__page-header {
    display: flex;
    align-items: center;

    &:before {
      content: "";
      display: block;
      height: 60px;
      margin-left: -1px;
      width: 1px;
    }

    &__description {
      max-width: 690px;
    }
  }

  &__bg-overlay {
    margin-top: 0;
    position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    z-index: 0;

    &--light {
      background-image: linear-gradient(180deg, $c-white 0%, rgba($c-white, 0.8) 100%);
    }

    &--dark {
      background-image: linear-gradient(180deg, rgba($c-bg-semi-dark, 0.4) 0%, rgba($c-bg-dark, 0.8) 100%);
      box-shadow: inset 0 5px 7px 2px rgba(0, 0, 0, 0.5);
    }
  }

  &__jump-links {
    @include hl-container("full");
  }
}
