{% block header %}{% endblock %}

<main id="hl__main-id" class="hl__full-template" tabindex="-1">
  <div class="hl__full-template__pre-content">
    {% block preContent %}
      {% include "@organisms/navigation/breadcrumb.twig" with {'breadcrumb': preContent.breadcrumb } %}
      {% include "@organisms/page-header/page-header.twig" with { "pageHeader": preContent.pageHeader} %}
    {% endblock %}
  </div>
  <div class="hl__full-template__main-content">
    <div class="hl__full-template__page-content hl__full-template__page-content--full">
      {% block pageContent %}
        {% if pageContent.featuredNews %}
          {% include "@organisms/general/featured-news.twig" with { "featuredNews": pageContent.featuredNews} %}
        {% endif %}
        <form action={{ newsListingTemplate.action }} class="hl__news-listing">
          <div class="hl__news-listing__news-grid js-news-listing-app" data-request-url={{ pageContent.requestUrl }} data-assets-url={{ pageContent.assetsUrl }} >
            Loading....
          </div>
        </form>
      {% endblock %}
    </div>
  </div>
  <div class="hl__full-template__post-content">
    {% block postContent %}
      {% include "@organisms/global/columns.twig" with { "columns": postContent.newsMeta } %}
    {% endblock %}
  </div>
</main>

{% block footer %}{% endblock %}
