.hl__news-listing {

  &__news-grid {
    margin-top: 40px;

    @media ($bp-medium-max) {
      margin-top: 0;
    }

    .hl__filter-directory__results {
      @include hl-container("full");
    }
  }

  &__load-more {
    @include hl-container("full");
    margin-top: 50px;
    text-align: center;
  }

}
