{% set creditClass = pageNotFound.source.theme ? "hl__page-not-found__photo-credit--" ~ pageNotFound.source.theme : "" %}

<section class="hl__page-not-found">
  <div class="hl__page-not-found__container">
    <div 
      class="hl__page-not-found__image"
      style="background-image: url('{{ pageNotFound.image }}')">
      <div class="hl__page-not-found__photo-credit {{ creditClass }}">
        <div class="hl__page-not-found__source-icon">
          {% include pageNotFound.source.icon %}
        </div>
        <a class="hl__page-not-found__source" href="{{ pageNotFound.source.href }}">{{ pageNotFound.source.text }}</a>
        {% if pageNotFound.library %}
          <a class="hl__page-not-found__library" href="{{ pageNotFound.library.href }}">{{ pageNotFound.library.text }}</a>
        {% endif %}
      </div>
    </div>
    <div class="hl__page-not-found__content">
      <div class="hl__page-not-found__logo">
        {% include "@molecules/media/linked-image.twig" with { "linkedImage": pageNotFound.logo } %}
      </div>
      <div class="hl__page-not-found__title">
        {% include "@atoms/text/page-title.twig" with { "pageTitle": pageNotFound.title } %}
      </div>
      {% if pageNotFound.singleInputForm %}
        <div class="hl__page-not-found__input">
          {% include "@molecules/forms/single-input-form.twig" with { "singleInputForm": pageNotFound.singleInputForm } %}
        </div>
      {% endif %}
      <div class="hl__page-not-found__message">
        {% include "@molecules/text/rich-text.twig" with { "richText": pageNotFound.message } %}
      </div>
    </div>
  </div>
</section>
