.hl__page-not-found {

  @media ($bp-small-min) {
    background-color: $c-bg-section;
    min-height: 100vh;
    padding: 30px 20px;
  }

  @media ($bp-large-min) {
    padding: 50px 60px;
  }

  &__container{
    @include hl-container("full");

    &::after {
      align-self: flex-start;
      content: "";
      padding-top: 56%;
      width: 1px;
    }

    @media ($bp-small-min) {
      background-color: $c-white;
      box-shadow: 0 0 30px rgba($c-black, 0.7);
      display: flex;
    }
  }

  &__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: none;
    position: relative;
      left: -20px;
    width: 40%;

    @media ($bp-medium-max) {
      display: none;
    }

  }

  &__photo-credit {
    background-color: rgba($c-theme-base, 0.7);
    border: 10px transparent solid;
    color: rgba($c-font-inverse, 0.9);
    font-family: $f-trueno;
    max-width: 100%;
    padding-left: 25px;
    position: absolute;
      bottom: 0;
      right: 0;
    z-index: 3;
  }

  &__source-icon {
    color: inherit;
    height: 20px;
    padding-right: 5px;
    position: absolute;
      left: 0;
      top: -2px;
    width: 22px;

    svg {
      height: 100%;
      width: 100%;

      path {
        fill: currentColor;
      }
    }
  }

  &__source {
    color: inherit;
    display: block;
    font-size: 13px;
    line-height: 18px;
    text-decoration: underline;
  }

  &__library {
    color: inherit;
    display: block;
    font-size: 11px;
  }

  &__content {
    padding: 30px 0;
    
    @media ($bp-small-min) {
      padding: 40px;
      padding-left: 20px;
      width: auto;
    }

    @media ($bp-large-min) {
      padding: 60px;
      padding-left: 40px;
    }
  }

  &__logo {
    margin: 0 auto 30px;
    width: 150px;

    @media ($bp-small-min) {
      margin-bottom: 45px;
    }

    @media ($bp-large-min) {
      margin-bottom: 60px;
    }
  }

  &__title {

  }

  &__input {
    padding: 10px 0 20px;

    .hl__single-input-form__form {
      justify-content: flex-start;
      padding: 0;
    }

    .hl__single-input-form__input-group {
      max-width: 100%;
    }

    .hl__label {
      font-family: $f-lora;
      font-style: italic;
      letter-spacing: 0;
      text-align: left;
      text-transform: none;
      width: 100%;
    }

    .hl__input {
      @media ($bp-x-small-min) {
        background-image: url("../../assets/images/svg-icons/magnifying-glass.svg");
        background-position: left 8px center;
        background-repeat: no-repeat;
        background-size: 20px 20px;
        padding-left: 55px;
        transition: background 0.5s ease, padding 0.5s ease;
      }

      @media ($bp-small-min) {
        font-size: 18px;
      }

      &:focus {
        background-position: left -35px center;
        padding-left: 10px;
      }
    }

  }

  &__message {

  }
}
