{% block header %}{% endblock %}

<main id="hl__main-id" class="hl__base-template hl__press-template" tabindex="-1">
  <div class="hl__base-template__pre-content">
    {% block preContent %}
      {% if preContent.breadcrumb %}
        {% include "@organisms/navigation/breadcrumb.twig" with {'breadcrumb': preContent.breadcrumb } %}
      {% endif %}
      {% include "@organisms/page-header/page-header.twig" with { "pageHeader": preContent.pageHeader} %}
      {% include "@organisms/global/columns.twig" with { "columns": preContent.pressInfo } %}
    {% endblock %}
  </div>
  <div class="hl__base-template__main-content">
    <div class="hl__base-template__page-content hl__base-template__page-content--full">
      {% block pageContent %}
        {% include "@molecules/text/rich-text.twig" with {'richText': pageContent.richText } %}
        <div class="hl__press-template__sharps">###</div>
      {% endblock %}
    </div>
  </div>
  <div class="hl__base-template__post-content">
    {% block postContent %}
      {% if postContent.emailSignUp %}
        {% include "@molecules/forms/single-input-form.twig" with {'singleInputForm': postContent.emailSignUp } %}
      {% endif %}
      {% if postContent.promoGrid %}
        {% include "@organisms/lists/promo-grid.twig" with {'promoGrid': postContent.promoGrid } %}
      {% endif %}
    {% endblock %}
  </div>
</main>

{% block footer %}{% endblock %}
