.hl__press-template {

  .hl__base-template__page-content .hl__rich-text .hl__comp-heading {
    font-size: 15px;
    line-height: 1.2;
    margin-bottom: 2em;
  }

  &__sharps {
    color: $c-theme-ink;
    font-family: $f-trueno;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-top: 35px;
    text-align: center;
  }
}
