{% block header %}{% endblock %}

<main id="hl__main-id" class="hl__full-template hl__project hl__landing" tabindex="-1">
  <div class="hl__full-template__pre-content hl__project__pre-content">
    {% block preContent %}
      {% if preContent.breadcrumb %}
        {% include "@organisms/navigation/breadcrumb.twig" with {"breadcrumb": preContent.breadcrumb } %}
      {% endif %}
      
      <div class="hl__project__bg">
        <div class="hl__project__bg-image"></div>
        <div class="hl__project__bg-overlay">
          {% include "@organisms/page-header/page-header.twig" with { "pageHeader": preContent.pageHeader} %}
        </div>
      </div>

      <div class="hl__project__bg-image--credit">{% include "@molecules/media/image-credit.twig" with { "imageCredit": preContent.imageCredit } %}</div>

      <style>
        .hl__project__bg-image {
          background: url('{{ preContent.bgNarrow }}');
        }

        @media (min-width: 800px) {
          .hl__project__bg-image {
            background: url('{{ preContent.bgWide }}');
          }
        }
      </style>

      {% if preContent.jumpLinks %}
        <div class="hl__project__jump-links">
          {% include "@molecules/navigation/jump-links.twig" with {"jumpLinks": preContent.jumpLinks} %}
        </div>
      {% endif %}
    {% endblock %}
  </div>

  <div class="hl__full-template__main-content">
    {% for row in stackedRow.rows %}
      {% set subRowClass = row.subRow ? "hl__full-template__page-content--sub-row" : "" %}
      <div class="hl__full-template__page-content hl__full-template__page-content--stacked {{ subRowClass }}" id="{{ row.id }}" tabindex="-1">
        {% for item in row.items %}
          {% include item.path with item.data %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>

  <div class="hl__full-template__post-content">
    {% block postContent %}
      {% include "@organisms/global/columns.twig" with { "columns": postContent.about } %}
    {% endblock %}
  </div>
</main>

{% block footer %}{% endblock %}
