{% block header %}{% endblock %}

<main id="hl__main-id" class="hl__full-template hl__project hl__detail" tabindex="-1">
  <div class="hl__full-template__pre-content hl__project-detail__pre-content">
    {% block preContent %}
      {% if preContent.breadcrumb %}
        {% include "@organisms/navigation/breadcrumb.twig" with {"breadcrumb": preContent.breadcrumb } %}
      {% endif %}

      {% include "@organisms/page-header/page-header.twig" with { "pageHeader": preContent.pageHeader} %}

      <div class="hl__project-detail__bg-overlay">
        <div class="hl__project-detail__bg-image">
          {% include "@atoms/media/image.twig" with { "image": preContent.image } %}
          {% include "@molecules/media/image-credit.twig" with { "imageCredit": preContent.imageCredit } %}
        </div>
      </div>

      {% if preContent.jumpLinks %}
        <div class="hl__project-detail__jump-links">
          {% include "@molecules/navigation/jump-links.twig" with {"jumpLinks": preContent.jumpLinks} %}
        </div>
      {% endif %}
    {% endblock %}
  </div>

  <div class="hl__full-template__main-content">
    {% for row in stackedRow.rows %}
      {% set subRowClass = row.subRow ? "hl__full-template__page-content--sub-row" : "" %}
      <div class="hl__full-template__page-content hl__full-template__page-content--stacked {{ subRowClass }}" id="{{ row.id }}" tabindex="-1">
        {% for item in row.items %}
          {% include item.path with item.data %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</main>

{% block footer %}{% endblock %}
