.hl__project.hl__landing {
  .hl__project {
    &__pre-content {
      .hl__page-header {
        position: absolute;
        margin-left: -80px;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 530px;

        @media($bp-x-large-max){
          margin-right: 0;
          right: 20px;
        }

        @media($bp-large-max) {
          width: 100%;
          right: 0;
          padding: 20px;
        }

        &__description {
          max-width: 690px;
        }

        &__container {
          padding: 40px;
          background-color: rgba(255, 255, 255, 0.85);
          max-width: 680px;
        }
      }

      .hl__breadcrumb {
        display: none;
      }
    }

    &__bg {
      display: grid;
      grid-template-columns: calc(50% + 150px) auto;
      height: 700px;
      margin-top: 0;

      @media($bp-large-max) {
        grid-template-columns: 100% auto;
      }
    }

    &__bg-image {
      height: 700px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      position: relative;
    }

    &__bg-overlay {
      background-image:linear-gradient(315deg, #47131b 0%, $c-theme-crimson 100%);
    }


    &__jump-links, &__bg-image--credit {
      @include hl-container("full");
    }

    &__bg-image--credit {
      margin-top: -136px;

      @media($bp-small-max) {
        margin-top: -113px;
      }

      .hl__image-credit {
        display: inline-block;
      }
    }

    &__jump-links {
      margin-top: 0;

       .hl__jump-links:not([data-sticky='static']) {
         background-color: $c-gray-dfdfdf;
       }
    }
  }

  .hl__full-template__main-content {
    .hl__comp-heading, .hl__rich-text {
      margin-left: auto;
      margin-right: auto;
      text-align: center;

      ul, ol {
        text-align:left;

        @media ($bp-large-min){
          margin-left: calc((100vw - #{$max-width-inner}) / 2 - 25px);
          margin-right: calc((100vw - #{$max-width-inner}) / 2 - 25px)
        }

        @media ($bp-x-large-min){
          margin:0 120px;
        }
      }
    }
    .hl__full-template__post-content .hl__comp-heading,
    .hl__stacked-promo .hl__rich-text {
      text-align: left;
    }
  }
}

.hl__project {
  .hl__full-template__page-content--stacked .hl__show-more-text .hl__rich-text,
  .hl__show-more-text__controls /* show more link */ {
    max-width:930px;
    margin-left:auto;
    margin-right:auto;
    text-align: left;

    h2, h3 {
      text-align:center;
    }

    .hl__rte-large {
      text-align:center;

      @media ($bp-large-min){
        margin-left: calc((100vw - #{$max-width-inner}) / 2 - 25px);
        margin-right: calc((100vw - #{$max-width-inner}) / 2 - 25px)
      }

      @media ($bp-x-large-min){
        margin-left:120px;
        margin-right:120px;
      }
    }

    // indent images
    @media ($bp-large-min) {
      .hl__image--left,
      .hl__figure--left,
      .hl__quote--left {
        margin-left: calc((100vw - #{$max-width-inner}) / -2 + 20px);
      }

      .hl__image--right,
      .hl__figure--right,
      .hl__quote--right {
        margin-right: calc((100vw - #{$max-width-inner}) / -2 + 20px);
      }

      .hl__figure:not(.hl__figure--right):not(.hl__figure--left) {
        margin-left: calc((100vw - #{$max-width-inner}) / -2 + 20px);
        margin-right: calc((100vw - #{$max-width-inner}) / -2 + 20px);
      }
    }

    @media ($bp-x-large-min) {
      .hl__quote--left,
      .hl__image--left,
      .hl__figure--left {
        margin-left: -120px;
      }

      .hl__quote--right,
      .hl__image--right,
      .hl__figure--right {
        margin-right: -120px;
      }

      .hl__figure:not(.hl__figure--right):not(.hl__figure--left) {
        margin-left: -120px;
        margin-right: -120px;
      }
    }
  }
}
