.hl__project.hl__detail {
  .hl__project-detail {
    &__pre-content {
      position: relative;

      .hl__breadcrumb,
      .hl__page-header {
        position: relative;
        z-index: 1;
      }

      .hl__page-header {
        @media($bp-large-min){
          min-height: 406px;

          &__container {
            > * {
              width: 50%;
              max-width: 680px;
            }
          }
        }

      }
    }

    &__bg-overlay {
      @media($bp-large-min){
        background-image: linear-gradient(315deg, #47131b 0%, $c-theme-crimson 100%);
        position: absolute;
        top: 0;
        right: 0px;
        width: calc(50% - 150px);
        height: calc(100% - 82px);
        margin: 0;
        padding-top: 56px;
      }
    }

    &__bg-image {
       @include hl-container;
       position: relative;
       display: flex;
       align-items: end;
       flex-direction: column;
       max-width: 680px;
       height: 100%;
       z-index: 2;

       @media($bp-large-min){
         justify-content: center;
         margin-left: -80px;
         margin-right: 20px;
         padding-left: 0;
         padding-right: 0;
         max-width: 680px;
       }

       .hl__image-credit {
         text-align: right;
       }
    }

    &__jump-links {
      margin-top: 0;

      @media($bp-large-max){
        margin-top: 60px;
      }
    }
  }
}
