{% block header %}{% endblock %}

<main id="hl__main-id" class="hl__base-template" tabindex="-1">
  <div class="hl__base-template__pre-content">
    {% block preContent %}
      {% include "@molecules/general/search-heading.twig" with { "searchHeading": searchHeading } %}
    {% endblock %}
  </div>
  <div class="hl__base-template__main-content">
    <div class="hl__search-directory">
      <!-- <div class="hl__search-directory__results-title">
        {% include "@atoms/text/comp-heading.twig" with { compHeading: resultsTitle } %}
      </div> -->
      {% if leftSnippet %}
        <div class="hl__search-directory__left-snippet">
          <h2 class="hl__search-directory__snippet-title">We Suggest</h2>
          {% include "@molecules/teasers/type-snippet.twig" with { "typeSnippet": leftSnippet } %}
        </div>
      {% endif %}

      {% if noSiteResults %}
      <div class="hl__search-directory__no-results">
        {% include "@molecules/text/rich-text.twig" with {"richText": noSiteResults} %}
      </div>
      {% endif %}

      {% if not noSiteResults %}
      <div class="hl__search-directory__hollis">
        {% include "@molecules/teasers/category-teaser.twig" with {"categoryTeaser": hollisResults } %}
      </div>
      <div class="hl__search-directory__results">
        {% include "@organisms/general/search-results.twig" with { "searchResults": searchResults } %}
      </div>
      {% endif %}
    </div>
    <div class="hl__search-directory__tools">
      {% include "@organisms/lists/category-teaser-grid.twig" with {"categoryTeaserGrid": otherTools } %}
    </div>
  </div>
</main>

{% block footer %}{% endblock %}
