.hl__search-directory {
  @include hl-container("full");
  margin-bottom: 40px;

  @media ($bp-small-min) {
    margin-bottom: 70px;
  }

  @media ($bp-medium-min) {
    margin-bottom: 100px;
  }

  @media ($bp-x-large-min) {
    // display: grid;
    // grid-template-columns: auto 780px;
    // grid-template-rows: fit-content(10px) fit-content(10px) auto;
  }

  &__left-snippet, &__hollis, &__results {
    max-width:930px;
  }

  &__results-title {
    // grid-column: 1 / span 2;
    // grid-row: 1 / 2;
  }

  &__left-snippet {
    // grid-column: 1 / 2;
    // grid-row: 2 / 3;
    margin-bottom: 30px;
  }

  &__snippet-title {
    color: $c-font-dark;
    font-size: 20px;
    font-family: $f-trueno;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 1.5;
    min-height: 40px;
    // text-transform: uppercase;
  }

  &__results {
    // grid-column: 1 / 2;
    // grid-row: 2 / 3;
  }

  &__no-results {
    padding-bottom:50px;
  }

  &__left-snippet ~ &__results {
    // grid-column: 1 / 2;
    // grid-row: 3 / 4;
  }


  &__sidebar {
    // grid-column: 2 / 3;
    // grid-row: 2 / 3;
    padding-top: 80px;

    @media ($bp-x-large-min) {
      margin-left: 60px;
      padding-top: 0;
    }
  }

  &__left-snippet ~ &__sidebar {
    // grid-row: 2 / span 3;
    padding-top: 40px; // height of left snippet title;
  }


  &__right-snippet {
    margin-bottom: 30px;

    @media ($bp-small-min) {
      margin-bottom: 50px;
    }

    .hl__staff-card {

      @media ($bp-small-min) {
        margin-bottom: 50px;
        padding-left: 45px;
        padding-right: 45px;

        &__avatar-wrapper::before {
          left: -45px;
          width: calc(100% + 90px);
        }
      }

      .hl__contact-info {
        @media ($bp-small-min) {
          padding-right: 180px;
        }
      }

      &__help-button {

        @media ($bp-small-min) {
          position: absolute;
            bottom: 30px;
            right: 45px;
        }
      }
    }
  }

  &__hollis {
    margin-bottom:30px;
  }

}

.hl__search-directory__tools {
  @include hl-container("full");
  margin-bottom: 40px;

  @media ($bp-small-min) {
    margin-bottom: 70px;
  }

  @media ($bp-medium-min) {
    margin-bottom: 100px;
  }
}

.hl__sticky-rail {
  display:none;
}
