.hl__search-listing {

  &__container {
    @include hl-container("full");
  }

  &__main-content {
  
  }

  &__results-container {
    @include hl-container("full");

    @media ($bp-x-large-min) {
      display: grid;
      grid-template-columns: 1fr 540px;
      grid-template-rows: auto 1fr;
      grid-auto-rows: min-content;
    }
  }

  &__title {
    color: $c-font-dark;
    font-size: 32px;
    font-style: italic;
    font-weight: normal;
    line-height: 1.25;
    margin-bottom: 25px;

    @media ($bp-small-min) {
      font-size: 42px;
    }

    @media ($bp-medium-min) {
      font-size: 48px;
    }

    @media ($bp-large-min) {
      font-size: 52px;
    }

    span {
      color: $c-theme-tertiary;
      font-family: $f-trueno;
      font-size: 34px;
      font-style: normal;
      font-weight: 700;
      letter-spacing: 3.05px;
      line-height: 1.27;
      text-transform: uppercase;

      @media ($bp-x-small-min) {
        font-size: 44px;
      }

      @media ($bp-medium-min) {
        font-size: 54px;
      }

      @media ($bp-large-min) {
        font-size: 64px;
      }
    }
  }

  &__search-input {
    padding-bottom: 60px;

    @media ($bp-x-large-min) {
      display: flex;
    }

    .hl__single-input-form {
      padding: 0;

      @media ($bp-x-large-min) {
        margin-right: 45px;
        width: calc(100% - 585px);
      }

      &__form {
        justify-content: flex-start;
        margin: 0;
        max-width: 100%;
        padding: 0;

      }

      &__input-group {
        background-color: $c-white;
        height: 60px;
        margin: 0;
        max-width: 100%;
      }

      .hl__input {
        @media ($bp-x-small-min) {
          background-image: url("../../assets/images/svg-icons/magnifying-glass.svg");
          background-position: left 18px center;
          background-repeat: no-repeat;
          background-size: 30px 30px;
          padding-left: 65px;
          transition: background 0.5s ease, padding 0.5s ease;
        }

        @media ($bp-small-min) {
          font-size: 18px;
        }

        &:focus {
          background-position: left -35px center;
          padding-left: 10px;
        }
      }

      .hl__button {
        padding: 0 20px;
      }
    }
  }

  &__input-helper {
    align-self: center;
    font-family: $f-trueno;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;

    @media ($bp-x-large-max) {
      margin-top: 20px;
    }

    span {
      display: block;
    }

    a {
      font-family: $f-trueno;
      font-size: 15px;
    }
  }

  &__filters {
    background-color: $c-bg-section;
    margin-bottom: 30px;
    padding: 10px 0;
    width: 100%;

    .hl__filter-by-type {

      fieldset {
        padding: 10px 0;
      }
    }
  }

  &__filters &__container {
    display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  &__more-filters {
    color: $c-font-subtle;
    font-family: $f-trueno;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.5;
    padding: 10px 0;

    a {
      font-size: 14px;
      font-style: normal;
    }
  }

  &__result-details {
    color: $c-font-subtle;
    font-family: $f-trueno;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.67;
    margin-bottom: 50px;

    b {
      color: $c-font-dark;
    }
  }

  &__results {
    grid-column-start: 1;
    grid-row-end: span 2;
    grid-row-start: 1;
  }

  &__result {
    margin-bottom: 45px;
    margin-top: 30px;

    @media ($bp-x-large-min) {
      margin-right: 60px;
      margin-top: 0;
    }

    &:not(.is-active) {
      display: none;
    }
  }

  &__more-button {
    text-align: center;
  }

  &__images {
    grid-column-start: 2;
    grid-row-start: 1;
    margin-top: 30px;

    @media ($bp-x-small-max) {
      display: none;
    }

    @media ($bp-x-large-min) {
      margin-bottom: 50px;
      margin-top: 80px;
    }

    &:not(.is-active) {
      display: none;
    }

  }

  &__featured-library {
    background: transparent url("../../assets/images/dots.png") center center repeat;
    padding: 35px 45px 45px;

    @media ($bp-x-small-max) {
      background: transparent;
      padding: 0;
    }
  }

  &__library-title {
    color: $c-font-dark;
    font-family: $f-trueno;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__sidebar {
    grid-column-start: 2;
    grid-row-start: 1;
    margin-top: 80px;

    .hl__icon-promo {
      margin-top: 25px;
    }
  }

  &__images.is-active ~ &__sidebar {
    grid-row-start: 2;
    margin-top: 0;
  }

  // Google search overrides
  .gsc-control-cse {
    padding: 0;

    .gsc-results {
      width: 100%;

      .gsc-cursor-box {
        margin: 0;

        .gsc-cursor-page {
          border-bottom: 3px solid transparent;
          color: $c-font-link;
          cursor: pointer;
          font-family: $f-trueno;
          font-size: 15px;
          font-weight: 700;
          line-height: 1.6;
          margin-right: 10px;
          padding: 0 4px;
          transition: border 0.5s ease;

          @media ($bp-x-small-min) {
            margin-right: 15px;
            padding: 0 5px;
          }

          &:hover {
            border-color: rgba($c-font-link, 0.5);
            text-decoration: none;
          }
        }

        .gsc-cursor-current-page {
          color: $c-font-dark;

          &:hover {
            border-color: rgba($c-font-dark, 0.5);
          }
        }
      }
    }

   // I'm not sure if we're allowed to remove this
    // .gcsc-branding {
    //   display: none;
    // }

    .gcsc-branding {
      padding: 5px 0 20px;
      display: inherit;
    }

    span.gcsc-branding-text {
      margin-bottom: 30px;
    }

    div.gsc-branding-img, div.gsc-branding-img-noclear, img.gsc-branding-img, img.gsc-branding-img-noclear, div.gcsc-branding-img, div.gcsc-branding-img-noclear, img.gcsc-branding-img, img.gcsc-branding-img-noclear {
      top: -4px;
    }

    .gsc-table-result, .gsc-thumbnail-inside, .gsc-url-top {
      padding: 0;
    }

    .gs-fileFormat, span.gs-fileFormatType {
      color: $c-font-subtle;
      font-family: $f-trueno;
      font-size: 14px;
      margin-bottom: 10px;
    }

    .gsc-result {
      border-bottom: 1px solid $c-bd-divider;
      margin-bottom: 40px;
      padding-bottom: 40px;
      padding-top: 0;

      &:hover {
        border-bottom: 1px solid $c-bd-divider;
      }
    }

    .gsc-above-wrapper-area {
      border: none;
      padding: 0;
    }

    .gsc-result-info {
      color: $c-font-subtle;
      font-family: $f-trueno;
      font-size: 15px;
      font-weight: 400;
      line-height: 1.67;
      padding: 0;
    }

    .gsc-orderby-container {
      display: none;
    }

    .gs-result {

      .gs-title {
        font-size: 22px;
        height: auto;
        line-height: 1.35714;
        margin-bottom: 15px;
        text-decoration: none;

        @media ($bp-small-min) {
          font-size: 26px;
        }

        * {
          font-size: 22px;
          text-decoration: none;

          @media ($bp-small-min) {
            font-size: 26px;
          }
        }

        & > a {
          border-bottom: 3px solid transparent;
          color: $c-font-dark !important;
          display: inline;
          font-family: $f-trueno;
          font-weight: 700;
          line-height: 1.4;
          text-decoration: none;
          transition: border 0.5s ease;

          &:hover {
            border-color: rgba($c-font-dark, 0.5);
          }

          b {
            // border-bottom: 3px solid $c-theme-quaternary;
            color: $c-font-dark !important;
            font-weight: inherit;
            text-decoration: none;
          }
        }
      }

      .gs-snippet {
        color: $c-font-base;
        font-family: Lora;
        font-size: 15px;

        b {
          // border-bottom: 3px solid $c-theme-quaternary;
          color: $c-font-dark !important;
          font-weight: inherit;
          text-decoration: none;
        }

      }

      .gs-visibleUrl {
        border-bottom: 3px solid transparent;
        color: $c-font-link;
        cursor: pointer;
        display: inline;
        font-family: $f-trueno;
        font-size: 15px;
        font-weight: 700;
        line-height: 1.6;
        transition: border 0.5s ease;

        &:hover {
          border-color: rgba($c-font-link, 0.5);
        }
      }      

      .gs-visibleUrl-short {
        display: none;
      }
    }
  }

  // square image
  .gs-web-image-box,
  .gs-image-box.gs-web-image-box.gs-web-image-box-portrait,
  .gs-image-box.gs-web-image-box.gs-web-image-box-landscape {
    height: 70px;
    margin-right: 30px;
    overflow: hidden;
    position: relative;
    width: 70px;

    @media($bp-small-min) {
      width: 170px;
      height: 170px;
    }

    @media ($bp-x-small-max) {
      display: none;
    }

    a {
      display: block;
    }

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  //vertical image
  .gs-image-box.gs-web-image-box.gs-web-image-box-portrait {

    img {
      max-height: 2000%;
      position: absolute;
        top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }
  }

  // horizontal image
  .gs-image-box.gs-web-image-box.gs-web-image-box-landscape {
    
    img {
      height: 100%;
      max-width: 2000%;
      position: absolute;
        left: 50%;
      transform: translateX(-50%);

      @media ($bp-x-small-max) {
        display: none;
      }
    }
  }

  .gsc-url-top {
    display: none;
  }

  .gsc-url-bottom {
    display: block;
    margin-top: 25px;

    &:before {
      background: transparent url("../../assets/images/svg-icons/search-link.svg") center left no-repeat;
      background-size: contain;
      content: "\00a0";
      display: inline;
      margin-right: 0.5em;
      padding: 0 0.5em;
    }

  }
}
