{% block header %}{% endblock %}

<main id="hl__main-id" class="hl__full-template" tabindex="-1">
  <div class="hl__full-template__pre-content">
    {% block preContent %}

    {% endblock %}
  </div>
  <div class="hl__full-template__main-content">
    <div class="hl__full-template__page-content hl__full-template__page-content--full">
      {% block pageContent %}
        <div 
          class="js-search-listing-app" 
          data-request-url={{ searchListing.requestUrl }}>
          Loading...
        </div>
        <script>
          var harvardLibrary = harvardLibrary || {};

          harvardLibrary.featuredLibrary = {{ featuredLibrary|json_encode|raw }};

          harvardLibrary.iconPromos = {{ iconPromos|json_encode|raw }};
        </script>
      {% endblock %}
    </div>
  </div>
  <div class="hl__full-template__post-content">
    {% block postContent %}

    {% endblock %}
  </div>
</main>

{% block footer %}{% endblock %}
