<div class="hl__space-finder__wrapper">

  {% block header %}{% endblock %}

  <main id="hl__main-id" class="hl__space-finder js-space-finder" tabindex="-1" data-request-url={{ spaceFinder.requestUrl }} data-assets-url={{ spaceFinder.assetsUrl }}>
    Loading
  </main>

  {% block footer %}{% endblock %}

  <style>
    html, body {
      height: 100vh;
      overflow: hidden;
      width: 100vw;
    }

    @media(max-width: 620px), (max-width: 700px) and (orientation: landscape) {
      .hl__footer {
        display: none;
      }
    }
  </style>
</div>
