.hl__space-finder {
  flex: auto;
  position: relative;
  height: calc(100vh - 90px);

  @media($bp-small-min) {
    height: calc(100vh - 60px);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }

  &__container {
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: 40px auto;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    @media($bp-small-min) {
      display: grid;
      grid-template-columns: 60px 320px auto;
      grid-template-rows: 100%;
    }

    @media($bp-large-min) {
      grid-template-columns: 60px 500px auto;
    }

    @media($bp-x-large-min) {
      grid-template-columns: 330px 500px auto;
    }

    &--no-filters {

      @media($bp-x-large-min) {
        grid-template-columns: 60px 500px auto;
      }
    }

    &--show-details {

      @media($bp-x-large-min) {
        grid-template-columns: 60px 770px auto;
      }
    }
  }

  &__menu-bar {
    background-color: $c-bg-dark;
    display: flex;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row: 1;
    width: 100%;

    @supports(grid-gap: 10px) {
      grid-column-end: span 2;
      grid-column-start: 1;
    }

    @media($bp-small-min) {
      display: none;
    }

    & > button {
      @include hl-button-base;
      background-color: $c-theme-blue;
      border-radius: 0;
      color: $c-font-inverse;
      padding-bottom: 0;
      padding-top: 0;
      width: 50%;

      &:first-child {
        margin: 0;
        margin-left: 40px;
      }

      &:last-child {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 10px;
        margin-top: 0;
      }

      &:disabled {
        background-color: $c-white;
        border: none;
        color: $c-font-dark;
        cursor: initial;
      }
    }
  }

  &__filters {
    position: relative;

    @media($bp-small-max) {
      grid-column-end: 2;
      grid-column-start: 1;
      grid-row-end: 3;
      grid-row-start: 2;
    }

    @media($bp-small-min) {
      -ms-grid-column: 1;
      -ms-grid-row: 1;
    }

    .hl__filter-rail {
      height: 100%;
      position: absolute;
        bottom: 0;
        top: 0;
    }
  }

  &__results {
    position: relative;

    @media($bp-small-max) {
      grid-column-end: 3;
      grid-column-start: 2;
      grid-row-end: 3;
      grid-row-start: 2;
    }

    @media($bp-small-min) {
      -ms-grid-column: 2;
      -ms-grid-row: 1;
    }

    &--hidden {
      @media($bp-small-max) {
        visibility: hidden;
        z-index: -1;
      }
    }
  }

  &__map {
    position: relative;

    @media($bp-small-max) {
      grid-column-end: 3;
      grid-column-start: 2;
      grid-row-end: 3;
      grid-row-start: 2;
    }

    @media($bp-small-min) {
      -ms-grid-column: 3;
      -ms-grid-row: 1;
    }

    &--hidden {
      @media($bp-small-max) {
        visibility: hidden;
        z-index: -1;
      }
    }
  }
}

.hl__header,
.hl__footer {
  flex: none;
}
