{% block header %}{% endblock %}

<main id="hl__main-id" class="hl__full-template" tabindex="-1">
  <div class="hl__full-template__pre-content">
    {% block preContent %}
      {% include "@organisms/navigation/breadcrumb.twig" with {'breadcrumb': breadcrumbs } %}
    {% endblock %}
  </div>
  <div class="hl__staff-details">
    {% if staffDetails.userBanner and staffDetails.userBanner.image %}
      <div class="hl__staff-details__user-banner">
        {% include "@molecules/general/user-banner.twig" with {"userBanner": staffDetails.userBanner} %}
      </div>
    {% endif %}
    <div class="hl__staff-details__page-content">
      <div class="hl__staff-details__left-column">
        <div class="hl__staff-details__page-header">
          {% include "@atoms/text/page-title.twig" with {"pageTitle": staffDetails.pageTitle} %}
          {% include "@atoms/text/sub-text.twig" with {"subText": staffDetails.position} %}
          {% if staffDetails.department %}
            {% include "@atoms/text/sub-text.twig" with {"subText": staffDetails.department} %}
          {% endif %}
          {% if staffDetails.library %}
            {% include "@atoms/text/sub-text.twig" with {"subText": staffDetails.library} %}
          {% endif %}
        </div>
        <hr class="hl__section-divider hl__section-divider--thin" />
        {% if staffDetails.bio %}
          {% include "@molecules/text/rich-text.twig" with {"richText": staffDetails.bio } %}
        {% endif %}
        {% if staffDetails.roles or staffDetails.languages %}
          <div class="hl__staff-details__grid">
            {% if staffDetails.roles %}
              <div class="hl__staff-details__grid-item hl__staff-details__grid-item--span-rows">
                {% include "@organisms/lists/linked-list.twig" with {"linkedList": staffDetails.roles} %}
              </div>
            {% endif %}
            {% if staffDetails.languages %}
              <div class="hl__staff-details__grid-item">
                {% include "@organisms/lists/linked-list.twig" with {"linkedList": staffDetails.languages} %}
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
      <aside class="hl__staff-details__right-column">
        <div class="hl__staff-details__contact" tabindex="-1" id="contacts">
          {% include "@molecules/text/contact-info.twig" with {"contactInfo": staffDetails.contactInfo } %}
        </div>
        {% if staffDetails.guides %}
          <div class="hl__staff-details__guides">
            {% include "@organisms/lists/linked-list.twig" with {"linkedList": staffDetails.guides } %}
          </div>
        {% endif %}
      </aside>
    </div>
  </div>
</main>

{% block footer %}{% endblock %}
