.hl__staff-details {

  &__user-banner {
    margin-top: 20px;

    @media($bp-small-min) {
      margin-top: 40px;
    }
  }

  &__page-content {
    @include hl-container("full");
    padding-bottom: 50px;
    padding-top: 20px;

    @media($bp-small-min) {
      padding-top: 40px;
    }

    @media($bp-large-min) {
      display: flex;
      padding-bottom: 100px;
    }
  }

  &__left-column {

    @media($bp-large-min) {
      margin-right: 65px;
      width: calc(100% - 320px - 65px); // aside width and margin width
    }

    @media($bp-x-large-min) {
      margin-right: 65px;
      width: calc(100% - 420px - 65px); // aside width and margin width
    }

    & > * + * {
      margin-top: 45px;
    }
  }

  &__right-column {
    flex: none;
    margin-top: 45px;

    @media($bp-large-min) {
      margin-top: 0;
      width:420px;
    }
  }

  &__user-banner ~ &__page-content &__right-column {

    @media($bp-large-min) {
      margin-top: -145px;
      z-index: 2;
    }
  }

  &__grid {

    & > * + * {
      margin-top: 40px;
    }

    @media ($bp-x-large-min) {
      display: grid;
      grid-template-columns: 1fr 40px 1fr;
      // grid-template-rows: 1fr 40px 1fr;

      & > * + * {
        margin-top: 0;
      }
    }
  }

  &__grid-item {

    &:first-child {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    &:nth-child(2) {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }

    &:nth-child(3) {
      grid-column: 3 / 4;
      grid-row: 3 / 4;
      margin-top: 40px;
    }
  }

  &__grid-item--span-rows:first-child {
    grid-row: 1 / span 3;
  }

  &__contact {
    background-color: lighten($c-bg-section, 2.5%);

    .hl__contact-info__email a, .hl__contact-info__phone {
      pointer-events: none;
      color: #6c6c6c;
    }
  }

  &__guides {
    background-color: $c-bg-subtle;
    margin-top: 30px;

    .hl__linked-list__item {
      margin-bottom: 1.2em;
    }
  }

  &__contact,
  &__guides {
    margin-left: -20px;
    margin-right: -20px;
    padding: 30px 20px;

    @media($bp-medium-min) {
      padding: 40px 45px;
    }

    @media($bp-large-min) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .hl__section-divider {
    padding: 0;
  }
}
