{% block header %}{% endblock %}

{% set hasBackground = baseTemplate.bgNarrow and baseTemplate.bgWide %}

<main id="hl__main-id" class="hl__base-template hl__story-template" tabindex="-1">
  {% if hasBackground %}
  <div class="hl__base-template__background-header">
    <style>
      .hl__base-template__background-header {
        background-image: url('{{ baseTemplate.bgNarrow }}');
      }

      @media (min-width: 800px) {
        .hl__base-template__background-header {
          background-image: url('{{ baseTemplate.bgWide }}');
        }
      }

    </style>
  </div>
  {% endif %}
  <div class="hl__base-template__pre-content">
    {% block preContent %}
      {% if preContent.breadcrumb %}
        {% include "@organisms/navigation/breadcrumb.twig" with {'breadcrumb': preContent.breadcrumb } %}
      {% endif %}
      {% include "@organisms/page-header/page-header.twig" with { "pageHeader": preContent.pageHeader} %}
    {% endblock %}
  </div>
  <div class="hl__base-template__main-content">
    <div class="hl__base-template__page-content hl__base-template__page-content--full">
      {% block pageContent %}
        {% if pageContent.mainImage %}
          <div class="hl__story-template__main-image">
            {% include "@atoms/media/figure.twig" with {'figure': pageContent.mainImage } %}
          </div>
        {% endif %}
        {% include "@molecules/text/rich-text.twig" with {'richText': pageContent.richText } %}
      {% endblock %}
    </div>
  </div>
  <div class="hl__base-template__post-content">
    {% block postContent %}
      {% if postContent.emailSignUp %}
        {% include "@molecules/forms/single-input-form.twig" with {'singleInputForm': postContent.emailSignUp } %}
      {% endif %}
      {% if postContent.promoGrid %}
        {% include "@organisms/lists/promo-grid.twig" with {'promoGrid': postContent.promoGrid } %}
      {% endif %}
    {% endblock %}
  </div>
</main>

{% block footer %}{% endblock %}
