{% set cssClass = breadcrumb.light ? "hl__breadcrumb--light" : "" %}
{% set alignClass = breadcrumb.align ? "hl__breadcrumb--" ~ breadcrumb.align : "" %}

<section class="hl__breadcrumb {{ cssClass }} {{ alignClass }}">
  <ul class="hl__breadcrumb__items">
    {% for item in breadcrumb.items %}
      <li class="hl__breadcrumb__item">
          {% include "@atoms/text/link-tag.twig" with {"linkTag": item} %}
      </li>
    {% endfor %}
  </ul>
</section>
