.hl__breadcrumb {
  padding-top: 20px;
  text-align: left;

  @media ($bp-small-min) {
    text-align: center;
  }

  @media ($bp-medium-min) {
    padding-top: 50px;
  }

  .hl__full-template__pre-content & {
    @include hl-container("full");
  }

  .hl__base-template__pre-content & {
    @include hl-container();
  }

  &--left {
    @media ($bp-small-min) {
      text-align: left;
    }
  }

  &__items {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  &__item {
    color: $c-font-subtle;
    display: inline-block;

    &:not(:last-child):after {
      content: "/";
      display: inline-block;
      font-family: $f-trueno;
      font-size: 12px;
      font-weight: 200;
      margin-left: 5px;
      margin-right: 5px;
      vertical-align: middle;
    }

    .hl__link-tag {
      font-family: $f-trueno;
      font-size: 15px;
      font-weight: 400;
    }
  }

  &--light &__item {
    color: $c-font-inverse;

    &:not(:last-child):after {
      opacity: .6;
    }

    .hl__link-tag {
      color: $c-font-inverse;
      font-weight: 200;

      &:hover {
        border-bottom-color: rgba($c-font-inverse, 0.7);
      }
    }
  }

}
