.hl__accordion-text {
  @include hl-container("full");

  &__description {
    margin-bottom: 50px;
  }

  &__expand-all {
    margin-top:20px;
    margin-bottom:20px;
    text-align:right;
    max-width:930px;

    @media($bp-small-min) {
      margin-top:30px;
    }

    a {
      margin-right:20px;
    }
  }

  .hl__link-tag--with-arrow:after {
    border:none;
    border-left: 0.425em solid transparent;
    border-top: 0.5em solid currentColor;
    border-right: 0.425em solid transparent;
    margin-bottom:2px;
  }

}
