{% set level = accordionText.level ? accordionText.level : 2 %}

<section class="hl__accordion-text">
  <div class="hl__accordion-text__container">
    {% if accordionText.compHeading %}
      {% include "@atoms/text/comp-heading.twig" with {"compHeading": accordionText.compHeading } %}
      {% set level = level + 1 %}
    {% endif %}

    {% if accordionText.description %}
      <div class="hl__accordion-text__description">
        {% include "@molecules/text/rich-text.twig" with { "richText": accordionText.description } %}
      </div>
    {% endif %}

    <!-- <div class="hl__accordion-text__expand-all">
      {% include "@atoms/text/link-tag.twig" with {"linkTag":accordionText.expandAll} %}
    </div> -->

    <div class="hl__accordion-text__items">
      {% for accordionItem in accordionText.accordionItems %}
        {% set accordionItem = accordionItem|merge({"level": level}) %}
        {% include "@molecules/teasers/accordion-item.twig" %}
      {% endfor %}
    </div>
  </div>
</section>
