{% set centeredClass = bubbleUserList.centered ? "hl__bubble-user-list--centered" : "" %}

{% set compHeading = bubbleUserList.centered ? bubbleUserList.compHeading|merge({"align":"center"}) : bubbleUserList.compHeading %}

<section class="hl__bubble-user-list {{ centeredClass }}">
  <div class="hl__circle-list__container">
    <header>
      {% if bubbleUserList.compHeading %}
        {% include "@atoms/text/comp-heading.twig" with { "compHeading": compHeading } %}
      {% endif %}
      {% if bubbleUserList.description %}
        <div class="hl__bubble-user-list__description">
          {% include "@molecules/text/rich-text.twig" with {"richText": bubbleUserList.description} %}
        </div>
      {% endif %}
    </header>
    <main>
      <ul class="hl__bubble-user-list__items">
        {% for item in bubbleUserList.items %}
          <li class="hl__bubble-user-list__item">
            {% include "@atoms/media/bubble-figure.twig" with {"bubbleFigure": item} %}
          </li>
        {% endfor %}
      </ul>
    </main>
    <footer>
      {% if bubbleUserList.footerCopy %}
        <div class="hl__bubble-user-list__footer-copy">
          {% include "@molecules/text/rich-text.twig" with {"richText": bubbleUserList.footerCopy} %}
        </div>
      {% endif %}
    </footer>
  </div>
</section>
