.hl__bubble-user-list {

  @media($bp-small-min) {
    padding-top: 30px;
  }

  &__container {
    @include hl-container("full");
  }

  &__description {
    margin-bottom: 30px;
    max-width: $max-width-inner;
  }

  &--centered &__description {
    @media ($bp-x-small-min) {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }

  &__items {
    background: transparent url(../../assets/images/circles-bg-3.svg) center top repeat-y;
    background-size: contain;
    display: flex;
      flex-wrap: wrap;
      justify-content: space;
    list-style: none;
    padding: 0;
  }

  &__item {
    flex-basis: 280px;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 40px 30px;
  }

  &__footer-copy {
    margin-top: 60px;
  }

  &--centered &__footer-copy {
    @media ($bp-x-small-min) {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }

}
