{% set level = categoryTeaserGrid.level ? : 2 %}

<section class="hl__category-teaser-grid">
  {% if categoryTeaserGrid.compHeading %}
    {% set compHeading = categoryTeaserGrid.compHeading|merge({"level": level}) %}
    {% include "@atoms/text/comp-heading.twig" with { "compHeading": compHeading } %}
    {% set level = level + 1 %}
  {% endif %}
  {% if categoryTeaserGrid.description %}
    <div class="hl__category-teaser-grid__description">
      {% include "@molecules/text/rich-text.twig" with { "richText": categoryTeaserGrid.description } %}
    </div>
  {% endif %}
  <div class="hl__category-teaser-grid__grid">
    {% for item in categoryTeaserGrid.items %}
      {% set categoryTeaser = item|merge({"level":level}) %}
      {% include "@molecules/teasers/category-teaser.twig" with { "categoryTeaser": categoryTeaser} %}
    {% endfor %}
  </div>
  {% if categoryTeaserGrid.seeAll %}
    <div class="hl__category-teaser-grid__see-all">
      {% include "@atoms/text/link-tag.twig" with { "linkTag": categoryTeaserGrid.seeAll } %}
    </div>
  {% endif %}
</section>
