.hl__category-teaser-grid {

  .hl__full-template__page-content & {
    @include hl-container("full");
  }

  .hl__base-template__page-content & {
    @include hl-container("medium");
  }

  &__description {
    margin-bottom: 40px;

    @media($bp-large-min) {
      margin-bottom: 60px;
    }
  }

  &__see-all {
    margin-top: 20px;
    text-align: right;

    @media ($bp-small-min) {
      margin-top: 30px;
    }
  }

  &__grid {
    display: flex;
      flex-wrap: wrap;
      // justify-content: space-between;
    margin-top: -30px;

    @media($bp-small-min) {
      margin-left: -30px;
    }

    .hl__category-teaser {
      flex: none;
      margin-top: 15px;
      width: 100%;

      @media($bp-small-min) {
        width: calc(50% - 30px);
        margin-left: 30px;
        margin-top: 30px;
        max-width: 50%;
      }

      @media($bp-large-min) {
        width: calc(33.333% - 30px);
      }

      &:first-child:nth-last-child(2),
      &:first-child:nth-last-child(2) ~ .hl__category-teaser {
        @media($bp-large-min) {
          width: calc(50% - 30px);
        }
      }
    }
  }
}
