.hl__circle-callout-list {
  @include hl-container("full");
  margin-bottom: 40px;

  @media ($bp-small-min) {
    margin-bottom: 65px;
  }

  @media ($bp-medium-min) {
    margin-bottom: 85px;
  }

  &__description {
    margin-bottom: 40px;

    @media($bp-large-min) {
      margin-bottom: 60px;
    }
  }

  &__grid {
    background: transparent url(../../assets/images/circles-bg-4.svg) center top repeat-y;
    background-size: contain;
    display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    margin-top: -30px;

    @media($bp-small-min) {
      margin-left: -15px;
      margin-right: -15px;
    }

    .hl__circle-callout {
      flex-shrink: 1;
      flex-grow: 0;
      flex-basis: 370px;
      margin-top: 40px;
      width: 100%;

      @media($bp-small-min) {
        width: calc(50% - 30px);
        margin: 40px 15px;
      }
    }
  }
}
