.hl__circle-list {

  @media($bp-small-min) {
    padding-top: 30px;
  }

  &__container {
    @include hl-container("full");
  }

  &__description {
    margin-bottom: 30px;
    max-width: $max-width-inner;
  }

  &--centered &__description {
    @media ($bp-x-small-min) {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }

  &__circles {
    background: transparent url("../../assets/images/circles-bg-2.svg") center top repeat-y;
    background-size: contain;
    display: flex;
      flex-wrap: wrap;
      justify-content: center;    
    margin-left: -11px;
    margin-right: -11px;
    padding-bottom: 30px;
    padding-top: 30px;
    width: calc(100% + 22px);

    @media ($bp-small-min) {
      padding-bottom: 70px;
      padding-top: 70px;
    }

    .hl__circle-promo {
      flex: none;
      margin: 11px;
    }
  }
}
