<section class="hl__circle-callout-list">
  {% if circleCalloutList.compHeading %}
    {% include "@atoms/text/comp-heading.twig" with { "compHeading": circleCalloutList.compHeading } %}
  {% endif %}
  {% if circleCalloutList.description %}
    <div class="hl__circle-callout-list__description">
      {% include "@molecules/text/rich-text.twig" with { "richText": circleCalloutList.description } %}
    </div>
  {% endif %}
  <div class="hl__circle-callout-list__grid">
    {% for circleCallout in circleCalloutList.items %}
      {% include "@molecules/CTAs/circle-callout.twig" %}
    {% endfor %}
  </div>
</section>
