{% set level = circleList.compHeading ? 3 : 2 %}

{% set centeredClass = circleList.centered ? "hl__circle-list--centered" : "" %}

{% set compHeading = circleList.centered ? circleList.compHeading|merge({"align":"center"}) : circleList.compHeading %}

<section class="hl__circle-list {{ centeredClass }}">
  <div class="hl__circle-list__container">
    {% if circleList.compHeading %}
      {% include "@atoms/text/comp-heading.twig" with { "compHeading": compHeading } %}
    {% endif %}
    {% if circleList.description %}
      <div class="hl__circle-list__description">
        {% include "@molecules/text/rich-text.twig" with { "richText": circleList.description } %}
      </div>
    {% endif %}
    <div class="hl__circle-list__circles">
      {% for circlePromo in circleList.items %}
        {% set circlePromo = circlePromo|merge({"level": level}) %}
        {% include "@molecules/teasers/circle-promo.twig" %}
      {% endfor %}
    </div>
  </div>
</section>
