<section class="hl__contact-list">
  <div class="hl__contact-list__container">
    {% if contactList.compHeading %}
      {% include "@atoms/text/comp-heading.twig" with { "compHeading": contactList.compHeading } %}
    {% endif %}
    <div class="hl__contact-list__items">
      {% for item in contactList.items %}
        {% include "@molecules/text/contact-info.twig" with {"contactInfo": item} %}
      {% endfor %}
    </div>
  </div>
</section>
