.hl__contact-list {

  .hl__base-template__page-content--full > & {
    @include hl-container;
  }

  .hl__full-template__pre-content & &__container {
    @include hl-container("full");
  }

  .hl__comp-heading {
    @include hl-h3;
  }

  &--background .hl__contact-info__department {
    color: $c-font-dark;
  }

  .hl__columns & {

    @media ($bp-medium-min) {
      max-width: 645px; // 545px max plus 100 padding
    }

    &__container {
      padding: 30px;

      @media ($bp-medium-min) {
        padding: 50px;
      }
    }
  }
}
