<section class="hl__download-list">
  <div class="hl__download-list__container">
    {% if downloadList.compHeading %}
      {% include "@atoms/text/comp-heading.twig" with { "compHeading": downloadList.compHeading } %}
    {% endif %}
    <div class="hl__download-list__items">
      {% for item in downloadList.items %}
        {% include "@molecules/text/file-download.twig" with {"fileDownload": item} %}
      {% endfor %}
    </div>
  </div>
</section>
