.hl__download-list {

  .hl__base-template__page-content--full > & {
    @include hl-container;
  }

  .hl__comp-heading {
    @include hl-h3;
  }

  &__label {
    color: $c-font-dark;
    font-family: $f-trueno;
    font-size: 15px;
    letter-spacing: 1.86px;
    margin-right: 10px;
    text-transform: uppercase;
  }

  &__items {
    display: flex;
      flex-wrap: wrap;
    margin-left: -30px;
    padding: 0;
  }

  .hl__file-download {
    flex: 1;
    list-style: none;
    margin-left: 30px;
    min-width: 227px;;
  }

  &__file-container {
    display: flex;

    .hl__file-meta {
      flex: auto;
    }
  }

  &__icon {
    flex: none;
    margin-right: 10px;
    margin-top: 8px;
    width: 24px;
    
    svg {
      fill: $c-theme-ink;
    }
  }
}
