.hl__event-grid {

  .hl__full-template__post-content &,
  .hl__base-template__post-content & {
    background-color: lighten($c-bg-section, 2.5%);
    margin-bottom: 0 !important;
    margin-top: 0;
    padding-bottom: 40px;
    padding-top: 40px;

    @media ($bp-small-min) {
      padding-bottom: 60px;
      padding-top: 60px;
    }
  }

  .hl__base-template__page-content > & &__container {
    @include hl-container("wide");
  }

  .hl__full-template__page-content > & &__container {
    @include hl-container("full");
  }

  .hl__base-template__post-content &__container,
  .hl__full-template__post-content &__container {
    @include hl-container("wide");
  }

  &__see-all {
    margin-top: 20px;
    text-align: right;

    @media ($bp-small-min) {
      margin-top: 30px;
    }
  }

  &__events {
    display: flex;
    flex-wrap: wrap;

    @media($bp-medium-min) {
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  .hl__event-teaser {
    margin-bottom: 0;
    padding: 40px 0 5px;
    width: 100%;

    @media($bp-medium-min) {
      padding: 40px;
      padding-bottom: 5px;
    }

    &:first-child {
      padding-top: 0;
    }

    &:before {
      border-top: 1px solid $c-bd-divider;
      content: "";
      position: absolute;
        left: 0;
        bottom: 0;
      width: 100%;

      @media ($bp-medium-min) {
        left: 40px;
        width: calc(100% - 80px);
      }
    }

    &:last-child:before {
      display: none;
    }
  }

  .hl__base-template__post-content &,
  .hl__full-template__post-content &,
  &--double {

    .hl__event-teaser {

      @media($bp-medium-min) {
        border-right: 1px solid $c-bd-divider;
        width: 50%;

        &:nth-child(odd):nth-last-child(2):before {
          display: none;
        }
      }

      // two column
      @media($bp-medium-min) and ($bp-x-large-max) {

        &:nth-child(even) {
          border-right: none;
        }

        &:nth-child(-n+2) {
          padding-top: 0;
        }
      }
    }
  }

  .hl__base-template__post-content &,
  .hl__full-template__post-content & {

    .hl__event-teaser {
      @media($bp-x-large-min) {
        width: 25%;

        &:nth-child(4n) {
          border-right: none;
        }

        &:nth-child(-n+4) {
          padding-top: 0;
        }

        &:nth-child(4n+1):nth-last-child(4):before,
        &:nth-child(4n+1):nth-last-child(4) ~ .hl__event-teaser:before {
          display: none;
        }
      }

    }
  }

  &--double {
    .hl__event-teaser {

      @media($bp-x-large-min) {
        border-right: none;

        &:before {
          width: calc(100% - 40px);
        }

        &:nth-child(even):before {
          left: 0px;
        }

        &:nth-child(-n+2) {
          padding-top: 0;
        }
      }
    }
  }

  &--triple {
    .hl__event-teaser {

      @media($bp-medium-min) {
        border-right: 1px solid $c-bd-divider;
        width: 50%;

        &:nth-child(-n+2) {
          padding-top: 0;
        }
      }

      @media($bp-medium-min) and ($bp-x-large-max) {
        &:nth-child(odd):nth-last-child(2):before {
          display: none;
        }

        &:nth-child(even) {
          border-right: none;
        }
      }

      @media($bp-x-large-min) {
        width: 33.333%;

        &:nth-child(3n + 1):nth-last-child(-n + 3):before,
        &:nth-child(3n + 1):nth-last-child(-n + 3) ~ .hl__event-teaser:before {
          display: none;
        }

        &:nth-child(-n+3) {
          padding-top: 0;
        }

        &:nth-child(3n) {
          border-right: none;
        }

      }
    }
  }

  .hl__event-teaser--link {
    transition: all 0.5s ease;

    &:hover {
      background-color: $c-white;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.32);
      z-index: 1;

      @media ($bp-medium-max) {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
        width: calc(100% + 40px);
      }

      &:before {
        border: none;
      }
    }

    &:first-child:hover {
      margin-top: -40px;
      padding-top: 40px;
    }
  }

  .hl__base-template__post-content &,
  .hl__full-template__post-content &,
  &--double,
  &--triple {

    .hl__event-teaser--link:hover {

      @media ($bp-medium-min) {
        margin-bottom: -20px;
        margin-top: -20px;
        padding-bottom: 25px;
        padding-top: 60px;
      }

      @media($bp-medium-min) and ($bp-x-large-max) {
        &:nth-child(-n+2):hover {
          margin-top: -40px;
          padding-top: 40px;
        }
      }
    }
  }

  .hl__base-template__post-content &,
  .hl__full-template__post-content & {

    .hl__event-teaser--link {
      @media($bp-x-large-min) {

        &:nth-child(-n+4):hover {
          margin-top: -40px;
          padding-top: 40px;
        }
      }

      &:hover {
        @media ($bp-x-large-min) {
          margin-bottom: -40px;
          margin-top: -40px;
          padding-bottom: 45px;
          padding-top: 80px;
        }
      }
    }
  }

  &--double .hl__event-teaser--link {
    @media($bp-x-large-min) {

      &:nth-child(-n+2):hover {
        margin-top: -40px;
        padding-top: 40px;
      }
    }
  }

  &--triple {
    .hl__event-teaser--link:hover {
      @media ($bp-x-large-min) {
        &:nth-child(-n+3):hover {
          margin-top: -40px;
          padding-top: 40px;
        }
      }
    }
  }
}
