{% set level = eventGrid.level ? : 2 %}
{% set columnClass = eventGrid.columns ? "hl__event-grid--" ~ eventGrid.columns : "" %}

<section class="hl__event-grid {{ columnClass }}">
  <div class="hl__event-grid__container">
    {% if eventGrid.compHeading %}
      {% set compHeading = eventGrid.compHeading|merge({"level": level}) %}
      {% include "@atoms/text/comp-heading.twig" with { "compHeading": compHeading } %}
      {% set level = level + 1 %}
    {% endif %}
    <div class="hl__event-grid__events">
      {% for eventTeaser in eventGrid.events %}
        {% set eventTeaser = eventTeaser|merge({ "level": level }) %}
        {% include "@molecules/teasers/event-teaser.twig" %}
      {% endfor %}
    </div>
    {% if eventGrid.seeAll %}
      <div class="hl__event-grid__see-all">
        {% include "@atoms/text/link-tag.twig" with { "linkTag": eventGrid.seeAll } %}
      </div>
    {% endif %}
    {% if eventGrid.eventDirectory %}
      <div class="hl__search-results__pagination">
        {% include "@molecules/navigation/pagination.twig" %}
      </div>
    {% endif %}
  </div>
</section>
