{% set level = fancyLinkList.level ? : 2 %}
{% set accordionClass = fancyLinkList.maxItems and fancyLinkList.items|length > fancyLinkList.maxItems ? "hl__fancy-link-list--accordion js-accordion": "" %}

<section class="hl__fancy-link-list {{ accordionClass }}">
  {% if fancyLinkList.compHeading %}
    {% set compHeading = fancyLinkList.compHeading|merge({"level": level}) %}
    {% include "@atoms/text/comp-heading.twig" with { "compHeading": compHeading } %}
    {% set level = level + 1 %}
  {% endif %}
  {% if fancyLinkList.description and not fancyLinkList.see_more %}
    <div class="hl__fancy-link-list__description">
      {% include "@molecules/text/rich-text.twig" with { "richText": fancyLinkList.description } %}
    </div>
  {% endif %}
  {% if fancyLinkList.description and fancyLinkList.see_more %}
    <div class="hl__fancy-link-list__description--with-button">
      {% include "@molecules/text/rich-text.twig" with { "richText": fancyLinkList.description } %}
    </div>
  {% endif %}

  {% if fancyLinkList.maxItems and fancyLinkList.items|length > fancyLinkList.maxItems %}
    <div class="hl__fancy-link-list__grid">
      {% for item in fancyLinkList.items|slice(0, fancyLinkList.maxItems) %}
        {% set fancyLink = item|merge({"level": level}) %}
        {% include "@molecules/CTAs/fancy-link.twig" with { "fancyLink": fancyLink} %}
      {% endfor %}
    </div>
    <div class="hl__fancy-link-list__grid hl__fancy-link-list__grid--accordion-content js-accordion-content" style="display:none">
      {% for item in fancyLinkList.items %}
        {% set fancyLink = item|merge({"level": level}) %}
        {% include "@molecules/CTAs/fancy-link.twig" with { "fancyLink": fancyLink} %}
      {% endfor %}
    </div>
    <div class="hl__fancy-link-list__see-all">
      {% include "@atoms/text/link-tag.twig" with { "linkTag": fancyLinkList.seeAll } %}
    </div>

  {% else %}
    <div class="hl__fancy-link-list__grid">
      {% for item in fancyLinkList.items %}
        {% set fancyLink = item|merge({"level":level}) %}
        {% include "@molecules/CTAs/fancy-link.twig" with { "fancyLink": fancyLink} %}
      {% endfor %}
    </div>
  {% endif %}

  {% if fancyLinkList.see_more %}
  <div class="hl__fancy-link-list__button">
    {% include "@atoms/buttons/button.twig" with {"button": fancyLinkList.see_more} %}
  </div>
  {% endif %}
</section>
