.hl__fancy-link-list {
  .hl__full-template__page-content & {
    @include hl-container("full");
  }

  .hl__base-template__page-content & {
    @include hl-container("medium");
  }

  &__description {
    margin-bottom: 40px;

    @media($bp-large-min) {
      margin-bottom: 60px;
    }

    &--with-button {
      margin-bottom: 40px;

      @media($bp-large-min) {
        margin-bottom: 60px;
      }

      .hl__rich-text {
        margin-left: auto;
        margin-right: auto;
        text-align:center;
      }
    }
  }

  &__grid {
    display: flex;
      flex-wrap: wrap;

    @media ($bp-small-min) {
      margin-left: -20px;
    }

    @media ($bp-x-large-min) {
      margin-left: -30px;
    }

    .hl__fancy-link {
      flex: none;
      margin-bottom: 20px;
      width: 100%;

      &:first-child:nth-last-child(2),
      &:first-child:nth-last-child(2) ~ .hl__stacked-promo {
        @media ($bp-x-large-min) {
          margin-left: 32px;
          width: calc(50% - 32px);
        }
      }

      @media ($bp-small-min) {
        margin-left: 20px;
        width: calc(50% - 20px);
      }

      @media ($bp-x-large-min) {
        margin-left: 32px;
        width: calc(33% - 32px);
      }
    }
  }

  &--accordion &__grid:not(&__grid--accordion-content) .hl__fancy-link {
    @media ($bp-x-large-max) {
      &:nth-child(3) {
        display: none;
      }
    }
  }

  &__grid--accordion-content .hl__fancy-link {
    &:nth-child(-n + 2) {
      display:none;
    }

    @media ($bp-x-large-min) {
      &:nth-child(3) {
        display: none;
      }
    }
  }

  &__button {
    margin-top:40px;
    text-align:center;

    @media($bp-small-min) {
      text-align: center;
    }
  }

  &__see-all {
    margin-top: 0px;
    text-align: right;
  }
}
