.hl__featured-image-list {

  &__footer {
    display: flex;
      align-items: center;
      justify-content: space-between;
    margin-top: 15px;
  }

  &__images {
    display: flex;

    @media ($bp-x-large-min) {
      flex-wrap: wrap;
    }
  }

  &__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid $c-white;
    border-right: 1px solid $c-white;
    display: block;
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 270px;

    &:before {
      content: "";
      float: left;
      padding-top: 100%;
    }

    img {
      max-height: 100%;
      max-width: 100%;
      position: relative;
      z-index: -1;

    }
  }

  &__count {
    color: $c-font-subtle;
    font-family: $f-trueno;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.68421;

    b {
      color: #1e1e1e;
    }
  }

  &__see-more {
    
    a {
      font-size: 14px;
    }
  }
}
