<section class="hl__hours-list">
  <h2 class="hl__hours-list__label">{% include "@atoms/text/highlighted-text.twig" with { "highlightedText": hoursList.label } %}</h2>
  <div class="hl__hours-list__grid">
    {% include "@molecules/lists/tabular-list.twig" with { "tabularList": hoursList.schedule } %}
  </div>
</section>
