.hl__library-grid {
  margin-top: 20px;
  width: 100%;

  @media($bp-small-min) {
    margin-top: 40px;
  }

  @media($bp-x-large-min) {
    margin-top: 55px;
  }

  &__container {
    display: flex;
      align-items: flex-start;
      flex-wrap: wrap;

    @media ($bp-small-min) {
      margin-left: -20px;
    }

    @media ($bp-x-large-min) {
      margin-left: -30px;
    }
  }

  .hl__library-card {
    flex: none;
    margin-bottom: 20px;
    width: 100%;

    @media ($bp-small-min) {
      height: 100%;
      margin-left: 20px;
      min-height: 550px;  // guess to make them line up.
      width: calc(50% - 20px);
    }

    @media ($bp-x-large-min) {
      margin-bottom: 30px;
      margin-left: 30px;
      width: calc(25% - 30px);
    }
  }
}
