.hl__library-hours-list {

  &__row {

    & + &  {
      margin-top: 30px;
      padding-top: 30px;

      @media ($bp-small-min) {
        margin-top: 45px;
        padding-top: 45px;
      }

      @media ($bp-large-min) {
        margin-top: 60px;
        padding-top: 60px;
      }
    }
  }
}
