{% set bulletClass = not linkedList.bullets ? "hl__linked-list--no-bullets" : "" %}
{% set dividerClass = linkedList.dividers ? "hl__linked-list--dividers" : "" %}

<div class="hl__linked-list {{ bulletClass }} {{ dividerClass }}">
  {% if linkedList.compHeading %}
    {% include "@atoms/text/comp-heading.twig" with { "compHeading": linkedList.compHeading } %}
  {% endif %}
  {% if linkedList.patternHeading %}
    <div class="hl__linked-list__heading">
      {% include "@atoms/text/pattern-heading.twig" with { "patternHeading": linkedList.patternHeading } %}
    </div>
  {% endif %}
  <ul class="hl__linked-list__items">
    {% for item in linkedList.items %}
      <li class="hl__linked-list__item">
        {% if item.type == "user" and item.image %}
          {% include "@molecules/text/user-link.twig" with { "userLink": { "link": item.link, "image": item.image }} %}
        {% elseif item.link.href %}
          {% include "@atoms/text/link-tag.twig" with { "linkTag": item.link } %}
        {% else %}
          <span class="hl__linked-list__text">{{ item.link.text }}</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% if linkedList.seeAll %}
    <div class="hl__linked-list__see-all">
      {% include "@atoms/text/link-tag.twig" with {"linkTag": linkedList.seeAll} %}
    </div>
  {% endif %}
</div>
