.hl__linked-list {

  &--no-bullets {
    ul {
      padding-left: 0;
    }

    li {
      list-style: none;
    }
  }

  &--dividers {
    li + li {
      border-top: 1px solid $c-bd-divider;
      margin-top: 10px;
      padding-top: 10px;
    }
  }

  .hl__columns &:nth-child(odd) {

    @media($bp-medium-min) { // two columns
      padding-right: 15px;
    }
  }

  .hl__columns &:nth-child(even) {

    @media($bp-medium-max) { // stacked
      margin-top: 40px;
    }

    @media($bp-medium-min) { // two columns
      padding-left: 15px;
    }
  }

  &__items {
    margin-bottom: 0;
  }

  &__heading + &__items {
    padding: 0 15px;

    @media($bp-small-min) {
      padding: 0 40px;
    }
  }

  &__item {

    .hl__link-tag--with-arrow {
      font-size: 17px;
      letter-spacing: inherit;
      text-transform: none;
    }
  }

  &__text {
    color: $c-font-dark;
    font-family: $f-trueno;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.47;
  }

  &__see-all {
    text-align: right;
  }
}
