.hl__masonry-promo {
  @include hl-container("full");
  position: relative;

  &__container {
    margin: -15px;
    width: calc(100% + 30px);
  }

  &__sizing,
  &__item {
    padding: 15px;
    width: 100%;

    @media ($bp-small-min) {
      width: 50%;
    }

    @media ($bp-large-min) {
      width: 33.333%;
    }

    &--wide {

      @media ($bp-large-min) {
        width: 66.666%;

        .hl__overlay-promo {

          &:before {
            padding-top: calc(31.5% - 10px);
          }

          &:after {
            background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7), transparent);
          }

          &__details {
            background-image: none;
            max-width: 55%;

            &:before {
              background-image: none;
            }
          }
        }
      }
    }

    &--tall {

      @media ($bp-small-min) {
        .hl__overlay-promo:before {
          padding-top: calc(126% + 30px);
        }
      }
    }

    .hl__pattern-cta {
      background: $c-white url('../../assets/images/dots.png') top center repeat;
      padding: 0;

      &:before {
        content: "";
        display: inline-block;
        height: 1px;
        margin-left: -1px;
        padding-top: 63%;
        vertical-align: bottom;
        width: 1px;
      }

      &__container {
        background: none;
      }
    }
  }

  .hl__overlay-promo {
    &__eyebrow {
      font-family:$f-trueno;
      font-size:14px;
      font-weight:600;
      letter-spacing:2px;
      text-transform:uppercase;
    }

    // &__subtitle {
    //   font-size: 0;
    //   letter-spacing: 8.5px;
    //   overflow: hidden;
    //   transition: letter-spacing 0.5s ease, font-size 0.5s ease;
    // }
    //
    // &:hover .hl__overlay-promo__subtitle,
    // &:focus .hl__overlay-promo__subtitle {
    //   font-size: 18px;
    //   letter-spacing: 0;
    //   transition: letter-spacing 0.7s ease, font-size 0.7s ease;
    // }
  }
}
