.hl__news-grid {

  &__container {
    display: flex;
      flex-wrap: wrap;

    .hl__image-promo {
      background-color: $c-white;
      padding-bottom: 50px;
      padding-top: 50px;
      position: relative;
      width: 100%;

      @media ($bp-small-min) {
        padding-left: 40px;
        padding-right: 40px;
      }

      @media ($bp-medium-min) and ($bp-large-max) {
        width: 50%;

        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(2n + 5) {
          border-left: 1px solid $c-bd-divider;
        }
      }

      @media ($bp-large-min) {
        border-left: 1px solid $c-bd-divider;
        width: 33%;

        &:nth-child(3n + 1) {
          border: none;
        }
      }

      &:hover {
        background-color: $c-white;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.32);
        margin-bottom: -10px;
        margin-top: -10px;
        padding-bottom: 60px;
        padding-top: 60px;
        z-index: 3;

        @media ($bp-x-small-max) {
          margin-right: -20px;
          margin-left: -20px;
          padding-left: 20px;
          padding-right: 20px;
          width: calc(100% + 40px);
        }

        &:before {
          border: none !important;
        }
      }

      &:before {
        content: "";
        position: absolute;
          left: 0px;
          top: -1px;
        width: 100%;

        @media ($bp-medium-max) {
          border-top: 1px solid $c-bd-divider;
        }

        @media ($bp-x-small-min) {
          left: 20px;
          width: calc(100% - 40px);
        }

        @media ($bp-small-min) {
          left: 40px;
          width: calc(100% - 80px);
        }
      }

      @media ($bp-medium-max) {
        &:first-child:before {
          border-top: none;
        }
      }

      @media ($bp-medium-min) and ($bp-large-max) {

        &:nth-child(n + 3):before {
          border-top: 1px solid $c-bd-divider;
        }
      }

      @media ($bp-large-min) {

        &:nth-child(n + 4):before {
          border-top: 1px solid $c-bd-divider;
        }
        &:nth-child(8):before {
          border-color:transparent;
        }
      }
    }

    .hl__pattern-cta {
      width: 100%;
      z-index: 2;

      @media ($bp-large-min) {
        border-left: 1px solid $c-bd-divider;
        width: 33%;
      }
    }
  }
}
