<section class="hl__news-grid">
  <div class="hl__news-grid__container">
    {% for item in newsGrid.newsItems|slice(first,4) %}
      {% include "@molecules/teasers/image-promo.twig" with { "imagePromo": item } %}
    {% endfor %}
    {% if newsGrid.patternCta %}
      {% include "@molecules/text/pattern-cta.twig" with { "patternCta": newsGrid.patternCta } %}
    {% endif %}
    {% for item in newsGrid.newsItems|slice(4,last) %}
      {% include "@molecules/teasers/image-promo.twig" with { "imagePromo": item } %}
    {% endfor %}
  </div>
</section>
