
<div class="hl__numbered-list">
  <div class="hl__numbered-list__container">
    {% if numberedList.compHeading %}
      {% include "@atoms/text/comp-heading.twig" with {"compHeading": numberedList.compHeading} %}
    {% endif %}

    {% if numberedList.description %}
      <div class="hl__numbered-list__description">
        {% include "@molecules/text/rich-text.twig" with {"richText": numberedList.description} %}
      </div>
    {% endif %}

    {% include "@atoms/text/circled-numbered-list.twig" with {"circledNumberedList": numberedList.circledNumberedList } %}

  </div>
</div>
