.hl__numbered-list {

  .hl__full-template__page-content > & {
    @include hl-container("full");
  }

  .hl__base-template__page-content > & {
    @include hl-container("medium");
  }

  &__description {
    margin-bottom: 30px;
  }

}
