.hl__overlay-promo-grid {

  &__container {
    @include hl-container("wide");
  }

  .hl__full-template &__container {
    @include hl-container("full");
  }

  .hl__full-template__post-content &__container {
    @include hl-container("wide");
  }

  &__description {
    margin-bottom: 40px;

    @media($bp-large-min) {
      margin-bottom: 60px;
    }
  }

  &--more-highlights .hl__comp-heading {
    display:inline-block;
    margin-right:10px;
  }

  &__more-highlights {
    text-transform: uppercase;
    display:inline-block;

    span:before {
      display: inline-block;
      content:"";
      background-image: url('../images/svg-icons/refresh.svg');
      height: 15px;
      width: 16px;
      margin-right:10px;
    }
  }

  &__see-all {
    margin-top: 20px;
    text-align: right;

    @media ($bp-small-min) {
      margin-top: 30px;
    }
  }

  &__grid--six-across + &__see-all {
    margin-top:30px;

    @media ($bp-small-min) {
      margin-top: 50px;
    }
  }

  &--accordion &__see-all {
    margin-top: 0;
  }

  &__grid {
    // Support for old browsers with display: flex
    display: flex;
      flex-wrap: wrap;

    @media ($bp-x-small-min) {
    }

    @media ($bp-small-min) {
      margin-left: -20px;
    }

    @media ($bp-x-large-min) {
      margin-left: -30px;
    }
  }

  .hl__pattern-cta,
  .hl__overlay-promo {
    margin-bottom: 20px;
    width: 100%;

    @media ($bp-small-min) {
      margin-left: 20px;
      width: calc(50% - 20px);
    }

    @media ($bp-x-large-min) {
      margin-bottom: 30px;
      margin-left: 30px;
      width: calc(33.333% - 30px);
    }
  }

  .hl__pattern-cta {
    background: white url("../../assets/images/dots.png") top center repeat;
    padding: 0;

    &__container {
      background: none;
    }
  }

  .hl__overlay-promo--no-image {
    align-self: flex-start;
  }

  &--accordion &__grid:not(&__grid--accordion-content) .hl__overlay-promo {
    @media ($bp-x-large-max) {
      &:nth-child(3) {
        display: none;
      }
    }
  }

  &__grid--accordion-content .hl__overlay-promo {
    &:nth-child(-n + 2) {
      display: none;
    }

    @media ($bp-x-large-min) {
      &:nth-child(3) {
        display: none;
      }
    }
  }

  &__grid--six-across {
    margin-left: 0;

    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    grid-gap:30px;

    .hl__overlay-promo {
      margin-left:0;
      margin-bottom:0;
      width:100%;

      @media (hover:none) {
        .hl__overlay-promo__title,
        .hl__overlay-promo__subtitle,
        .hl__overlay-promo__library {
          font-size: 14px;
          margin:0;
        }

        .hl__overlay-promo__details,
        .hl__overlay-promo__details-spacer {
          padding:10px;

          @media ($bp-medium-min) {
            padding: 10px;
          }
        }
      }

      @media(hover:hover) {
        &:hover,
        &:focus {
          box-shadow: 0 0 20px 0 rgba(0,0,0,0.32);
          margin-top:-10px;
          margin-bottom:-10px;
          margin-left:-15px;
          width:calc(100% + 30px);
          transition: all 0.5s ease;

          .hl__overlay-promo__title,
          .hl__overlay-promo__subtitle,
          .hl__overlay-promo__library {
            font-size: 14px;
          }
        }
      }
    }
  }
}
