{% set level = overlayPromoGrid.level ? : 2 %}
{% set accordionClass = overlayPromoGrid.maxItems and overlayPromoGrid.overlayPromos|length > overlayPromoGrid.maxItems ? "hl__overlay-promo-grid--accordion js-accordion": "" %}

{% set sixAcross = overlayPromoGrid.maxItems == "6" and overlayPromoGrid.overlayPromos|length == overlayPromoGrid.maxItems ? "hl__overlay-promo-grid__grid--six-across": "" %}

{% set moreHighlights = overlayPromoGrid.moreHighlights ? "hl__overlay-promo-grid--more-highlights" : "" %}

{% spaceless %}
  <section class="hl__overlay-promo-grid {{ accordionClass }}">
    <div class="hl__overlay-promo-grid__container {{ moreHighlights }}">
      {% if overlayPromoGrid.compHeading %}
        {% set compHeading = overlayPromoGrid.compHeading|merge({"level": level}) %}
        {% include "@atoms/text/comp-heading.twig" with {"compHeading": compHeading } %}
        {% set level = level + 1 %}
      {% endif %}

      {% if overlayPromoGrid.moreHighlights %}
        <div class="hl__overlay-promo-grid__more-highlights">
          {% include "@atoms/text/link-tag.twig" with { "linkTag": overlayPromoGrid.moreHighlights } %}
        </div>
      {% endif %}

      {% if overlayPromoGrid.description %}
        <div class="hl__overlay-promo-grid__description">
          {% include "@molecules/text/rich-text.twig" with { "richText": overlayPromoGrid.description } %}
        </div>
      {% endif %}
      {% if overlayPromoGrid.maxItems and overlayPromoGrid.overlayPromos|length > overlayPromoGrid.maxItems %}
        <div class="hl__overlay-promo-grid__grid">
          {% for overlayPromo in overlayPromoGrid.overlayPromos|slice(0, overlayPromoGrid.maxItems) %}
            {% set overlayPromo = overlayPromo|merge({"level": level}) %}
            {% include "@molecules/teasers/overlay-promo.twig" %}
          {% endfor %}
        </div>
        <div class="hl__overlay-promo-grid__grid hl__overlay-promo-grid__grid--accordion-content js-accordion-content" style="display:none">
          {% for overlayPromo in overlayPromoGrid.overlayPromos %}
            {% set overlayPromo = overlayPromo|merge({"level": level}) %}
            {% include "@molecules/teasers/overlay-promo.twig" %}
          {% endfor %}
        </div>
      {% else %}
        <div class="hl__overlay-promo-grid__grid {{ sixAcross }}">
          {% for overlayPromo in overlayPromoGrid.overlayPromos %}
            {% set overlayPromo = overlayPromo|merge({"level": level}) %}
            {% include "@molecules/teasers/overlay-promo.twig" %}
            {% if loop.first and overlayPromoGrid.surprise %}
              {% include "@molecules/text/pattern-cta.twig" with { "patternCta": overlayPromoGrid.surprise } %}
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
      {% if overlayPromoGrid.seeAll %}
        <div class="hl__overlay-promo-grid__see-all">
          {% include "@atoms/text/link-tag.twig" with { "linkTag": overlayPromoGrid.seeAll } %}
        </div>
      {% endif %}
    </div>
  </section>
{% endspaceless %}
