{% set dividerClass = promoGrid.hideDividers ? "hl__promo-grid--no-dividers" : "" %}
{% set level = 2 %}

{% spaceless %}
  <section class="hl__promo-grid {{ dividerClass }}">
    <div class="hl__promo-grid__container">
      {% if promoGrid.compHeading %}
        {% include "@atoms/text/comp-heading.twig" with {"compHeading": promoGrid.compHeading } %}
        {% set level = 3 %}
      {% endif %}
      <div class="hl__promo-grid__grid">
        {% for imagePromo in promoGrid.imagePromos %}
          {% set imagePromo = imagePromo|merge({"level": level}) %}
          {% include "@molecules/teasers/image-promo.twig" %}
        {% endfor %}
      </div>
      {% if promoGrid.seeAll %}
        <div class="hl__promo-grid__see-all">
          {% include "@atoms/text/link-tag.twig" with { "linkTag": promoGrid.seeAll } %}
        </div>
      {% endif %}
    </div>
  </section>
{% endspaceless %}
