.hl__promo-grid {

  .hl__full-template__post-content &,
  .hl__base-template__post-content & {
    background-color: $c-bg-subtle;
    margin-bottom: 0 !important;
    margin-top: 0;
    padding-bottom: 40px;
    padding-top: 40px;

    @media ($bp-small-min) {
      padding-bottom: 60px;
      padding-top: 60px;
    }
  }

  &__container {
    @include hl-container("wide");
  }

  .hl__full-template &__container {
    @include hl-container("full");
  }

  .hl__full-template__post-content > & &__container {
    @include hl-container("wide");
  }

  &__see-all {
    margin-top: 20px;
    text-align: right;

    @media ($bp-small-min) {
      margin-top: 30px;
    }
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;

    @media ($bp-medium-max) {
      margin-top: -20px;
    }

    @media($bp-medium-min) {
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  .hl__image-promo__title {
    font-size: 24px;

    @media($bp-x-small-min) {
      font-size: 26px;
    }
  }

  .hl__image-promo {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    padding: 40px 0;
    width: 100%;

    @media($bp-medium-min) {
      border-right: 1px solid $c-bd-divider;
      padding: 40px;
      width: 50%;

      &:last-child {
        border-right: none;
      }
    }

    @media($bp-medium-min) and ($bp-x-large-max) {

      &:nth-child(even) {
        border-right: none;
      }

      &:nth-child(-n+2) {
        padding-top: 0;
      }

      &:nth-child(n+3):nth-last-child(2),
      &:nth-last-child(2) ~ .hl__image-promo:nth-child(n+3) {
        padding-bottom: 0;
      }

    }

    @media($bp-x-large-min) {
      width: 25%;

      &:nth-child(4n) {
        border-right: none;
      }

      &:nth-child(-n+4) {
        padding-top: 0;
      }

      &:nth-child(n+5):nth-last-child(4),
      &:nth-last-child(4) ~ .hl__image-promo:nth-child(n+5) {
        padding-bottom: 0;
      }

      // only two promos
      &:first-child:nth-last-child(2),
      &:last-child:nth-child(2) {
        
        .hl__image-promo__image {
          flex-basis: auto;
          flex-grow: 2;
          flex-shrink: 2;
          margin: 0;
          margin-right: 30px;
          width: calc(43% - 30px);
        }

        .hl__image-promo__details {
          flex-basis: auto;
          flex-grow: 3;
          flex-shrink: 3;
          width: 57%;
        }
      }
    }

    &:before {
      border-top: 1px solid $c-bd-divider;
      content: "";
      position: absolute;
        left: 0px;
        top: -1px;
      width: 100%;

      @media ($bp-medium-min) {
        left: 40px;
        width: calc(100% - 80px);
      }
    }

    &:first-child:before {
      border-top: none;
    }

    @media ($bp-medium-min) {
      &:nth-child(2):before {
        border-top: none;
      }
    }
    @media ($bp-x-large-min) {
      &:nth-child(-n+4):before {
        border-top: none;
      }
    }
  }

  &--no-dividers .hl__image-promo {
    border-right: none;

    @media($bp-medium-min) {
      padding: 20px;
    }

    &:before {
      @media ($bp-medium-min) {
        left: 0;
        width: 100%;
      }
    }
  }


  .hl__image-promo__image {

    @media($bp-medium-min) {
      margin-right: -30px;
      margin-left: -30px;
    }
  }

  .hl__image-promo__details {
 
    @media($bp-medium-min) {
      flex-basis: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .hl__image-promo--link {
    transition: all 0.5s ease;

    &:hover {
      background-color: $c-white;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.32);
      z-index: 1;

      @media ($bp-medium-max) {
        margin-left: -20px;
        margin-right: -20px;
        padding: 40px 20px;
        width: calc(100% + 40px);
      }

      @media ($bp-medium-min) {
        margin-bottom: -20px;
        margin-top: -20px;
        padding-bottom: 60px;
        padding-top: 60px;
      }

      @media ($bp-x-large-min) {
        margin-bottom: -40px;
        margin-top: -40px;
        padding-bottom: 80px;
        padding-top: 80px;
      }

      &:before {
        border: none;
      }
    }

    @media($bp-medium-min) and ($bp-x-large-max) {

      &:nth-child(-n+2):hover {
        padding-top: 20px;
      }

      &:nth-child(n+2):nth-last-child(2):hover,
      &:nth-last-child(2) ~ .hl__image-promo:nth-child(n+2):hover {
        margin-bottom: -60px;
        padding-bottom: 60px;
      }
    }

    @media($bp-x-large-min) {

      &:nth-child(-n+4):hover {
        padding-top: 40px;
      }

      &:nth-child(n+5):nth-last-child(4):hover,
      &:nth-last-child(4) ~ .hl__image-promo:nth-child(n+5):hover {
        margin-bottom: -80px;
        padding-bottom: 80px;
      }
    }
  }
}
