{% set level = stackedPromoGrid.level ? stackedPromoGrid.level : 2 %}

{% spaceless %}
  <section class="hl__stacked-promo-grid">
    <div class="hl__stacked-promo-grid__container">
      {% if stackedPromoGrid.compHeading %}
        {% include "@atoms/text/comp-heading.twig" with {"compHeading": stackedPromoGrid.compHeading } %}
        {% set level = level + 1 %}
      {% endif %}
      {% if stackedPromoGrid.description %}
        <div class="hl__stacked-promo-grid__description">
          {% include "@molecules/text/rich-text.twig" with { "richText": stackedPromoGrid.description } %}
        </div>
      {% endif %}
      <div class="hl__stacked-promo-grid__grid">
        {% for stackedPromo in stackedPromoGrid.stackedPromos %}
          {% set stackedPromo = stackedPromo|merge({"level": level}) %}
          {% include "@molecules/teasers/stacked-promo.twig" %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endspaceless %}