.hl__stacked-promo-grid {

  &__container {
    @include hl-container("wide");
  }

  .hl__full-template &__container {
    @include hl-container("full");
  }

  .hl__full-template__post-content &__container {
    @include hl-container("wide");
  }

  &__description {
    margin-bottom: 50px;
  }

  &__grid {
    // Support for old browsers with display: flex
    display: flex;
      flex-wrap: wrap;
    margin-bottom: -85px;

    @media ($bp-small-min) {
      margin-left: -20px;
    }

    @media ($bp-x-large-min) {
      margin-left: -30px;
    }
  }

  .hl__stacked-promo {
    margin-bottom: 85px;
    width: 100%;

    &:first-child:nth-last-child(2),
    &:first-child:nth-last-child(2) ~ .hl__stacked-promo {
      @media ($bp-x-large-min) {
        margin-left: 32px;
        width: calc(50% - 32px);
      }
    }

    @media ($bp-small-min) {
      margin-left: 20px;
      width: calc(50% - 20px);
    }

    @media ($bp-x-large-min) {
      margin-left: 32px;
      width: calc(33% - 32px);
    }
  }
}
