// .hl__staff-grid {
//
//   &__container {
//     display: flex;
//     flex-wrap: wrap;
//     margin-top: -30px;
//   }
//
//   &--plain &__container {
//     margin-top: -30px;
//   }
//
//   &--special &__container {
//     margin-left: -30px;
//   }
//
//   &--plain {
//
//     .hl__staff-card {
//       border: none;
//       padding: 20px 0;
//       position: relative;
//       width: 100%;
//
//       &::after {
//         border-bottom: 1px solid $c-bd-divider;
//         content: "";
//         position: absolute;
//           bottom: 0;
//         width: 100%;
//         z-index: 1;
//       }
//
//       &:first-child {
//         padding-top: 30px;
//       }
//
//       &:last-child::after {
//         display: none;
//       }
//
//       @media($bp-large-min) {
//         padding: 40px 0;
//         width: 50%;
//
//         &::after {
//           width: calc(100% - 60px);
//         }
//
//         &:nth-child(2) {
//           padding-top: 30px;
//         }
//
//         &:nth-child(odd) {
//           padding-right: 60px;
//         }
//
//         &:nth-child(even) {
//           border-left: 1px solid $c-bd-divider;
//           padding-left: 60px;
//
//           &::after {
//             width: 100%;
//           }
//         }
//
//         &:nth-last-child(2)::after {
//           display: none;
//         }
//       }
//
//       &__name {
//         text-align: left;
//       }
//     }
//   }
//
//   &--special {
//
//     .hl__staff-card {
//       flex: none;
//       margin-left: 30px;
//       margin-top: 30px;
//       width: calc(100% - 30px);
//
//       @media($bp-small-min) {
//         width: calc(50% - 30px);
//       }
//
//       @media($bp-large-min) {
//         width: calc(33.333% - 30px);
//       }
//
//       @media($bp-x-large-min) {
//         width: calc(50% - 30px);
//       }
//
//       // MacBook 13" screen
//       @media(min-width: 1279px) {
//         width: calc(33.333% - 30px);
//       }
//     }
//   }
// }
