<section class="hl__staff-directory-grid">
  <div class="hl__staff-directory-grid__grid">
    {% for item in staffDirectoryGrid.items %}
      {% set staffCard = item %}
      {% include "@molecules/general/staff-card.twig" with { "staffCard": staffCard } %}
    {% endfor %}
  </div>
</section>
