.hl__staggered-type-list {


  &__header {
    .hl__full-template__page-content & {
      @include hl-container("full");
    }

    .hl__base-template__page-content & {
      @include hl-container("medium");
    }
  }

  &__list-wrapper {
    position: relative;

    &:before {
      background: $c-white url('../../assets/images/dots.png') top center repeat;
      content: "";
      height: calc(100% - 60px);
      position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
        top: 30px;
      width: 100%;
    }
  }

  &__description {
    margin-bottom: 40px;

    @media($bp-large-min) {
      margin-bottom: 60px;
    }
  }

  &__list {
    display: flex;
      flex-wrap: wrap;

    .hl__full-template__page-content & {
      @include hl-container("full");

      @media($bp-small-min) {
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    .hl__base-template__page-content & {
      @include hl-container("medium");

      @media($bp-small-min) {
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    .hl__type-promo {
      flex: none;
      margin-top: 30px;
      width: 100%;

      &:nth-child(odd):before {
        background-color: $c-theme-secondary-dark;
      }

      &:nth-child(even):before {
        background-color: $c-theme-secondary;
      }

      @media($bp-small-max) {
        &:first-child {
          margin-top: 0;
        }
      }

      @media($bp-small-min) {
        width: calc(50% - 30px);
        margin: 0 15px 30px;
        max-width: 50%;

        &:nth-child(even) {
          margin-bottom: 0;
          margin-top: 30px
        }
      }

      @media($bp-small-min) and ($bp-large-max) {
        &:nth-child(4n):before,
        &:nth-child(4n+1):before {
          background-color: $c-theme-secondary-dark;
        }

        &:nth-child(4n+2):before,
        &:nth-child(4n+3):before {
          background-color: $c-theme-secondary;
        }
      }

      @media($bp-large-min) {
        width: calc(33.333% - 30px);
      }

      @media($bp-large-min) and ($bp-x-large-max) {
        &:nth-child(even) {
          margin-bottom: 30px;
          margin-top: 0;
        }

        &:nth-child(3n + 2) {
          margin-top: 30px;
          margin-bottom: 0;
        }
      }

      @media($bp-x-large-min) {
        width: calc(25% - 30px);
      }
    }
  }
}
