{% set level = staggeredTypeList.level ? : 2 %}

<section class="hl__staggered-type-list">
  <header class="hl__staggered-type-list__header">
    {% if staggeredTypeList.compHeading %}
      {% set compHeading = staggeredTypeList.compHeading|merge({"level": level}) %}
      {% include "@atoms/text/comp-heading.twig" with { "compHeading": compHeading } %}
      {% set level = level + 1 %}
    {% endif %}
    {% if staggeredTypeList.description %}
      <div class="hl__staggered-type-list__description">
        {% include "@molecules/text/rich-text.twig" with { "richText": staggeredTypeList.description } %}
      </div>
    {% endif %}
  </header>
  <div class="hl__staggered-type-list__list-wrapper">
    <div class="hl__staggered-type-list__list">
      {% for item in staggeredTypeList.items %}
        {% set typePromo = item|merge({"level":level}) %}
        {% include "@molecules/teasers/type-promo.twig" with { "typePromo": typePromo} %}
      {% endfor %}
    </div>
  </div>
</section>
