<section class="hl__summary-list">
  <div class="hl__summary-list__container">
    <div class="hl__summary-list__content">
      <div class="hl__summary-list__icon" aria-hidden="true">
        {% include "@atoms/svg-icons/svg-red-list.twig" %}
      </div>
      {% include "@atoms/text/comp-heading.twig" with {'compHeading': summaryList.compHeading } %}
      {% for item in summaryList.items %}
        {% include "@molecules/text/rich-text.twig" with {'richText': item } %}
      {% endfor %}
    </div>
  </div>
</section>
