.hl__summary-list {
  background: $c-bg-section url('../../assets/images/dots.png') repeat top left;

  .hl__columns & {
    display: flex;
      justify-content: flex-end;
  }

  &__container {
    position: relative;

    .hl__base-template__page-content--full & {
      @include hl-container;
    }

    .hl__columns & {
      display: flex;
      padding-left: 40px;

      @media ($bp-medium-max) {
        @include hl-container;
      }
    }
  }

  &__content {
    background-color: $c-bg-section;
    padding: 30px;
    position: relative;

    @media ($bp-small-min) {
      padding: 40px;
      padding-top: 50px;
    }

    @media ($bp-x-large-min) {
      padding: 50px;
      padding-left: 60px;
      padding-top: 50px;
    }

    .hl__comp-heading {
      margin-bottom: .75em;
    }

    .hl__columns & {

      @media ($bp-medium-min) {
        margin-left: auto;
        max-width: 670px;
      }
    }
  }

  &__icon {
    height: 30px;
    position: absolute;
      left: -10px;
      top: 32px;
    width: 30px;

    @media ($bp-small-min) {
      top: 55px;
    }

    @media ($bp-large-min) {
      height: 50px;
      left: -25px;
      top: 48px;
      width: 50px;
    }

    & > svg {
      height: 100%;
      width: 100%;
    }
  }

  .hl__rich-text {
    color: $c-theme-ink;
    font-family: $f-trueno;
    font-size: 17px;
  }

  .hl__rich-text + .hl__rich-text {
    border-top: 1px solid $c-bd-divider;
    margin-top: 20px;
    padding-top: 20px;
  }
}
