.hl__teaser-grid {

  .hl__full-template__post-content &,
  .hl__base-template__post-content & {
    background-color: $c-bg-subtle;
    margin-bottom: 0 !important;
    margin-top: 0;
    padding-bottom: 40px;
    padding-top: 40px;

    @media ($bp-small-min) {
      padding-bottom: 60px;
      padding-top: 60px;
    }
  }

  &__container {
    @include hl-container("wide");
  }

  .hl__full-template &__container {
    @include hl-container("full");
  }

  .hl__base-template__post-content &__container,
  .hl__full-template__post-content &__container {
    @include hl-container("wide");
  }

  &__see-all {
    margin-top: 20px;
    text-align: right;

    @media ($bp-small-min) {
      margin-top: 30px;
    }
  }

  &__grid {

    @media($bp-medium-min) {
      display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  &__title {
    .hl__comp-heading {
      margin-bottom: 0;
    }
  }

  .hl__teaser-link {
    border-top: 1px solid $c-bd-divider;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;

    &:first-child {
      border-top: none;
      margin-top: 40px;
      padding-top: 0;
    }

    &:last-child {
      margin-bottom: 40px;
      padding-bottom: 0;
    }

    // two up
    @media($bp-medium-min) {
      border-right: 1px solid $c-bd-divider;
      width: 50%;

      &:last-child {
        border-right: none;
      }

      &:nth-child(2) {
        border-top: none;
        margin-top: 40px;
        padding-top: 0;
      }

      &:nth-last-child(2):first-child {
        margin-bottom: 40px;
        padding-bottom: 0;
      }
    }

    // two up specific (nth-child)
    @media($bp-medium-min) and ($bp-x-large-max) {

      &:nth-child(even) {
        border-right: none;
      }

      &:nth-last-child(2):nth-child(odd) {
        margin-bottom: 40px;
        padding-bottom: 0;
      }
    }
  }

  &:not(&--double) .hl__teaser-link {
    
    // three up
    @media ($bp-x-large-min) {
      width: 33%;

      &:nth-child(3n) {
        border-right: none;
      }

      &:nth-child(3) {
        border-top: none;
        margin-top: 40px;
        padding-top: 0;
      }

      &:nth-child(3n + 1):nth-last-child(-n + 3),
      &:nth-child(3n + 1):nth-last-child(-n + 3) ~ .hl__teaser-link {
        margin-bottom: 40px;
        padding-bottom: 0;
      }
    }
  }

  &--double .hl__teaser-link {
    flex: none;

    @media ($bp-medium-min) {
      width: 50%;

      &:nth-child(even) {
        border-right: none;
      }

      &:nth-last-child(2):nth-child(odd) {
        margin-bottom: 40px;
        padding-bottom: 0;
      }
    }
  }

  // four up if in post-content
  .hl__base-template__post-content &:not(&--double) .hl__teaser-link,
  .hl__full-template__post-content &:not(&--double) .hl__teaser-link {
    @media($bp-x-large-min) {

      // overriding three up above
      &:nth-child(n) {
        border-right: 1px solid $c-bd-divider;
        margin-bottom: 0;
        padding-bottom: 40px;
        width: 25%;
      }

      &:nth-child(4n) {
        border-right: none;
      }

      &:nth-child(4) {
        border-top: none;
        margin-top: 40px;
        padding-top: 0;
      }

      &:nth-child(4n + 1):nth-last-child(-n + 4),
      &:nth-child(4n + 1):nth-last-child(-n + 4) ~ .hl__teaser-link {
        margin-bottom: 40px;
        padding-bottom: 0;
      }

      &:last-child {
        border-right: none;
      }
    }
  }

  &--no-dividers .hl__teaser-link {
    border-right: none;

    @media($bp-medium-min) {
      padding-left: 20px;
      padding-right: 20px;

      &:hover .hl__teaser-link__container {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}
