{% set dividerClass = teaserGrid.hideDividers ? "hl__teaser-grid--no-dividers" : "" %}
{% set level = teaserGrid.level ? : 2 %}

{% spaceless %}
  <section class="hl__teaser-grid {{ dividerClass }}">
    <div class="hl__teaser-grid__container">
      {% if teaserGrid.compHeading %}
        {% set compHeading = teaserGrid.compHeading|merge({"level": level}) %}
        <div class="hl__teaser-grid__title">
          {% include "@atoms/text/comp-heading.twig" with {"compHeading": compHeading } %}
          {% set level = level + 1 %}
        </div>
      {% endif %}
      <div class="hl__teaser-grid__grid">
        {% for teaserLink in teaserGrid.teaserLinks %}
          {% set teaserLink = teaserLink|merge({"level": level}) %}
          {% include "@molecules/teasers/teaser-link.twig" %}
        {% endfor %}
      </div>
      {% if teaserGrid.seeAll %}
        <div class="hl__teaser-grid__see-all">
          {% include "@atoms/text/link-tag.twig" with { "linkTag": teaserGrid.seeAll } %}
        </div>
      {% endif %}
    </div>
  </section>
{% endspaceless %}
