.hl__type-teaser-list {


  &__header {
    .hl__full-template__page-content & {
      @include hl-container("full");
    }

    .hl__base-template__page-content & {
      @include hl-container("medium");
    }
  }

  &__description {
    margin-bottom: 40px;

    @media($bp-large-min) {
      margin-bottom: 60px;
    }
  }

  &__list {
    display: flex;
      flex-wrap: wrap;

    .hl__full-template__page-content & {
      @include hl-container("full");

      @media($bp-small-min) {
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    .hl__base-template__page-content & {
      @include hl-container("medium");

      @media($bp-small-min) {
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    .hl__type-promo {
      flex: 1 0 205px;
      max-width: 50%;
      margin-top: 30px;
      padding: 0;
      margin: 0 15px 30px;
      width: 100%;
      height: 330px;
      transition: all 0.5s ease;

      @media($bp-small-max){
        max-width: 100%;
      }

      &:hover, &:focus {
        transform: translateY(-20px);
      }

      &__details {
        margin-top: 0;
        position: absolute;
          bottom: 20px;
      }

      &__title {
        margin-bottom: 0;
        padding: 0 20px;
      }


      @media($bp-small-max) {
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}
