.hl__dropdown-tray {
  @include hl-container("full");
  padding-top: 45px;
  padding-bottom: 45px;

  // reset from single input form styles
  .hl__single-input-form {
    background-image: none;
    padding: 0;
    text-align: left;
    width: auto;
  }
  .hl__single-input-form .hl__label--inline {
    @include hl-visually-hidden
  }
  .hl__single-input-form__form {
    display: block;
    margin: 0;
    padding: 0;
  }
  .hl__single-input-form__input-group {
    border-color: #1e1e1e;
  }
  .hl__quick-links__dropdown .hl__dropdown-tray .hl__single-input-form {
  	padding: 0;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 50px;

    @media ($bp-header-toggle-max) {
      padding: 0;
    }
  }

  .hl__comp-heading {
    margin-bottom: 0;
  }

  .hl__linked-list .hl__comp-heading {
    font-size: 20px;
    line-height: 30px;
  }

  &__heading--lora {
    font-family: $f-lora;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    letter-spacing: normal;
  }

  &__columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__columns--searchbox {
    // flex-basis: 400px;
    flex-grow: 1;
    flex-shrink: 0;
    margin-right: 30px;
  }

  &__columns--links .hl__button {
    border: 1px solid;
    margin-top: 1em;
  }

  // "Library.Harvard Chat Widget" embedded from ask.library.harvard.edu
  #hl__chat-button .hl__chat-button {
    button {
    	margin-top: 1em;
    }
  }

}
