{% set level = dropdownTray.level ? dropdownTray.level : 2 %}

<section class="hl__dropdown-tray">
  <div class="hl__dropdown-tray__container">
    <div class="hl__dropdown-tray__columns hl__dropdown-tray__columns--searchbox">
      <h{{level}} class="hl__comp-heading">
        {% if dropdownTray.compHeading.trueno %}{{ dropdownTray.compHeading.trueno }}{% endif %}
        {% if dropdownTray.compHeading.lora %}<span class="hl__dropdown-tray__heading--lora">{{ dropdownTray.compHeading.lora }}</span>{% endif %}
      </h{{level}}>
      {% if dropdownTray.compHeading %}
        {% include "@atoms/text/comp-heading.twig" with {"compHeading": dropdownTray.compHeading } %}
      {% endif %}

      <!-- searchbox -->
      {% include "@molecules/forms/single-input-form.twig" with { "singleInputForm": dropdownTray.singleInputForm } %}
    </div>
    <div class="hl__dropdown-tray__columns hl__dropdown-tray__columns--links">
      <!-- related links -->
      {% include "@organisms/lists/linked-list.twig" with { "linkedList": dropdownTray.linkedList } %}

      <!-- "Library.Harvard Chat Widget" embedded from ask.library.harvard.edu -->
      {% include "@atoms/buttons/chat-button.twig" with { "chatButton": dropdownTray.chatButton } %}
    </div>
  </div>
</section>
