.hl__featured-libraries {
  @include hl-container("full");

  .hl__full-template__page-content > & {
    margin-top: -90px;
    position: relative;
    z-index: 1;
  }

  &__container {
    background: linear-gradient(180deg, $c-white 0, $c-white 92px, transparent 92px);
    font-family: $f-trueno;
    overflow: hidden;
  }

  &__today {
    font-size: 0;
    margin-bottom: 35px;
    text-align: center;

    .hl__highlighted-text {
      font-size: 20px;
    }
  }

  &__items {
    display: flex;
    list-style: none;
    padding: 0;

    @media ($bp-x-large-max) {
      flex-wrap: wrap;
    }

    @media($bp-small-min) {
      // margin: 0 -40px;
    }

    @media($bp-x-large-min) {
      margin: 0;
    }
  }

  &__item {
    width: 100%;

    @media($bp-x-large-max) {
      &:nth-child(n+2)::before {
        border-top: 1px solid $c-bd-divider;
        content: "";
        display: block;
        margin-top: 20px;
        padding-top: 20px;
        width: 100%;
      }
    }

    @media ($bp-header-toggle-min) {
      border-left: 1px solid $c-bd-divider;
      padding: 0 50px;
      width: 50%;

      &:first-child {
        border: 0;
      }

      &:nth-child(2)::before {
        display: none;
      }
    }

    @media($bp-small-min) and ($bp-x-large-max) {
      &:nth-child(3) {
        border: 0;
      }
    }

    @media($bp-x-large-min) {
      padding: 0 50px;
      width: 25%;

      &--more {
        flex-basis: auto;
        flex-grow: 1;
        flex-shrink: 0;
        width: 350px;
      }
    }
  }

  &__name, &__all {
    color: $c-font-dark;
    font-size: 19px;
    line-height: 1.6;
    margin-bottom: 10px;

    a {
      color: inherit;
      font-size: 19px;
      font-weight: bold;
      line-height: 1.6;
      margin-bottom: 10px;

      &:hover, &:focus {
        border-color: rgba(30, 30, 30, 0.5);
      }
    }
  }

  &__all {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.5px;
  }

  &__hours {
    padding-left: 25px;
    position: relative;
  }

  &__icon {
    display: block;
    height: 20px;
    position: absolute;
      left: 0;
      top: -3px;
    width: 20px;
    z-index: 1;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  &__status {
    color: $c-font-dark;
    display: block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.4;
    text-transform: uppercase;
  }

  &__time {
    color: $c-font-subtle;
    display: block;
    font-size: 15px;
    line-height: 1.6;
  }

  &__see-more {
    // padding-top: 15px;
    margin: 0 -10px;

    @media($bp-header-toggle-max) {
      margin: 0;
    }
  }

  &__more-icon {
    display: inline-block;
    height: 50px;
    vertical-align: middle;
    width: 50px;

    svg {
      height: 50px;
      width: 50px;

      path {
        fill: $c-font-subtle;
      }
    }
  }

  &__more-link {
    display: inline-block;
    padding-top: 5px;
    vertical-align: middle;

    .hl__link-tag {
      display: inline-block;
      line-height: 1.4;
    }
  }
}
