<section class="hl__featured-libraries">
  <div class="hl__featured-libraries__container">
    <div class="hl__featured-libraries__today">
      <h2>{% include "@atoms/text/highlighted-text.twig" with { "highlightedText": featuredLibraries.today } %}</h2>
    </div>
    {% if featuredLibraries.items %}
    <ul class="hl__featured-libraries__items">
      {% for library in featuredLibraries.items %}
        <li class="hl__featured-libraries__item">
          <h3 class="hl__featured-libraries__name"><a class="hl__link-tag" href="{{ library.href }}"><span>{{ library.name }}</span></a></h3>
          <div class="hl__featured-libraries__hours">
            <span class="hl__featured-libraries__icon">
              {% include "@atoms/svg-icons/svg-clock.twig" %}
            </span>
            <span class="hl__featured-libraries__status">{{ library.status }}</span>
            <span class="hl__featured-libraries__time">{{ library.time }}</span>
          </div>
        </li>
      {% endfor %}
        {% if featuredLibraries.more %}
        <li class="hl__featured-libraries__item hl__featured-libraries__item--more">
          <h3 class="hl__featured-libraries__all"><span>{{ featuredLibraries.allLocations }}</span></h3>
          <div class="hl__featured-libraries__see-more">
            <span class="hl__featured-libraries__more-icon">
              {% include "@atoms/svg-icons/svg-clock.twig" %}
            </span>
            <span class="hl__featured-libraries__more-link">
              {% include "@atoms/text/link-tag.twig" with {"linkTag": featuredLibraries.more } %}
            </span>
          </div>
        </li>
        {% endif %}
    </ul>
    {% endif %}
  </div>
</section>
