.hl__home-heading-child {
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  z-index: 1;

  &::before {
    background-image: linear-gradient(180deg, rgba(64, 64, 64, 0.4) 0%, rgba(30, 30, 30, 0.8) 100%);
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
  }

  &__header {
    padding: 106px 0 35px 0;
    z-index: 2;
    position: relative;
  }

  &__title {
    @include hl-container("full");
    color: $c-font-inverse;
    display: block;
    font-weight: normal;
    line-height: normal;
  }

  &__title-small {
    display: inline-block;
    // font-size: 32px;
    font-size: 42px;
    font-style: italic;
    line-height: 52px;
    margin-right: 0.25em;

    @media ($bp-small-min) {
      // font-size: 42px;
      font-size: 48px;
    }

    @media ($bp-medium-min) {
      // font-size: 48px;
      font-size: 52px;
    }

    @media ($bp-large-min) {
      // font-size: 52px;
      font-size: 64px;
    }
  }

  &__title-large {
    display: inline-block;
    font-family: $f-trueno;
    // font-size: 22px;
    font-size: 32px;
    // font-weight: 600;
    font-weight:700;
    letter-spacing: 3.05px;
    line-height: 1.25;
    text-transform: uppercase;

    @media ($bp-x-small-min) {
      font-size: 32px;
    }

    @media ($bp-small-min) {
      font-size: 48px;
    }

    @media ($bp-medium-min) {
      font-size: 52px;
    }

    @media ($bp-large-min) {
      // font-size: 64px;
      font-size: 52px;
    }
  }

  &__content {
    @include hl-container("full");
    // min-height: 500px;
    padding-bottom:156px;
    position: relative;
    z-index: 1;

    &--left {
      width:55%;
    }

    @media ($bp-medium-max) {
      padding-bottom:65px;
    }
  }

  &__search-input {
    @include hl-container("full");
    margin:0;
    padding:0;
    max-width: 690px;
    position: relative;
    z-index: 2;

    @media ($bp-medium-max) {
      width:100%;
    }

    .hl__single-input-form {
      padding: 0;
    }

    .hl__single-input-form__form {
      max-width: 100%;
      padding: 0;
    }

    .hl__single-input-form__input-group {
      background-color: $c-white;
      height: 60px;
      margin: 0;
      max-width: 100%;
    }

    .hl__input {
      @media ($bp-x-small-min) {
        background-image: url("../../assets/images/svg-icons/magnifying-glass.svg");
        background-position: left 18px center;
        background-repeat: no-repeat;
        background-size: 30px 30px;
        padding-left: 65px;
        transition: background 0.5s ease, padding 0.5s ease;
      }

      @media ($bp-small-min) {
        font-size: 18px;
      }

      &:focus {
        background-position: left -35px center;
        padding-left: 10px;
      }
    }

    .hl__button {
      padding: 0 20px;
    }
  }

  &__helper-text {
    position: relative;
    z-index: 2;

    .hl__rich-text {
      color: $c-font-inverse;
      font-family: $f-trueno;

      a:not(.hl__button):not(.hl__link-tag) {
        border-bottom: 1px solid currentColor;
        color: $c-font-inverse;
      }
    }
  }

  &__photo-credit {
    color: $c-font-base;
    font-family: $f-trueno;
    max-width: 100%;
    padding-left: 25px;
    position: absolute;
      bottom: 0px;
      right: 10px;
    z-index: 3;
    border: 10px transparent solid;

    &--light {
      background-color: rgba($c-theme-base, 0.7);
      color: $c-font-inverse;
    }

    &--left {
      left:20px;
      right:auto;
    }
  }

  &__source-icon {
    color: inherit;
    height: 20px;
    padding-right: 5px;
    position: absolute;
      left: 0;
      top: -2px;
    width: 22px;

    svg {
      height: 100%;
      width: 100%;

      path {
        fill: currentColor;
      }
    }
  }

  &__source {
    color: inherit;
    display: block;
    font-size: 13px;
    line-height: 18px;
    text-decoration: underline;
  }

  &__library {
    color: inherit;
    display: block;
    font-size: 11px;
  }

  &__callout {
    position: absolute;
      right: 20px;
      bottom: 0;
    width:40%;
    max-width: 550px;
    padding: 40px;
    background-color: rgba($c-white, 0.85);
    color: $c-font-base;

    .hl__comp-heading {
      font-size:26px;
    }

    .hl__rich-text > * {
      margin-bottom:1em;
    }

    @media ($bp-medium-max) {
      position:static;
      margin-top:30px;
      width:100%;
      max-width:690px;
    }
  }

  &__no-background {
    .hl__home-heading-child__title,
    .hl__home-heading-child__helper-text .hl__rich-text {
      color: $c-font-base;

      a:not(.hl__button):not(.hl__link-tag) {
        color: $c-font-link;
      }
    }

    &::before {
      background-image:none;
    }

  }
}
