{% set creditClass = homeHeadingChild.source.theme ? "hl__home-heading-child__photo-credit--" ~ homeHeadingChild.source.theme : "" %}

{% set creditPosition = homeHeadingChild.callout ? "hl__home-heading-child__photo-credit--left" : "" %}

{% set textColor = homeHeadingChild.bgNarrow ? "" : "hl__home-heading-child__no-background" %}

{% set contentWidth = homeHeadingChild.callout ? "hl__home-heading-child__content--left" : "" %}

<section class="hl__home-heading-child {{ textColor }}">
  {% if homeHeadingChild.bgNarrow and homeHeadingChild.bgWide %}
    <style>
      .hl__home-heading-child {
        background-image: url('{{ homeHeadingChild.bgNarrow }}');
      }

      @media (min-width: 800px) {
        .hl__home-heading-child {
          background-image: url('{{ homeHeadingChild.bgWide }}');
        }
      }

    </style>
  {% endif %}
  <div class="hl__home-heading-child__header">
    <h1 class="hl__home-heading-child__title">
      <div class="hl__home-heading-child__title--line-1">
        {% if homeHeadingChild.titleSmall %}
          <span class="hl__home-heading-child__title-small">{{ homeHeadingChild.titleSmall }}</span>
        {% endif %}
        {% if homeHeadingChild.titleLarge %}
          <span class="hl__home-heading-child__title-large">{{ homeHeadingChild.titleLarge }}</span>
        {% endif %}
      </div>
      {% if homeHeadingChild.titleSmall2 or homeHeadingChild.titleLarge2 %}
        <div class="hl__home-heading-child__title--line-2">
          {% if homeHeadingChild.titleSmall2 %}
            <span class="hl__home-heading-child__title-small">{{ homeHeadingChild.titleSmall2 }}</span>
          {% endif %}
          {% if homeHeadingChild.titleLarge2 %}
            <span class="hl__home-heading-child__title-large">{{ homeHeadingChild.titleLarge2 }}</span>
          {% endif %}
        </div>
      {% endif %}
    </h1>
  </div>
  <div class="hl__home-heading-child__content">

    {% if homeHeadingChild.singleInputForm %}
      <div class="hl__home-heading-child__search-input {{ contentWidth }}">
        {% include "@molecules/forms/single-input-form.twig" with { "singleInputForm": homeHeadingChild.singleInputForm } %}
      </div>

      {% if homeHeadingChild.helperText %}
        <div class="hl__home-heading-child__helper-text {{ contentWidth }}">
          {% include "@molecules/text/rich-text.twig" with { "richText": homeHeadingChild.helperText } %}
        </div>
      {% endif %}
    {% endif %}

    {% if homeHeadingChild.bgNarrow and homeHeadingChild.callout %}
      <div class="hl__home-heading-child__callout">
        {% include "@molecules/text/rich-text.twig" with { "richText": homeHeadingChild.callout } %}
      </div>
    {% endif %}

    {% if homeHeadingChild.bgNarrow and homeHeadingChild.source %}
      <div class="hl__home-heading-child__photo-credit {{ creditClass }} {{ creditPosition }}">
        <div class="hl__home-heading-child__source-icon">
          {% include homeHeadingChild.source.icon %}
        </div>
        <a class="hl__home-heading-child__source" href="{{ homeHeadingChild.source.href }}">{{ homeHeadingChild.source.text }}</a>
        {% if homeHeadingChild.library %}
          <a class="hl__home-heading-child__library" href="{{ homeHeadingChild.library.href }}">{{ homeHeadingChild.library.text }}</a>
        {% endif %}
      </div>
    {% endif %}
  </div>
  {# adding background image to page content area #}
  <style>
    .hl__full-template__main-content {
      background: transparent url("../../assets/images/hp-background.svg") center top no-repeat;
    }
  </style>
</section>
