.hl__home-heading {
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  z-index: 1;

  &__header {
    background-image: linear-gradient(-45deg, rgba(235, 0, 27, 0.9) 0%, rgba(165, 28, 48, 0.9) 100%);
    padding: 60px 0;
  }

  &__title {
    @include hl-container("full");
    color: $c-font-inverse;
    display: block;
    text-align: center;
    line-height: 29px;
    font-weight: normal;
  }

  &__title-small {
    display: inline-block;
    font-size: 32px;
    font-style: italic;
    line-height: 52px;
    margin-right: 0.25em;

    @media ($bp-small-min) {
      font-size: 42px;
    }

    @media ($bp-medium-min) {
      font-size: 48px;
    }

    @media ($bp-large-min) {
      font-size: 52px;
    }
  }

  &__title-large {
    display: inline-block;
    font-family: $f-trueno;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 3.05px;
    line-height: 1.25;
    text-transform: uppercase;

    @media ($bp-x-small-min) {
      font-size: 32px;
    }

    @media ($bp-small-min) {
      font-size: 48px;
    }

    @media ($bp-medium-min) {
      font-size: 52px;
    }

    @media ($bp-large-min) {
      font-size: 64px;
    }
  }

  &__content {
    @include hl-container("full");
    min-height: 500px;
    position: relative;
    z-index: 1;

    &::before {
      background-image: linear-gradient(180deg, rgba($c-black, 0.5), transparent);
      content: "";
      height: 33%;
      min-height: 170px;
      position: absolute;
        left: 50%;
        top: 0;
      transform: translateX(-50%);
      width: 100vw;
      z-index: 1;
    }
  }

  &__search-input {
    @include hl-container("full");
    margin: 0 auto;
    max-width: 760px;
    position: relative;
    z-index: 2;
    top:-30px;

    .hl__single-input-form {
      padding: 0;
    }

    .hl__single-input-form__form {
      max-width: 100%;
      padding: 0;
    }

    .hl__single-input-form__input-group {
      background-color: $c-white;
      border: none;
      height: 60px;
      margin: 0;
      max-width: 100%;
    }

    .hl__input {
      @media ($bp-small-min) {
        font-size: 18px;
      }
    }

    .hl__button {
      padding: 13px 20px 12px;
      height: 45px;
      margin: 7.5px;
      margin-left: 0;
      white-space: nowrap;

      &__icon--right {
        display: none;
        top: 0.23em;
      }

      @media ($bp-x-small-max) {
        padding-left: 12px;
        padding-right: 12px;

        &__icon--right {
          display: inline-block;
          margin-right: 0;

          svg {
            fill: $c-white;
          }
        }
      }
    }
  }

  &__helper-text {
    padding-bottom: 100px;
    position: relative;
    z-index:1;

    .hl__rich-text {
      @include hl-container;
      color: $c-font-inverse;
      font-family: $f-trueno;
      text-align: center;

      a:not(.hl__button):not(.hl__link-tag) {
        border-bottom: 1px solid currentColor;
        color: $c-font-inverse;
      }
    }
  }

  &__photo-credit {
    color: $c-font-base;
    font-family: $f-trueno;
    max-width: 100%;
    padding-left: 25px;
    position: absolute;
      bottom: 90px;
      right: 20px;
    z-index: 3;

    &--light {
      background-color: rgba($c-theme-base, 0.7);
      color: $c-font-inverse;
      border: 10px transparent solid;
    }
  }

  &__source-icon {
    color: inherit;
    height: 20px;
    padding-right: 5px;
    position: absolute;
      left: 0;
      top: -2px;
    width: 22px;

    svg {
      height: 100%;
      width: 100%;

      path {
        fill: currentColor;
      }
    }
  }

  &__source {
    color: inherit;
    display: block;
    font-size: 13px;
    line-height: 18px;
    text-decoration: underline;
  }

  &__library {
    color: inherit;
    display: block;
    font-size: 11px;
  }
}
