{% set creditClass = homeHeading.source.theme ? "hl__home-heading__photo-credit--" ~ homeHeading.source.theme : "" %}

<section class="hl__home-heading">
  {% if homeHeading.bgNarrow and homeHeading.bgWide %}
    <style>
      .hl__home-heading {
        background-image: url('{{ homeHeading.bgNarrow }}');
      }

      @media (min-width: 800px) {
        .hl__home-heading {
          background-image: url('{{ homeHeading.bgWide }}');
        }
      }

    </style>
  {% endif %}
  <div class="hl__home-heading__header">
    <h1 class="hl__home-heading__title">
      {% if homeHeading.titleSmall %}
        <span class="hl__home-heading__title-small">{{ homeHeading.titleSmall }}</span>
      {% endif %}
      {% if homeHeading.titleLarge %}
        <span class="hl__home-heading__title-large">{{ homeHeading.titleLarge }}</span>
      {% endif %}
    </h1>
  </div>
  <div class="hl__home-heading__content">
    <div class="hl__home-heading__search-input">
      {% include "@molecules/forms/single-input-form.twig" with { "singleInputForm": homeHeading.singleInputForm } %}
    </div>
    <div class="hl__home-heading__helper-text">
      {% include "@molecules/text/rich-text.twig" with { "richText": homeHeading.helperText } %}
    </div>
    <div class="hl__home-heading__photo-credit {{ creditClass }}">
      <div class="hl__home-heading__source-icon">
        {% include homeHeading.source.icon %}
      </div>
      <a class="hl__home-heading__source" href="{{ homeHeading.source.href }}">{{ homeHeading.source.text }}</a>
      {% if homeHeading.library %}
        <a class="hl__home-heading__library" href="{{ homeHeading.library.href }}">{{ homeHeading.library.text }}</a>
      {% endif %}
    </div>
  </div>
  {# adding background image to page content area #}
  <style>
    .hl__full-template__main-content {
      background: transparent url("../../assets/images/hp-background.svg") center top no-repeat;
    }
  </style>
</section>
