<section class="hl__library-hours">
    <div class="hl__library-hours__icon">
      {% include libraryHours.hoursToday.icon %}
    </div>
    <div class="hl__library-hours__today">
      {{ libraryHours.hoursToday.text }}
    </div>
    <div class="hl__library-hours__see-all">
      {% include "@atoms/text/link-tag.twig" with { "linkTag": libraryHours.seeAll } %}
    </div>
</section>
