.hl__library-hours {
  background: $c-theme-quaternary;
  color: $c-font-dark;
  font-family: $f-trueno;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.2px;
  line-height: 1.5;
  text-transform: uppercase;
  padding: 0 15px 0 0;
  margin-right: auto;
  margin-left: auto;
  display: inline-flex;
  align-items: center;
  text-align: left;

  @media ($bp-x-small-min) {
    font-size: 20px;
    letter-spacing: 1.5px;
    padding: 0 20px;
  }

  &__icon {
    height: 31px;
    width: 31px;
    display: block;

    @media($bp-x-small-max) {
      display: none;
    }

    svg {
      path {
        fill: rgba($c-font-dark, 1);
      }
    }
  }

  &__today {
    padding: 15px;

    @media ($bp-x-small-min) {
      padding: 10px 20px;
    }
  }

  &__see-all {
    margin-top: -3px;
    white-space: nowrap;

    @media($bp-x-small-min) {
    }

    a {
      color: $c-font-dark;

      &:hover {
        border-color: rgba($c-font-dark, 0.5);
      }

      @media($bp-x-small-max) {
        font-size: 12px;
      }
    }
  }
}
