<section class="hl__search-heading">
  <div class="hl__search-heading__background">
    <div class="hl__search-heading__container">
      {% spaceless %}
        <h1 class="hl__search-heading__title">
          {% if searchHeading.titleLarge %}
            <span class="hl__search-heading__title-large">{{ searchHeading.titleLarge }}</span>
          {% endif %}
          {% if searchHeading.titleSmall %}
            <span class="hl__search-heading__title-small">{{ searchHeading.titleSmall }}</span>
          {% endif %}
        </h1> 
      {% endspaceless %}
      <div class="hl__search-heading__search-input">
        {% include "@molecules/forms/single-input-form.twig" with { "singleInputForm": searchHeading.singleInputForm } %}
      </div>
    </div>
  </div>
</section>
