.hl__search-heading {
  padding-bottom: 30px;

  &__background {
    background-image: linear-gradient(-44deg, #404040 0%, #1e1e1e 100%);
  }

  &__container {
    @include hl-container("full");
    padding-top: 40px;
  }

  &__title {
    color: $c-font-inverse;
    display: block;
    margin-bottom: -10px;
  }

  &__title-small {
    display: inline-block;
    font-size: 32px;
    font-style: italic;
    font-weight: 400;
    line-height: 52px;

    @media ($bp-small-min) {
      font-size: 40px;
    }
  }

  &__title-large {
    display: inline-block;
    font-family: $f-trueno;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 3.05px;
    line-height: 1.25;
    margin-right: 0.25em;
    text-transform: uppercase;

    @media ($bp-x-small-min) {
      font-size: 32px;
    }

    @media ($bp-small-min) {
      font-size: 46px;
    }
  }

  &__search-input {
    position: relative;
    transform: translateY(50%);
    z-index: 2;

    .hl__single-input-form {
      max-width: 690px;
      padding: 0;
    }

    .hl__single-input-form__form {
      max-width: 100%;
      padding: 0;
    }

    .hl__single-input-form__input-group {
      background-color: $c-white;
      height: 60px;
      margin: 0;
      max-width: 100%;
    }

    .hl__input {
      @media ($bp-x-small-min) {
        background-image: url("../../assets/images/svg-icons/magnifying-glass.svg");
        background-position: left 18px center;
        background-repeat: no-repeat;
        background-size: 30px 30px;
        padding-left: 65px;
        transition: background 0.5s ease, padding 0.5s ease;
      }

      @media ($bp-small-min) {
        font-size: 18px;
      }

      &:focus {
        background-position: left -35px center;
        padding-left: 10px;
      }
    }

    .hl__button {
      padding: 0 20px;
    }
  }
}
