.hl__spaces-detail {
  height: calc(100% - 45px);
  overflow: auto;
  padding: 0 20px 20px;

  @media($bp-small-min) {
    height: calc(100% - 70px);
    padding: 0 50px 50px;
  }

  &__images {
    margin-bottom: 30px;
  }

  &__title {
    color: $c-font-dark;
    font-family: $f-trueno;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.23;
    margin: 0;
  }

  &__sub-title {
    color: $c-font-subtle;
    font-family: $f-trueno;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
    margin-top: 5px;
    text-transform: uppercase;
  }

  &__section-title {
    color: $c-font-dark;
    font-family: $f-trueno;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2.14px;
    line-height: 1.5;
    margin-bottom: 10px;
    margin-top: 30px;
    text-transform: uppercase;
  }

  &__description,
  &__additional-info {
    font-family: Lora;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.73;
    margin-top: 15px;
  }

  &__noise-wrapper {
    display: flex;
      align-items: center;
    font-family: $f-trueno;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.67;
    padding-bottom: 10px;
  }

  &__noise-icon {
    height: 33px;
    margin-right: 10px;
    width: 33px;

    & > svg {
      fill: $c-font-base;
      height: 100%;
      width: 100%;
    }
  }

  &__booking {
    padding-bottom: 10px;

    .hl__link-tag {
      font-size: 15px;
      font-weight: 400;
      padding-left: 5px;
    }
  }

  &__booking-icon {
     
    & > svg {
      fill: $c-bg-light;  
    }
  }

  &__library {
    background-image: linear-gradient(90deg, $c-bd-subtle 40%, rgba(255, 255, 255, 0) 20%), linear-gradient(90deg, $c-bd-subtle 40%, rgba(255, 255, 255, 0) 20%);
    background-position: top;
    background-repeat: repeat-x;
    background-size: 4px 1px;
    margin-top: 40px;
    padding-top: 40px;
  }
}
