<section class="hl__staff-card">
  <h2 class="hl__staff-card__name">
    {% include "@atoms/text/link-tag.twig" with { "linkTag": staffCard.name } %}
  </h2>


  <div class="hl__staff-card__email">
    {% if staffCard.email %}
      {% include "@atoms/text/link-tag.twig" with { "linkTag": staffCard.email } %}
    {% endif %}
  </div>

  <div class="hl__staff-card__job-title">
  {% if staffCard.jobTitle %}
    {{ staffCard.jobTitle }}
  {% endif %}
  </div>

  <div class="hl__staff-card__image">
  {% if staffCard.image and staffCard.image.src %}
    <img src="{{ staffCard.image.src }}" />
  {% endif %}
  </div>
</section>
