.hl__staff-card {
  overflow: hidden;
  padding: 10px;
  transition:all 0.5s ease;

  &:hover, &:focus {
    box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.32);
    z-index:1;
  }

  &__name, &__email, &__job-title, &__image {
    display:inline-block;
    vertical-align:middle;
    line-height:1em;
    padding-left:20px;
    margin:0;

    @media($bp-x-small-max){
      display:block;
      padding-left:0;
      margin-bottom:2px;
    }
  }

  &__name {
    width:calc(25% - 20px);

    @media($bp-medium-max){
      width:48%;
      white-space:nowrap;
    }

    @media($bp-x-small-max){
      width:100%;
    }

    a {
      @include hl-h3;
      display: inline-block;
      letter-spacing: 0;
      margin-bottom: 0;
      text-decoration: none;
      text-transform: none;

      &:hover {
        border-color: rgba($c-font-dark, 0.5);
      }
    }
  }

  &__email {
    width:calc(28% - 20px);

    @media($bp-x-large-max){
      width:calc(33% - 20px);
    }

    @media($bp-large-max){
      width:40%;
    }

    @media($bp-medium-max){
      width:52%;
      white-space:nowrap;
    }

    @media($bp-x-small-max){
      width:100%;
      line-height:1.5;
    }

    a {
      font-size:13px;
    }
  }

  &__job-title {
    width:calc(41% - 20px);
    font-size: 16px;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 3px;
    margin-top: 3px;

    @media($bp-x-large-max){
      width:calc(36% - 20px);
    }

    @media($bp-large-max){
      width:36%;
    }

    @media($bp-medium-max){
      width:100%;
      white-space:inherit;
      line-height:26px;
      padding-top:7px;
    }


  }

  &__image {
    margin-right:0;
    height:90px;

    @media($bp-large-max){
      display:none;
    }

    img {
      border-radius: 50%;
      height: 90px;
    }
  }
}
