.hl__user-banner {
  position: relative;

  &:before {
    background-image: linear-gradient(-46deg, $c-theme-primary 0%, $c-theme-tertiary 100%);
    content: "";
    height: 55px;
    position: absolute;
      top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;

    @media($bp-small-min) {
      height: 110px;
    }
  }

  &__container {
    @include hl-container("full");
    position: relative;
  }

  &__image {
    font-size: 0;
    height: 105px;
    position: relative;
    width: 105px;
    z-index: 2;

    @media($bp-small-min) {
      height: 210px;
      width: 210px;
    }

    img {
      border-radius: 50%;
    }
  } 
}
