<div class="hl__user-banner">
  <div class="hl__user-banner__container">
    <div class="hl__user-banner__image">
      {% include "@atoms/media/image.twig" with {"image": userBanner.image } %}
    </div>
  </div>
</div>
