<nav class="hl__footer-nav" aria-label="{{footerNav.label}}">
  <ul class="hl__footer-nav__items">
    {% for item in footerNav.items %}
      <li class="hl__footer-nav__item">
        {% include "@atoms/text/link-tag.twig" with {"linkTag": item.link} %}
      </li>
    {% endfor %}
  </ul>
</nav>
