.hl__jump-links {
  background-color: $c-gray-dfdfdf;
  position: relative;
  z-index: $z-sticky-content;

  // toggle mobile behavior
  &::before {
    content: "false";
    display: none;

    @media ($bp-medium-max) {
      content: "true";
    }
  }

  &[data-sticky='sticky'] {
    margin: 0;
    position: fixed;
      left: 0;
      top: 0;
    width: 100%;

    @supports(position: sticky) {
      top: 53px; // height of the header
    }
  }


  &--primary {
    background-image: linear-gradient(-46deg, $c-theme-primary 0%, $c-theme-tertiary 100%);
  }

  // &--secondary {
  //   background-image: linear-gradient(-45deg, $c-theme-secondary 0%, $c-theme-secondary-dark 100%);
  // }

  &--secondary {
    background: $c-gray-dfdfdf;
  }

  &--white {
    background: $c-white;
  }

  &__wrapper {

  }

  &__header {
    display: none;
  }

  &__header-container {
    @include hl-container("full");
    display: flex;
      justify-content: center;
    padding: 20px 0;

    .hl__eyebrow__text {
      color: $c-font-inverse;
      margin-right: 10px;
    }
  }

  &__title {
    color: $c-font-inverse;
    font-family: $f-trueno;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.68;
  }

  &__navigation {
    padding: 10px 0;

    @media ($bp-small-min) {
      padding: 20px 0;
    }
  }

  &__items {
    @include hl-container("full");
    display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }

  &__link {
    flex: none;
    padding: 5px 20px;

    @media ($bp-medium-max) {
      text-align: center;
      width: 100%;
    }

    @media ($bp-large-min) {
      padding: 5px 25px;
    }

    @media ($bp-x-large-min) {
      padding: 5px 30px;
    }

    a {
      color: $c-font-dark;
      font-size: 14px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    &.is-active a,
    & a:focus,
    & a:hover {
      border-color: rgba($c-font-dark, 0.5);
    }
  }

  &--primary &__link {

    a {
      color: $c-font-inverse;
    }

    &.is-active a,
    & a:focus,
    & a:hover {
      border-color: rgba($c-font-inverse, 0.8);
    }
  }

  &:not(.is-ready) &__link {
    @media ($bp-medium-max) {
      display: none;

      &:first-child {
        display: block;
      }
    }
  }

  &.is-ready &__link {
    @media ($bp-medium-max) {
      display: none;

      &.is-active {
        display: block;
      }
    }
  }

  &.is-open &__link {
    @media ($bp-medium-max) {
      display: block;
    }
  }

  &:not(.is-open) &__link a {
    @media ($bp-medium-max) {
      border-color: transparent;

      & > span {
        padding-right: 15px;
      }

      &::after {
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 7px solid currentColor;
        content: "";
        display: inline-block;
        font-size: 0;
        height: 0;
        line-height: 1;
        margin-left: -10px;
        opacity: 0.6;
        transform: translateY(-2px);
        width: 0;
      }
    }
  }

  &__header + &__navigation {
    background-color: rgba($c-white, 0.8);

    a {
      color: $c-font-dark;
      font-size: 14px;
      letter-spacing: 2px;
      text-transform: uppercase;

      &.is-active,
      &:hover {
        border-color: $c-font-inverse;
      }
    }
  }

  &[data-sticky='sticky'] &__navigation {
    padding: 6px 0 8px;

    @media ($bp-medium-min) {
      padding: 10px 0 14px;
    }
  }
}
