{% set cssTheme = jumpLinks.theme ? "hl__jump-links--" ~ jumpLinks.theme : "" %}

<div class="hl__jump-links js-jump-links {{ cssTheme }}">
  {% if jumpLinks.title %}
    <div class="hl__jump-links__header">
      <div class="hl__jump-links__header-container">
        {% if jumpLinks.eyebrow %}
          {% include "@atoms/text/eyebrow.twig" with { "eyebrow": jumpLinks.eyebrow} %}
        {% endif %}
        <div class="hl__jump-links__title">{{ jumpLinks.title }}</div>
      </div>
    </div>
  {% endif %}
  <div class="hl__jump-links__navigation">
    <nav class="hl__jump-links__items" aria-label="in-page">
      {% for linkTag in jumpLinks.links %}
        <div class="hl__jump-links__link js-jump-links-link">
          {% include "@atoms/text/link-tag.twig" with {"linkTag": linkTag} %}
        </div>
      {% endfor %}
    </nav>
  </div>
</div>
