$hl-main-nav-logo-width: 396px;

.js-main-nav {

  &:before {
    content: "narrow";
    display: none;

    @media ($bp-header-toggle-min) {
      content: "wide";
    }
  }
}

.hl__main-nav {

  @media ($bp-header-toggle-max) {
    height: 53px;
  }

  .is-sticky & {
    height: 53px;
  }

  .hl__hamburger-button {
    line-height: 53px;
    text-align: right;

    @media ($bp-header-toggle-min) {
      display: none;
    }
  }

  &__wrapper {

    @media ($bp-header-toggle-max) {
      height: 100vh;
      overflow: hidden;
      // overflow-y: auto;
      position: absolute;
        right: 0;
        top: 0;
      transition: width 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      width: 0;
      z-index: $z-dropdown - 1;
    }

    .hl__hamburger-button.is-open + & {
      width: 300px;
    }
  }


  &__container {

    @media ($bp-header-toggle-max) {
      background-color: $c-white;
      box-shadow: -5px 5px 5px rgba($c-black, 0.1);
      max-height: calc(100% - 53px);
      position: relative;
        top: 53px;
      width: 300px;
    }

    @media ($bp-header-toggle-min) {
      display: flex;
        // align-items: center;
      width: 100%;
    }
  }

  &__menu {
    display: flex;
    flex: auto;
    justify-content: flex-start;

    @media ($bp-header-toggle-max) {
      flex-wrap: wrap;
    }
  }

  &__menu-item {

    @media ($bp-header-toggle-max) {
      overflow: hidden;
      width: 100%;
    }

    @media ($bp-header-toggle-min) {
      flex: none;
      height: 100%;
      position: relative;
    }
  }

  &__top-link {
    @include hl-button-reset;
    color: $c-font-dark;
    cursor: pointer;
    display: block;
    font-family: $f-trueno;
    font-size: 18px;
    font-weight: 400;
    height: 90px;
    padding: 0 0.9em 0 8px;
    text-align: left;
    transition: background 0.5s ease;

    @media ($bp-header-toggle-max) {
      height: 60px;
      padding: 15px 22px;
      width: 100%;
    }

    @media($bp-page-width-min) {
      padding: 0 30px 0 22px;
    }

    .is-sticky & {
      height: 53px;

      @media ($bp-header-toggle-min) {
        font-size: 14px;
      }
    }

    &::after {
      border-bottom: 1px solid currentColor;
      border-right: 1px solid currentColor;
      content: "";
      display: inline-block;
      height: 0.3em;
      margin-left: 0.3em;
      margin-right: -0.36em;
      transform: translateY(-4px) rotate(-45deg);
      transition: transform 0.7s ease;
      width: 0.3em;

      @media ($bp-header-toggle-min) {
        transform: translateY(-4px) rotate(45deg);
      }
    }

    &[aria-expand="true"],
    &:hover,
    &:focus {
      background-color: $c-bg-subtle;
      color: $c-font-dark;
    }

    &[aria-expand="true"] {
      &::after {
        @media ($bp-header-toggle-min) {
          transform: scaleY(-1) rotate(45deg);
        }
      }
    }
  }

  &__menu-item.is-open &__top-link {
    background-color: $c-bg-subtle;
    color: $c-font-dark;

    &::after {

      @media ($bp-header-toggle-min) {
        transform: scaleY(-1) rotate(45deg);
      }
    }
  }

  &__sub-menu {
    background-color: $c-bg-subtle;
    box-shadow: 0 5px 5px rgba($c-black, 0.2);
    color: $c-font-dark;
    position: absolute;
      top: 0;
    transition: right 0.5s ease;
    width: 100%;
    z-index: $z-dropdown + 1;

    @media ($bp-header-toggle-max) {
      background-color: $c-white;
      height: calc(100% + 60px); // height of utility nav
      min-height: 360px;
      right: -300px;
    }

    @media ($bp-header-toggle-min) {
      display: none;
      top: 100%;
      width: 400px;
    }
  }

  &__menu-item.is-open &__sub-menu {

    @media ($bp-header-toggle-max) {
      right: 0;
    }
  }

  &__sub-menu .hl__button, &__utility-nav .hl__button.js-utility-nav-back-button {
    padding: 5px;
    position: absolute;
      bottom: calc(100% + 10px);
      right: 50px;  // width of the hamburger menu
    z-index: $z-dropdown + 2;

    &:focus,
    &:hover {
      // background-color: $c-theme-ink;
    }

    @media ($bp-header-toggle-min) {
      display: none;
    }

    &::before {
      border-bottom: 5px solid transparent;
      border-right: 6px solid $c-white;
      border-top: 5px solid transparent;
      content: "";
      display: inline-block;
      font-size: 0;
      height: 0;
      margin-right: 6px;
      vertical-align: baseline;
      width: 0;
    }
  }

  &__items {
    background-color: $c-bg-subtle;
    margin: 0;
    overflow-y: auto;
    padding-left: 0;
  }

  &__item {
    list-style: none;

    a {
      border: 0;
      color: $c-font-dark;
      display: block;
      font-family: $f-trueno;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.56;
      padding: 15px 22px;
      transition: all 0.2s ease;

      &:focus,
      &:hover {
        background-color: $c-bg-semi-dark;
        border: 0;
        color: $c-font-inverse;
      }
    }
  }

  &__item + &__item {
    border-top: 1px solid rgba($c-bd-divider, 0.5);
  }

  &__utility-nav {
    flex: none;

    .hl__utility-nav__item {
      height: 90px;

      @media ($bp-header-toggle-max) {
        height: 60px;
        text-align:center;
        // margin-top: 15px;
        padding: 22px 27px;
      }

      @media ($bp-header-toggle-min) {
        .is-sticky & {
          height: 53px;
          padding: 19px 20px;
        }
      }
    }

    // .hl__utility-nav .hl__dropdown-tray a {
    //   padding: 0;
    // }

    // .hl__utility-nav .hl__utility-nav__dropdown a {
    //   height: auto;
    // }

  }

  // dropdown tray styles in mobile view
  @media ($bp-header-toggle-max) {
    .js-utility-nav-item {
      .hl__dropdown-tray {
        padding: 15px 22px;

        &__container {
          display: block;
        }

        &__columns {
          padding-bottom: 15px;

          &--links {
            .hl__comp-heading {
              margin-bottom: 10px;
            }

            button, #libchat_90b85bdd1489a074045c2519ad2fc1a5 button {
              margin-top: 5px;
            }
          }

          &--searchbox {
            margin-right: 0;
          }
        }

        .hl__linked-list--no-bullets li {
          margin-bottom: 10px;
          line-height: 1.25em;

          a.hl__link-tag {
            font-size: 16px;
          }
        }
      }

      &--hours {
        .hl__featured-libraries {
          padding: 0;

          &__items {
            padding: 0 22px;
          }

          &__today {
            margin-bottom: 14px;

            .hl__highlighted-text {
              font-size: 17.6px;
              letter-spacing: 1.35px;
              min-width: 256px;
              padding: 3px 9px 1px;
            }
          }

          &__icon, &__more-icon {
            display: none;
          }

          &__hours {
            padding-left: 0;
            display: flex;
            flex-wrap: nowrap;
          }

          &__time, &__status {
            line-height: 20px;
          }

          &__time {
            padding-left: 10px;
          }

          &__name, &__name a, &__all {
            font-size: 16px;
            letter-spacing: 1.35px;
            margin-bottom: 0;
          }

          &__name, &__name a, &__status {
            font-weight: 600;
          }

          &__item:nth-child(n+2)::before {
            margin-top: 14px;
            padding-top: 14px;
          }
        }
      }

      &--search {
        .hl__single-input-form__form {
          padding-left: 22px;
          padding-right: 22px;
          padding-top: 15px;
        }
      }

    }
  }
}
