
<section class="hl__main-nav js-main-nav">
  {% include "@atoms/buttons/hamburger-button.twig" with {"hamburgerButton": header.hamburgerButton} %}
  <div class="hl__main-nav__wrapper">
    <div class="hl__main-nav__container">
      <div class="hl__main-nav__menu">
        {% for menu in mainNav.menus %}
          <div class="hl__main-nav__menu-item js-main-nav-menu">
            <button
              class="hl__main-nav__top-link js-main-nav-top-link"
              id="hl__top-link-{{ loop.index }}">
              {{ menu.topLink }}
            </button>
            <div class="hl__main-nav__sub-menu js-main-nav-sub-menu">
              {% include "@atoms/buttons/button.twig" with { "button": mainNav.backButton } %}
              <ul
                class="hl__main-nav__items"
                role="menu"
                aria-labelledby="hl__top-link-{{ loop.index }}">
                {% for item in menu.submenu %}
                  <li
                    class="hl__main-nav__item js-main-nav-sub-menu-item"
                    role="menuitem">
                    {% include "@atoms/text/link-tag.twig" with {"linkTag": item.link} %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="hl__main-nav__utility-nav">
        {% include "@molecules/navigation/utility-nav.twig" with {"utilityNav":mainNav.utilityNav} %}
      </div>
    </div>
  </div>
</section>
