<nav class="hl__pagination" aria-labelledby="pagination-heading">
  <h4 id="pagination-heading" class="visually-hidden">Pagination</h4>
  <ul class="hl__pagination__items js-pager__items">
    <li class="hl__pagination__item hl__pagination__item--first">
      <a class="hl__link-tag" href="?keywords=&amp;page=0" title="Go to first page">
        <span class="visually-hidden">First page</span>
        <span aria-hidden="true">« First</span>
      </a>
    </li>
    <li class="hl__pagination__item hl__pagination__item--previous">
      <a class="hl__link-tag" href="?keywords=&amp;page=5" title="Go to previous page" rel="prev">
        <span class="visually-hidden">Previous page</span>
        <span aria-hidden="true">‹ Previous</span>
      </a>
    </li>
    <li class="hl__pagination__item hl__pagination__item--ellipsis" role="presentation">…</li>
    <li class="hl__pagination__item is-active">
      <a class="hl__link-tag" href="?keywords=&amp;page=3" title="Current page"><span class="visually-hidden">Current page</span>3</a>
    </li>
    <li class="hl__pagination__item">
      <a class="hl__link-tag" href="?keywords=&amp;page=4" title="Go to page 5"><span class="visually-hidden">Page</span>5</a>
    </li>
    <li class="hl__pagination__item">
      <a class="hl__link-tag" href="?keywords=&amp;page=5" title="Go to page 6"><span class="visually-hidden">Page</span>6</a>
    </li>
    <li class="hl__pagination__item">
      <a class="hl__link-tag" href="?keywords=&amp;page=6" title="Go to page 7"><span class="visually-hidden">Page</span>7</a>
    </li>
    <li class="hl__pagination__item">
      <a class="hl__link-tag" href="?keywords=&amp;page=7" title="Go to page 8"><span class="visually-hidden">Page</span>8</a>
    </li>
    <li class="hl__pagination__item hl__pagination__item--ellipsis" role="presentation">…</li>
    <li class="hl__pagination__item hl__pagination__item--next">
      <a class="hl__link-tag" href="?keywords=&amp;page=1" title="Go to next page" rel="next">
        <span class="visually-hidden">Next page</span>
        <span aria-hidden="true">Next ›</span>
      </a>
    </li>
    <li class="hl__pagination__item hl__pagination__item--last">
      <a class="hl__link-tag" href="?keywords=&amp;page=28" title="Go to last page">
        <span class="visually-hidden">Last page</span>
        <span aria-hidden="true">Last »</span>
      </a>
    </li>
  </ul>
</nav>
