$bp-pagination-collapsed: "max-width: 700px";

.hl__pagination {

  &__items {
    display: flex;
    list-style: none;
    margin: 0;
    margin-left: -10px;
    padding: 0;
    width: 100%;

    @media ($bp-pagination-collapsed) {
      justify-content: center;
    }
  }

  &__item {
    flex: none;
    font-size: 0;  // removing white-space
    margin-left: 3px;

    @media ($bp-pagination-collapsed) {
      display: none;
    }

    a {
      display: block;
      border: 0;
      line-height: 40px;
      padding: 0 2px;
      text-align: center;
      white-space: nowrap;
      min-width: 40px;

      &:focus,
      &:hover {
        background-color: $c-bg-subtle;
      }
    }

    &--first,
    &--previous,
    &--next,
    &--last {
      
      a {
        padding: 0 4px;

        @media ($bp-pagination-collapsed) {
          font-size: 15px;
        }
      }

      @media ($bp-pagination-collapsed) {
        display: inline-block;
        margin: 0 7px;
      }
    }

    &--first {

    }

    &--previous {
      @media ($bp-pagination-collapsed) {
        margin-right: 5px;
      }
    }

    &--ellipsis {
      font-size: 15px;
      line-height: 40px;
      padding: 0 2px;

      @media ($bp-pagination-collapsed) {
        padding: 7px 2px 0;
      }
    }

    &--next {
      @media ($bp-pagination-collapsed) {
        margin-left: 7px;
      }
    }

    &--last {

    }
  }
}
