<section class="hl__utility-nav js-utility-nav">
  {% for item in utilityNav.items %}
    {% set navType = item.href ? "hl__utility-nav__link" : "hl__utility-nav__button" %}
    {% set navItem = item.name ? "js-utility-nav-item--" ~ item.name : "" %}
    {% set itemName = item.name ? "hl__utility-nav__item--" ~ item.name : "" %}

    <div class="{{navType}} {{navItem}} js-utility-nav-item">

    {% if item.href %}
      <a class="hl__utility-nav__item {{ itemName }}" href="{{ item.href }}" title="{{ item.info }}">
        <span class="hl__utility-nav__icon {{ itemName }}" aria-hidden="true">{% include item.icon %}</span>
        {% if item.text %}<span class="hl__utility-nav__text {{ itemName }}">{{ item.text }}</span>{% endif %}
      </a>

    {% else %}

        <button
          class="hl__utility-nav__item {{ itemName }} js-utility-nav-button"
          id="hl__utility-nav__button-{{ loop.index }}" title="{{ item.info }}">
          <span class="hl__utility-nav__icon {{ itemName }}" aria-hidden="true">{% include item.icon %}</span>
          {% if item.text %}<span class="hl__utility-nav__text {{ itemName }}">{{ item.text }}</span>{% endif %}
        </button>

        <div class="hl__utility-nav__dropdown js-utility-nav-dropdown">
          {% include "@atoms/buttons/button.twig" with { "button": utilityNav.backButton } %}
          <div class="hl__utility-nav__dropdown-container">
            {% if item.name == "ask" %}
              {% include "@molecules/general/dropdown-tray.twig" with { "dropdownTray": utilityNav.ask} %}
            {% elseif item.name == "hours" %}
              {% include "@molecules/general/featured-libraries.twig" with { "featuredLibraries": utilityNav.featuredLibraries} %}
            {% elseif item.name == "search" %}
              {% include "@molecules/forms/single-input-form.twig" with { "singleInputForm": utilityNav.search } %}
              {% if utilityNav.searchHelperText %}
                <div class="hl__utility-nav__helper-text">
                  {% include "@molecules/text/rich-text.twig" with { "richText": utilityNav.searchHelperText } %}
                </div>
              {% endif %}
            {% endif %}
          </div>
        </div>

    {% endif %}

  </div>

  {% endfor %}
</section>
