.js-utility-nav {

  &:before {
    content: "narrow";
    display: none;

    @media ($bp-header-toggle-min) {
      content: "wide";
    }
  }
}

.hl__utility-nav {
  background: $c-white url('../../assets/images/dots.png') top center repeat;
  display: flex;
    align-items: center;
    justify-content: space-between;
  padding: 0 15px;

  @media($bp-header-toggle-max){
    padding: 0;
  }

  &__item {
    display: inline-block;
    font-size: 0;
    padding: 35px 15px;
    text-decoration: none;
    background-color: transparent;
    border: 0;
  }

  &__icon {
    display: inline-block;
    height: 20px;
    transform: translateY(-2px);
    vertical-align: middle;
    width: 20px;

    svg {
      height: 100%;
      width: 100%;
    }

    path {
      fill: $c-font-dark;
      transition: fill 0.5s ease;
    }
  }

  &__item:focus &__icon,
  &__item:hover &__icon,
  &__item.is-open &__icon {
    path {
      // fill: $c-theme-tertiary;
    }
  }

  &__text {
    border-bottom: 1px solid transparent;
    color: $c-font-dark;
    display: inline-block;
    font-family: $f-trueno;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.87px;
    line-height: (32 / 19);
    margin-left: 10px;
    text-transform: uppercase;
    transition: border 0.7s ease;
    vertical-align: middle;

    @media ($bp-x-large-max) {
      display: none;
    }
  }

  &__helper-text {
    padding-bottom: 45px;
    position: relative;
    z-index:1;

    .hl__rich-text {
      @include hl-container;
      color: $c-font-dark;
      font-family: $f-trueno;
      text-align: center;
      font-size: 17px;

      a:not(.hl__button):not(.hl__link-tag) {
        border-bottom: 1px solid currentColor;
        color: $c-font-dark;
      }

      @media ($bp-large-max){
        padding-right: 60px;
        padding-left: 60px;
      }
    }
  }

  .js-utility-nav-item--hollis .hl__utility-nav__text {
  	text-transform: none;
  }

  .is-sticky &__text {
    display: none;
  }

  &__link:focus &__text, &__button:focus &__text,
  &__link:hover &__text, &__button:hover &__text,
  &__link.is-open &__text, &__button.is-open &__text {
    // border-bottom-color: rgba($c-font-dark, 0.5);
  }

  &__dropdown {
    background-color: $c-bg-subtle;
    box-shadow: 0 5px 5px rgba($c-black, 0.2);
    color: $c-font-dark;
    position: absolute;
      top: 0;
    transition: right 0.5s ease;
    width: 100%;
    z-index: $z-dropdown + 1;

    @media ($bp-header-toggle-max) {
      height: 360px;
      right: -300px;
    }

    @media ($bp-header-toggle-min) {
      display: none;
      top: 100%;
    }

    .hl__single-input-form {
      @media ($bp-header-toggle-max) {
        padding: 0;
        width: 100%;

        &__input-group {
          min-width: 0;
        }
      }
    }
  }

  &__button.is-open &__dropdown {
    right: 0;
  }

  &__item:hover, &__item:focus {
    background: $c-bg-subtle;
  }

  &__item.is-open, &__button.is-open {
    background: $c-bg-subtle;

    .hl__utility-nav__dropdown {
      display: block;
    }

  }


  // Hours dropdown styles
  .hl__featured-libraries__container {
    background: none;
    margin-bottom: 45px;
  }
  .hl__featured-libraries__more-link .hl__link-tag {
    width: 200px;
  }
  .hl__featured-libraries__more-icon svg path {
    fill: #6c6c6c;
  }

  // Search dropdown styles
  .js-utility-nav-item--search {
    .hl__single-input-form {
      padding-top: 0;
      padding-bottom: 0;

      &__input-group {
        margin: 0;
      }

      form {
        padding-top: 45px;
        padding-bottom: 20px;
      }

      input {
        &::placeholder {
          font-style: italic;
        }
      }
    }

    .hl__single-input-form__dropdown {
      border: 1px solid black;
      border-top: 1px solid transparent;
      padding: 5px 10px;

      @media ($bp-small-min) {
        min-width:0;
      }

      &-item a {
        padding:5px;

        @media ($bp-x-small-max){
          padding:0;
        }
      }
    }
  }
}
