{% extends '@templates/content-types/all-components.twig' %}

{% block header %}
  {% include "@organisms/global/site-alert-banner.twig" %}
  {% include "@organisms/global/header.twig" %}
{% endblock %}


{% block footer %}
  {% include "@organisms/global/footer.twig" %}
{% endblock %}
