{% extends '@templates/content-types/library-details.twig' %}

{% block header %}
  {% include "@organisms/global/site-alert-banner.twig" with {"siteAlertBanner": libraryDetails.siteAlertBanner} %}
  {% include "@organisms/global/header.twig" %}
{% endblock %}


{% block footer %}
  {% include "@organisms/global/footer.twig" %}
{% endblock %}
