{% extends '@templates/content-types/collection-details.twig' %}

{% block header %}
  {% include "@organisms/global/notification-bar.twig" %}
  {% include "@organisms/global/header.twig" %}
{% endblock %}


{% block footer %}
  {% include "@organisms/global/footer.twig" %}
{% endblock %}
