{% extends '@templates/base/filter-bar-directory.twig' %}

{% block header %}
  {% include "@organisms/global/header.twig" %}
{% endblock %}

{% block pageContent %}{% endblock %}

{% block postContent %}{% endblock %}

{% block footer %}
  {% include "@organisms/global/footer.twig" %}
{% endblock %}
