{% extends '@templates/content-types/digital-collections.twig' %}

{% block header %}
  {% include "@organisms/global/notification-bar.twig" %}
  {% include "@organisms/global/header-child.twig" %}
{% endblock %}

{% block footer %}
  {% include "@organisms/global/footer.twig" %}
{% endblock %}
