{% extends '@templates/base/filter-bar-directory.twig' %}

{% block header %}
  {% include "@organisms/global/header.twig" %}
{% endblock %}

{% block pageContent %}
  {% if eventDirectory.featuredEvents %}
    {% include "@organisms/general/featured-events.twig" with { "featuredEvents": eventDirectory.featuredEvents } %}
  {% endif %}
{% endblock %}

{% block postContent %}{% endblock %}

{% block footer %}
  {% include "@organisms/global/footer.twig" %}
{% endblock %}
