{% extends '@templates/base/full-template.twig' %}

{% block header %}
  {% include "@organisms/global/notification-bar.twig" %}
  {% include "@organisms/global/header.twig" %}
{% endblock %}


{% block preContent %}
  {% include "@organisms/navigation/breadcrumb.twig" with {'breadcrumb': preContent.breadcrumb } %}
  {% include "@organisms/page-header/page-header.twig" with { "pageHeader": preContent.pageHeader} %}
{% endblock %}

{% block pageContent %}
  {% include "@organisms/general/featured-events.twig" with {'featuredEvents': pageContent.featuredEvents } %}

  {% include "@organisms/lists/event-grid.twig" with {"eventGrid": pageContent.eventGrid} %}
{% endblock %}

{% block postContent %}{% endblock %}


{% block footer %}
  {% include "@organisms/global/footer.twig" %}
{% endblock %}
