{% extends '@templates/content-types/home.twig' %}

{% block header %}
  {% include "@organisms/global/site-alert-banner.twig" with {"siteAlertBanner": home.siteAlertBanner} %}
  {% include "@organisms/global/header.twig" %}
{% endblock %}


{% block footer %}
  {% include "@organisms/global/footer.twig" %}
{% endblock %}
