{% extends '@templates/base/stacked-row.twig' %}

{% block header %}
  {% include "@organisms/global/notification-bar.twig" %}
  {% include "@organisms/global/header.twig" %}
{% endblock %}


{% block preContent %}{% endblock %}


{% block postContent %}{% endblock %}


{% block footer %}
  {% include "@organisms/global/footer.twig" %}
{% endblock %}
