{% extends '@templates/content-types/alpha-directory.twig' %}

{% block header %}
  {% include "@organisms/global/notification-bar.twig" %}
  {% include "@organisms/global/header.twig" %}
{% endblock %}


{% block preContent %}
  {% include "@organisms/navigation/breadcrumb.twig" with {'breadcrumb': preContent.breadcrumb } %}
  {% include "@organisms/page-header/page-header.twig" with { "pageHeader": preContent.pageHeader} %}
{% endblock %}

{% block pageContent %}
  {% include "@organisms/lists/staggered-type-list.twig" %}
{% endblock %}

{% block postContent %}{% endblock %}

{% block footer %}
  {% include "@organisms/global/footer.twig" %}
{% endblock %}
