{% extends '@templates/base/full-template.twig' %}

{% block header %}
  {% include "@organisms/global/notification-bar.twig" %}
  {% include "@organisms/global/header.twig" %}
{% endblock %}

{% block preContent %}{% endblock %}


{% block pageContent %}
  {% include "@molecules/forms/staff-contact.twig" %}
{% endblock %}

{% block postContent %}{% endblock %}


{% block footer %}
  {% include "@organisms/global/footer.twig" %}
{% endblock %}
