{% extends '@templates/content-types/story.twig' %}

{% block header %}
  {% include "@organisms/global/header.twig" %}
{% endblock %}


{% block footer %}
  {% include "@organisms/global/footer.twig" %}
{% endblock %}
