{% extends '@templates/base/stacked-row.twig' %}

{% block header %}
  {% include "@organisms/global/notification-bar.twig" %}
  {% include "@organisms/global/header.twig" %}
{% endblock %}


{% block preContent %}
  {% include "@organisms/page-header/page-header.twig" with { "pageHeader": pageHeader } %}
  {% include "@atoms/general/section-divider.twig" %}
{% endblock %}


{% block postContent %}{% endblock %}


{% block footer %}
  {% include "@organisms/global/footer.twig" %}
{% endblock %}
