.hl__double-screen {

  &__main-content {
    display: flex;
    height: 100vh;
    width: 100vw;

    @media ($bp-large-max) {
      flex-direction: column;
    }
  }

  &__content {
    overflow: hidden;
    position: relative;

    @media ($bp-large-min) {
      height: 100vh;
    }

    &--left {
      flex-grow: 1;
      width: 100%;

      @media ($bp-large-min) {
        width: 56.368%;
      }
    }

    &--right {
      flex: none;
      width: 100%;

      @media ($bp-large-min) {
        width: 43.632%;
      }
    }

    & > * {
      height: 100%;
      width: 100%;
    }

    .hl__screen-image {
      position: absolute;
        left: 0;
        top: 0;
    }
  }
}
