<main id="hl__main-id" class="hl__double-screen" tabindex="-1">
  <div class="hl__double-screen__main-content">
    <div class="hl__double-screen__content hl__double-screen__content--left">
      {% block leftContent %}
        {% include "@atoms/text/placeholder.twig" with {'placeholder':{'text':'left content'}} %}
      {% endblock %}
    </div>
    <div class="hl__double-screen__content hl__double-screen__content--right">
      {% block rightContent %}
        {% include "@atoms/text/placeholder.twig" with {'placeholder':{'text':'Right content'}} %}
      {% endblock %}
    </div>
  </div>
</main>
