.hl__stacked-screen {
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  height: 100vh;
  overflow: hidden;
  width: 100vw;

  &__pre-content {
    flex: none;
  }

  &__main-content {
    flex: auto;
    position: relative;

    & > * {
      height: 100%;
      position: absolute;
        top: 0;
        left: 0;
      width: 100%;
    }
  }

  &__post-content {
    flex: none;
  }
}
