<main id="hl__main-id" class="hl__stacked-screen" tabindex="-1">
  <div class="hl__stacked-screen__pre-content">
    {% block preContent %}
      {% include "@atoms/text/placeholder.twig" with {'placeholder':{'text':'Pre Content'}} %}
    {% endblock %}
  </div>
  <div class="hl__stacked-screen__main-content">
    {% block pageContent %}
      {% include "@atoms/text/placeholder.twig" with {'placeholder':{'text':'Page content'}} %}
    {% endblock %}
  </div>
  <div class="hl__stacked-screen__post-content">
    {% block postContent %}
      {% include "@atoms/text/placeholder.twig" with {'placeholder':{'text':'Post Content'}} %}
    {% endblock %}
  </div>
</main>
